Repository deephaven/deephaven-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcaudy, @devinrsmith, @mofojed, @niloc132, @nbauernfeind

round of changes
  .gitignore
  samples/sample_script.sh
Owners: @rcaudy

Followup to review comments.
  DB/src/main/java/io/deephaven/db/v2/select/DhFormulaColumn.java
  DB/src/test/java/io/deephaven/db/v2/QueryTableTest.java
  DB/src/test/java/io/deephaven/db/v2/select/FormulaSample.java
  DB/src/test/java/io/deephaven/db/v2/select/TestFormulaColumnGeneration.java
Owners: @rcaudy

Followup to review comments.
  DB/src/main/java/io/deephaven/db/v2/select/DhFormulaColumn.java
  DB/src/test/java/io/deephaven/db/v2/select/FormulaSample.java
Owners: @rcaudy

try to find leak
  .github/workflows/nightly-check-ci.yml
  test-configs/dh-tests.prop
Owners: @devinrsmith, @rcaudy

Revert "try to find leak"
  .github/workflows/nightly-check-ci.yml
  test-configs/dh-tests.prop
Owners: @devinrsmith, @rcaudy

fuzzer fix
  DB/src/test/java/io/deephaven/db/v2/fuzzertest.groovy
Owners: @rcaudy

test serial fix
  .github/workflows/nightly-check-ci.yml
Owners: @devinrsmith

try conservative parallel
  .github/workflows/nightly-check-ci.yml
  buildSrc/src/main/groovy/TestTools.groovy
Owners: @devinrsmith, @rcaudy

more time table fixes
  DB-test/src/test/java/io/deephaven/db/util/TestWorkerPythonEnvironment.java
  DB/src/test/java/io/deephaven/db/v2/QueryFactory.java
  Plot/src/test/java/io/deephaven/db/plot/example_plots/plotting_samples.groovy
  open-api/lang-tools/src/test/groovy/io/deephaven/lang/completion/ChunkerParserTest.groovy
Owners: @rcaudy, @niloc132

test serial again
  .github/workflows/nightly-check-ci.yml
Owners: @devinrsmith

Infer TableDefinition from parquet files from TableManagementTools.readTable. Fixes #322.
  DB/src/main/java/io/deephaven/db/tables/TableDefinition.java
  DB/src/main/java/io/deephaven/db/tables/utils/TableManagementTools.java
  DB/src/main/java/io/deephaven/db/tables/utils/TableTools.java
  DB/src/main/java/io/deephaven/db/v2/parquet/ParquetReaderUtil.java
Owners: @rcaudy

Removed unused import.
  DB/src/main/java/io/deephaven/db/v2/parquet/ParquetReaderUtil.java
Owners: @rcaudy

Fix context leak in RedirectedColumnSource.RedirectionFillFrom
  DB/src/main/java/io/deephaven/db/v2/sources/RedirectedColumnSource.java
Owners: @rcaudy

Fix context leak in RedirectedColumnSource.RedirectionFillFrom (#619)
  DB/src/main/java/io/deephaven/db/v2/sources/RedirectedColumnSource.java
Owners: @rcaudy

.github/CODEOWNERS:

# Note: there seems to be a lot of contention about the usefulness of CODEOWNERS.
# We should make sure to have a discussion before making code owners more widespread, as it
# potentially causes a lot of extra noise for developers.
#
# See https://about.sourcegraph.com/blog/a-different-way-to-think-about-code-ownership/
# See https://bionic.fullstory.com/taming-github-codeowners-with-bots/

# If no other code owner applies, default to our lead architect
* @rcaudy

# We want to make sure any changes to workflows are closely monitored, as they may have non-obvious
# security implications.
#
# See https://securitylab.github.com/research/github-actions-preventing-pwn-requests/
/.github/workflows/ @devinrsmith

/web/client-ui/ @mofojed
/web/ @mofojed @niloc132

/grpc-api/ @niloc132 @nbauernfeind
/grpc-proxy/ @niloc132 @nbauernfeind
/open-api/ @niloc132
