Repository deephaven/deephaven-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcaudy, @devinrsmith, @mofojed, @niloc132, @nbauernfeind

.github/CODEOWNERS:

# Note: there seems to be a lot of contention about the usefulness of CODEOWNERS.
# We should make sure to have a discussion before making code owners more widespread, as it
# potentially causes a lot of extra noise for developers.
#
# See https://about.sourcegraph.com/blog/a-different-way-to-think-about-code-ownership/
# See https://bionic.fullstory.com/taming-github-codeowners-with-bots/

# If no other code owner applies, default to our lead architect
* @rcaudy

# We want to make sure any changes to workflows are closely monitored, as they may have non-obvious
# security implications.
#
# See https://securitylab.github.com/research/github-actions-preventing-pwn-requests/
/.github/workflows/ @devinrsmith

/web/client-ui/ @mofojed
/web/ @mofojed @niloc132

/grpc-api/ @niloc132 @nbauernfeind
/grpc-proxy/ @niloc132 @nbauernfeind
/open-api/ @niloc132

Re-introduce allowFailure flag, but have it not triggered by default
  build.gradle
  buildSrc/src/main/groovy/TestTools.groovy
Owners: @rcaudy

Revert removing python allow failure logic
  buildSrc/src/main/groovy/Venv.groovy
Owners: @rcaudy

Remove deephaven/web and grpc-api docker-compose buildability, partial #516 (#596)
  build.gradle
  docker-compose.yml
Owners: @rcaudy

update grpc-proxy. Partial #516.
  .github/workflows/build-ci.yml
  build.gradle
  docker-compose.yml
  grpc-proxy/.dockerignore
  grpc-proxy/Dockerfile
  grpc-proxy/README.md
  grpc-proxy/build.gradle
  grpc-proxy/contents/checksums.txt
  grpc-proxy/contents/docker-entrypoint.sh
  settings.gradle
Owners: @devinrsmith, @rcaudy, @niloc132, @nbauernfeind

Add a title to the EPIC template
  .github/ISSUE_TEMPLATE/epic.md
Owners: @rcaudy

Update docs for docker-compose / grpc-proxy
  docker-compose.yml
  grpc-proxy/README.md
Owners: @rcaudy, @niloc132, @nbauernfeind

Add a title to the EPIC template (#564)
  .github/ISSUE_TEMPLATE/epic.md
Owners: @rcaudy

Added issues references
  grpc-proxy/Dockerfile
  grpc-proxy/build.gradle
Owners: @niloc132, @nbauernfeind

Update epic.md
  .github/ISSUE_TEMPLATE/epic.md
Owners: @rcaudy

#171 / #556 Clean up property files and eliminate many sources of logging in unit tests (#597)
  Configuration/build.gradle
  Configuration/src/main/resources/lib-tests.prop
  Configuration/src/test/java/io/deephaven/configuration/TestConfiguration.java
  Configuration/src/test/resources/resources/lib-tests.prop
  DB-test/src/test/java/io/deephaven/db/v2/select/TestConditionFilter.java
  DB-test/src/test/java/io/deephaven/db/v2/select/TestNumbaFormula.java
  DB/groovy/core/deephaven_core_utils.groovy
  DB/src/main/java/io/deephaven/db/tables/live/LiveTableMonitor.java
  DB/src/main/java/io/deephaven/db/util/scripts/ScriptRepository.java
  DB/src/main/java/io/deephaven/process/ProcessInfoConfig.java
  DB/src/test/java/io/deephaven/db/tables/utils/TestTableTools.java
  DB/src/test/java/io/deephaven/db/v2/IndexGroupingTest.java
  DB/src/test/java/io/deephaven/db/v2/QueryFactory.java
  DB/src/test/java/io/deephaven/db/v2/QueryTableTest.java
  DB/src/test/java/io/deephaven/db/v2/QueryTableTestBase.java
  DB/src/test/java/io/deephaven/db/v2/TestByExternal.java
  DB/src/test/java/io/deephaven/db/v2/TestComboBy.java
  DB/src/test/java/io/deephaven/db/v2/TestSort.java
  DB/src/test/java/io/deephaven/db/v2/TestTotalsTable.java
  DB/src/test/java/io/deephaven/db/v2/TstUtils.java
  DB/src/test/java/io/deephaven/db/v2/by/TestSortedFirstOrLastByFactory.java
  DB/src/test/java/io/deephaven/db/v2/select/TestFormulaColumn.java
  Integrations/python/deephaven/start_jvm.py
  Net/build.gradle
  Research/java/com/illumon/examples/DataTypeExamples.java
  Stats/build.gradle
  configs/dh-defaults.prop
  configs/grpc-api.prop
  test-configs/dh-tests.prop
  test-configs/routing_service_tests.yml
Owners: @rcaudy

Update epic.md (#601)
  .github/ISSUE_TEMPLATE/epic.md
Owners: @rcaudy

Update contribution instructions for updating a fork (#587)
  CONTRIBUTING.md
Owners: @rcaudy

Rename project to Deephaven Community Core (#586)
  settings.gradle
Owners: @rcaudy

Small doc change
  docker-compose.yml
Owners: @rcaudy

Ensure generated formula code handles prev correctly for i,ii in ticking tables. Fixes #544
  DB/src/main/java/io/deephaven/db/v2/select/DhFormulaColumn.java
  DB/src/main/java/io/deephaven/db/v2/utils/codegen/CodeGenerator.java
  DB/src/test/java/io/deephaven/db/v2/QueryTableTest.java
  DB/src/test/java/io/deephaven/db/v2/select/FormulaSample.java
Owners: @rcaudy

Removed some unused code.
  DB/src/main/java/io/deephaven/db/v2/utils/codegen/CodeGenerator.java
Owners: @rcaudy

update grpc-proxy. Partial #516. (#595)
  .github/workflows/build-ci.yml
  build.gradle
  docker-compose.yml
  grpc-proxy/.dockerignore
  grpc-proxy/Dockerfile
  grpc-proxy/README.md
  grpc-proxy/build.gradle
  grpc-proxy/contents/checksums.txt
  grpc-proxy/contents/docker-entrypoint.sh
  settings.gradle
Owners: @devinrsmith, @rcaudy, @niloc132, @nbauernfeind

remove the need to use 'call' on Groovy closures in Query Strings, fixes #577 (#593)
  DB/src/main/java/io/deephaven/db/tables/lang/DBLanguageParser.java
Owners: @rcaudy

revise sample script to use git
  samples/Dockerfile
  samples/sample_script.sh
Owners: @rcaudy

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @rcaudy

code refactoring based on review, fixes #577
  DB/src/main/java/io/deephaven/db/tables/lang/DBLanguageParser.java
Owners: @rcaudy

fix build compile error
  build.gradle
Owners: @rcaudy

Update CONTRIBUTING.md (#607)
  CONTRIBUTING.md
Owners: @rcaudy

Correct some incorrectly-named service files.
  Plot/src/main/resources/META-INF/services/io.deephaven.db.util.GroovyDeephavenSession$InitScript
  extensions/classgraph/src/main/resources/META-INF/services/io.deephaven.db.util.GroovyDeephavenSession$InitScript
  extensions/suanshu/src/main/resources/META-INF/services/io.deephaven.db.util.GroovyDeephavenSession$InitScript
Owners: @rcaudy

Delete an unused GUI util with iris in the name.
  Util/src/main/java/io/deephaven/util/gui/IrisTextDialogUtils.java
Owners: @rcaudy

Move table loggers to a package without "iris".
  DB/src/main/java/io/deephaven/db/tablelogger/ProcessInfoLogLogger.java
  DB/src/main/java/io/deephaven/db/tablelogger/ProcessMetricsLogLogger.java
  DB/src/main/java/io/deephaven/db/tablelogger/QueryOperationPerformanceLogLogger.java
  DB/src/main/java/io/deephaven/db/tablelogger/QueryPerformanceLogLogger.java
  DB/src/main/java/io/deephaven/db/tablelogger/UpdatePerformanceLogLogger.java
  DB/src/main/java/io/deephaven/db/v2/utils/MemoryTableLoggers.java
  DB/src/main/java/io/deephaven/db/v2/utils/UpdatePerformanceTracker.java
  DB/src/main/java/io/deephaven/process/ProcessInfoStoreDBImpl.java
  DB/src/main/java/io/deephaven/process/StatsIntradayLoggerDBImpl.java
  grpc-api/src/main/java/io/deephaven/grpc_api/session/SessionState.java
Owners: @rcaudy, @niloc132, @nbauernfeind

Get rid of some references to genesis and AB.
  ClientSupport/src/main/java/io/deephaven/treetable/SnapshotState.java
  DB/src/main/java/io/deephaven/db/tables/Table.java
  DB/src/main/java/io/deephaven/db/v2/QueryTable.java
  DB/src/main/java/io/deephaven/db/v2/WouldMatchOperation.java
  DB/src/main/java/io/deephaven/db/v2/select/MultiSourceFunctionalColumn.java
  Integrations/python/deephaven/jvm_init.py
Owners: @rcaudy

Run python generation to pick up some recent changes.
  Integrations/python/deephaven/PerformanceQueries/__init__.py
  Integrations/python/deephaven/TableTools/__init__.py
  Integrations/python/deephaven/doc/io/deephaven/db/tables/ColumnDefinition.json
  Integrations/python/deephaven/doc/io/deephaven/db/tables/TableDefinition.json
  Integrations/python/deephaven/doc/io/deephaven/db/tables/live/LiveTableMonitor.json
  Integrations/python/deephaven/doc/io/deephaven/db/tables/utils/QueryPerformanceLogThreshold.json
  Integrations/python/deephaven/doc/io/deephaven/db/tables/utils/QueryPerformanceNugget.json
  Integrations/python/deephaven/doc/io/deephaven/db/tables/utils/QueryPerformanceRecorder.json
  Integrations/python/deephaven/doc/io/deephaven/db/tables/utils/TableTools.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/utils/ColumnHolder.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/utils/UpdatePerformanceTracker/Entry.json
Owners: @rcaudy

Publish test reports as CI artifacts, fixes #609
  .github/workflows/check-ci.yml
  .github/workflows/long-check-ci.yml
Owners: @devinrsmith

minor code change based on review comments, fixes #577
  DB/src/main/java/io/deephaven/db/tables/lang/DBLanguageParser.java
Owners: @rcaudy

Add license information to public docker images, fixes #518
  build.gradle
  buildSrc/src/main/groovy/io/deephaven/tools/License.groovy
  envoy/Dockerfile
  envoy/LICENSE
  envoy/NOTICE
  envoy/build.gradle
  grpc-api/server/docker/build.gradle
  grpc-proxy/LICENSE
  grpc-proxy/NOTICE
  grpc-proxy/build.gradle
  web/client-ide/client-ide.gradle
  web/client-ide/docker/Dockerfile
Owners: @rcaudy, @niloc132, @nbauernfeind, @mofojed

code refactoring based on review, fixes #577 (#608)
  DB/src/main/java/io/deephaven/db/tables/lang/DBLanguageParser.java
Owners: @rcaudy

Add license information to public docker images, fixes #518 (#603)
  build.gradle
  buildSrc/src/main/groovy/io/deephaven/tools/License.groovy
  envoy/Dockerfile
  envoy/LICENSE
  envoy/NOTICE
  envoy/build.gradle
  grpc-api/server/docker/build.gradle
  grpc-proxy/LICENSE
  grpc-proxy/NOTICE
  grpc-proxy/build.gradle
  web/client-ide/client-ide.gradle
  web/client-ide/docker/Dockerfile
Owners: @rcaudy, @niloc132, @nbauernfeind, @mofojed

ensure we set ignoreFailures
  build.gradle
Owners: @rcaudy

upload separate artifacts
  .github/workflows/check-ci.yml
  .github/workflows/long-check-ci.yml
Owners: @devinrsmith

JPY integration test should run in docker
  buildSrc/src/main/groovy/Docker.groovy
  py/jpy-integration/build.gradle
  py/jpy-integration/src/javaToPython/java/io/deephaven/jpy/integration/PyDebug.java
Owners: @rcaudy

Do not set ignoreFailures on tests, fixes #572 (#588)
  .github/scripts/fail-on-xml-failures.sh
  .github/workflows/check-ci.yml
  .github/workflows/long-check-ci.yml
  Configuration/build.gradle
  Net/build.gradle
  Stats/build.gradle
  build.gradle
  buildSrc/src/main/groovy/TestTools.groovy
Owners: @rcaudy, @devinrsmith

Publish test reports as CI artifacts, fixes #609 (#613)
  .github/workflows/check-ci.yml
  .github/workflows/long-check-ci.yml
Owners: @devinrsmith

JPY integration test should run in docker (#591)
  buildSrc/src/main/groovy/Docker.groovy
  py/jpy-integration/build.gradle
  py/jpy-integration/src/javaToPython/java/io/deephaven/jpy/integration/PyDebug.java
Owners: @rcaudy

try some changes for nightly check
  .github/env/Linux/gradle.properties
  .github/workflows/nightly-check-ci.yml
  gradle.properties
Owners: @rcaudy, @devinrsmith
