Repository deephaven/deephaven-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcaudy, @devinrsmith, @mofojed, @niloc132, @nbauernfeind

Produce the right exception, instead of returning null, on invalid arguments for calls to SortedRanges.invert. Towards #544.
  DB/src/main/java/io/deephaven/db/v2/utils/sortedranges/SortedRanges.java
Owners: @rcaudy

Produce the right exception, instead of returning null, on invalid arguments for calls to SortedRanges.invert. Towards #544. (#574)
  DB/src/main/java/io/deephaven/db/v2/utils/sortedranges/SortedRanges.java
Owners: @rcaudy

Fail workflows if the unit test reports have failures
  .github/scripts/fail-on-xml-failures.sh
  .github/workflows/check-ci.yml
  .github/workflows/long-check-ci.yml
Owners: @rcaudy, @devinrsmith

Fail workflows if the unit test reports have failures (#560)
  .github/scripts/fail-on-xml-failures.sh
  .github/workflows/check-ci.yml
  .github/workflows/long-check-ci.yml
Owners: @rcaudy, @devinrsmith

enhance column formula compilation, fixes #275, #482
  DB/src/main/java/io/deephaven/db/tables/lang/DBLanguageParser.java
  DB/src/main/java/io/deephaven/db/util/PythonDeephavenSession.java
  DB/src/main/java/io/deephaven/db/util/PythonScopeJpyImpl.java
Owners: @rcaudy

Update README for new repo location
  README.md
Owners: @rcaudy

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @rcaudy

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @rcaudy

enhance column formula compilation, fixes #275, #482
  DB/src/main/java/io/deephaven/db/tables/lang/DBLanguageParser.java
Owners: @rcaudy

Update README.md
  README.md
Owners: @rcaudy

Publish javadocs to DOCS_HOST, partial #578
  .github/workflows/javadoc-ci.yml
Owners: @devinrsmith

Publish javadocs to DOCS_HOST, partial #578 (#580)
  .github/workflows/javadoc-ci.yml
Owners: @devinrsmith

Publish pydocs to DOCS_HOST, fixes #578
  .github/workflows/docs-ci.yml
Owners: @devinrsmith

Publish pydocs to DOCS_HOST, fixes #578 (#581)
  .github/workflows/docs-ci.yml
Owners: @devinrsmith

Update CONTRIBUTING.md to use new forked repo process (#558)
  CONTRIBUTING.md
Owners: @rcaudy

enhance column formula compilation, fixes #275, #482 (#552)
  DB/src/main/java/io/deephaven/db/tables/lang/DBLanguageParser.java
  DB/src/main/java/io/deephaven/db/util/PythonDeephavenSession.java
  DB/src/main/java/io/deephaven/db/util/PythonScopeJpyImpl.java
Owners: @rcaudy

Update README for new repo location (#576)
  README.md
Owners: @rcaudy

Add a bit more detail to lock detection code in LTM unit test support.
  DB/src/main/java/io/deephaven/db/tables/live/LiveTableMonitor.java
Owners: @rcaudy

Delete deprecated support for using the LTM as its own exclusive AwareFunctionalLock.
  DB/src/main/java/io/deephaven/db/tables/live/LiveTableMonitor.java
Owners: @rcaudy

Use a countdown latch. Throw on interruption. Allow more concurrency.
  DB/src/test/java/io/deephaven/db/v2/utils/TestKeyedArrayBackedMutableTable.java
Owners: @rcaudy

Update Java docs link in README
  README.md
Owners: @rcaudy

Update README.md
  README.md
Owners: @rcaudy

Fix racy TestKeyedArrayBackedMutableTable behavior, improve LTM unit test messaging, eliminate deprecated LTM methods (#584)
  DB/src/main/java/io/deephaven/db/tables/live/LiveTableMonitor.java
  DB/src/main/java/io/deephaven/db/v2/utils/BaseArrayBackedMutableTable.java
  DB/src/test/java/io/deephaven/db/v2/utils/TestKeyedArrayBackedMutableTable.java
Owners: @rcaudy

Rename project to deephaven
  build.gradle
  settings.gradle
Owners: @rcaudy

Update contribution instructions for updating a fork
  CONTRIBUTING.md
Owners: @rcaudy

Update Java docs and Python docs link in README (#585)
  README.md
Owners: @rcaudy

Use Deephaven Community Core for the name
  settings.gradle
Owners: @rcaudy

removed the need to usej keyword 'call' for Groovy closure, fixes #577
  DB/src/main/java/io/deephaven/db/tables/lang/DBLanguageParser.java
Owners: @rcaudy

remove unrelated chancgeS
  build.gradle
Owners: @rcaudy

Do not set ignoreFailures on tests, fixes #572
  .github/scripts/fail-on-xml-failures.sh
  .github/workflows/check-ci.yml
  .github/workflows/long-check-ci.yml
  Configuration/build.gradle
  Net/build.gradle
  Stats/build.gradle
  build.gradle
  buildSrc/src/main/groovy/TestTools.groovy
  buildSrc/src/main/groovy/Venv.groovy
Owners: @rcaudy, @devinrsmith

cherry-picked the fix from Deephaven Enterprise, fixes #553
  DB/src/main/java/io/deephaven/db/tables/lang/DBLanguageParser.java
Owners: @rcaudy

cherry-picked the fix from Deephaven Enterprise, fixes #553 (#557)
  DB/src/main/java/io/deephaven/db/tables/lang/DBLanguageParser.java
Owners: @rcaudy

remove the need to use 'call' on Groovy closures in Query Strings, fixes #577
  DB/src/main/java/io/deephaven/db/tables/lang/DBLanguageParser.java
Owners: @rcaudy

Remove deephaven/web docker-compose buildability, partial #516
  build.gradle
  docker-compose.yml
Owners: @rcaudy

Remove deephaven/grpc-api docker-compose buildability, partial #516
  build.gradle
  docker-compose.yml
Owners: @rcaudy

Delete many properties, rename or delete a few files, and get rid of some illumon or iris references.
  Configuration/build.gradle
  Configuration/src/test/java/io/deephaven/configuration/TestConfiguration.java
  Configuration/src/test/resources/resources/fishlib-tests.prop
  Configuration/src/test/resources/resources/util-tests.prop
  DB/groovy/core/deephaven_core_utils.groovy
  DB/src/main/java/io/deephaven/db/util/scripts/ScriptRepository.java
  DB/src/main/java/io/deephaven/process/ProcessInfoConfig.java
  DB/src/test/java/io/deephaven/db/v2/QueryFactory.java
  Integrations/python/deephaven/start_jvm.py
  Net/build.gradle
  Research/java/com/illumon/examples/DataTypeExamples.java
  Stats/build.gradle
  configs/dh-defaults.prop
  configs/grpc-api.prop
  test-configs/dh-tests.prop
  test-configs/routing_service_tests.yml
Owners: @rcaudy

Disable or clean up some Liveness and LTM spam for unit tests.
  DB/src/main/java/io/deephaven/db/tables/live/LiveTableMonitor.java
  test-configs/dh-tests.prop
Owners: @rcaudy

Disable compiler tools logging for unit tests by default, with per class properties to re-enable.
  DB-test/src/test/java/io/deephaven/db/v2/select/TestConditionFilter.java
  DB-test/src/test/java/io/deephaven/db/v2/select/TestNumbaFormula.java
  DB/src/test/java/io/deephaven/db/tables/utils/TestTableTools.java
  DB/src/test/java/io/deephaven/db/v2/IndexGroupingTest.java
  DB/src/test/java/io/deephaven/db/v2/QueryTableTest.java
  DB/src/test/java/io/deephaven/db/v2/QueryTableTestBase.java
  DB/src/test/java/io/deephaven/db/v2/TestByExternal.java
  DB/src/test/java/io/deephaven/db/v2/TestComboBy.java
  DB/src/test/java/io/deephaven/db/v2/TestSort.java
  DB/src/test/java/io/deephaven/db/v2/TestTotalsTable.java
  DB/src/test/java/io/deephaven/db/v2/TstUtils.java
  DB/src/test/java/io/deephaven/db/v2/by/TestSortedFirstOrLastByFactory.java
  DB/src/test/java/io/deephaven/db/v2/select/TestFormulaColumn.java
Owners: @rcaudy

Another go at my fishlib-tests.prop rename.
  Configuration/build.gradle
  Configuration/src/main/resources/lib-tests.prop
  Configuration/src/test/java/io/deephaven/configuration/TestConfiguration.java
  Configuration/src/test/resources/resources/lib-tests.prop
  Net/build.gradle
  Stats/build.gradle
Owners: @rcaudy

Put cacheDir back.
  Configuration/src/main/resources/lib-tests.prop
  Configuration/src/test/resources/resources/lib-tests.prop
Owners: @rcaudy

.github/CODEOWNERS:

# Note: there seems to be a lot of contention about the usefulness of CODEOWNERS.
# We should make sure to have a discussion before making code owners more widespread, as it
# potentially causes a lot of extra noise for developers.
#
# See https://about.sourcegraph.com/blog/a-different-way-to-think-about-code-ownership/
# See https://bionic.fullstory.com/taming-github-codeowners-with-bots/

# If no other code owner applies, default to our lead architect
* @rcaudy

# We want to make sure any changes to workflows are closely monitored, as they may have non-obvious
# security implications.
#
# See https://securitylab.github.com/research/github-actions-preventing-pwn-requests/
/.github/workflows/ @devinrsmith

/web/client-ui/ @mofojed
/web/ @mofojed @niloc132

/grpc-api/ @niloc132 @nbauernfeind
/grpc-proxy/ @niloc132 @nbauernfeind
/open-api/ @niloc132
