Repository deephaven/deephaven-core, pull requests merged in 2021-12, with the labels that each got.

#1603 Added the 'placeholder' write_csv func, fixes #1542
  pyintegration/deephaven2/__init__.py
  pyintegration/deephaven2/column.py
  pyintegration/deephaven2/csv.py
  pyintegration/deephaven2/table.py
  pyintegration/tests/test_csv.py
  pyintegration/tests/test_table.py
Labels: python, NoDocumentationNeeded, python-server-side

#1621 Switch to rolling action tags for build-ci.yml
  .github/workflows/build-ci.yml
Labels: ci, NoDocumentationNeeded

#1619 Delete leftJoin (and clean up Attributes, since I forget to delete that class)
  Integrations/python/deephaven/doc/io/deephaven/api/TableOperations.json
  Integrations/python/deephaven/doc/io/deephaven/api/TableOperationsAdapter.json
  Integrations/python/deephaven/doc/io/deephaven/chunk/Attributes.json
  Integrations/python/deephaven/doc/io/deephaven/engine/table/Table.json
  Integrations/python/deephaven/doc/io/deephaven/engine/table/impl/HierarchicalTable.json
  Integrations/python/deephaven/doc/io/deephaven/engine/table/impl/QueryTable.json
  Integrations/python/deephaven/doc/io/deephaven/engine/table/impl/TableWithDefaults.json
  Integrations/python/deephaven/doc/io/deephaven/engine/table/impl/UncoalescedTable.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/LeftJoinTable.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/LeftJoinTable/Builder.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/LinkDescriber.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/ParentsVisitor.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/TableBase.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/TableSpec/Visitor.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/TableVisitorGeneric.json
  cpp-client/deephaven/client/include/private/deephaven/client/highlevel/impl/table_handle_impl.h
  cpp-client/deephaven/client/include/private/deephaven/client/lowlevel/server.h
  cpp-client/deephaven/client/include/public/deephaven/client/highlevel/client.h
  cpp-client/deephaven/client/src/highlevel/client.cc
  cpp-client/deephaven/client/src/highlevel/impl/table_handle_impl.cc
  cpp-client/deephaven/client/src/lowlevel/server.cc
  engine/api/src/main/java/io/deephaven/engine/table/Table.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/MultiTableKeyedOperations.java
  engine/chunk/src/main/java/io/deephaven/chunk/Attributes.java
  engine/chunk/src/main/java/io/deephaven/chunk/Chunk.java
  engine/chunk/src/main/java/io/deephaven/chunk/WritableChunk.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/HierarchicalTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/TableMapProxyHandler.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/TableWithDefaults.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/UncoalescedTable.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableJoinTest.java
  grpc-api/src/main/java/io/deephaven/grpc_api/table/ops/JoinTablesGrpcImpl.java
  java-client/session/src/main/java/io/deephaven/client/impl/BatchTableRequestBuilder.java
  open-api/lang-tools/src/main/java/io/deephaven/lang/completion/ChunkerCompleter.java
  pyclient/pydeephaven/_table_interface.py
  pyclient/pydeephaven/_table_ops.py
  pyclient/pydeephaven/query.py
  pyclient/tests/test_table.py
  pyintegration/deephaven2/table.py
  pyintegration/tests/test_table.py
  qst/graphviz/src/main/java/io/deephaven/graphviz/LabelBuilder.java
  qst/src/main/java/io/deephaven/qst/TableAdapterImpl.java
  qst/src/main/java/io/deephaven/qst/table/LeftJoinTable.java
  qst/src/main/java/io/deephaven/qst/table/LinkDescriber.java
  qst/src/main/java/io/deephaven/qst/table/ParentsVisitor.java
  qst/src/main/java/io/deephaven/qst/table/TableBase.java
  qst/src/main/java/io/deephaven/qst/table/TableSpec.java
  qst/src/main/java/io/deephaven/qst/table/TableVisitorGeneric.java
  table-api/src/main/java/io/deephaven/api/JoinAddition.java
  table-api/src/main/java/io/deephaven/api/JoinMatch.java
  table-api/src/main/java/io/deephaven/api/TableOperations.java
  table-api/src/main/java/io/deephaven/api/TableOperationsAdapter.java
  web/client-api/src/main/java/io/deephaven/web/client/api/JsTable.java
Labels: clean up, query engine, DocumentationNeeded

#1622 Worked around a JPY param matching issue, fixes #1102, #1101
  Integrations/python/test/testAggregation.py
  Integrations/python/test/testFigureWrapper.py
  engine/table/src/main/java/io/deephaven/engine/table/impl/TableWithDefaults.java
  pyintegration/deephaven2/dtypes.py
  pyintegration/deephaven2/table.py
Labels: clean up, python, NoDocumentationNeeded, python-server-side

#1604 Conditional Formatting - Throw an error if multiple formats of the same type are set
  web/shared-beans/src/main/java/io/deephaven/web/shared/data/CustomColumnDescriptor.java
Labels: NoDocumentationNeeded, internal

#1624 Backport deephaven2 read and write CSV methods.
  Integrations/python/deephaven/__init__.py
  Integrations/python/deephaven/csv.py
  Integrations/python/test/data/small_sample.csv
  Integrations/python/test/data/test_csv.csv
  Integrations/python/test/data/test_table.csv
  Integrations/python/test/test_csv.py
Labels: bug, DocumentationNeeded

#1620 Remove race conditions from TestModelFarm
  ModelFarm/src/test/java/io/deephaven/modelfarm/TestModelFarm.java
Labels: bug, NoDocumentationNeeded

#1633 added combo_agg to Deephaven, fixes #1632
  Integrations/python/deephaven/__init__.py
Labels: python, NoDocumentationNeeded

#1645 Do not hide CSV exceptions in python
  Integrations/python/deephaven/csv.py
Labels: bug, python, NoDocumentationNeeded

#1649 Fixed bug in backported write_csv and backported unit test
  Integrations/python/deephaven/csv.py
  Integrations/python/test/test_csv.py
Labels: bug, python, NoDocumentationNeeded, python-server-side

#1642 Fix ModelFarm race conditions and unit tests
  ModelFarm/src/main/java/io/deephaven/modelfarm/ModelFarmBase.java
  ModelFarm/src/test/java/io/deephaven/modelfarm/TestModelFarm.java
Labels: bug, NoDocumentationNeeded

#1650 Add "or" filters to python.
  Integrations/python/deephaven/__init__.py
  Integrations/python/deephaven/filter.py
  Integrations/python/test/test_filter.py
Labels: DocumentationNeeded

#1648 Table api agg bys
  engine/api/src/main/java/io/deephaven/engine/table/Table.java
  java-client/flight-examples/build.gradle
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/AggByExample.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/AggInputBase.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/AggregateAllExample.java
  qst/src/main/java/io/deephaven/qst/table/TableBase.java
  table-api/src/main/java/io/deephaven/api/TableOperations.java
  table-api/src/main/java/io/deephaven/api/TableOperationsAdapter.java
Labels: table api, NoDocumentationNeeded

#1652 Ensure the wrong number of parameters in a call to deephaven.ParquetTools.writeTable generates an error.
  Generators/src/main/java/io/deephaven/pythonPreambles/ParquetToolsPreamble.txt
  Integrations/python/deephaven/ParquetTools/__init__.py
Labels: python, NoDocumentationNeeded

#1637 Replace the IndexSet in the deephaven.learn package with a RowSet
  Integrations/src/main/java/io/deephaven/integrations/learn/Computer.java
  Integrations/src/main/java/io/deephaven/integrations/learn/Future.java
  Integrations/src/main/java/io/deephaven/integrations/learn/IndexSet.java
  Integrations/src/test/java/io/deephaven/integrations/learn/ComputerTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/FutureStuffTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/FutureTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/IndexSetTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/InputTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/OutputTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/ScattererTest.java
Labels: feature request, python, DocumentationNeeded, python-server-side

#1627 Barrage/web UI support for BigDecimal and BigInteger.
  Integrations/python/deephaven/Types.py
  Integrations/python/test/testParquetTools.py
  engine/table/src/main/java/io/deephaven/engine/table/impl/CodecLookup.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/DateTimeAsLongColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ReinterpretUtils.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/ChunkInputStreamGenerator.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/VarBinaryChunkInputStreamGenerator.java
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/GenericRecordChunkAdapter.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/BigDecimalParquetBytesCodec.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/MappedSchema.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetSchemaReader.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetTableWriter.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/TypeInfos.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/location/ParquetColumnLocation.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/pagestore/topage/ToBigDecimalBase.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/pagestore/topage/ToBigDecimalFromIntPage.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/pagestore/topage/ToBigDecimalFromLongPage.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/pagestore/topage/ToDateTimePage.java
  redpanda/examples/avro/mysql.inventory.products-value.avro
  redpanda/examples/avro/mysql.shop.items-value.avro
  redpanda/examples/post-avro-schema.sh
  redpanda/examples/post-inventory-products-value-schema.sh
  web/client-api/src/main/java/io/deephaven/web/client/api/barrage/BarrageUtils.java
Labels: barrage, parquet, NoDocumentationNeeded

#1656 Fix bugs in avro options "mapping" and "mapping_only" for ConsumeKafka.py.
  Integrations/python/deephaven/ConsumeKafka.py
  Integrations/python/deephaven/conversion_utils.py
  Integrations/src/main/java/io/deephaven/integrations/python/PythonTools.java
  redpanda/examples/python/kafka-produce-avro.py
Labels: python, NoDocumentationNeeded

#1660 DBTimeZone renamed to TimeZone
  Generators/src/main/java/io/deephaven/pythonPreambles/DateTimeUtilsPreamble.txt
  Integrations/python/deephaven/DateTimeUtils/__init__.py
  Integrations/python/deephaven/doc/io/deephaven/time/TimeZone.json
  Integrations/python/test/testDateTimeUtil.py
  engine/time/src/main/java/io/deephaven/time/TimeZone.java
Labels: python, DocumentationNeeded, python-server-side

#1663 Cleaned up Python sort syntax.
  Integrations/python/deephaven/TableManipulation/__init__.py
  Integrations/python/deephaven/__init__.py
Labels: python, DocumentationNeeded, python-server-side

#1665 Added tests for avro mappings in consume. Reworked somewhat the impl.
  Integrations/python/deephaven/ConsumeKafka.py
  Integrations/python/deephaven/ProduceKafka.py
  Integrations/python/deephaven/conversion_utils.py
  Integrations/python/test/testConsumeKafka.py
Labels: python, NoDocumentationNeeded

#1666 Fix failing unit tests for aggregations
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/AggregationContextFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/AggregationFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ChunkedOperatorAggregationHelper.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/FirstOrLastByAggregationFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/FormulaAggregationFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/FreezeByAggregationFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/GroupByAggregationFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/NonKeyColumnAggregationFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/SortedFirstOrLastByAggregationFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/WeightedAverageSumAggregationFactory.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableAggregationTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableJoinTest.java
Labels: bug, query engine, NoDocumentationNeeded

#1669 Fixed Python sort syntax.
  Integrations/python/deephaven/__init__.py
  Integrations/python/test/test_sort.py
Labels: python, DocumentationNeeded, python-server-side

#1523 Java gatherer
  Integrations/python/deephaven/learn/__init__.py
  Integrations/python/deephaven/learn/gather/__init__.py
  Integrations/python/test/test_learn_gather.py
  Integrations/src/main/java/io/deephaven/integrations/learn/gather/NumPy.java
  Integrations/src/test/java/io/deephaven/integrations/learn/gather/NumPyTest.java
Labels: core, python, java, DocumentationNeeded, release blocker

#1680 Update web to v0.7.2
  web/client-ui/Dockerfile
Labels: web-client-ui, NoDocumentationNeeded

#1681 Use nginx-base from deephaven-base-images
  docker/registry/nginx-base/gradle.properties
  docker/registry/nginx/gradle.properties
  web/client-ide/client-ide.gradle
  web/client-ide/docker/Dockerfile
Labels: build, docker, NoDocumentationNeeded

#1658 Demo refactor updates
  demo/web/src/main/notebooks/00 The Deephaven IDE.md
  demo/web/src/main/notebooks/01 Tables, Updates, and the Engine.md
  demo/web/src/main/notebooks/02 Stream and Batch Together.md
  demo/web/src/main/notebooks/03 Kafka Stream vs Append.md
Labels: demo

#1670 Check the docker registry directories for gradle.properties.
  settings.gradle
Labels: build, clean up, NoDocumentationNeeded

#1682 JS API should support generic aliases for types the UI will use
  web/client-api/src/main/java/io/deephaven/web/client/api/parse/JsDataHandler.java
Labels: jsapi, NoDocumentationNeeded

#1679 Made test_snapshot_timetable() deterministic
  pyclient/tests/test_table.py
Labels: NoDocumentationNeeded, python-client

#1687 Fix markdown notebooks
  demo/push.sh
  demo/web/src/main/layouts/layout-introduction.json
Labels: NoDocumentationNeeded

#1686 Use protoc-base image
  build.gradle
  docker/registry/protoc-base/gradle.properties
  proto/build.gradle
  proto/proto-backplane-grpc/Dockerfile
  proto/proto-backplane-grpc/build.gradle
  protoc/.dockerignore
  protoc/Dockerfile
  protoc/build.gradle
  protoc/checksums.txt
  protoc/package-lock.json
  protoc/package.json
  settings.gradle
Labels: build, NoDocumentationNeeded

#1674 Post release registry bump
  docker/registry/debian/gradle.properties
  docker/registry/node/gradle.properties
  docker/registry/python/gradle.properties
Labels: build, clean up, NoDocumentationNeeded

#1672 Bump for next release to 0.8.0
  .github/workflows/build-ci.yml
  build.gradle
  pyclient/README.md
  pyclient/pydeephaven/__init__.py
  pyclient/setup.py
  pyintegration/deephaven2/__init__.py
Labels: build, NoDocumentationNeeded

#1689 Update web version to 0.6.1-markdownnotebooks.7
  demo/push.sh
  web/client-ui/gradle.properties
Labels: bug, NoDocumentationNeeded

#1602 Add docker-server and docker-server-pytorch
  .env
  .github/workflows/build-ci.yml
  build.gradle
  buildSrc/src/crane/retag.sh
  buildSrc/src/main/groovy/Docker.groovy
  containers/groovy-examples/docker-compose.yml
  containers/groovy/docker-compose.yml
  containers/python-examples-redpanda/docker-compose.yml
  containers/python-examples/docker-compose.yml
  containers/python/docker-compose.yml
  default_groovy.env
  docker-compose-common.yml
  docker/java-and-python/build.gradle
  docker/java-and-python/src/main/docker/Dockerfile
  docker/java-and-python/src/main/docker/requirements.txt
  docker/registry/debian/gradle.properties
  docker/registry/nltk-base/gradle.properties
  docker/registry/python-dev-base/gradle.properties
  docker/registry/pytorch-base/gradle.properties
  docker/registry/server-base/gradle.properties
  docker/registry/sklearn-base/gradle.properties
  docker/registry/slim-base/gradle.properties
  docker/registry/tensorflow-base/gradle.properties
  docker/runtime-base/build.gradle
  docker/server-slim/build.gradle
  docker/server-slim/src/main/docker/Dockerfile
  docker/server-slim/src/main/docker/image-bootstrap.properties
  docker/server/build.gradle
  docker/server/src/main/common/Dockerfile
  docker/server/src/main/common/image-bootstrap.properties
  docker/server/src/main/server-nltk/requirements.txt
  docker/server/src/main/server-pytorch/requirements.txt
  docker/server/src/main/server-sklearn/requirements.txt
  docker/server/src/main/server-tensorflow/requirements.txt
  docker/server/src/main/server/requirements.txt
  gradle/deephaven-jpy.gradle
  grpc-api/server/docker/README.md
  grpc-api/server/docker/build.gradle
  grpc-api/server/docker/gradle.properties
  grpc-api/server/docker/src/main/java/io/deephaven/grpc_api/runner/DockerEmpty.java
  grpc-api/server/docker/src/main/resources/bootstrap.properties
  grpc-api/server/docker/src/main/resources/grpc-api-docker.prop
  grpc-api/server/docker/src/main/resources/logback-debug.xml
  grpc-api/server/docker/src/main/resources/logback-minimal.xml
  grpc-api/server/docker/src/main/resources/logback.xml
  grpc-api/server/native/README.md
  grpc-api/server/native/build.gradle
  grpc-api/src/main/java/io/deephaven/grpc_api/runner/Main.java
  py/jpy/Dockerfile
  pyclient/build.gradle
  settings.gradle
Labels: feature request, docker, NoDocumentationNeeded

#1692 Add deephaven/server-slim to build-ci.yml
  .github/workflows/build-ci.yml
  docker/server-slim/build.gradle
Labels: docker, ci, NoDocumentationNeeded

#1688 Get rid of dependency on log4j
  Base/build.gradle
  Base/src/main/java/io/deephaven/base/FIFOMutex.java
  Base/src/main/java/io/deephaven/base/UnfairMutex.java
  Base/src/main/java/io/deephaven/base/pool/ThreadSafeFixedSizePool.java
  Base/src/test/java/io/deephaven/base/testing/CheckedMessage.java
  Base/src/test/java/io/deephaven/base/testing/CheckedMessageRegexp.java
  Base/src/test/java/io/deephaven/base/testing/LoggingRecorder.java
  FishUtil/src/main/java/io/deephaven/util/HungReportJob.java
  FishUtil/src/main/java/io/deephaven/util/SMTPMailer.java
  FishUtil/src/main/java/io/deephaven/util/loggers/AsyncAppender.java
  FishUtil/src/main/java/io/deephaven/util/loggers/DailyRollingFileAppender.java
  FishUtil/src/main/java/io/deephaven/util/loggers/Log4JTimedBufferedWriter.java
  FishUtil/src/main/java/io/deephaven/util/loggers/LoggerUtil.java
  FishUtil/src/main/java/io/deephaven/util/loggers/ProcessNameFileAppender.java
  FishUtil/src/main/java/io/deephaven/util/loggers/SimpleMailAppender.java
  FishUtil/src/main/java/io/deephaven/util/process/LoggerShutdownTask.java
  IO/src/main/java/io/deephaven/io/log/impl/LogBufferPoolImpl.java
  IO/src/main/java/io/deephaven/io/logger/CustomLog4jLevel.java
  IO/src/main/java/io/deephaven/io/logger/Log4jAdapter.java
  IO/src/main/java/io/deephaven/io/logger/Log4jLoggerImpl.java
  IO/src/main/java/io/deephaven/io/logger/MailLevel.java
  IO/src/main/java/io/deephaven/io/logger/PatternLayout.java
  IO/src/main/java/io/deephaven/io/logger/RollingFileAppender.java
  IO/src/main/java/io/deephaven/io/streams/MultiFileInputStream.java
  IO/src/test/java/io/deephaven/io/logger/TestLog4jLoggerImpl.java
  Integrations/python/deephaven/jvm_init.py
  Stats/src/main/java/io/deephaven/stats/StatsMemoryCollector.java
  Util/src/test/java/io/deephaven/utils/test/PropertySaverTest.java
  build.gradle
  classpaths.gradle
Labels: clean up, security, NoDocumentationNeeded

#1695 Add Bender as CODEOWNER of workflows
  .github/CODEOWNERS
Labels: NoDocumentationNeeded

#1696 Revert references to ghcr.io/deephaven/server:latest until next release
  containers/groovy-examples/docker-compose.yml
  containers/groovy/docker-compose.yml
  containers/python-examples-redpanda/docker-compose.yml
  containers/python-examples/docker-compose.yml
  containers/python/docker-compose.yml
Labels: bug, configuration, NoDocumentationNeeded

#1694 Provide docker-web project for gradle, restructure web static content
  build.gradle
  buildSrc/src/main/groovy/GwtTools.groovy
  docker/web/build.gradle
  docker/web/src/main/docker/Dockerfile
  docker/web/src/main/docker/nginx/99-init-notebooks.sh
  docker/web/src/main/docker/nginx/default.conf
  docker/web/src/main/docker/nginx/nginx.conf
  proto/raw-js-openapi/build.gradle
  settings.gradle
  web/client-ide/client-ide.gradle
  web/client-ide/docker/Dockerfile
  web/client-ui/client-ui.gradle
  web/web.gradle
Labels: build, NoDocumentationNeeded

#1698 Add support for local arm64 builds
  buildSrc/src/main/groovy/Docker.groovy
  buildSrc/src/main/groovy/io/deephaven/tools/docker/Architecture.groovy
  docker/server/build.gradle
  docker/server/src/main/configure/image-bootstrap.properties
  docker/server/src/main/configure/properties.py
  docker/server/src/main/docker/Dockerfile
  grpc-proxy/Dockerfile
  grpc-proxy/build.gradle
  grpc-proxy/src/main/arch/amd64/checksums.txt
  grpc-proxy/src/main/arch/amd64/install.sh
  grpc-proxy/src/main/arch/arm64/checksums.txt
  grpc-proxy/src/main/arch/arm64/install.sh
  grpc-proxy/src/main/common/docker-entrypoint.sh
  grpc-proxy/src/main/docker/Dockerfile
  proto/proto-backplane-grpc/build.gradle
Labels: feature request, build, docker, NoDocumentationNeeded

#1704 Fix web CI build
  .github/workflows/build-ci.yml
  docker/web/build.gradle
Labels: bug, ci, NoDocumentationNeeded

#1715 Small doc fix on RspArray.
  engine/rowset/src/main/java/io/deephaven/engine/rowset/impl/rsp/RspArray.java
Labels: NoDocumentationNeeded

#1711 Simplify the default configuration to reflect how we run.
  ClientSupport/src/main/java/io/deephaven/clientsupport/plotdownsampling/RunChartDownsample.java
  FishUtil/src/main/java/io/deephaven/util/process/BaseProcessEnvironment.java
  FishUtil/src/main/java/io/deephaven/util/process/ProcessEnvironment.java
  ModelFarm/src/main/java/io/deephaven/modelfarm/ConditionalModels.java
  ModelFarm/src/main/java/io/deephaven/modelfarm/ModelFarmOnDemand.java
  Net/src/main/java/io/deephaven/net/impl/nio/NIODriver.java
  docker/server-slim/src/main/docker/image-bootstrap.properties
  docker/server/src/main/configure/image-bootstrap.properties
  engine/table/src/main/java/io/deephaven/engine/table/impl/SourceTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/AbstractConditionFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/AutoTuningIncrementalReleaseFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/WhereFilterFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/RowSetShiftDataExpander.java
  engine/table/src/main/java/io/deephaven/engine/util/TableTools.java
  engine/table/src/main/java/io/deephaven/engine/util/WorkerPythonEnvironment.java
  engine/table/src/main/java/io/deephaven/engine/util/config/InputTableStatusListener.java
  engine/table/src/main/java/io/deephaven/engine/util/parametrized/TableSupplier.java
  engine/updategraph/src/main/java/io/deephaven/engine/liveness/RetainedReferenceTracker.java
  engine/updategraph/src/main/java/io/deephaven/engine/updategraph/LogicalClock.java
  grpc-api-client/console/src/main/java/io/deephaven/grpc_api/example/ConsoleClient.java
  grpc-api/server/native/src/main/resources/bootstrap.properties
  grpc-api/src/main/java/io/deephaven/grpc_api/log/LogModule.java
  log-factory/src/main/java/io/deephaven/internal/log/LoggerFactory.java
  open-api/lang-tools/src/test/groovy/io/deephaven/lang/completion/ChunkerCompleterMixin.groovy
  open-api/lang-tools/src/test/groovy/io/deephaven/lang/completion/ChunkerCompletionHandlerTest.groovy
  open-api/lang-tools/src/test/groovy/io/deephaven/lang/completion/ChunkerParseTestMixin.groovy
  open-api/lang-tools/src/test/groovy/io/deephaven/lang/completion/ColumnExpressionCompletionHandlerTest.groovy
Labels: configuration, clean up, NoDocumentationNeeded

#1712 Configure cache dir
  docker/server-slim/src/main/docker/image-bootstrap.properties
  docker/server/src/main/configure/image-bootstrap.properties
  engine/table/src/main/java/io/deephaven/engine/util/AbstractScriptSession.java
  engine/table/src/main/java/io/deephaven/engine/util/CacheDir.java
  engine/time/src/main/java/io/deephaven/time/calendar/Calendars.java
Labels: configuration, NoDocumentationNeeded

#1708 Add implicit jpy configuration based on the python environment
  docker/server/src/main/docker/Dockerfile
  engine/table/src/main/java/io/deephaven/engine/util/PythonDeephavenSession.java
  engine/table/src/main/java/io/deephaven/engine/util/ScriptSession.java
  engine/table/src/main/java/io/deephaven/engine/util/jpy/JpyInit.java
  engine/table/src/test/java/io/deephaven/engine/util/WorkerPythonEnvironment.java
  grpc-api/src/main/java/io/deephaven/grpc_api/console/ConsoleServiceGrpcImpl.java
  grpc-api/src/main/java/io/deephaven/grpc_api/runner/DeephavenApiServer.java
  grpc-api/src/main/java/io/deephaven/grpc_api/runner/Main.java
  grpc-api/src/test/java/io/deephaven/grpc_api/appmode/ApplicationTest.java
  py/jpy-config/src/main/java/io/deephaven/jpy/JpyConfig.java
  py/jpy-config/src/main/java/io/deephaven/jpy/JpyConfigFromSubprocess.java
  py/jpy-config/src/main/java/io/deephaven/jpy/JpyConfigSource.java
  py/jpy-config/src/main/resources/io/deephaven/jpy/introspect.py
  py/jpy-integration/src/javaToPython/java/io/deephaven/jpy/PythonResource.java
  py/jpy-integration/src/javaToPython/java/io/deephaven/jpy/integration/PyDebug.java
  py/jpy-integration/src/javaToPython/java/io/deephaven/jpy/integration/PySysPath.java
  python-engine-test/src/test/java/io/deephaven/engine/util/TestWorkerPythonEnvironment.java
Labels: feature request, configuration, python, NoDocumentationNeeded

#1705 Move appcontext to appmode
  application-mode/src/main/java/io/deephaven/appmode/ApplicationContext.java
Labels: NoDocumentationNeeded

#1706 Move uri resolvers+wiring to uri
  grpc-api/src/main/java/io/deephaven/grpc_api/runner/DeephavenApiServer.java
  grpc-api/src/main/java/io/deephaven/grpc_api/uri/ApplicationResolver.java
  grpc-api/src/main/java/io/deephaven/grpc_api/uri/BarrageTableResolver.java
  grpc-api/src/main/java/io/deephaven/grpc_api/uri/CsvTableResolver.java
  grpc-api/src/main/java/io/deephaven/grpc_api/uri/ParquetTableResolver.java
  grpc-api/src/main/java/io/deephaven/grpc_api/uri/QueryScopeResolver.java
  grpc-api/src/main/java/io/deephaven/grpc_api/uri/UriModule.java
  java-client/uri/src/main/java/io/deephaven/uri/ResolveTools.java
  java-client/uri/src/main/java/io/deephaven/uri/resolver/UriResolver.java
  java-client/uri/src/main/java/io/deephaven/uri/resolver/UriResolvers.java
  java-client/uri/src/main/java/io/deephaven/uri/resolver/UriResolversInstance.java
Labels: NoDocumentationNeeded

#1697 Move docker LABELs into Dockerfiles
  .github/workflows/build-ci.yml
  docker/server-slim/src/main/docker/Dockerfile
  docker/server/src/main/docker/Dockerfile
  docker/web/build.gradle
  docker/web/src/main/docker/Dockerfile
  envoy/Dockerfile
  envoy/build.gradle
  grpc-proxy/build.gradle
  grpc-proxy/src/main/docker/Dockerfile
Labels: clean up, docker, NoDocumentationNeeded

#1716 Cleanup intermediate images
  build.gradle
  buildSrc/src/main/groovy/Docker.groovy
  docker/runtime-base/build.gradle
  docker/runtime-base/src/main/docker/Dockerfile
  docker/server-slim/build.gradle
  docker/server/build.gradle
  grpc-proxy/build.gradle
  proto/raw-js-openapi/Dockerfile
  web/client-ui/Dockerfile
Labels: clean up, docker, NoDocumentationNeeded

#1707 Reduce scope of dependencies for faster/simplier rebuilds
  buildSrc/src/main/groovy/io.deephaven.java-conventions.gradle
  extensions/barrage/build.gradle
  grpc-api/grpc-api.gradle
  grpc-api/src/test/java/io/deephaven/grpc_api/runner/DeephavenApiServerTestBase.java
  java-client/session-dagger/build.gradle
  proto/proto-backplane-grpc-flight/build.gradle
Labels: NoDocumentationNeeded

#1718 Remove java sample demonstrating raw grpc access to use the console
  grpc-api-client/console/README.md
  grpc-api-client/console/build.gradle
  grpc-api-client/console/src/main/java/io/deephaven/grpc_api/example/ConsoleClient.java
  grpc-api-client/console/src/main/resources/logback-debug.xml
  grpc-api-client/console/src/main/resources/logback.xml
  settings.gradle
Labels: NoDocumentationNeeded

#1721 Update web to v0.8.0
  web/client-ui/Dockerfile
Labels: feature request, web-client-ui, DocumentationNeeded

#1719 Upgade grpc version, use bom instead of manually specifying each time
  buildSrc/src/main/groovy/Classpaths.groovy
  grpc-api/grpc-api.gradle
  java-client/session-dagger/build.gradle
  java-client/session-examples/build.gradle
  java-client/session/build.gradle
  proto/build.gradle
  proto/proto-backplane-grpc/build.gradle
Labels: build, NoDocumentationNeeded

#1727 Bump base images
  docker/registry/nltk-base/gradle.properties
  docker/registry/node/gradle.properties
  docker/registry/protoc-base/gradle.properties
  docker/registry/python-dev-base/gradle.properties
  docker/registry/python/gradle.properties
  docker/registry/pytorch-base/gradle.properties
  docker/registry/server-base/gradle.properties
  docker/registry/sklearn-base/gradle.properties
  docker/registry/slim-base/gradle.properties
  docker/registry/tensorflow-base/gradle.properties
  docker/runtime-base/src/main/docker/requirements.txt
  docker/server/src/main/server-nltk/requirements.txt
  docker/server/src/main/server-pytorch/requirements.txt
  docker/server/src/main/server-sklearn/requirements.txt
  docker/server/src/main/server-tensorflow/requirements.txt
  docker/server/src/main/server/requirements.txt
Labels: configuration, NoDocumentationNeeded

#1723 Add grpc-java servlet implementations to deephaven
  grpc-java/LICENSE
  grpc-java/NOTICE
  grpc-java/README.md
  grpc-java/grpc-servlet-jakarta/build.gradle
  grpc-java/grpc-servlet-jakarta/src/main/java/io/grpc/servlet/AsyncServletOutputStreamWriter.java
  grpc-java/grpc-servlet-jakarta/src/main/java/io/grpc/servlet/GrpcServlet.java
  grpc-java/grpc-servlet-jakarta/src/main/java/io/grpc/servlet/ServletAdapter.java
  grpc-java/grpc-servlet-jakarta/src/main/java/io/grpc/servlet/ServletServerBuilder.java
  grpc-java/grpc-servlet-jakarta/src/main/java/io/grpc/servlet/ServletServerStream.java
  grpc-java/grpc-servlet-jakarta/src/main/java/io/grpc/servlet/package-info.java
  grpc-java/grpc-servlet-websocket-jakarta/build.gradle
  grpc-java/grpc-servlet-websocket-jakarta/src/main/java/io/grpc/servlet/web/websocket/WebSocketServerStream.java
  grpc-java/grpc-servlet-websocket-jakarta/src/main/java/io/grpc/servlet/web/websocket/WebsocketStreamImpl.java
  settings.gradle
Labels: grpc, NoDocumentationNeeded

#1728 Fix the extended image builds
  docker/README.md
  docker/server/src/main/server-nltk/requirements.txt
  docker/server/src/main/server-pytorch/requirements.txt
  docker/server/src/main/server-tensorflow/requirements.txt
Labels: bug, build, NoDocumentationNeeded

#1740 Bump python:3.7 to the latest repo digest
  docker/registry/python/gradle.properties
Labels: clean up, NoDocumentationNeeded

#1738 Add ApplicationService with subscribeToFields to java-client-session
  java-client/session-examples/build.gradle
  java-client/session-examples/src/main/java/io/deephaven/client/examples/SubscribeToFields.java
  java-client/session/src/main/java/io/deephaven/client/impl/ApplicationService.java
  java-client/session/src/main/java/io/deephaven/client/impl/Session.java
  java-client/session/src/main/java/io/deephaven/client/impl/SessionImpl.java
Labels: feature request, java, NoDocumentationNeeded, java-client

#1743 Add full block span count and len metrics to rowset.
  engine/rowset/src/main/java/io/deephaven/engine/rowset/impl/RowSetCounts.java
  engine/rowset/src/main/java/io/deephaven/engine/rowset/impl/rsp/RspArray.java
Labels: NoDocumentationNeeded

#1742 Rename Index* related JMH benches to RowSet*. Add RowSetFindGetBench (ported over from DHE).
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/util/RandomRowSetBuilderBench.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/util/RowSetBuilderChunkedBench.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/util/RowSetCreation.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/util/RowSetGetFindBench.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/util/RowSetIteration.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/util/RowSetIterationBench.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/util/RowSetIterationRaw.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/util/SequentialRowSetBuilderBench.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/util/SmallRowSetCreation.java
Labels: NoDocumentationNeeded

#1746 Avoid removing session close callbacks if session already expired
  server/src/main/java/io/deephaven/server/session/SessionState.java
Labels: grpc, NoDocumentationNeeded

#1748 Extracted java-client/example-utilities
  java-client/barrage-examples/build.gradle
  java-client/example-utilities/build.gradle
  java-client/example-utilities/src/main/java/io/deephaven/client/examples/ConnectOptions.java
  java-client/example-utilities/src/main/java/io/deephaven/client/examples/DeephavenTargetConverter.java
  java-client/example-utilities/src/main/java/io/deephaven/client/examples/LabeledTableConverter.java
  java-client/example-utilities/src/main/java/io/deephaven/client/examples/TableConverter.java
  java-client/flight-examples/build.gradle
  java-client/session-examples/build.gradle
  java-client/session-examples/src/main/java/io/deephaven/client/examples/SessionExampleBase.java
  settings.gradle
Labels: clean up, NoDocumentationNeeded, java-client

#1765 Consolidate application, query scope, and raw ticket parameters
  java-client/barrage-examples/build.gradle
  java-client/barrage-examples/src/main/java/io/deephaven/client/examples/SubscribeTable.java
  java-client/example-utilities/build.gradle
  java-client/example-utilities/src/main/java/io/deephaven/client/examples/ApplicationField.java
  java-client/example-utilities/src/main/java/io/deephaven/client/examples/Path.java
  java-client/example-utilities/src/main/java/io/deephaven/client/examples/RawTicket.java
  java-client/example-utilities/src/main/java/io/deephaven/client/examples/ScopeField.java
  java-client/example-utilities/src/main/java/io/deephaven/client/examples/Ticket.java
  java-client/flight-examples/build.gradle
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/GetApplicationSchema.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/GetApplicationTable.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/GetDirectSchema.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/GetDirectTable.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/GetSchema.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/GetScopeSchema.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/GetScopeTable.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/GetTicketTable.java
  java-client/session/src/main/java/io/deephaven/client/impl/TicketId.java
Labels: NoDocumentationNeeded, java-client

#1788 Backport DHE fix for RowSet binary search.
  engine/rowset/src/main/java/io/deephaven/engine/rowset/impl/rsp/RspRangeIterator.java
  engine/rowset/src/test/java/io/deephaven/engine/rowset/impl/rsp/RspBitmapTest.java
Labels: NoDocumentationNeeded
