Repository deephaven/deephaven-core, pull requests merged in 2021-08, with the labels that each got.

#948 Add trigger to slack workflow on nightly CI failure. Fixes #771.
  .github/workflows/nightly-check-ci.yml
Labels: NoDocumentationNeeded, ci

#957 Fix TableSpec.snapshot. Update other building patterns to ensure no s…
  qst/src/main/java/io/deephaven/qst/table/TableBase.java
Labels: NoDocumentationNeeded, java-api-basic

#960 Add QST to javadocs
  build.gradle
Labels: NoDocumentationNeeded, documentation

#962 Add spotlessCheck into quick and smoke tasks. Will ensure code style …
  build.gradle
Labels: NoDocumentationNeeded, build, ci

#955 Fix #950 SortedRanges.SearchIterator hasNext() still returns true after exhaustion via advance
  DB/src/main/java/io/deephaven/db/v2/utils/sortedranges/SortedRanges.java
  DB/src/test/java/io/deephaven/db/v2/utils/sortedranges/SortedRangesTest.java
Labels: NoDocumentationNeeded

#943 Handle basic single-type deserializers in KafkaTools; add docker-composed apicurio.
  Generators/src/main/java/io/deephaven/python/PythonStaticGenerator.java
  Generators/src/main/java/io/deephaven/pythonPreambles/KafkaToolsPreamble.txt
  Integrations/python/deephaven/KafkaTools/__init__.py
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/barrage/util/BarrageSchemaUtil.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/table/TableModule.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/table/TableServiceGrpcImpl.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/table/ops/JoinTablesGrpcImpl.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/table/ops/JoinTablesGrpcImpl/AsOfJoinTablesGrpcImpl.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/table/ops/JoinTablesGrpcImpl/CrossJoinTablesGrpcImpl.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/table/ops/JoinTablesGrpcImpl/ExactJoinTablesGrpcImpl.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/table/ops/JoinTablesGrpcImpl/LeftJoinTablesGrpcImpl.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/table/ops/JoinTablesGrpcImpl/NaturalJoinTablesGrpcImpl.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/table/ops/JoinTablesGrpcImpl/RealTableOperation.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/KafkaTools.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/GenericRecordConsumerRecordToTableWriterAdapter.json
  KafkaIngester/KafkaIngester.gradle
  KafkaIngester/src/main/java/io/deephaven/kafka/KafkaTools.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/GenericRecordConsumerRecordToTableWriterAdapter.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/KafkaIngester.java
  build.gradle
  redpanda-apicurio/.env
  redpanda-apicurio/docker-compose.yml
  redpanda-apicurio/examples/avro/README.md
  redpanda-apicurio/examples/avro/share_price.json
  redpanda-apicurio/examples/post-share-price-schema.sh
  redpanda-apicurio/examples/python/produce-avro.py
  redpanda/examples/python/kafka-produce.py
Labels: NoDocumentationNeeded

#973 Add help and discussion links to README resources
  .github/CODEOWNERS
  README.md
Labels: NoDocumentationNeeded, documentation

#975 Add instructions on how to install confluent-kafka.
  redpanda/examples/python/kafka-produce.py
Labels: NoDocumentationNeeded

#982 Reduce the odds that TestSpecialPrimitives fails
  DB/src/test/java/io/deephaven/libs/primitives/TestSpecialPrimitives.java
Labels: bug, NoDocumentationNeeded

#987 Add table-api to javadoc
  build.gradle
Labels: documentation, build, NoDocumentationNeeded

#993 Improve avro kafka ingestion python API. Support NULL UNIONs, and...
  Generators/src/main/java/io/deephaven/python/PythonStaticGenerator.java
  Generators/src/main/java/io/deephaven/pythonPreambles/KafkaToolsPreamble.txt
  Integrations/python/deephaven/KafkaTools/__init__.py
  KafkaIngester/src/main/java/io/deephaven/kafka/KafkaTools.java
  KafkaIngester/src/test/java/io/deephaven/kafka/KafkaToolsTest.java
  redpanda-apicurio/examples/python/kafka-produce-avro.py
  redpanda-apicurio/examples/python/produce-avro.py
  redpanda/examples/python/kafka-produce.py
Labels: kafka, NoDocumentationNeeded

#1001 Parquet: improve error messages for unsupported file structure
  DB/src/main/java/io/deephaven/db/v2/parquet/ParquetSchemaReader.java
Labels: parquet, DocumentationNeeded

#1004 Avoid using "e" as a local variable name, as it could conflict with a user column name called "e". fixes #1002
  DB/src/main/java/io/deephaven/db/v2/select/DhFormulaColumn.java
  DB/src/main/java/io/deephaven/db/v2/select/codegen/JavaKernelBuilder.java
  DB/src/test/java/io/deephaven/db/v2/select/FormulaKernelSample.java
  DB/src/test/java/io/deephaven/db/v2/select/FormulaSample.java
Labels: NoDocumentationNeeded

#1006 Parquet: Address regressions and format irregularities discovered during testing
  DB/src/main/java/io/deephaven/db/tables/utils/ParquetTools.java
  DB/src/main/java/io/deephaven/db/util/file/FileHandleAccessor.java
  DB/src/main/java/io/deephaven/db/v2/locations/local/ParquetMetadataFileLayout.java
  DB/src/main/java/io/deephaven/db/v2/parquet/ParquetSchemaReader.java
  Parquet/src/main/java/io/deephaven/parquet/ColumnChunkReaderImpl.java
  Parquet/src/main/java/io/deephaven/parquet/ColumnPageReaderImpl.java
  Parquet/src/main/java/io/deephaven/parquet/ParquetFileReader.java
  Parquet/src/main/java/io/deephaven/parquet/utils/CachedChannelProvider.java
  ParquetHadoop/src/main/java/io/deephaven/parquet/tempfix/ParquetMetadataConverter.java
Labels: bug, parquet, DocumentationNeeded

#999 Remove allowFailure logic, fixes #598
  build.gradle
  buildSrc/src/main/groovy/TestTools.groovy
Labels: build, clean up, NoDocumentationNeeded

#989 remove QueyScope from Deephaven Python package, fixes #846
  Generators/Generators.gradle
  Generators/src/main/java/io/deephaven/python/PythonStaticGenerator.java
  Integrations/python/deephaven/QueryScope/__init__.py
  Integrations/python/deephaven/__init__.py
Labels: python, DocumentationNeeded

#977 Kafka: Stream firstBy and lastBy chunked operators, address other engine features for stream-tables
  DB/src/main/java/io/deephaven/db/tables/Table.java
  DB/src/main/java/io/deephaven/db/v2/BaseTable.java
  DB/src/main/java/io/deephaven/db/v2/QueryTable.java
  DB/src/main/java/io/deephaven/db/v2/by/ChunkedOperatorAggregationHelper.java
  DB/src/main/java/io/deephaven/db/v2/by/ComboAggregateFactory.java
  DB/src/main/java/io/deephaven/db/v2/by/FirstOrLastByAggregationFactory.java
  DB/src/main/java/io/deephaven/db/v2/by/IterativeOperatorStateFactory.java
  DB/src/main/java/io/deephaven/db/v2/by/StreamFirstByChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/StreamFirstOrLastByChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/StreamLastByChunkedOperator.java
  DB/src/test/java/io/deephaven/db/v2/StreamTableAggregationTest.java
Labels: query engine, kafka, DocumentationNeeded

#1018 Fix missing SharedContext reset in stream first/last by chunked operators
  DB/src/main/java/io/deephaven/db/v2/by/StreamFirstByChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/StreamLastByChunkedOperator.java
Labels: bug, kafka, NoDocumentationNeeded

#1015 Bump setup-java action to v2.2.0
  .github/workflows/build-ci.yml
  .github/workflows/check-ci.yml
  .github/workflows/docs-ci.yml
  .github/workflows/long-check-ci.yml
  .github/workflows/nightly-benchmarks.yml
  .github/workflows/nightly-check-ci.yml
Labels: clean up, ci, NoDocumentationNeeded

#965 dramatically reduce log spam for unauthenticated requests
  grpc-api/src/main/java/io/deephaven/grpc_api/session/SessionService.java
  grpc-api/src/main/java/io/deephaven/grpc_api/session/SessionServiceGrpcImpl.java
  grpc-api/src/main/java/io/deephaven/grpc_api/util/GrpcUtil.java
  grpc-api/src/test/java/io/deephaven/grpc_api/session/SessionServiceTest.java
Labels: bug, logging, grpc, NoDocumentationNeeded, release blocker

#998 Plumb KafkaIngester into StreamToTableAdapter so that we use chunks for ingestion instead of tablewriters.
  CompilerTools/src/main/java/io/deephaven/compilertools/ReplicatePrimitiveCode.java
  DB/DB.gradle
  DB/src/main/java/io/deephaven/db/v2/BaseTable.java
  DB/src/main/java/io/deephaven/db/v2/StreamTableTools.java
  DB/src/main/java/io/deephaven/db/v2/sources/chunkcolumnsource/ByteChunkColumnSource.java
  DB/src/main/java/io/deephaven/db/v2/sources/chunkcolumnsource/CharChunkColumnSource.java
  DB/src/main/java/io/deephaven/db/v2/sources/chunkcolumnsource/ChunkColumnSource.java
  DB/src/main/java/io/deephaven/db/v2/sources/chunkcolumnsource/DoubleChunkColumnSource.java
  DB/src/main/java/io/deephaven/db/v2/sources/chunkcolumnsource/FloatChunkColumnSource.java
  DB/src/main/java/io/deephaven/db/v2/sources/chunkcolumnsource/IntChunkColumnSource.java
  DB/src/main/java/io/deephaven/db/v2/sources/chunkcolumnsource/LongChunkColumnSource.java
  DB/src/main/java/io/deephaven/db/v2/sources/chunkcolumnsource/ObjectChunkColumnSource.java
  DB/src/main/java/io/deephaven/db/v2/sources/chunkcolumnsource/ShortChunkColumnSource.java
  DB/src/main/java/io/deephaven/db/v2/utils/ChunkUtils.java
  DB/src/main/java/io/deephaven/db/v2/utils/unboxer/ByteUnboxer.java
  DB/src/main/java/io/deephaven/db/v2/utils/unboxer/CharUnboxer.java
  DB/src/main/java/io/deephaven/db/v2/utils/unboxer/ChunkUnboxer.java
  DB/src/main/java/io/deephaven/db/v2/utils/unboxer/DoubleUnboxer.java
  DB/src/main/java/io/deephaven/db/v2/utils/unboxer/FloatUnboxer.java
  DB/src/main/java/io/deephaven/db/v2/utils/unboxer/IntUnboxer.java
  DB/src/main/java/io/deephaven/db/v2/utils/unboxer/LongUnboxer.java
  DB/src/main/java/io/deephaven/db/v2/utils/unboxer/ReplicateUnboxerKernel.java
  DB/src/main/java/io/deephaven/db/v2/utils/unboxer/ShortUnboxer.java
  DB/src/main/java/io/deephaven/stream/StreamToTableAdapter.java
  DB/src/test/java/io/deephaven/db/v2/TestStreamTableTools.java
  DB/src/test/java/io/deephaven/stream/TestStreamToTableAdapter.java
  KafkaIngester/KafkaIngester.gradle
  KafkaIngester/src/main/java/io/deephaven/kafka/KafkaTools.java
  KafkaIngester/src/main/java/io/deephaven/kafka/StreamPublisherImpl.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/ByteFieldCopier.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/CharFieldCopier.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/ConsumerRecordToStreamPublisherAdapter.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/ConsumerRecordToTableWriterAdapter.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/DoubleFieldCopier.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/FieldCopier.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/FloatFieldCopier.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/GenericRecordChunkAdapter.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/GenericRecordConsumerRecordToTableWriterAdapter.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/GenericRecordFieldCopier.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/IntFieldCopier.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/JsonConsumerRecordToStreamPublisherAdapter.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/KafkaIngester.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/KeyOrValueProcessor.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/LongFieldCopier.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/ObjectFieldCopier.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/PojoConsumerRecordToStreamPublisherAdapter.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/ReplicateKafka.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/ShortFieldCopier.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/SimpleConsumerRecordToStreamPublisherAdapter.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/SimpleConsumerRecordToTableWriterAdapter.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/StringFieldCopier.java
  KafkaIngester/src/test/java/io/deephaven/kafka/ingest/TestGenericRecordAdapter.java
  KafkaIngester/src/test/java/io/deephaven/kafka/ingest/TestJsonAdapter.java
  KafkaIngester/src/test/java/io/deephaven/kafka/ingest/TestPojoAdapter.java
Labels: kafka, NoDocumentationNeeded

#1010 Switch from recursive to iterative post-order implementation. Add rel…
  qst/src/main/java/io/deephaven/qst/table/ParentsVisitor.java
  qst/src/main/java/io/deephaven/qst/table/TableBase.java
  qst/src/main/java/io/deephaven/qst/table/TableSpec.java
  qst/src/test/java/io/deephaven/qst/table/ParentsVisitorTest.java
Labels: NoDocumentationNeeded, qst

#1027 samples has been moved to deephaven/examples
  samples/Dockerfile
  samples/sample_script.sh
Labels: clean up, NoDocumentationNeeded

#1031 ModifiedColumnSet: utility to set range of columns dirty
  DB/src/main/java/io/deephaven/db/v2/ModifiedColumnSet.java
Labels: query engine, NoDocumentationNeeded

#1029 Support a delegating getChunk implementation on SwitchColumnSource, and associated cleanups
  DB/src/main/java/io/deephaven/db/v2/sources/SwitchColumnSource.java
Labels: query engine, kafka, NoDocumentationNeeded

#1033 BarrageProducer: the subscription lock was replaced with a class level lock
  grpc-api/src/main/java/io/deephaven/grpc_api/barrage/BarrageMessageProducer.java
Labels: bug, barrage, NoDocumentationNeeded

#1032 SessionState: fix NPE caused by cancel/exec race
  grpc-api/src/main/java/io/deephaven/grpc_api/session/SessionState.java
Labels: bug, grpc, NoDocumentationNeeded

#1047 Generate pydoc.
  Integrations/python/deephaven/doc/io/deephaven/db/v2/ModifiedColumnSet.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/StreamTableTools.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/SwitchColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/chunkcolumnsource/ByteChunkColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/chunkcolumnsource/CharChunkColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/chunkcolumnsource/ChunkColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/chunkcolumnsource/DoubleChunkColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/chunkcolumnsource/FloatChunkColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/chunkcolumnsource/IntChunkColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/chunkcolumnsource/LongChunkColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/chunkcolumnsource/ObjectChunkColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/chunkcolumnsource/ShortChunkColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/utils/ChunkUtils.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/utils/unboxer/ChunkUnboxer.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/utils/unboxer/ChunkUnboxer/UnboxerKernel.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/utils/unboxer/ReplicateUnboxerKernel.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/session/SessionService.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/StreamPublisherImpl.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/ByteFieldCopier.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/CharFieldCopier.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/ConsumerRecordToStreamPublisherAdapter.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/DoubleFieldCopier.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/FieldCopier.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/FloatFieldCopier.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/GenericRecordChunkAdapter.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/GenericRecordFieldCopier.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/IntFieldCopier.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/JsonConsumerRecordToStreamPublisherAdapter.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/JsonConsumerRecordToStreamPublisherAdapter/Builder.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/KeyOrValueProcessor.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/LongFieldCopier.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/ObjectFieldCopier.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/PojoConsumerRecordToStreamPublisherAdapter.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/PojoConsumerRecordToStreamPublisherAdapter/Builder.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/ReplicateKafka.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/ShortFieldCopier.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/SimpleConsumerRecordToStreamPublisherAdapter.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/StringFieldCopier.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/ParentsVisitor.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/TableBase.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/TableSpec.json
  Integrations/python/deephaven/doc/io/deephaven/stream/StreamToTableAdapter.json
Labels: NoDocumentationNeeded

#1023 Correctly fail the build when python needs to be regenerated
  Generators/Generators.gradle
Labels: build, NoDocumentationNeeded

#1048 Add a layouts directory adjacent to the notebooks directory
  envoy/contents/envoy.yaml
  web/client-ide/nginx/99-init-notebooks.sh
  web/client-ide/nginx/default.conf
Labels: DocumentationNeeded, application mode

#1044 Query Engine: Port fix for DH-11484 (naturalJoin does not detect duplicates when right table is live and left is static)
  DB/src/main/java/io/deephaven/db/v2/IncrementalChunkedNaturalJoinStateManager.java
  DB/src/main/java/io/deephaven/db/v2/LeftOnlyIncrementalChunkedCrossJoinStateManager.java
  DB/src/main/java/io/deephaven/db/v2/ReplicateHashTable.java
  DB/src/main/java/io/deephaven/db/v2/RightIncrementalChunkedAsOfJoinStateManager.java
  DB/src/main/java/io/deephaven/db/v2/RightIncrementalChunkedCrossJoinStateManager.java
  DB/src/main/java/io/deephaven/db/v2/RightIncrementalChunkedNaturalJoinStateManager.java
  DB/src/main/java/io/deephaven/db/v2/SimpleUniqueStaticNaturalJoinStateManager.java
  DB/src/main/java/io/deephaven/db/v2/StaticChunkedAsOfJoinStateManager.java
  DB/src/main/java/io/deephaven/db/v2/StaticChunkedCrossJoinStateManager.java
  DB/src/main/java/io/deephaven/db/v2/StaticChunkedNaturalJoinStateManager.java
  DB/src/main/java/io/deephaven/db/v2/SymbolTableCombiner.java
  DB/src/main/java/io/deephaven/db/v2/by/IncrementalChunkedByAggregationStateManager.java
  DB/src/main/java/io/deephaven/db/v2/by/IncrementalChunkedOperatorAggregationStateManager.java
  DB/src/main/java/io/deephaven/db/v2/by/StaticChunkedByAggregationStateManager.java
  DB/src/main/java/io/deephaven/db/v2/by/StaticChunkedOperatorAggregationStateManager.java
  DB/src/test/java/io/deephaven/db/v2/QueryTableNaturalJoinTest.java
Labels: bug, query engine, NoDocumentationNeeded, port

#1042 JSAPI: wire up selectDistinct; fixes the select values box in advanced filters
  web/client-api/src/main/java/io/deephaven/web/client/api/JsTable.java
Labels: bug, jsapi, NoDocumentationNeeded

#1050 Fix a bug for no-key streaming aggregations; filter no-op updates
  DB/src/main/java/io/deephaven/db/v2/by/ChunkedOperatorAggregationHelper.java
  DB/src/main/java/io/deephaven/db/v2/by/StreamFirstByChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/utils/WrappedIndexRedirectionIndexImpl.java
  DB/src/test/java/io/deephaven/db/v2/StreamTableAggregationTest.java
Labels: bug, query engine, kafka, NoDocumentationNeeded

#1053 Fixing a bug on handling table_type.
  Generators/src/main/java/io/deephaven/pythonPreambles/KafkaToolsPreamble.txt
  Integrations/python/deephaven/KafkaTools/__init__.py
Labels: kafka, NoDocumentationNeeded

#1057 remove reference to QueryScope and the alias qs, fixes #1056
  Integrations/python/deephaven/__init__.py
Labels: python, NoDocumentationNeeded

#1055 Remove TableTools.colDef and its need from KafkaTools; fix Boolean cols.
  DB/src/main/java/io/deephaven/db/tables/utils/TableTools.java
  DB/src/main/java/io/deephaven/db/v2/utils/rsp/RspBitmap.java
  Generators/src/main/java/io/deephaven/pythonPreambles/KafkaToolsPreamble.txt
  Integrations/python/deephaven/KafkaTools/__init__.py
  Integrations/python/deephaven/TableTools/__init__.py
  Integrations/python/deephaven/conversion_utils.py
  Integrations/python/deephaven/doc/io/deephaven/db/tables/utils/TableTools.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/select/Formula/FillContext.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/select/Formula/GetContext.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/arrow/ArrowFlightUtil.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/arrow/ArrowFlightUtil/DoExchangeMarshaller.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/arrow/ArrowFlightUtil/DoExchangeMarshaller/Factory.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/arrow/ArrowFlightUtil/DoPutObserver.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/arrow/ArrowFlightUtil/MessageInfo.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/arrow/ArrowModule.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/arrow/BrowserFlightServiceGrpcBinding.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/arrow/BrowserFlightServiceGrpcImpl.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/arrow/FlightServiceGrpcBinding.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/arrow/FlightServiceGrpcBinding/BarrageDataMarshaller.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/arrow/FlightServiceGrpcImpl.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/barrage/BarrageClientSubscription.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/barrage/BarrageMessageProducer/StreamGenerator.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/barrage/BarrageStreamGenerator.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/barrage/BarrageStreamGenerator/SchemaView.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/barrage/BarrageStreamGenerator/SubView.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/barrage/BarrageStreamGenerator/View.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/barrage/BarrageStreamReader.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/barrage/util/BarrageSchemaUtil.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/util/BrowserStream.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/util/BrowserStream/Marshaller.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/util/BrowserStream/MessageBase.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/util/BrowserStream/Mode.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/util/GrpcUtil.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/util/UnaryInputStreamMarshaller.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/GenericRecordBooleanFieldCopier.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/JsonNodeBooleanFieldCopier.json
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/GenericRecordBooleanFieldCopier.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/GenericRecordChunkAdapter.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/JsonNodeBooleanFieldCopier.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/JsonNodeChunkAdapter.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/JsonNodeStringFieldCopier.java
  redpanda-apicurio/examples/python/kafka-produce-avro.py
  redpanda/examples/python/kafka-produce.py
Labels: kafka, NoDocumentationNeeded

#1063 Fix an issue with kafka avro ingestion introduced in the last refactoring.
  KafkaIngester/src/main/java/io/deephaven/kafka/KafkaTools.java
Labels: kafka, NoDocumentationNeeded

#1061 Kafka: Support efficient add-only and stream sorted first/last by
  DB/src/main/java/io/deephaven/db/v2/QueryTable.java
  DB/src/main/java/io/deephaven/db/v2/by/AddOnlyMinMaxByStateFactoryImpl.java
  DB/src/main/java/io/deephaven/db/v2/by/BaseStreamFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/BooleanChunkedAddOnlyMinMaxOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/ByteAddOnlySortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/ByteChunkedAddOnlyMinMaxOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/ByteStreamSortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/CharAddOnlySortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/CharChunkedAddOnlyMinMaxOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/CharStreamSortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/ChunkedOperatorAggregationHelper.java
  DB/src/main/java/io/deephaven/db/v2/by/ComboAggregateFactory.java
  DB/src/main/java/io/deephaven/db/v2/by/CopyingPermutedStreamFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/DoubleAddOnlySortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/DoubleChunkedAddOnlyMinMaxOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/DoubleStreamSortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/FirstOrLastByAggregationFactory.java
  DB/src/main/java/io/deephaven/db/v2/by/FloatAddOnlySortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/FloatChunkedAddOnlyMinMaxOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/FloatStreamSortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/IntAddOnlySortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/IntChunkedAddOnlyMinMaxOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/IntStreamSortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/IterativeOperatorStateFactory.java
  DB/src/main/java/io/deephaven/db/v2/by/LongAddOnlySortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/LongChunkedAddOnlyMinMaxOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/LongStreamSortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/MinMaxByStateFactoryImpl.java
  DB/src/main/java/io/deephaven/db/v2/by/ObjectAddOnlySortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/ObjectChunkedAddOnlyMinMaxOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/ObjectStreamSortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/ReplicateOperators.java
  DB/src/main/java/io/deephaven/db/v2/by/ShortAddOnlySortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/ShortChunkedAddOnlyMinMaxOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/ShortStreamSortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/SortedFirstOrLastByAggregationFactory.java
  DB/src/main/java/io/deephaven/db/v2/by/StreamFirstChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/StreamLastChunkedOperator.java
  DB/src/test/java/io/deephaven/db/v2/QueryTableAggregationTest.java
  DB/src/test/java/io/deephaven/db/v2/StreamTableAggregationTest.java
  DB/src/test/java/io/deephaven/db/v2/TestConcurrentInstantiation.java
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/AddOnlyMinMaxByStateFactoryImpl.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/MinMaxByStateFactoryImpl.json
Labels: query engine, kafka, NoDocumentationNeeded

#1051 Table creator helpers
  DB/src/main/java/io/deephaven/db/tables/OperationsToTableImpl.java
  DB/src/main/java/io/deephaven/db/tables/Table.java
  DB/src/main/java/io/deephaven/db/tables/TableCreationImpl.java
  DB/src/main/java/io/deephaven/db/tables/TableCreatorImpl.java
  DB/src/main/java/io/deephaven/db/tables/TableToOperationsImpl.java
  qst/src/main/java/io/deephaven/qst/TableAdapterImpl.java
  qst/src/main/java/io/deephaven/qst/TableCreation.java
  qst/src/main/java/io/deephaven/qst/TableCreator.java
  qst/src/main/java/io/deephaven/qst/table/NewTable.java
  qst/src/main/java/io/deephaven/qst/table/OperationsToTableImpl.java
  qst/src/main/java/io/deephaven/qst/table/TableCreatorImpl.java
  qst/src/main/java/io/deephaven/qst/table/TableSpec.java
  qst/src/main/java/io/deephaven/qst/table/TableToOperationsImpl.java
  qst/src/main/java/io/deephaven/qst/table/TimeTable.java
  qst/src/test/java/io/deephaven/qst/table/ParentsVisitorTest.java
  qst/src/test/java/io/deephaven/qst/table/TableCreatorImplTest.java
Labels: java-api-basic, NoDocumentationNeeded

#1066 Fix a bug in the handling of keyword arguments for consumeToTable impacting avro.
  Generators/src/main/java/io/deephaven/pythonPreambles/KafkaToolsPreamble.txt
  Integrations/python/deephaven/KafkaTools/__init__.py
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/BaseStreamFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/ByteAddOnlySortedFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/ByteStreamSortedFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/CharAddOnlySortedFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/CharStreamSortedFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/CopyingPermutedStreamFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/DoubleAddOnlySortedFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/DoubleStreamSortedFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/FloatAddOnlySortedFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/FloatStreamSortedFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/IntAddOnlySortedFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/IntStreamSortedFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/LongAddOnlySortedFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/LongStreamSortedFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/ObjectAddOnlySortedFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/ObjectStreamSortedFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/ShortAddOnlySortedFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/ShortStreamSortedFirstOrLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/StreamFirstChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/by/StreamLastChunkedOperator.json
  Integrations/python/deephaven/doc/io/deephaven/qst/TableCreator.json
  Integrations/python/deephaven/doc/io/deephaven/qst/TableCreator/OperationsToTable.json
  Integrations/python/deephaven/doc/io/deephaven/qst/TableCreator/TableToOperations.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/TableCreatorImpl.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/TableSpec.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/TimeTable.json
Labels: kafka, NoDocumentationNeeded

#938 expose ABS_SUM aggregation to the web API
  web/WebDevelopersGuide.md
  web/client-api/src/main/java/io/deephaven/web/client/api/JsTotalsTableConfig.java
  web/client-api/src/main/java/io/deephaven/web/client/api/tree/enums/JsAggregationOperation.java
Labels: NoDocumentationNeeded

#1059 Propagate errors from Kafka to tables.
  DB/src/main/java/io/deephaven/db/v2/NaturalJoinHelper.java
  DB/src/main/java/io/deephaven/stream/StreamConsumer.java
  DB/src/main/java/io/deephaven/stream/StreamFailureConsumer.java
  DB/src/main/java/io/deephaven/stream/StreamToTableAdapter.java
  KafkaIngester/src/main/java/io/deephaven/kafka/KafkaTools.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/KafkaIngester.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/KafkaStreamConsumer.java
Labels: kafka, NoDocumentationNeeded

#1071 Enhance listener error checking in TestKeyedArrayBackedMutableTable
  DB/src/test/java/io/deephaven/db/v2/utils/TestKeyedArrayBackedMutableTable.java
Labels: bug, query engine, NoDocumentationNeeded

#1075 docker version
  README.md
Labels: documentation, NoDocumentationNeeded

#1064 New KafkaTools.consumeToTable general API.
  Generators/src/main/java/io/deephaven/python/PythonStaticGenerator.java
  Generators/src/main/java/io/deephaven/pythonPreambles/KafkaToolsPreamble.txt
  Integrations/python/deephaven/KafkaTools/__init__.py
  Integrations/python/deephaven/conversion_utils.py
  Integrations/python/deephaven/doc/io/deephaven/kafka/KafkaTools.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/KafkaTools/DataFormat.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/KafkaTools/KeyOrValue.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/KafkaTools/KeyOrValueSpec.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/KafkaTools/KeyOrValueSpec/Avro.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/KafkaTools/KeyOrValueSpec/Ignore.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/KafkaTools/KeyOrValueSpec/Json.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/KafkaTools/KeyOrValueSpec/Simple.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/JsonNodeChunkAdapter.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/KafkaStreamConsumer.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/KafkaStreamPublisher.json
  Integrations/python/deephaven/doc/io/deephaven/stream/StreamFailureConsumer.json
  Integrations/python/deephaven/doc/io/deephaven/stream/StreamToTableAdapter.json
  Integrations/src/main/java/io/deephaven/integrations/python/PythonTools.java
  KafkaIngester/src/main/java/io/deephaven/kafka/KafkaTools.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/FieldCopier.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/GenericRecordChunkAdapter.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/JsonNodeChunkAdapter.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/KafkaStreamPublisher.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/MultiFieldChunkAdapter.java
  KafkaIngester/src/test/java/io/deephaven/kafka/KafkaToolsTest.java
  redpanda-apicurio/examples/avro/share_price.json
  redpanda-apicurio/examples/python/kafka-produce-avro.py
Labels: kafka, NoDocumentationNeeded

#1077 Run DB:replicate
  DB/src/main/java/io/deephaven/db/v2/by/ByteAddOnlySortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/DoubleAddOnlySortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/FloatAddOnlySortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/IntAddOnlySortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/LongAddOnlySortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/ObjectAddOnlySortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/by/ShortAddOnlySortedFirstOrLastChunkedOperator.java
  DB/src/main/java/io/deephaven/db/v2/ssms/ObjectSegmentedSortedMultiset.java
  DB/src/test/java/io/deephaven/db/v2/sources/deltaaware/TestBooleanDeltaAwareColumnSource.java
Labels: clean up, NoDocumentationNeeded

#1067 Fix bugs and missing files preventing Java2NumpyCopyTests from compiling.
  Integrations/build.gradle
  Integrations/src/main/java/io/deephaven/integrations/numpy/Java2NumpyCopy.java
  Integrations/src/test/java/io/deephaven/integrations/numpy/Java2NumpyCopyTest.java
  Integrations/src/test/java/io/deephaven/integrations/numpy/dh.jpg
  Integrations/src/test/java/io/deephaven/integrations/numpy/quadrant1.jpg
  Integrations/src/test/java/io/deephaven/integrations/numpy/quadrant2.png
Labels: bug, test, NoDocumentationNeeded

#1081 Move away from using **kwargs in python Kafka API.
  Generators/src/main/java/io/deephaven/pythonPreambles/KafkaToolsPreamble.txt
  Integrations/python/deephaven/KafkaTools/__init__.py
  Integrations/python/deephaven/conversion_utils.py
Labels: kafka, NoDocumentationNeeded

#1079 TableMap support in KafkaTools
  Generators/src/main/java/io/deephaven/pythonPreambles/KafkaToolsPreamble.txt
  Integrations/python/deephaven/KafkaTools/__init__.py
  Integrations/python/deephaven/doc/io/deephaven/db/v2/SortOperation.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/AbstractLongArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/AbstractSparseLongArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/ArrayBackedColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/BooleanArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/BooleanSparseArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/ByteArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/ByteSparseArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/CharacterArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/CharacterSparseArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/DoubleArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/DoubleSparseArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/FloatArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/FloatSparseArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/IntegerArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/IntegerSparseArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/ObjectArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/ObjectSparseArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/RedirectedColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/ShortArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/ShortSparseArraySource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/SingleValueColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/UnboxedDateTimeWritableSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/WritableSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/chunkcolumnsource/ByteChunkColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/chunkcolumnsource/CharChunkColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/chunkcolumnsource/DoubleChunkColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/chunkcolumnsource/FloatChunkColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/chunkcolumnsource/IntChunkColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/chunkcolumnsource/LongChunkColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/chunkcolumnsource/ObjectChunkColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/chunkcolumnsource/ShortChunkColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/sources/deltaaware/DeltaAwareColumnSource.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/utils/LongColumnSourceRedirectionIndex.json
  Integrations/python/deephaven/doc/io/deephaven/db/v2/utils/ReadOnlyLongColumnSourceRedirectionIndex.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/KafkaTools.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/KafkaTools/TableType.json
  KafkaIngester/src/main/java/io/deephaven/kafka/KafkaTools.java
  redpanda-apicurio/examples/python/kafka-produce-avro.py
  redpanda/examples/python/kafka-produce.py
Labels: query engine, kafka, DocumentationNeeded

#1086 JS API Error handling
  grpc-api/src/main/java/io/deephaven/grpc_api/arrow/ArrowFlightUtil.java
  grpc-api/src/main/java/io/deephaven/grpc_api/console/ConsoleServiceGrpcImpl.java
  grpc-api/src/main/java/io/deephaven/grpc_api/session/SessionState.java
  grpc-api/src/main/java/io/deephaven/grpc_api/util/BrowserStream.java
  grpc-api/src/main/java/io/deephaven/grpc_api/util/GrpcUtil.java
  web/client-api/src/main/java/io/deephaven/web/client/api/QueryConnectable.java
  web/client-api/src/main/java/io/deephaven/web/client/api/WorkerConnection.java
  web/client-api/src/main/java/io/deephaven/web/client/api/batch/RequestBatcher.java
Labels: jsapi, grpc, NoDocumentationNeeded

#1090 Add support for converting stream tables to append from python.
  Generators/src/main/java/io/deephaven/pythonPreambles/KafkaToolsPreamble.txt
  Integrations/python/deephaven/KafkaTools/__init__.py
Labels: kafka, NoDocumentationNeeded

#974 First iteration of Learn library
  Integrations/python/deephaven/learn/__init__.py
  Integrations/python/setup.py
  Integrations/src/main/java/io/deephaven/integrations/learn/Computer.java
  Integrations/src/main/java/io/deephaven/integrations/learn/Future.java
  Integrations/src/main/java/io/deephaven/integrations/learn/FutureOffset.java
  Integrations/src/main/java/io/deephaven/integrations/learn/IndexSet.java
  Integrations/src/main/java/io/deephaven/integrations/learn/Input.java
  Integrations/src/main/java/io/deephaven/integrations/learn/Output.java
  Integrations/src/main/java/io/deephaven/integrations/learn/Scatterer.java
  Integrations/src/main/java/io/deephaven/integrations/python/PythonFunction.java
  Integrations/src/main/java/io/deephaven/integrations/python/PythonFunctionCaller.java
  Integrations/src/main/java/io/deephaven/integrations/python/PythonUtilities.java
  Integrations/src/test/java/io/deephaven/integrations/learn/ComputerTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/FutureStuffTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/FutureTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/IndexSetTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/InputTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/OutputTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/ScattererTest.java
Labels: feature request, DocumentationNeeded

#1096 Revert "First iteration of Learn library"
  Integrations/python/deephaven/learn/__init__.py
  Integrations/python/setup.py
  Integrations/src/main/java/io/deephaven/integrations/learn/Computer.java
  Integrations/src/main/java/io/deephaven/integrations/learn/Future.java
  Integrations/src/main/java/io/deephaven/integrations/learn/FutureOffset.java
  Integrations/src/main/java/io/deephaven/integrations/learn/IndexSet.java
  Integrations/src/main/java/io/deephaven/integrations/learn/Input.java
  Integrations/src/main/java/io/deephaven/integrations/learn/Output.java
  Integrations/src/main/java/io/deephaven/integrations/learn/Scatterer.java
  Integrations/src/main/java/io/deephaven/integrations/python/PythonFunction.java
  Integrations/src/main/java/io/deephaven/integrations/python/PythonFunctionCaller.java
  Integrations/src/main/java/io/deephaven/integrations/python/PythonUtilities.java
  Integrations/src/test/java/io/deephaven/integrations/learn/ComputerTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/FutureStuffTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/FutureTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/IndexSetTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/InputTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/OutputTest.java
  Integrations/src/test/java/io/deephaven/integrations/learn/ScattererTest.java
Labels: python, NoDocumentationNeeded

#1092 Properly use liveness API for dynamic non-refreshing nodes in SessionState exports
  grpc-api/src/main/java/io/deephaven/grpc_api/arrow/ArrowFlightUtil.java
  grpc-api/src/main/java/io/deephaven/grpc_api/session/SessionState.java
Labels: bug, grpc, NoDocumentationNeeded, release blocker

#1098 CrossJoin cardinality calculation may overflow integer
  DB/src/main/java/io/deephaven/db/v2/CrossJoinHelper.java
Labels: bug, query engine, NoDocumentationNeeded

#1095 Force jvm to load class in desired package
  DB/src/test/java/io/deephaven/db/tables/lang/TestDBLanguageParser.java
Labels: bug, test, NoDocumentationNeeded

#1099 rerun ./gradlew :DB:replicate
  DB/src/main/java/io/deephaven/db/tables/dbarrays/DbDoubleArray.java
  DB/src/main/java/io/deephaven/db/tables/dbarrays/DbFloatArray.java
  DB/src/main/java/io/deephaven/db/tables/dbarrays/DbIntArray.java
  DB/src/main/java/io/deephaven/db/tables/dbarrays/DbLongArray.java
  DB/src/main/java/io/deephaven/db/tables/dbarrays/DbShortArray.java
Labels: clean up, NoDocumentationNeeded

#1103 Add support for seek to end to Kafka API.
  Generators/src/main/java/io/deephaven/pythonPreambles/KafkaToolsPreamble.txt
  Integrations/python/deephaven/KafkaTools/__init__.py
  Integrations/python/deephaven/doc/io/deephaven/db/tables/ColumnDefinition.json
  Integrations/python/deephaven/doc/io/deephaven/db/tables/dbarrays/DbArray.json
  Integrations/python/deephaven/doc/io/deephaven/db/tables/dbarrays/DbBooleanArray.json
  Integrations/python/deephaven/doc/io/deephaven/db/tables/dbarrays/DbByteArray.json
  Integrations/python/deephaven/doc/io/deephaven/db/tables/dbarrays/DbCharArray.json
  Integrations/python/deephaven/doc/io/deephaven/db/tables/dbarrays/DbDoubleArray.json
  Integrations/python/deephaven/doc/io/deephaven/db/tables/dbarrays/DbFloatArray.json
  Integrations/python/deephaven/doc/io/deephaven/db/tables/dbarrays/DbIntArray.json
  Integrations/python/deephaven/doc/io/deephaven/db/tables/dbarrays/DbLongArray.json
  Integrations/python/deephaven/doc/io/deephaven/db/tables/dbarrays/DbShortArray.json
  Integrations/python/deephaven/doc/io/deephaven/qst/array/Array.json
  Integrations/python/deephaven/doc/io/deephaven/qst/array/BooleanArray.json
  Integrations/python/deephaven/doc/io/deephaven/qst/array/ByteArray.json
  Integrations/python/deephaven/doc/io/deephaven/qst/array/CharArray.json
  Integrations/python/deephaven/doc/io/deephaven/qst/array/DoubleArray.json
  Integrations/python/deephaven/doc/io/deephaven/qst/array/FloatArray.json
  Integrations/python/deephaven/doc/io/deephaven/qst/array/GenericArray.json
  Integrations/python/deephaven/doc/io/deephaven/qst/array/GenericArray/Builder.json
  Integrations/python/deephaven/doc/io/deephaven/qst/array/IntArray.json
  Integrations/python/deephaven/doc/io/deephaven/qst/array/LongArray.json
  Integrations/python/deephaven/doc/io/deephaven/qst/array/PrimitiveArray.json
  Integrations/python/deephaven/doc/io/deephaven/qst/array/ShortArray.json
  Integrations/python/deephaven/doc/io/deephaven/qst/column/header/ColumnHeader.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/ArrayType.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/ArrayType/Visitor.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/ArrayTypeBase.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/BooleanType.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/ByteType.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/CharType.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/ColumnTypeBase.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/CustomType.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/DbGenericArrayType.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/DbPrimitiveArrayType.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/DoubleType.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/FloatType.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/GenericType/Visitor.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/GenericTypeBase.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/InstantType.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/IntType.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/LongType.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/NativeArrayType.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/PrimitiveType.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/ShortType.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/StringType.json
  Integrations/python/deephaven/doc/io/deephaven/qst/type/Type.json
  KafkaIngester/src/main/java/io/deephaven/kafka/KafkaTools.java
  KafkaIngester/src/main/java/io/deephaven/kafka/ingest/KafkaIngester.java
Labels: kafka, NoDocumentationNeeded

#1109 Fix a bug for the implementation of simple in the python side of KafkaTools.
  Generators/src/main/java/io/deephaven/pythonPreambles/KafkaToolsPreamble.txt
  Integrations/python/deephaven/KafkaTools/__init__.py
Labels: kafka, NoDocumentationNeeded

#1088 Adding Types.py for wrapping DH column types and table operations around them.
  DB/src/main/java/io/deephaven/db/tables/utils/TableTools.java
  Generators/src/main/java/io/deephaven/pythonPreambles/KafkaToolsPreamble.txt
  Integrations/python/deephaven/KafkaTools/__init__.py
  Integrations/python/deephaven/Types.py
  Integrations/python/deephaven/doc/io/deephaven/qst/column/Column.json
  qst/src/main/java/io/deephaven/qst/column/Column.java
  table-api/build.gradle
  web/client-api/src/main/java/io/deephaven/web/client/api/csv/CsvTypeParser.java
Labels: python, NoDocumentationNeeded

#1110 Rename KafkaIngester module to Kafka.
  CompilerTools/src/main/java/io/deephaven/compilertools/ReplicatePrimitiveCode.java
  Generators/Generators.gradle
  Integrations/build.gradle
  Kafka/Kafka.gradle
  Kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
  Kafka/src/main/java/io/deephaven/kafka/StreamPublisherImpl.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/ConsumerRecordToStreamPublisherAdapter.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/FieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/GenericRecordBooleanFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/GenericRecordByteFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/GenericRecordCharFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/GenericRecordChunkAdapter.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/GenericRecordDoubleFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/GenericRecordFloatFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/GenericRecordIntFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/GenericRecordLongFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/GenericRecordLongFieldCopierWithMultiplier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/GenericRecordObjectFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/GenericRecordShortFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/GenericRecordStringFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/JsonNodeBooleanFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/JsonNodeByteFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/JsonNodeCharFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/JsonNodeChunkAdapter.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/JsonNodeDoubleFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/JsonNodeFloatFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/JsonNodeIntFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/JsonNodeLongFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/JsonNodeShortFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/JsonNodeStringFieldCopier.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/JsonNodeUtil.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/KafkaIngester.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/KafkaIngesterException.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/KafkaStreamConsumer.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/KafkaStreamPublisher.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/KeyOrValueProcessor.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/MultiFieldChunkAdapter.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/ReplicateKafka.java
  Kafka/src/test/java/io/deephaven/kafka/KafkaToolsTest.java
  Kafka/src/test/java/io/deephaven/kafka/ingest/TestAvroAdapter.java
  Kafka/src/test/resources/avro-examples/PrivacyImport.avsc
  Kafka/src/test/resources/avro-examples/User.avsc
  Kafka/src/test/resources/avro-examples/fieldtest.avsc
  Kafka/src/test/resources/avro-examples/nullablefield.avsc
  Kafka/src/test/resources/avro-examples/pageviews.avc
  Kafka/src/test/resources/avro-examples/player.avsc
  Kafka/src/test/resources/avro-examples/position.avsc
  Kafka/src/test/resources/avro-examples/users.avc
  Kafka/src/test/resources/avro-examples/withmaps.avsc
  build.gradle
  classpaths.gradle
  grpc-api/grpc-api.gradle
  settings.gradle
Labels: kafka, NoDocumentationNeeded

#1115 Fix .gitignore rules
  .gitignore
Labels: bug, NoDocumentationNeeded

#1117 Add DynamicTableWriter to the deephaven module
  Integrations/python/deephaven/TableManipulation/__init__.py
  Integrations/python/deephaven/__init__.py
Labels: size:1, python, NoDocumentationNeeded

#1118 Update CONTRIBUTING.md for styleguide
  CONTRIBUTING.md
Labels: clean up, NoDocumentationNeeded

#1034 Downgrade Alpine to avoid a DNS issue on older mac docker installs
  grpc-proxy/Dockerfile
Labels: docker, NoDocumentationNeeded

#1094 Deephaven Python API MVP
  .gitignore
  pyclient/README.md
  pyclient/docs/Makefile
  pyclient/docs/make.bat
  pyclient/docs/source/_static/custom.css
  pyclient/docs/source/conf.py
  pyclient/docs/source/index.rst
  pyclient/docs/source/modules.rst
  pyclient/docs/source/pydeephaven.rst
  pyclient/pydeephaven/__init__.py
  pyclient/pydeephaven/_arrow_flight_service.py
  pyclient/pydeephaven/_batch_assembler.py
  pyclient/pydeephaven/_combo_aggs.py
  pyclient/pydeephaven/_console_service.py
  pyclient/pydeephaven/_session_service.py
  pyclient/pydeephaven/_table_interface.py
  pyclient/pydeephaven/_table_ops.py
  pyclient/pydeephaven/_table_service.py
  pyclient/pydeephaven/constants.py
  pyclient/pydeephaven/dherror.py
  pyclient/pydeephaven/proto/__init__.py
  pyclient/pydeephaven/proto/console_pb2.py
  pyclient/pydeephaven/proto/console_pb2_grpc.py
  pyclient/pydeephaven/proto/session_pb2.py
  pyclient/pydeephaven/proto/session_pb2_grpc.py
  pyclient/pydeephaven/proto/table_pb2.py
  pyclient/pydeephaven/proto/table_pb2_grpc.py
  pyclient/pydeephaven/proto/ticket_pb2.py
  pyclient/pydeephaven/proto/ticket_pb2_grpc.py
  pyclient/pydeephaven/query.py
  pyclient/pydeephaven/session.py
  pyclient/pydeephaven/table.py
  pyclient/requirements.txt
  pyclient/setup.py
  pyclient/tests/gen_test_data.py
  pyclient/tests/suite.py
  pyclient/tests/test_console.py
  pyclient/tests/test_query.py
  pyclient/tests/test_session.py
  pyclient/tests/test_table.py
  pyclient/tests/testbase.py
Labels: python, DocumentationNeeded

#1148 Adding Javadoc to KafkaTools.java. Closes #1122
  Kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
Labels: NoDocumentationNeeded

#1154 Updating web UI to v0.3.0
  web/client-ui/Dockerfile
Labels: web-client-ui, DocumentationNeeded, application mode

#1161 Update all .env files
  .env
  redpanda-apicurio/.env
  redpanda/.env
Labels: NoDocumentationNeeded

#1159 fixed a compatibilty issue in the Python client due to the latest cha…
  pyclient/pydeephaven/_session_service.py
  pyclient/pydeephaven/proto/session_pb2.py
  pyclient/pydeephaven/proto/session_pb2_grpc.py
  pyclient/tests/test_query.py
  pyclient/tests/test_table.py
Labels: DocumentationNeeded

#1014 Improved validations for comboagg grpc request
  grpc-api/src/main/java/io/deephaven/grpc_api/table/ops/ComboAggregateGrpcImpl.java
Labels: grpc, NoDocumentationNeeded

#1164 Update web to v0.3.1
  web/client-ui/Dockerfile
Labels: NoDocumentationNeeded

#1165 Use the correct location (Classpaths.groovy) to declare which java parser version
  DB/DB.gradle
  buildSrc/src/main/groovy/Classpaths.groovy
  classpaths.gradle
Labels: build, NoDocumentationNeeded

#1058 add compose files for standalone docker containers
  .gitignore
  containers/groovy-examples/docker-compose.yml
  containers/groovy/docker-compose.yml
  containers/python-examples/docker-compose.yml
  containers/python/docker-compose.yml
  docker-compose-common.yml
  docker/README.md
Labels: NoDocumentationNeeded

#1160 Add python documentation for Kafka integration.
  Generators/src/main/java/io/deephaven/pythonPreambles/KafkaToolsPreamble.txt
  Integrations/python/deephaven/KafkaTools/__init__.py
Labels: python, kafka, NoDocumentationNeeded

#1166 ScriptSession#setVariable require subclasses to notify old vs new Value
  DB/src/main/java/io/deephaven/db/util/AbstractScriptSession.java
  DB/src/main/java/io/deephaven/db/util/DelegatingScriptSession.java
  DB/src/main/java/io/deephaven/db/util/GroovyDeephavenSession.java
  DB/src/main/java/io/deephaven/db/util/NoLanguageDeephavenSession.java
  DB/src/main/java/io/deephaven/db/util/PythonDeephavenSession.java
  DB/src/main/java/io/deephaven/db/util/ScalaDeephavenSession.java
  DB/src/main/java/io/deephaven/db/util/ScriptSession.java
Labels: bug, grpc, NoDocumentationNeeded, release blocker

#1169 Remove files that should have been never added.
  Integrations/docker-compose.yml~
  Integrations/python/test/testKafkaTools.py~
Labels: NoDocumentationNeeded

#1149 Add publishing for java-client jars and dependencies, fixes #1126
  .github/workflows/publish-ci.yml
  build.gradle
  buildSrc/src/main/groovy/io.deephaven.java-conventions.gradle
  buildSrc/src/main/groovy/io.deephaven.java-publishing-conventions.gradle
  buildSrc/src/main/groovy/io/deephaven/tools/License.groovy
  java-client/flight-dagger/build.gradle
  java-client/flight-examples/README.md
  java-client/flight-examples/build.gradle
  java-client/flight/build.gradle
  java-client/flight/src/main/java/io/deephaven/client/impl/FlightSessionFactory.java
  java-client/flight/src/main/java/io/deephaven/client/impl/SessionMiddleware.java
  java-client/session-dagger/build.gradle
  java-client/session-examples/README.md
  java-client/session-examples/build.gradle
  java-client/session/build.gradle
  proto/proto-backplane-grpc-util/build.gradle
  proto/proto-backplane-grpc/build.gradle
  qst/build.gradle
  qst/src/main/java/io/deephaven/annotations/AllowNulls.java
  settings.gradle
  table-api/build.gradle
  table-api/src/main/java/io/deephaven/api/filter/FilterCondition.java
Labels: ci, NoDocumentationNeeded

#1156 Add execute script support for java client
  java-client/session-dagger/src/main/java/io/deephaven/client/SessionSubcomponent.java
  java-client/session-examples/build.gradle
  java-client/session-examples/src/main/java/io/deephaven/client/examples/ConsoleExampleBase.java
  java-client/session-examples/src/main/java/io/deephaven/client/examples/ExecuteCode.java
  java-client/session-examples/src/main/java/io/deephaven/client/examples/ExecuteScript.java
  java-client/session-examples/src/main/java/io/deephaven/client/examples/PublishTables.java
  java-client/session-examples/src/main/java/io/deephaven/client/examples/SingleSessionExampleBase.java
  java-client/session-examples/src/main/java/io/deephaven/client/examples/TableManagerExample.java
  java-client/session-examples/src/main/java/io/deephaven/client/examples/TaintedExample.java
  java-client/session/src/main/java/io/deephaven/client/impl/ConsoleSession.java
  java-client/session/src/main/java/io/deephaven/client/impl/ExportStates.java
  java-client/session/src/main/java/io/deephaven/client/impl/ExportTicketCreator.java
  java-client/session/src/main/java/io/deephaven/client/impl/Session.java
  java-client/session/src/main/java/io/deephaven/client/impl/SessionImpl.java
  java-client/session/src/main/java/io/deephaven/client/impl/SessionImplConfig.java
  java-client/session/src/main/java/io/deephaven/client/impl/script/Changes.java
  java-client/session/src/main/java/io/deephaven/client/impl/script/VariableDefinition.java
  java-client/session/src/test/java/io/deephaven/client/impl/ExportStatesTest.java
Labels: NoDocumentationNeeded, java-client

#1173 Properly ignore non-refreshing dynamic nodes; fix jsapi getObject to wait for Ticket
  grpc-api/src/main/java/io/deephaven/grpc_api/console/ConsoleServiceGrpcImpl.java
  grpc-api/src/main/java/io/deephaven/grpc_api/session/SessionState.java
  web/client-api/src/main/java/io/deephaven/ide/shared/IdeSession.java
  web/client-api/src/main/java/io/deephaven/web/client/api/WorkerConnection.java
  web/client-api/src/main/java/io/deephaven/web/client/api/console/JsVariableDefinition.java
Labels: bug, grpc, NoDocumentationNeeded, release blocker

#1168 Added python tests for every Kafka spec type. Closes #1123.
  Integrations/build.gradle
  Integrations/docker-compose.yml
  Integrations/python/test/testKafkaTools.py
Labels: python, kafka, NoDocumentationNeeded
