Repository deephaven/deephaven-core, pull requests merged in 2021-10, with the labels that each got.

#1374 Add support for java client doPut against NewTable.
  java-client/flight-dagger/src/test/java/io/deephaven/client/DeephavenFlightSessionTest.java
  java-client/flight-dagger/src/test/java/io/deephaven/client/DeephavenFlightSessionTestBase.java
  java-client/flight-examples/build.gradle
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/DoPutTable.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/FlightExampleBase.java
  java-client/flight/src/main/java/io/deephaven/client/impl/FieldAdapter.java
  java-client/flight/src/main/java/io/deephaven/client/impl/FlightSession.java
  java-client/flight/src/main/java/io/deephaven/client/impl/VectorHelper.java
  java-client/flight/src/main/java/io/deephaven/client/impl/VectorSchemaRootAdapter.java
Labels: NoDocumentationNeeded, arrow, java-client

#1387 Fix handling for non-dictionary pages in dictionary chunks
  Parquet/src/main/java/io/deephaven/parquet/ColumnChunkReaderImpl.java
Labels: bug, parquet, NoDocumentationNeeded

#1378 created the basic project structure, automated build, installation and testing, fixes #1294
  Integrations/build.gradle
  Integrations/python/Dockerfile
  pyintegration/README.md
  pyintegration/deephaven2/__init__.py
  pyintegration/deephaven2/utils/__init__.py
  pyintegration/deephaven2/utils/start_jvm.py
  pyintegration/setup.py
  pyintegration/tests/__init__.py
  pyintegration/tests/bootstrap.py
  pyintegration/tests/test_script_session.py
  pyintegration/tests/testbase.py
Labels: python, NoDocumentationNeeded

#1361 Added CsvSpecs and readCsv for CsvSpecs.
  DB/DB.gradle
  DB/src/main/java/io/deephaven/db/tables/utils/CsvHelpers.java
  DB/src/main/java/io/deephaven/db/tables/utils/CsvParserFormat.java
  DB/src/main/java/io/deephaven/db/tables/utils/PathUtil.java
  DB/src/main/java/io/deephaven/db/tables/utils/TableTools.java
  DB/src/main/java/io/deephaven/db/tables/utils/csv/CsvSpecs.java
  DB/src/main/java/io/deephaven/db/tables/utils/csv/InferenceSpecs.java
  DB/src/main/java/io/deephaven/db/tables/utils/csv/Parser.java
  DB/src/test/java/io/deephaven/db/tables/utils/TestParquetTools.java
  DB/src/test/java/io/deephaven/db/tables/utils/TestTableTools.java
  DB/src/test/java/io/deephaven/db/tables/utils/csv/CsvTest.java
  DB/src/test/java/io/deephaven/db/tables/utils/csv/InferenceTest.java
  DB/src/test/java/io/deephaven/db/v2/locations/impl/TestKeyValuePartitionLayout.java
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/bools.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/byte.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/chars.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/doubles.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/floats.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/int.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/language-example-headerless.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/language-example.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/language-example.tsv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/long.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/short.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/strings-pound.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/strings.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/timestamp-db.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/timestamp-micros.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/timestamp-millis.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/timestamp-mixed.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/timestamp-nanos.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/timestamp-seconds.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/timestamp.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/whitespace-inside-and-outside.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/whitespace-inside.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/whitespace-no-quotes.csv
  DB/src/test/resources/io/deephaven/db/tables/utils/csv/whitespace-outside.csv
  Util/src/main/java/io/deephaven/util/progress/MinProcessStatus.java
  Util/src/main/java/io/deephaven/util/progress/ProcessStatusSubrange.java
  Util/src/main/java/io/deephaven/util/progress/ProgressLogger.java
  Util/src/main/java/io/deephaven/util/progress/StatusCallback.java
  qst/src/main/java/io/deephaven/qst/column/Column.java
  qst/src/main/java/io/deephaven/qst/column/header/ColumnHeader.java
  qst/src/main/java/io/deephaven/qst/table/NewTable.java
  qst/src/main/java/io/deephaven/qst/table/TableHeader.java
  table-api/src/main/java/io/deephaven/api/ColumnName.java
  table-api/src/main/java/io/deephaven/db/tables/utils/NameValidator.java
Labels: feature request, java, DocumentationNeeded

#1198 Update git clone instructions to use https instead of git (the latter…
  cpp-client/README.md
Labels: clean up, NoDocumentationNeeded

#1365 [envoy] route websockets to grpc-proxy and everything else to grpc_api
  envoy/contents/envoy.yaml
Labels: build, DocumentationNeeded

#1500 [parser] fix NPE when casting null to a type
  DB/src/main/java/io/deephaven/db/util/AbstractScriptSession.java
  DB/src/main/java/io/deephaven/db/util/GroovyDeephavenSession.java
  DB/src/main/java/io/deephaven/db/util/NoLanguageDeephavenSession.java
  DB/src/main/java/io/deephaven/db/util/PythonDeephavenSession.java
  DB/src/main/java/io/deephaven/db/util/ScalaDeephavenSession.java
  DB/src/main/java/io/deephaven/db/v2/select/DhFormulaColumn.java
  DB/src/test/java/io/deephaven/db/util/scripts/TestGroovyDeephavenSession.java
Labels: bug, query engine, NoDocumentationNeeded, repl

#1494 Upgrade runtime images to JDK17, fixes #1369
  DB-test/build.gradle
  buildSrc/src/main/groovy/io.deephaven.java-conventions.gradle
  buildSrc/src/main/groovy/io.deephaven.java-open-nio.gradle
  grpc-api/server/docker/build.gradle
  py/jpy-integration/build.gradle
  py/jpy/Dockerfile
Labels: java, DocumentationNeeded

#1495 Upgrade application target from JDK8 -> JDK11
  .github/workflows/build-ci.yml
  .github/workflows/check-ci.yml
  .github/workflows/docs-ci.yml
  .github/workflows/long-check-ci.yml
  .github/workflows/nightly-benchmarks.yml
  .github/workflows/nightly-check-ci.yml
  .github/workflows/publish-ci.yml
  Util/util-immutables/gradle.properties
  buildSrc/src/main/groovy/io.deephaven.java-conventions.gradle
Labels: java, DocumentationNeeded

#1505 Upload JVM error logs if present on CI failure
  .github/workflows/check-ci.yml
  .github/workflows/long-check-ci.yml
  .github/workflows/nightly-check-ci.yml
Labels: ci, NoDocumentationNeeded
