Repository deephaven/deephaven-core, pull requests merged in 2021-09, with the labels that each got.

#1174 Improve Ticket/Descriptor error messages for all gRPC usages
  grpc-api-client/console/src/main/java/io/deephaven/grpc_api/example/ConsoleClient.java
  grpc-api-client/simple/src/main/java/io/deephaven/grpc_api/example/SimpleDeephavenClient.java
  grpc-api/src/flightTest/java/io/deephaven/grpc_api/flight/FlightMessageRoundTripTest.java
  grpc-api/src/main/java/io/deephaven/grpc_api/appmode/ApplicationTicketResolver.java
  grpc-api/src/main/java/io/deephaven/grpc_api/arrow/ArrowFlightUtil.java
  grpc-api/src/main/java/io/deephaven/grpc_api/arrow/FlightServiceGrpcImpl.java
  grpc-api/src/main/java/io/deephaven/grpc_api/browserstreaming/BrowserStreamInterceptor.java
  grpc-api/src/main/java/io/deephaven/grpc_api/console/ConsoleServiceGrpcImpl.java
  grpc-api/src/main/java/io/deephaven/grpc_api/console/ScopeTicketResolver.java
  grpc-api/src/main/java/io/deephaven/grpc_api/session/ExportTicketResolver.java
  grpc-api/src/main/java/io/deephaven/grpc_api/session/SessionServiceGrpcImpl.java
  grpc-api/src/main/java/io/deephaven/grpc_api/session/SessionState.java
  grpc-api/src/main/java/io/deephaven/grpc_api/session/TicketResolver.java
  grpc-api/src/main/java/io/deephaven/grpc_api/session/TicketRouter.java
  grpc-api/src/main/java/io/deephaven/grpc_api/table/ExportedTableUpdateListener.java
  grpc-api/src/main/java/io/deephaven/grpc_api/table/TableServiceGrpcImpl.java
  grpc-api/src/main/java/io/deephaven/grpc_api/table/ops/EmptyTableGrpcImpl.java
  grpc-api/src/main/java/io/deephaven/grpc_api/util/GrpcServiceOverrideBuilder.java
  grpc-api/src/test/java/io/deephaven/grpc_api/session/SessionStateTest.java
  java-client/flight/src/main/java/io/deephaven/client/impl/FlightSession.java
  java-client/session/src/main/java/io/deephaven/client/impl/Export.java
  java-client/session/src/main/java/io/deephaven/client/impl/ExportRequest.java
  java-client/session/src/main/java/io/deephaven/client/impl/ExportStates.java
  java-client/session/src/main/java/io/deephaven/client/impl/ExportTicketCreator.java
  proto/proto-backplane-grpc-util/src/main/java/io/deephaven/grpc_api/util/ExportTicketHelper.java
Labels: grpc, NoDocumentationNeeded, release blocker

#1175 MVP release, version set to 0.4.0, fixes #1171
  pyclient/README.md
  pyclient/pydeephaven/__init__.py
  pyclient/setup.py
  pyclient/tests/test_console.py
  pyclient/tests/test_session.py
Labels: NoDocumentationNeeded, python-client

#1179 Give table update listeners short version of propagation error
  grpc-api/src/main/java/io/deephaven/grpc_api/table/ExportedTableUpdateListener.java
  grpc-api/src/test/java/io/deephaven/grpc_api/table/ExportTableUpdateListenerTest.java
Labels: grpc, NoDocumentationNeeded, release blocker

#1182 Propagate Barrage propagation errors to the client table widget
  grpc-api/src/main/java/io/deephaven/grpc_api/barrage/BarrageMessageProducer.java
  web/client-api/src/main/java/io/deephaven/ide/shared/IdeSession.java
  web/client-api/src/main/java/io/deephaven/web/client/api/WorkerConnection.java
  web/client-api/src/main/java/io/deephaven/web/client/api/subscription/TableViewportSubscription.java
Labels: bug, grpc, barrage, NoDocumentationNeeded, release blocker

#1170 Remove old docker/ contents
  containers/groovy-examples/docker-compose.yml
  containers/python-examples/docker-compose.yml
  docker-compose-common.yml
  docker/.gitignore
  docker/README.md
Labels: clean up, NoDocumentationNeeded

#1187 Ensure flight dependencies match
  buildSrc/src/main/groovy/Classpaths.groovy
  grpc-api-client/build.gradle
  grpc-api/grpc-api.gradle
  java-client/flight/build.gradle
  proto/proto-backplane-grpc-util/build.gradle
  proto/proto-backplane-grpc/build.gradle
Labels: clean up, NoDocumentationNeeded

#1188 Fix java publishing
  .github/workflows/publish-ci.yml
  buildSrc/src/main/groovy/io.deephaven.java-publishing-conventions.gradle
Labels: ci, NoDocumentationNeeded

#1185 Add no-cache headers to responses from the web
  web/client-ide/nginx/default.conf
Labels: bug, NoDocumentationNeeded

#1192 Fix console type for containers/
  containers/groovy-examples/docker-compose.yml
  containers/groovy/docker-compose.yml
  containers/python-examples/docker-compose.yml
  containers/python/docker-compose.yml
Labels: docker, NoDocumentationNeeded

#1194 Improve the python kafka example code
  redpanda-apicurio/examples/python/kafka-produce-avro.py
  redpanda/examples/python/kafka-produce.py
Labels: python, kafka, NoDocumentationNeeded

#1193 Send UI to Unknown Error if auth token cannot be refreshed after a few tries
  web/client-api/src/main/java/io/deephaven/web/client/api/WorkerConnection.java
Labels: bug, jsapi, grpc, NoDocumentationNeeded

#1202 Bump version to 0.4.2
  build.gradle
  pyclient/README.md
  pyclient/pydeephaven/__init__.py
  pyclient/setup.py
Labels: clean up, NoDocumentationNeeded

#1201 Move non-flight related utilities into proto-backplane-grpc. Rename p…
  grpc-api-client/build.gradle
  grpc-api-client/simple/src/main/java/io/deephaven/grpc_api/example/SimpleDeephavenClient.java
  grpc-api/grpc-api.gradle
  grpc-api/src/flightTest/java/io/deephaven/grpc_api/flight/FlightMessageRoundTripTest.java
  grpc-api/src/main/java/io/deephaven/grpc_api/session/ExportTicketResolver.java
  grpc-api/src/main/java/io/deephaven/grpc_api/session/SessionState.java
  java-client/flight/build.gradle
  java-client/flight/src/main/java/io/deephaven/client/impl/FlightSession.java
  java-client/session/build.gradle
  open-api/lang-parser/lang-parser.gradle
  proto/proto-backplane-grpc-flight/build.gradle
  proto/proto-backplane-grpc-flight/src/main/java/io/deephaven/grpc_api/util/FlightExportTicketHelper.java
  proto/proto-backplane-grpc-flight/src/main/java/io/deephaven/grpc_api/util/TicketRouterHelper.java
  proto/proto-backplane-grpc/build.gradle
  proto/proto-backplane-grpc/src/main/java/com/google/protobuf/ByteStringAccess.java
  proto/proto-backplane-grpc/src/main/java/io/deephaven/grpc_api/util/Exceptions.java
  proto/proto-backplane-grpc/src/main/java/io/deephaven/grpc_api/util/ExportTicketHelper.java
  proto/proto-backplane-grpc/src/main/java/io/deephaven/grpc_api/util/OperationHelper.java
  proto/proto-backplane-grpc/src/test/java/io/deephaven/grpc_api/util/OperationHelperTest.java
  settings.gradle
Labels: clean up, NoDocumentationNeeded, java-client

#1209 BarrageStreamGenerator#Drainable should be empty after drainTo
  grpc-api/src/main/java/io/deephaven/grpc_api/barrage/BarrageStreamGenerator.java
  grpc-api/src/test/java/io/deephaven/grpc_api/barrage/BarrageMessageRoundTripTest.java
  grpc-api/src/test/java/io/deephaven/grpc_api/barrage/BarrageStreamGeneratorTest.java
Labels: bug, barrage, NoDocumentationNeeded

#1211 TableService's gRPC lazyUpdate/update/select impls must acquire LTM shared lock
  grpc-api/src/main/java/io/deephaven/grpc_api/table/ops/UpdateOrSelectGrpcImpl.java
Labels: bug, grpc, NoDocumentationNeeded

#1213 Fix zulu-open-jdk-debian base image dependency
  py/jpy/Dockerfile
Labels: build, python, docker, NoDocumentationNeeded

#1207 Readme update
  README.md
  docs/images/DockerConfigMac.png
Labels: NoDocumentationNeeded

#1206 Make docker-compose.yml download example data when run
  containers/groovy-examples/docker-compose.yml
  containers/python-examples/docker-compose.yml
Labels: DocumentationNeeded

#1216 Expand sphinx wiring to produce docs for pydeephaven
  .github/workflows/docs-ci.yml
  buildSrc/src/main/groovy/Docker.groovy
  pyclient/docs/source/conf.py
  sphinx/sphinx.gradle
Labels: documentation, build, python, docker, NoDocumentationNeeded

#1215 TicketTable op
  DB/src/main/java/io/deephaven/db/tables/TableCreatorImpl.java
  java-client/flight-examples/build.gradle
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/GetTicketTable.java
  java-client/session/src/main/java/io/deephaven/client/impl/BatchTableRequestBuilder.java
  java-client/session/src/main/java/io/deephaven/client/impl/TableHandleManagerBase.java
  java-client/session/src/main/java/io/deephaven/client/impl/TableHandleManagerDelegate.java
  qst/graphviz/src/main/java/io/deephaven/graphviz/LabelBuilder.java
  qst/src/main/java/io/deephaven/qst/TableAdapterImpl.java
  qst/src/main/java/io/deephaven/qst/TableCreator.java
  qst/src/main/java/io/deephaven/qst/table/ParentsVisitor.java
  qst/src/main/java/io/deephaven/qst/table/StackTraceMixInCreator.java
  qst/src/main/java/io/deephaven/qst/table/TableCreatorImpl.java
  qst/src/main/java/io/deephaven/qst/table/TableSpec.java
  qst/src/main/java/io/deephaven/qst/table/TableVisitorGeneric.java
  qst/src/main/java/io/deephaven/qst/table/TicketTable.java
Labels: java-api-basic, DocumentationNeeded, java-client

#1221 don't release tickets not generated by the client, fixes #1219
  pyclient/pydeephaven/_arrow_flight_service.py
  pyclient/pydeephaven/_batch_assembler.py
  pyclient/pydeephaven/_console_service.py
  pyclient/pydeephaven/_table_service.py
  pyclient/pydeephaven/session.py
  pyclient/pydeephaven/table.py
Labels: NoDocumentationNeeded, python-client

#1228 Adding support for Avro timestamp and enums.
  Kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
Labels: kafka, NoDocumentationNeeded

#1230 Fixed 2 bugs in handling of avro schema type in python.
  Generators/src/main/java/io/deephaven/pythonPreambles/KafkaToolsPreamble.txt
  Integrations/python/deephaven/KafkaTools/__init__.py
Labels: python, kafka, NoDocumentationNeeded

#1234 correctly set sort direction enum values, fixes #1233
  pyclient/pydeephaven/_table_interface.py
  pyclient/pydeephaven/constants.py
  pyclient/pydeephaven/utils.py
Labels: NoDocumentationNeeded, python-client

#1229 Fix case insensitive string filters
  grpc-api/src/main/java/io/deephaven/grpc_api/table/ops/filter/FilterPrinter.java
  grpc-api/src/test/java/io/deephaven/grpc_api/table/ops/filter/FilterPrinterTest.java
Labels: bug, grpc, NoDocumentationNeeded

#1239 Fix logical types for unions.
  Kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
  Kafka/src/main/java/io/deephaven/kafka/Utils.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/GenericRecordChunkAdapter.java
Labels: kafka, NoDocumentationNeeded

#1243 Fix bug in ChunkColumnSources
  DB/src/main/java/io/deephaven/db/v2/sources/chunkcolumnsource/ByteChunkColumnSource.java
  DB/src/main/java/io/deephaven/db/v2/sources/chunkcolumnsource/CharChunkColumnSource.java
  DB/src/main/java/io/deephaven/db/v2/sources/chunkcolumnsource/DoubleChunkColumnSource.java
  DB/src/main/java/io/deephaven/db/v2/sources/chunkcolumnsource/FloatChunkColumnSource.java
  DB/src/main/java/io/deephaven/db/v2/sources/chunkcolumnsource/IntChunkColumnSource.java
  DB/src/main/java/io/deephaven/db/v2/sources/chunkcolumnsource/LongChunkColumnSource.java
  DB/src/main/java/io/deephaven/db/v2/sources/chunkcolumnsource/ObjectChunkColumnSource.java
  DB/src/main/java/io/deephaven/db/v2/sources/chunkcolumnsource/ShortChunkColumnSource.java
  DB/src/test/java/io/deephaven/db/v2/sources/chunkcolumnsource/TestChunkColumnSource.java
  Integrations/python/deephaven/doc/io/deephaven/api/filter/FilterCondition.json
  Integrations/python/deephaven/doc/io/deephaven/db/util/AbstractScriptSession.json
  Integrations/python/deephaven/doc/io/deephaven/db/util/DelegatingScriptSession.json
  Integrations/python/deephaven/doc/io/deephaven/db/util/GroovyDeephavenSession.json
  Integrations/python/deephaven/doc/io/deephaven/db/util/NoLanguageDeephavenSession.json
  Integrations/python/deephaven/doc/io/deephaven/db/util/PythonDeephavenSession.json
  Integrations/python/deephaven/doc/io/deephaven/db/util/ScalaDeephavenSession.json
  Integrations/python/deephaven/doc/io/deephaven/db/util/ScriptSession.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/appmode/ApplicationTicketResolver.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/barrage/BarrageStreamGenerator/ConsecutiveDrainableStreams.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/console/ScopeTicketResolver.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/session/ExportTicketResolver.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/session/SessionState.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/session/TicketResolver.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/session/TicketRouter.json
  Integrations/python/deephaven/doc/io/deephaven/grpc_api/table/ops/ComboAggregateGrpcImpl.json
  Integrations/python/deephaven/doc/io/deephaven/qst/TableCreator.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/ParentsVisitor.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/StackTraceMixInCreator.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/TableCreatorImpl.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/TableSpec.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/TableSpec/Visitor.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/TableVisitorGeneric.json
  Integrations/python/deephaven/doc/io/deephaven/qst/table/TicketTable.json
Labels: bug, query engine, kafka, NoDocumentationNeeded

#1242 Updated readme based upon tester feedback
  README.md
Labels: documentation, NoDocumentationNeeded

#1245 made Session a Context Manager for use in 'with' statement, fixes #1244
  pyclient/pydeephaven/session.py
Labels: NoDocumentationNeeded, python-client

#1249 Update README.md
  README.md
Labels: documentation, NoDocumentationNeeded

#1252 Add support for char column data type to python's Type import.
  Integrations/python/deephaven/Types.py
Labels: python, NoDocumentationNeeded

#1251 Simple DBDateTime support for Kafka JSON.
  DB/src/main/java/io/deephaven/db/tables/utils/DBTimeUtils.java
  Integrations/python/deephaven/DBTimeUtils/__init__.py
  Integrations/python/deephaven/doc/io/deephaven/db/tables/utils/DBTimeUtils.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/Utils.json
  Integrations/python/deephaven/doc/io/deephaven/kafka/ingest/JsonNodeDBDateTimeFieldCopier.json
  Integrations/python/test/testKafkaTools.py
  Kafka/src/main/java/io/deephaven/kafka/ingest/JsonNodeChunkAdapter.java
  Kafka/src/main/java/io/deephaven/kafka/ingest/JsonNodeDBDateTimeFieldCopier.java
Labels: kafka, NoDocumentationNeeded

#1254 Support parquet date and time logical type annotations. Fixes #1253.
  DB/src/main/java/io/deephaven/db/v2/locations/parquet/local/ParquetColumnLocation.java
  DB/src/main/java/io/deephaven/db/v2/parquet/ParquetSchemaReader.java
Labels: parquet, NoDocumentationNeeded

#1278 Update web to v0.3.2
  web/client-ui/Dockerfile
Labels: bug, NoDocumentationNeeded

#1281 fix syntax errors in the overview example code of pydeephaven, fixes #1279
  pyclient/docs/source/index.rst
Labels: NoDocumentationNeeded, python-client

#1280 Log errors when a failure is encountered in StreamToTableAdapter.refresh
  DB/src/main/java/io/deephaven/stream/StreamToTableAdapter.java
  DB/src/test/java/io/deephaven/stream/TestStreamToTableAdapter.java
  Kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
Labels: bug, query engine, kafka, NoDocumentationNeeded

#1238 Reduce verbosity of UNAUTHENTICATED calls from alternative GrpcUtil.rpcWrapper
  grpc-api/src/main/java/io/deephaven/grpc_api/util/GrpcUtil.java
Labels: bug, grpc, NoDocumentationNeeded

#1284 Fix LTM lock usage in Replayer
  DB/src/main/java/io/deephaven/db/v2/replay/Replayer.java
Labels: bug, query engine, NoDocumentationNeeded

#1291 Reduce noise on cancelled barrage subscriptions
  grpc-api/src/main/java/io/deephaven/grpc_api/arrow/ArrowFlightUtil.java
Labels: bug, grpc, barrage, NoDocumentationNeeded

#1289 Fix plot not allowing more than one series per table instance
  Plot/src/main/java/io/deephaven/db/plot/util/tables/TableHandle.java
Labels: bug, plotting, NoDocumentationNeeded

#1220 Convert JS API examples to python
  web/client-api/src/main/java/io/deephaven/web/public/index.html
  web/client-api/src/main/java/io/deephaven/web/public/table_basic.html
  web/client-api/src/main/java/io/deephaven/web/public/table_filter.html
  web/client-api/src/main/java/io/deephaven/web/public/table_sort.html
  web/client-api/src/main/java/io/deephaven/web/public/table_viewport.html
Labels: jsapi, NoDocumentationNeeded

#1295 Fix an issue in the python docs for KafkaTools.streamTableToAppendTable.
  Generators/src/main/java/io/deephaven/pythonPreambles/KafkaToolsPreamble.txt
  Integrations/python/deephaven/KafkaTools/__init__.py
Labels: python, autocomplete, kafka, NoDocumentationNeeded

#1306 Fix javadoc DBTimeUtils#{diffNanos, diffYear, diffDay}
  DB/src/main/java/io/deephaven/db/tables/utils/DBTimeUtils.java
Labels: documentation, NoDocumentationNeeded

#1248 DBLanguageParser allow unboxing and widening when finding available methods
  DB/src/main/java/io/deephaven/db/tables/lang/DBLanguageParser.java
  DB/src/test/java/io/deephaven/db/tables/lang/TestDBLanguageParser.java
Labels: bug, NoDocumentationNeeded, repl

#1255 Update README.md
  README.md
Labels: documentation, NoDocumentationNeeded

#1210 Create SessionService#TerminationNotification as best-effort attempt to notify on worker exit
  FishUtil/src/main/java/io/deephaven/util/process/FatalErrorReporter.java
  FishUtil/src/main/java/io/deephaven/util/process/FatalErrorReporterBase.java
  grpc-api/src/main/java/io/deephaven/grpc_api/console/ConsoleServiceGrpcImpl.java
  grpc-api/src/main/java/io/deephaven/grpc_api/runner/DeephavenApiServer.java
  grpc-api/src/main/java/io/deephaven/grpc_api/session/SessionCloseableObserver.java
  grpc-api/src/main/java/io/deephaven/grpc_api/session/SessionService.java
  grpc-api/src/main/java/io/deephaven/grpc_api/session/SessionServiceGrpcImpl.java
  proto/proto-backplane-grpc/src/main/proto/deephaven/proto/session.proto
  web/client-api/src/main/java/io/deephaven/web/client/api/QueryConnectable.java
  web/client-api/src/main/java/io/deephaven/web/client/api/WorkerConnection.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/session_pb/TerminationNotificationRequest.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/session_pb/TerminationNotificationResponse.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/session_pb/terminationnotificationresponse/StackTrace.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/session_pb_service/SessionService.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/session_pb_service/SessionServiceClient.java
Labels: grpc, NoDocumentationNeeded

#1310 redpanda try2
  containers/python-examples-redpanda/docker-compse.yml
Labels: kafka, NoDocumentationNeeded

#1314 C++ Client: doxygen comments, cleanups, and refactoring
  cpp-client/.gitignore
  cpp-client/deephaven/client/CMakeLists.txt
  cpp-client/deephaven/client/include/private/deephaven/client/highlevel/impl/table_handle_impl.h
  cpp-client/deephaven/client/include/private/deephaven/client/highlevel/impl/table_handle_manager_impl.h
  cpp-client/deephaven/client/include/private/deephaven/client/lowlevel/server.h
  cpp-client/deephaven/client/include/public/deephaven/client/highlevel/client.h
  cpp-client/deephaven/client/include/public/deephaven/client/highlevel/columns.h
  cpp-client/deephaven/client/include/public/deephaven/client/highlevel/expressions.h
  cpp-client/deephaven/client/include/public/deephaven/client/highlevel/types.h
  cpp-client/deephaven/client/include/public/deephaven/client/utility/cbfuture.h
  cpp-client/deephaven/client/include/public/deephaven/client/utility/table_maker.h
  cpp-client/deephaven/client/src/highlevel/client.cc
  cpp-client/deephaven/client/src/highlevel/expressions.cc
  cpp-client/deephaven/client/src/highlevel/impl/table_handle_impl.cc
  cpp-client/deephaven/client/src/highlevel/impl/table_handle_manager_impl.cc
  cpp-client/deephaven/client/src/lowlevel/server.cc
  cpp-client/deephaven/client/src/utility/table_maker.cc
  cpp-client/doc/.gitignore
  cpp-client/doc/Doxyfile
  cpp-client/doc/Makefile
  cpp-client/doc/_static/placeholder.txt
  cpp-client/doc/_templates/placeholder.txt
  cpp-client/doc/conf.py
  cpp-client/doc/fluent.rst
  cpp-client/doc/fluent_columns.rst
  cpp-client/doc/fluent_expressions.rst
  cpp-client/doc/index.rst
  cpp-client/doc/main.rst
  cpp-client/doc/make.bat
  cpp-client/doc/tablehandles.rst
  cpp-client/doc/types.rst
  cpp-client/doc/utility.rst
  cpp-client/simple-example/CMakeLists.txt
  cpp-client/simple-example/main.cc
  cpp-client/tests/CMakeLists.txt
  cpp-client/tests/lastby_example.cc
  cpp-client/tests/new_table_example.cc
  cpp-client/tests/select_example.cc
  cpp-client/tests/sort_example.cc
  cpp-client/tests/table_cleanup_example.cc
  cpp-client/tests/test_util.cc
  cpp-client/tests/test_util.h
  cpp-client/tests/validation_example.cc
Labels: NoDocumentationNeeded

#1316 readme for containers
  containers/groovy-examples/README.md
  containers/groovy/README.md
  containers/python-examples-redpanda/README.md
  containers/python-examples/README.md
  containers/python/README.md
Labels: NoDocumentationNeeded

#1318 Make QueryTableWhereTest#testInterFilterInterruption more robust for CI
  DB/src/test/java/io/deephaven/db/v2/QueryTableWhereTest.java
Labels: bug, NoDocumentationNeeded

#1326 Avoid leaving behind a failed consumer.
  Kafka/src/main/java/io/deephaven/kafka/ingest/KafkaIngester.java
Labels: kafka, NoDocumentationNeeded

#1328 Update redpanda from 21.4.13 to 21.8.2.
  redpanda-standalone/docker-compose.yml
Labels: kafka, NoDocumentationNeeded

#1195 Release tag is meant to mark where build artifacts came from. No need…
  .github/workflows/build-ci.yml
  .github/workflows/check-ci.yml
  .github/workflows/docs-ci.yml
  .github/workflows/long-check-ci.yml
Labels: ci, NoDocumentationNeeded

#1257 Build the java client javadocs
  build.gradle
Labels: documentation, build, NoDocumentationNeeded

#1203 Deephaven api server and client testing
  IO/src/main/java/io/deephaven/io/logger/LogBufferGlobal.java
  grpc-api-client/src/main/java/io/deephaven/grpc_api/util/DefensiveCapture.java
  grpc-api-client/src/main/java/io/deephaven/grpc_api/util/DefensiveDrainable.java
  grpc-api-client/src/main/java/io/deephaven/grpc_api_client/barrage/chunk/BaseChunkInputStreamGenerator.java
  grpc-api-client/src/main/java/io/deephaven/grpc_api_client/barrage/chunk/ChunkInputStreamGenerator.java
  grpc-api/src/main/java/io/deephaven/grpc_api/barrage/BarrageStreamGenerator.java
  grpc-api/src/main/java/io/deephaven/grpc_api/runner/DeephavenApiServer.java
  grpc-api/src/main/java/io/deephaven/grpc_api/runner/DeephavenApiServerComponent.java
  grpc-api/src/main/java/io/deephaven/grpc_api/runner/DeephavenApiServerInProcessComponent.java
  grpc-api/src/main/java/io/deephaven/grpc_api/runner/DeephavenApiServerModule.java
  grpc-api/src/main/java/io/deephaven/grpc_api/runner/Main.java
  grpc-api/src/main/java/io/deephaven/grpc_api/runner/ServerBuilderInProcessModule.java
  grpc-api/src/main/java/io/deephaven/grpc_api/runner/ServerBuilderModule.java
  grpc-api/src/main/java/io/deephaven/grpc_api/session/SessionService.java
  grpc-api/src/main/java/io/deephaven/grpc_api/util/PassthroughInputStreamMarshaller.java
  grpc-api/src/test/java/io/deephaven/grpc_api/runner/DeephavenApiServerSingleAuthenticatedBase.java
  grpc-api/src/test/java/io/deephaven/grpc_api/runner/DeephavenApiServerSingleUnauthenticatedBase.java
  grpc-api/src/test/java/io/deephaven/grpc_api/runner/DeephavenApiServerTestBase.java
  grpc-api/src/test/java/io/deephaven/grpc_api/runner/OperationsTest.java
  grpc-api/src/test/java/io/deephaven/grpc_api/runner/UnauthenticatedTests.java
  java-client/flight-dagger/build.gradle
  java-client/flight-dagger/src/test/java/io/deephaven/client/DeephavenFlightSessionTest.java
  java-client/flight-dagger/src/test/java/io/deephaven/client/DeephavenFlightSessionTestBase.java
  java-client/session-dagger/build.gradle
  java-client/session-dagger/src/main/java/io/deephaven/client/SessionImplModule.java
  java-client/session-dagger/src/test/java/io/deephaven/client/AnnotatedTable.java
  java-client/session-dagger/src/test/java/io/deephaven/client/AnnotatedTableTest.java
  java-client/session-dagger/src/test/java/io/deephaven/client/AnnotatedTables.java
  java-client/session-dagger/src/test/java/io/deephaven/client/DeephavenSessionTestBase.java
  java-client/session/src/main/java/io/deephaven/client/impl/TableHandle.java
  proto/proto-backplane-grpc/src/main/java/io/deephaven/grpc_api/DeephavenChannel.java
  qst/src/main/java/io/deephaven/qst/TableCreationLogic.java
  qst/src/main/java/io/deephaven/qst/TableCreationLogicAndThen.java
Labels: grpc, test, NoDocumentationNeeded, java-client

#1331 Add methods to get/set DBTimeZone#TZ_DEFAULT
  DB/src/main/java/io/deephaven/db/tables/utils/DBTimeZone.java
Labels: DocumentationNeeded

#1338 Move default nginx root outside of first location
  web/client-ide/nginx/default.conf
Labels: bug, build, DocumentationNeeded

#1340 Consolidate slf4j versions, fixes #1332
  BenchmarkSupport/BenchmarkSupport.gradle
  ClientSupport/ClientSupport.gradle
  CompilerTools/CompilerTools.gradle
  Configuration/build.gradle
  DB/DB.gradle
  DbTypes/DbTypes.gradle
  DbTypesImpl/DbTypesImpl.gradle
  Kafka/Kafka.gradle
  ModelFarm/ModelFarm.gradle
  Net/build.gradle
  Plot/Plot.gradle
  Stats/build.gradle
  TableLogger/TableLogger.gradle
  Util/Util.gradle
  buildSrc/src/main/groovy/Classpaths.groovy
  classpaths.gradle
  grpc-api-client/build.gradle
  grpc-api/grpc-api.gradle
  grpc-api/server/docker/build.gradle
  java-client/flight-dagger/build.gradle
  java-client/flight-examples/build.gradle
  java-client/session-dagger/build.gradle
  java-client/session/build.gradle
  log-factory/examples/example-base/build.gradle
  log-factory/examples/example-slf4j/build.gradle
  log-factory/sinks/log-to-slf4j/build.gradle
  log-factory/sources/slf4j-to-log/build.gradle
  open-api/lang-tools/lang-tools.gradle
Labels: clean up, NoDocumentationNeeded

#1335 Update CONTRIBUTING.md based on user feedback
  CONTRIBUTING.md
Labels: documentation, NoDocumentationNeeded

#1342 Port fix for DH-11620 (WouldMatch fillChunk bug fix)
  DB/src/main/java/io/deephaven/db/v2/WouldMatchOperation.java
  DB/src/test/java/io/deephaven/db/v2/QueryTableWouldMatchTest.java
Labels: bug, query engine, NoDocumentationNeeded

#1321 Add DBPeriod to deephaven.Types and deephaven.DBTimeUtils
  Generators/src/main/java/io/deephaven/pythonPreambles/DBTimeUtilsPreamble.txt
  Integrations/python/deephaven/DBTimeUtils/__init__.py
  Integrations/python/deephaven/Types.py
Labels: size:1, python, NoDocumentationNeeded

#1355 Update container readme files.
  containers/groovy-examples/README.md
  containers/groovy/README.md
  containers/python-examples-redpanda/README.md
  containers/python-examples/README.md
  containers/python/README.md
Labels: documentation, NoDocumentationNeeded

#1357 Update web to v0.4.0
  web/client-ui/Dockerfile
Labels: web-client-ui, NoDocumentationNeeded

#1363 GitHub Action for CLA compliance
  .github/workflows/cla.yml
  CONTRIBUTING.md
Labels: community, NoDocumentationNeeded

#1371 Add C++ to the readme
  README.md
Labels: documentation, NoDocumentationNeeded

#1320 Build and test pydeephaven as part of gradle
  Integrations/build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/groovy/Docker.groovy
  buildSrc/src/main/groovy/io/deephaven/tools/docker/WaitForHealthyContainer.groovy
  docker-compose.yml
  grpc-api/server/docker/build.gradle
  grpc-api/src/main/java/io/deephaven/grpc_api/healthcheck/HealthCheckModule.java
  grpc-api/src/main/java/io/deephaven/grpc_api/runner/DeephavenApiServerComponent.java
  pyclient/build.gradle
  pyclient/pydeephaven/session.py
  settings.gradle
Labels: build, grpc, docker, NoDocumentationNeeded, python-client

#1366 Add java client DoPut support. Fixes #1124.
  java-client/flight-dagger/src/test/java/io/deephaven/client/DeephavenFlightSessionTest.java
  java-client/flight-examples/build.gradle
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/ConnectOptions.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/DoPutNew.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/DoPutSpray.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/FlightCannedLabeledTableBase.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/FlightCannedTableBase.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/FlightExampleBase.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/GetSchema.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/PollTsv.java
  java-client/flight/src/main/java/io/deephaven/client/impl/FlightSession.java
  java-client/session/src/main/java/io/deephaven/client/impl/Export.java
  java-client/session/src/main/java/io/deephaven/client/impl/HasTicket.java
  java-client/session/src/main/java/io/deephaven/client/impl/Session.java
  java-client/session/src/main/java/io/deephaven/client/impl/SessionImpl.java
  java-client/session/src/main/java/io/deephaven/client/impl/TableHandle.java
Labels: DocumentationNeeded, arrow, java-client

#1376 Bump version to 0.5.0 pre-release
  .github/workflows/build-ci.yml
  build.gradle
  pyclient/README.md
  pyclient/pydeephaven/__init__.py
  pyclient/setup.py
Labels: NoDocumentationNeeded, release
