Repository deephaven/deephaven-core, pull requests merged in 2022-06, with the labels that each got.

#2396 Implement Open Addressing to support AsOfJoin (Review Only)
  engine/table/build.gradle
  engine/table/src/main/java/io/deephaven/engine/table/impl/AsOfJoinHelper.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/RightIncrementalAsOfJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/RightIncrementalChunkedAsOfJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/StaticAsOfJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/StaticChunkedAsOfJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/RightIncrementalAsOfJoinStateManagerTypedBase.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/RightIncrementalHashedAsOfJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/StaticAsOfJoinStateManagerTypedBase.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/StaticHashedAsOfJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/TypedAsOfJoinFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/rightincopen/gen/RightIncrementalAsOfJoinHasherByte.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/rightincopen/gen/RightIncrementalAsOfJoinHasherChar.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/rightincopen/gen/RightIncrementalAsOfJoinHasherDouble.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/rightincopen/gen/RightIncrementalAsOfJoinHasherFloat.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/rightincopen/gen/RightIncrementalAsOfJoinHasherInt.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/rightincopen/gen/RightIncrementalAsOfJoinHasherLong.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/rightincopen/gen/RightIncrementalAsOfJoinHasherObject.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/rightincopen/gen/RightIncrementalAsOfJoinHasherShort.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/rightincopen/gen/TypedHashDispatcher.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/staticopen/gen/StaticAsOfJoinHasherByte.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/staticopen/gen/StaticAsOfJoinHasherChar.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/staticopen/gen/StaticAsOfJoinHasherDouble.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/staticopen/gen/StaticAsOfJoinHasherFloat.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/staticopen/gen/StaticAsOfJoinHasherInt.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/staticopen/gen/StaticAsOfJoinHasherLong.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/staticopen/gen/StaticAsOfJoinHasherObject.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/staticopen/gen/StaticAsOfJoinHasherShort.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/staticopen/gen/TypedHashDispatcher.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/typed/TypedHasherFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/join/BucketedChunkedAjMergedListener.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/naturaljoin/typed/incopen/gen/TypedHashDispatcher.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/naturaljoin/typed/rightincopen/gen/TypedHashDispatcher.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/naturaljoin/typed/staticopen/gen/TypedHashDispatcher.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableAjTest.java
  replication/reflective/src/main/java/io/deephaven/replicators/ReplicateTypedHashers.java
Labels: NoDocumentationNeeded

#1491 pyclient docs improvements
  py/client/README.md
  py/client/docs/source/examples.rst
  py/client/docs/source/index.rst
Labels: documentation, NoDocumentationNeeded, python-client

#2446 Wrap the new PartitionedTable interface
  py/server/deephaven/plot/selectable_dataset.py
  py/server/deephaven/table.py
  py/server/tests/test_partitioned_table.py
  py/server/tests/test_plot/test_selectable_dataset.py
  py/server/tests/test_table.py
  py/server/tests/testbase.py
Labels: python, DocumentationNeeded, partitioned_tables

#2458 Array Expansion Kernel O(n^2) -> O(n)
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/array/BooleanArrayExpansionKernel.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/array/ByteArrayExpansionKernel.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/array/CharArrayExpansionKernel.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/array/DoubleArrayExpansionKernel.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/array/FloatArrayExpansionKernel.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/array/IntArrayExpansionKernel.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/array/LongArrayExpansionKernel.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/array/ObjectArrayExpansionKernel.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/array/ShortArrayExpansionKernel.java
Labels: barrage, NoDocumentationNeeded, enhancement

#2461 Fix a bug in handling string key values
  py/server/deephaven/table.py
  py/server/tests/test_partitioned_table.py
Labels: NoDocumentationNeeded, python-server-side

#2464 Return self.j_partitioned_table
  py/server/deephaven/table.py
Labels: NoDocumentationNeeded, python-server-side

#2472 Bump version to 0.13.0
  .github/workflows/build-ci.yml
  buildSrc/src/main/groovy/io.deephaven.common-conventions.gradle
  py/client/README.md
  py/client/pydeephaven/__init__.py
  py/client/setup.py
  py/server/deephaven/__init__.py
  server/jetty-app/README.md
Labels: NoDocumentationNeeded, release blocker, version-bump

#2470 Reinterpret to primitive in SelectColumnLayer and when propagating groupings
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/analyzers/SelectColumnLayer.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/WritableRedirectedColumnSource.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableSelectUpdateTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableTest.java
Labels: bug, query engine, NoDocumentationNeeded

#2353 Python library for embedded server
  buildSrc/src/main/groovy/io.deephaven.python-wheel.gradle
  buildSrc/src/main/groovy/io/deephaven/python/PythonWheelExtension.groovy
  engine/table/src/main/java/io/deephaven/engine/util/AbstractScriptSession.java
  engine/table/src/main/java/io/deephaven/engine/util/DelegatingScriptSession.java
  engine/table/src/main/java/io/deephaven/engine/util/GroovyDeephavenSession.java
  engine/table/src/main/java/io/deephaven/engine/util/PythonDeephavenSession.java
  engine/table/src/main/java/io/deephaven/engine/util/PythonEvaluatorJpy.java
  engine/table/src/main/java/io/deephaven/engine/util/ScriptSession.java
  engine/table/src/main/java/io/deephaven/engine/util/VariableProvider.java
  engine/table/src/main/java/io/deephaven/engine/util/jpy/JpyInit.java
  engine/table/src/test/java/io/deephaven/engine/util/WorkerPythonEnvironment.java
  py/embedded-server/README.md
  py/embedded-server/build.gradle
  py/embedded-server/deephaven_server/__init__.py
  py/embedded-server/deephaven_server/server.py
  py/embedded-server/deephaven_server/start_jvm.py
  py/embedded-server/gradle.properties
  py/embedded-server/java-runtime/build.gradle
  py/embedded-server/java-runtime/gradle.properties
  py/embedded-server/java-runtime/src/main/java/io/deephaven/python/server/EmbeddedServer.java
  py/embedded-server/java-runtime/src/main/resources/bootstrap.properties
  py/embedded-server/java-runtime/src/main/resources/logback-minimal.xml
  py/embedded-server/setup.py
  py/jpy/jpyutil.py
  python-engine-test/src/test/java/io/deephaven/engine/util/TestWorkerPythonEnvironment.java
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyMain.java
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyServerComponent.java
  server/netty/src/main/java/io/deephaven/server/netty/NettyMain.java
  server/netty/src/main/java/io/deephaven/server/netty/NettyServerComponent.java
  server/src/main/java/io/deephaven/server/console/ConsoleServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/console/python/PythonConsoleSessionModule.java
  server/src/main/java/io/deephaven/server/console/python/PythonGlobalScopeCopyModule.java
  server/src/main/java/io/deephaven/server/console/python/PythonGlobalScopeModule.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServer.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServerInProcessComponent.java
  server/src/test/java/io/deephaven/server/appmode/ApplicationTest.java
  settings.gradle
Labels: NoDocumentationNeeded, python-server-side, jetty, jpy

#2473 Bump to 0.14.0
  .github/workflows/build-ci.yml
  buildSrc/src/main/groovy/io.deephaven.common-conventions.gradle
  py/client/README.md
  py/client/pydeephaven/__init__.py
  py/client/setup.py
  py/server/deephaven/__init__.py
  server/jetty-app/README.md
Labels: NoDocumentationNeeded, version-bump

#2397 Refactor Parquet compression handling to avoid native libraries
  ParquetHadoop/build.gradle
  buildSrc/src/main/groovy/io.deephaven.java-classpath-conventions.gradle
  buildSrc/src/main/groovy/io.deephaven.java-repository-conventions.gradle
  extensions/parquet/base/build.gradle
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ColumnChunkReaderImpl.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ColumnPageReaderImpl.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ColumnWriterImpl.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ParquetFileReader.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ParquetFileWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainDoubleChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainFixedLenChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainFloatChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainIntChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainLongChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/RowGroupReaderImpl.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/RowGroupWriterImpl.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/util/Helpers.java
  extensions/parquet/compression/README.md
  extensions/parquet/compression/build.gradle
  extensions/parquet/compression/gradle.properties
  extensions/parquet/compression/src/main/java/io/deephaven/parquet/compress/Compressor.java
  extensions/parquet/compression/src/main/java/io/deephaven/parquet/compress/DeephavenCodecFactory.java
  extensions/parquet/compression/src/main/java/io/deephaven/parquet/compress/codec/LzoCodec.java
  extensions/parquet/compression/src/main/java/io/deephaven/parquet/compress/codec/ZstdCodec.java
  extensions/parquet/compression/src/main/resources/META-INF/services/org.apache.hadoop.io.compress.CompressionCodec
  extensions/parquet/table/build.gradle
  extensions/parquet/table/src/brotliTest/java/io/deephaven/parquet/table/BrotliParquetTableReadWriteTest.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetTableWriter.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetTools.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/location/ParquetColumnLocation.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/ParquetTableReadWriteTest.java
  settings.gradle
Labels: parquet, DocumentationNeeded

#2466 Fix closing totals table when aggregations are applied
  web/client-api/src/main/java/io/deephaven/web/client/api/JsTable.java
  web/client-api/src/main/java/io/deephaven/web/client/api/widget/plot/JsFigure.java
  web/client-api/src/main/java/io/deephaven/web/client/fu/LazyPromise.java
Labels: bug, NoDocumentationNeeded

#2482 Ensure pb int64 is handled as a js string instead of float
  proto/proto-backplane-grpc/src/main/proto/deephaven/proto/console.proto
  web/client-api/src/main/java/io/deephaven/web/client/api/WorkerConnection.java
  web/client-api/src/main/java/io/deephaven/web/client/api/widget/plot/JsFigure.java
  web/client-api/src/main/java/io/deephaven/web/client/api/widget/plot/JsFigureFactory.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/FigureDescriptor.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/LogSubscriptionData.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/LogSubscriptionRequest.java
Labels: grpc, NoDocumentationNeeded

#2481 PartitionedTable should not use raw generics, fix javadoc
  engine/api/src/main/java/io/deephaven/engine/table/PartitionedTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/partitioned/PartitionedTableProxyImpl.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/PartitionedTableTest.java
Labels: NoDocumentationNeeded, partitioned_tables

#2480 DhFormulaColumn allow rowSet column name
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/DhFormulaColumn.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/select/FormulaSample.java
  table-api/src/main/java/io/deephaven/api/util/NameValidator.java
Labels: bug, query engine, NoDocumentationNeeded

#2479 Make the hotspot-impl module JAVA_PUBLIC.
  buildSrc/src/main/groovy/io/deephaven/project/util/CombinedJavadoc.groovy
  hotspot-impl/build.gradle
  hotspot-impl/gradle.properties
Labels: NoDocumentationNeeded

#2488 Add OutOfBand test category for BarrageMessageRoundTripTest
  server/build.gradle
Labels: barrage, test, NoDocumentationNeeded

#2491 ConditionFilter prefix method parameter names
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/ConditionFilter.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/select/FilterKernelArraySample.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/select/FilterKernelSample.java
Labels: bug, query engine, NoDocumentationNeeded

#2493 Disable intrinsic for Thread::currentThread
  buildSrc/src/main/groovy/io.deephaven.java-toolchain-conventions.gradle
  py/embedded-server/deephaven_server/start_jvm.py
Labels: bug, configuration, NoDocumentationNeeded

#2494 Add SSL Configuration for Netty, Jetty, and Embedded
  py/embedded-server/deephaven_server/server.py
  py/embedded-server/java-runtime/src/main/java/io/deephaven/python/server/EmbeddedServer.java
  server/build.gradle
  server/dev-certs/README.md
  server/dev-certs/ca.crt
  server/dev-certs/client.json
  server/dev-certs/key.pem
  server/jetty-app/README.md
  server/jetty-app/build.gradle
  server/jetty-app/src/main/java/io/deephaven/server/jetty/JettyAppMain.java
  server/jetty/build.gradle
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyBackedGrpcServer.java
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyConfig.java
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyMain.java
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyServerComponent.java
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyServerModule.java
  server/jetty/src/test/java/io/deephaven/server/jetty/JettyFlightRoundTripTest.java
  server/netty-app/README.md
  server/netty-app/build.gradle
  server/netty-app/src/main/java/io/deephaven/server/netty/NettyAppMain.java
  server/netty/build.gradle
  server/netty/src/main/java/io/deephaven/server/netty/NettyConfig.java
  server/netty/src/main/java/io/deephaven/server/netty/NettyMain.java
  server/netty/src/main/java/io/deephaven/server/netty/NettyServerComponent.java
  server/netty/src/main/java/io/deephaven/server/netty/NettyServerModule.java
  server/netty/src/test/java/io/deephaven/server/netty/NettyFlightRoundTripTest.java
  server/src/main/java/io/deephaven/server/config/ServerConfig.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiConfigModule.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServerComponent.java
  server/src/main/java/io/deephaven/server/runner/Main.java
Labels: configuration, DocumentationNeeded

#2499 Missing licenses
  Generators/src/main/java/io/deephaven/libs/GroovyStaticImportGenerator.java
  Generators/src/main/java/io/deephaven/plot/util/GenerateFigureImmutable.java
  Generators/src/main/java/io/deephaven/plot/util/GeneratePlottingConvenience.java
  Generators/src/main/java/io/deephaven/plot/util/GeneratePyV2FigureAPI.java
  Generators/src/main/java/io/deephaven/pythonPreambles/plotV2.py
  Plot/src/main/java/io/deephaven/plot/Figure.java
  Plot/src/main/java/io/deephaven/plot/FigureImpl.java
  Plot/src/main/java/io/deephaven/plot/PlottingConvenience.java
  buildSrc/src/main/groovy/io.deephaven.java-header-conventions.gradle
  buildSrc/src/main/groovy/io.deephaven.python-wheel.gradle
  buildSrc/src/main/groovy/io/deephaven/python/PythonWheelExtension.groovy
  cpp-client/build.gradle
  cpp-client/gradle.properties
  engine/table/src/main/java/io/deephaven/libs/GroovyStaticImports.java
  license-header
  proto/proto-backplane-grpc/build.gradle
  py/client/build.gradle
  py/embedded-server/build.gradle
  py/server/build.gradle
  py/server/deephaven/plot/figure.py
  settings.gradle
Labels: build, NoDocumentationNeeded

#2502 Port MovingAverage as-is from legacy to v2
  py/server/deephaven/experimental/__init__.py
  py/server/deephaven/experimental/ema.py
Labels: DocumentationNeeded, python-server-side

#2514 Fix a missing task issue in Generator.gradle and remove the semicolon left by mistake
  Generators/Generators.gradle
Labels: build, NoDocumentationNeeded

#2511 Fix deadlock-race between closing the session and removing an onCloseCallback
  server/src/main/java/io/deephaven/server/session/SessionState.java
Labels: bug, grpc, NoDocumentationNeeded

#2519 Defer PageCache creation, start at smaller initial size and grow intead
  Util/src/main/java/io/deephaven/util/datastructures/intrusive/IntrusiveSoftLRU.java
  Util/src/test/java/io/deephaven/util/datastructures/intrusive/TestIntrusiveSoftLRU.java
  engine/table/src/test/java/io/deephaven/engine/util/datastructures/intrusive/TestIntrusiveSoftLRU.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/location/ParquetColumnLocation.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/pagestore/PageCache.java
Labels: NoDocumentationNeeded

#2531 autocomplete: fix recurision resolving variables that reference each other
  open-api/lang-tools/src/main/java/io/deephaven/lang/completion/ChunkerCompleter.java
Labels: bug, autocomplete, NoDocumentationNeeded

#2540 Remove server dependency on shared classes, dependencies from web
  buildSrc/src/main/groovy/GwtTools.groovy
  open-api/lang-parser/lang-parser.gradle
  open-api/lang-parser/src/javacc/java/io/deephaven/lang/generated/Chunker.java
  open-api/lang-parser/src/javacc/java/io/deephaven/lang/generated/ChunkerTokenManager.java
  open-api/lang-parser/src/jjtree/java/io/deephaven/lang/generated/Chunker.jj
  open-api/lang-parser/src/main/java/io/deephaven/lang/meta/Messenger.java
  open-api/lang-parser/src/main/java/io/deephaven/lang/shared/lsp/DiagnosticCode.java
  open-api/lang-parser/src/main/jjtree/io/deephaven/lang/generated/Chunker.jjt
  open-api/lang-tools/lang-tools.gradle
  open-api/shared-fu/shared-fu.gradle
  open-api/shared-fu/src/main/java/io/deephaven/web/shared/fu/JsBiConsumerUnsafe.java
  open-api/shared-fu/src/main/java/io/deephaven/web/shared/fu/JsPredicate.java
  open-api/shared-fu/src/main/java/io/deephaven/web/shared/fu/LinkedIterable.java
  open-api/shared-fu/src/main/java/io/deephaven/web/shared/fu/MappedIterable.java
  open-api/shared-ide/gradle.properties
  open-api/shared-ide/shared-ide.gradle
  open-api/shared-ide/src/main/java/io/deephaven/web/shared/ide/ScriptHandle.java
  open-api/shared-ide/src/main/java/io/deephaven/web/shared/ide/VariableDefinition.java
  open-api/shared-ide/src/main/java/io/deephaven/web/shared/ide/VariableType.java
  open-api/shared-ide/src/main/java/io/deephaven/web/shared/ide/lsp/CompletionContext.java
  open-api/shared-ide/src/main/java/io/deephaven/web/shared/ide/lsp/CompletionParams.java
  open-api/shared-ide/src/main/java/io/deephaven/web/shared/ide/lsp/Diagnostic.java
  open-api/shared-ide/src/main/java/io/deephaven/web/shared/ide/lsp/DiagnosticRelatedInformation.java
  open-api/shared-ide/src/main/java/io/deephaven/web/shared/ide/lsp/DidChangeTextDocumentParams.java
  open-api/shared-ide/src/main/java/io/deephaven/web/shared/ide/lsp/DidCloseTextDocumentParams.java
  open-api/shared-ide/src/main/java/io/deephaven/web/shared/ide/lsp/DidOpenTextDocumentParams.java
  open-api/shared-ide/src/main/java/io/deephaven/web/shared/ide/lsp/Location.java
  open-api/shared-ide/src/main/java/io/deephaven/web/shared/ide/lsp/TextDocumentIdentifier.java
  open-api/shared-ide/src/main/java/io/deephaven/web/shared/ide/lsp/TextDocumentItem.java
  open-api/shared-ide/src/main/java/io/deephaven/web/shared/ide/lsp/TextDocumentPositionParams.java
  open-api/shared-ide/src/main/java/io/deephaven/web/shared/ide/lsp/VersionedTextDocumentIdentifier.java
  server/src/main/java/io/deephaven/server/arrow/ArrowFlightUtil.java
  settings.gradle
  web/client-api/client-api.gradle
  web/client-api/src/main/java/io/deephaven/web/shared/ide/ExecutionHandle.java
  web/client-api/src/main/java/io/deephaven/web/shared/ide/lsp/CompletionItem.java
  web/client-api/src/main/java/io/deephaven/web/shared/ide/lsp/DocumentRange.java
  web/client-api/src/main/java/io/deephaven/web/shared/ide/lsp/Position.java
  web/client-api/src/main/java/io/deephaven/web/shared/ide/lsp/TextDocumentContentChangeEvent.java
  web/client-api/src/main/java/io/deephaven/web/shared/ide/lsp/TextEdit.java
  web/shared-beans/gradle.properties
  web/shared-beans/src/main/java/io/deephaven/web/shared/fu/JsBiConsumer.java
  web/shared-beans/src/main/java/io/deephaven/web/shared/fu/JsConsumer.java
  web/shared-beans/src/main/java/io/deephaven/web/shared/fu/JsFunction.java
  web/shared-beans/src/main/java/io/deephaven/web/shared/fu/JsProvider.java
  web/shared-beans/src/main/java/io/deephaven/web/shared/fu/JsRunnable.java
Labels: build, autocomplete, NoDocumentationNeeded

#2518 Add mapping Pandas's nullable numeric types
  py/server/deephaven/dtypes.py
  py/server/deephaven/numpy.py
  py/server/deephaven/pandas.py
  py/server/tests/test_pandas.py
Labels: NoDocumentationNeeded, python-server-side

#2536 Remove jgit, a currently unused dependency
  buildSrc/src/main/groovy/Classpaths.groovy
  engine/table/build.gradle
  engine/table/src/main/java/io/deephaven/engine/util/scripts/ScriptRepository.java
  engine/table/src/test/java/io/deephaven/engine/util/scripts/TestScriptRepository.java
Labels: NoDocumentationNeeded, dependencies

#2544 Session export release should only fail from terminal states
  server/src/main/java/io/deephaven/server/session/SessionServiceGrpcImpl.java
Labels: bug, grpc, NoDocumentationNeeded, session

#2545 Add myself as codeowner for docker directory
  .github/CODEOWNERS
Labels: NoDocumentationNeeded

#2546 Bump images to pick up tensorboard dependencies.
  docker/registry/pytorch-base/gradle.properties
  docker/registry/tensorflow-base/gradle.properties
  docker/server/src/main/server-pytorch/requirements.txt
  docker/server/src/main/server-tensorflow/requirements.txt
Labels: python, NoDocumentationNeeded

#2547 Session export release; ignore races related to releasing
  server/src/main/java/io/deephaven/server/session/SessionServiceGrpcImpl.java
Labels: grpc, NoDocumentationNeeded

#2550 jsapi: fix non deterministic behavior on table order for figures
  web/client-api/src/main/java/io/deephaven/web/client/api/widget/plot/JsFigure.java
Labels: bug, jsapi, NoDocumentationNeeded

#2534 Update `PartitionedTable` pydocs
  py/server/deephaven/table.py
Labels: python, DocumentationNeeded, python-server-side

#2521 jsapi: fix null check for optional color param
  plugin/figure/src/main/java/io/deephaven/figure/FigureWidgetTranslator.java
Labels: bug, jsapi, NoDocumentationNeeded

#2475 Better stream table support over Barrage and jsapi
  engine/api/src/main/java/io/deephaven/engine/table/Table.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/BaseTable.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/table/BarrageRedirectedTable.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/table/BarrageStreamTable.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/table/BarrageTable.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/util/BarrageUtil.java
  java-client/barrage/src/main/java/io/deephaven/client/impl/BarrageSubscription.java
  server/src/main/java/io/deephaven/server/barrage/BarrageMessageProducer.java
  server/src/main/java/io/deephaven/server/session/SessionState.java
  server/src/test/java/io/deephaven/server/barrage/BarrageMessageRoundTripTest.java
  server/src/test/java/io/deephaven/server/barrage/BarrageStreamTableTest.java
  web/client-api/src/main/java/io/deephaven/web/client/api/JsTable.java
  web/client-api/src/main/java/io/deephaven/web/client/api/WorkerConnection.java
  web/client-api/src/main/java/io/deephaven/web/client/api/barrage/def/TableAttributesDefinition.java
  web/client-api/src/main/java/io/deephaven/web/client/api/subscription/TableViewportSubscription.java
  web/client-api/src/main/java/io/deephaven/web/client/state/ClientTableState.java
Labels: barrage, NoDocumentationNeeded

#2562 Switch to Parquet-specific snappy codec, and limit input stream size
  ParquetHadoop/build.gradle
  extensions/parquet/compression/build.gradle
  extensions/parquet/compression/src/main/java/io/deephaven/parquet/compress/DeephavenCodecFactory.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/ParquetTableReadWriteTest.java
Labels: parquet, NoDocumentationNeeded

#2571 Bump node/python base images to latest
  docker/registry/node/gradle.properties
  docker/registry/python/gradle.properties
Labels: NoDocumentationNeeded, version-bump

#2557 Add PartitionedTable transform() and partitioned_transform() methods
  Integrations/src/main/java/io/deephaven/integrations/python/PythonBiFunction.java
  Integrations/src/main/java/io/deephaven/integrations/python/PythonFunction.java
  Integrations/src/main/java/io/deephaven/integrations/python/PythonObjectWrapper.java
  Integrations/src/main/java/io/deephaven/integrations/python/PythonValueGetter.java
  py/server/deephaven/jcompat.py
  py/server/deephaven/table.py
  py/server/tests/test_partitioned_table.py
Labels: DocumentationNeeded, python-server-side

#2573 Don't try and map protobuf DayOfWeek.UNRECOGNIZED
  plugin/figure/src/main/java/io/deephaven/figure/FigureWidgetTranslator.java
Labels: plotting, NoDocumentationNeeded

#2567 Follow-up fix for tables loading non-deterministically
  web/client-api/src/main/java/io/deephaven/web/client/api/widget/plot/JsFigure.java
Labels: jsapi, plotting, NoDocumentationNeeded

#2538 Cleanup python deephaven package dependencies
  engine/table/python/core/deephaven_jpy_init.py
  py/server/setup.py
Labels: clean up, python, NoDocumentationNeeded

#2588 Add an example for simple_spec in our Kafka manual tests.
  redpanda/examples/python/kafka-produce.py
Labels: NoDocumentationNeeded

#2582 Wrap bound variables created by clients in corresponding Python wrappers
  Integrations/build.gradle
  Integrations/src/main/java/io/deephaven/integrations/python/PythonDeephavenSession.java
  Integrations/src/main/java/io/deephaven/integrations/python/PythonLogAdapter.java
  application-mode/build.gradle
  engine/table/src/main/java/io/deephaven/engine/util/AbstractScriptSession.java
  engine/table/src/main/java/io/deephaven/engine/util/ScriptFinder.java
  py/client/tests/test_console.py
  py/embedded-server/build.gradle
  py/server/deephaven/_wrapper.py
  py/server/deephaven/uri.py
  py/server/test_helper/__init__.py
  python-engine-test/build.gradle
  python-engine-test/src/test/java/io/deephaven/engine/table/impl/select/TestConditionFilter.java
  python-engine-test/src/test/java/io/deephaven/engine/util/PickledResult.java
  python-engine-test/src/test/java/io/deephaven/engine/util/WorkerPythonEnvironment.java
  server/build.gradle
  server/jetty/build.gradle
  server/netty/build.gradle
  server/src/main/java/io/deephaven/server/appmode/ApplicationFactory.java
  server/src/main/java/io/deephaven/server/console/python/PythonConsoleSessionModule.java
  server/src/test/java/io/deephaven/server/appmode/ApplicationTest.java
Labels: NoDocumentationNeeded, python-client, python-server-side

#2587 Bump deephaven-csv to 0.7.0
  extensions/csv/build.gradle
Labels: NoDocumentationNeeded, csv, version-bump

#2589 Add gradle debug flag for netty and jetty servers
  server/jetty-app/build.gradle
  server/netty-app/build.gradle
Labels: build, NoDocumentationNeeded

#2585 Update web to v0.14.0
  web/client-ui/Dockerfile
Labels: NoDocumentationNeeded, enhancement

#2594 Fix incorrect delegation stack overflow recursion in PartitionAwareSourceTable.selectDistinct
  engine/table/src/main/java/io/deephaven/engine/table/impl/PartitionAwareSourceTable.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/TestPartitionAwareSourceTable.java
Labels: bug, query engine, NoDocumentationNeeded

#2595 Bump images no dill wrapt
  docker/registry/nltk-base/gradle.properties
  docker/registry/protoc-base/gradle.properties
  docker/registry/python-dev-base/gradle.properties
  docker/registry/pytorch-base/gradle.properties
  docker/registry/server-base/gradle.properties
  docker/registry/sklearn-base/gradle.properties
  docker/registry/slim-base/gradle.properties
  docker/registry/tensorflow-base/gradle.properties
  docker/server/src/main/server-nltk/requirements.txt
  docker/server/src/main/server-pytorch/requirements.txt
  docker/server/src/main/server-sklearn/requirements.txt
  docker/server/src/main/server-tensorflow/requirements.txt
  docker/server/src/main/server/requirements.txt
Labels: NoDocumentationNeeded, version-bump

#2599 Fix ColumnHeader.checkName() so it throws on failure.
  qst/src/main/java/io/deephaven/qst/column/header/ColumnHeader.java
Labels: NoDocumentationNeeded

#2586 Prevent parquet from closing zstd streams on finalization
  ParquetHadoop/build.gradle
  ParquetHadoop/src/main/java/io/deephaven/parquet/base/tempfix/ParquetMetadataConverter.java
  ParquetHadoop/src/main/java/io/deephaven/parquet/compress/codec/ZstdCodec.java
  ParquetHadoop/src/main/java/io/deephaven/parquet/compress/codec/zstd/ZstdCompressorStream.java
  ParquetHadoop/src/main/java/io/deephaven/parquet/compress/codec/zstd/ZstdDecompressorStream.java
  extensions/parquet/compression/src/main/java/io/deephaven/parquet/compress/codec/ZstdCodec.java
  extensions/parquet/compression/src/main/resources/META-INF/services/org.apache.hadoop.io.compress.CompressionCodec
Labels: parquet, NoDocumentationNeeded

#2602 Bump python image
  docker/registry/python/gradle.properties
Labels: NoDocumentationNeeded, version-bump

#2600 Expose UGP locking for use in py server
  py/server/deephaven/_ugp.py
  py/server/deephaven/table.py
  py/server/deephaven/table_factory.py
  py/server/deephaven/table_listener.py
  py/server/deephaven/ugp.py
  py/server/tests/test_experiments.py
  py/server/tests/test_liveness.py
  py/server/tests/test_table_listener.py
  py/server/tests/test_ugp.py
  py/server/tests/testbase.py
Labels: DocumentationNeeded, python-server-side

#2604 Fix for #2559
  cpp-client/deephaven/client/build-dependencies.sh
Labels: bug, build, NoDocumentationNeeded, c++
