Repository deephaven/deephaven-core, pull requests merged in 2022-09, with the labels that each got.

#2756 Fix ExecutionContext and PartitionTable bugs caught by enabling parallel updates
  engine/api/src/main/java/io/deephaven/engine/table/WritableSourceWithEnsurePrevious.java
  engine/api/src/main/java/io/deephaven/engine/table/WritableSourceWithPrepareForParallelPopulation.java
  engine/context/src/main/java/io/deephaven/engine/context/ExecutionContext.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/partitioned/PartitionedTableProxyImpl.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/analyzers/SelectColumnLayer.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/AbstractSparseLongArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/BooleanSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ByteSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/CharacterSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/DoubleSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/FloatSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/IntegerSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ObjectSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ShortSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/SparseArrayColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/immutable/Immutable2DByteArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/immutable/Immutable2DCharArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/immutable/Immutable2DDoubleArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/immutable/Immutable2DFloatArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/immutable/Immutable2DIntArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/immutable/Immutable2DLongArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/immutable/Immutable2DObjectArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/immutable/Immutable2DShortArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/immutable/ImmutableByteArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/immutable/ImmutableCharArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/immutable/ImmutableDoubleArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/immutable/ImmutableFloatArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/immutable/ImmutableIntArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/immutable/ImmutableLongArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/immutable/ImmutableObjectArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/immutable/ImmutableShortArraySource.java
  py/server/tests/test_partitioned_table.py
  py/server/tests/test_table.py
Labels: bug, console, NoDocumentationNeeded

#2791 Address capacity reservation issue for streaming last-by operators with cached redirections
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/AggregationContext.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/BaseStreamFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ByteStreamSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/CharStreamSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ChunkedOperatorAggregationHelper.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/DoubleStreamSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/FloatStreamSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/FormulaChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/GroupByChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/IntStreamSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/IterativeChunkedAggregationOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/LongStreamSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ObjectStreamSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/PartitionByChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ShortStreamSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/TDigestPercentileOperator.java
Labels: bug, query engine, NoDocumentationNeeded

#2717 Provide a servlet filter to automatically translate grpc-web clients calls to grpc
  grpc-java/grpc-servlet-jakarta/src/main/java/io/grpc/servlet/jakarta/ServletAdapter.java
  grpc-java/grpc-servlet-jakarta/src/main/java/io/grpc/servlet/jakarta/web/DelegatingAsyncContext.java
  grpc-java/grpc-servlet-jakarta/src/main/java/io/grpc/servlet/jakarta/web/GrpcWebFilter.java
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyBackedGrpcServer.java
Labels: jsapi, grpc, NoDocumentationNeeded, jetty

#2789 force reference count to zero when table listener failure occurs
  Util/src/main/java/io/deephaven/util/referencecounting/ReferenceCounted.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/InstrumentedTableListenerBase.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/MergedListener.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SelectOrUpdateListener.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/AsyncClientErrorNotifier.java
  server/src/main/java/io/deephaven/server/log/LogInit.java
Labels: core, NoDocumentationNeeded

#2731 Add explicit configuration for websockets, http1, and a proxy hint.
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyBackedGrpcServer.java
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyConfig.java
  server/src/main/java/io/deephaven/server/config/ServerConfig.java
Labels: configuration, DocumentationNeeded, jetty

#2763 Rewire python<->java logging to be generally friendlier to python
  IO/src/main/java/io/deephaven/io/logger/LogBufferOutputStream.java
  Integrations/src/main/java/io/deephaven/integrations/python/PyLogOutputStream.java
  Integrations/src/main/java/io/deephaven/integrations/python/PythonDeephavenSession.java
  Integrations/src/main/java/io/deephaven/integrations/python/PythonLogAdapter.java
  engine/table/python/core/deephaven_jpy_init.py
  py/embedded-server/deephaven_server/server.py
  py/embedded-server/java-runtime/src/main/java/io/deephaven/python/server/EmbeddedPyLogModule.java
  py/embedded-server/java-runtime/src/main/java/io/deephaven/python/server/EmbeddedServer.java
  py/server/deephaven_internal/stream.py
  python-engine-test/src/test/java/io/deephaven/engine/util/WorkerPythonEnvironment.java
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyServerComponent.java
  server/netty/src/main/java/io/deephaven/server/netty/NettyServerComponent.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServerInProcessGroovyComponent.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServerInProcessPythonComponent.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServerModule.java
Labels: logging, python, NoDocumentationNeeded, python-server-side

#2796 change Table#getMeta to use Class#getCanonicalName for data type
  engine/table/src/main/java/io/deephaven/engine/table/impl/TableDefaults.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/preview/ColumnPreviewManager.java
Labels: table api, NoDocumentationNeeded

#2798 Web version bump to v0.16.0, embeddable iframe for charts
  web/client-ui/Dockerfile
Labels: DocumentationNeeded

#2799 Reinterpret the ColumnSource prior to creating empty stream generators
  engine/table/src/main/java/io/deephaven/engine/table/impl/remote/ConstructSnapshot.java
Labels: bug, barrage, NoDocumentationNeeded

#2795 Gc Application
  engine/table/src/main/java/io/deephaven/stream/StreamFailureConsumer.java
  engine/table/src/main/java/io/deephaven/stream/StreamToTableAdapter.java
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/KafkaIngester.java
  plugin/gc-app/build.gradle
  plugin/gc-app/gradle.properties
  plugin/gc-app/src/main/java/io/deephaven/app/GcApplication.java
  plugin/gc-app/src/main/java/io/deephaven/app/GcNotificationPublisher.java
  plugin/gc-app/src/main/java/io/deephaven/app/GcPoolsPublisher.java
  server/build.gradle
  server/jetty-app/build.gradle
  server/netty-app/build.gradle
  settings.gradle
Labels: DocumentationNeeded, application mode, table-publisher

#2555 Write Encoding stats with data.
  engine/table/src/main/java/io/deephaven/engine/util/BigDecimalUtils.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/AbstractBulkValuesWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/BulkWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ColumnWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ColumnWriterImpl.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ParquetFileWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainBinaryChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainBooleanChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainDoubleChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainFixedLenChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainFloatChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainIntChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainLongChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/RleIntChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/RowGroupWriterImpl.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/DictionarySizeExceededException.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/MappedSchema.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetInstructions.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetTableWriter.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/TypeInfos.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/location/ParquetColumnLocation.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/TestParquetTools.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/TestSymbolTableSource.java
  replication/static/src/main/java/io/deephaven/replicators/ReplicateParquetChunkedWriters.java
  replication/util/src/main/java/io/deephaven/replication/ReplicatePrimitiveCode.java
Labels: NoDocumentationNeeded

#2802 Post release bump from 0.16.0 to 0.17.0
  .github/workflows/build-ci.yml
  buildSrc/src/main/groovy/io.deephaven.common-conventions.gradle
  py/client/README.md
  py/client/pydeephaven/__init__.py
  py/client/setup.py
  py/server/deephaven/__init__.py
  server/jetty-app/README.md
Labels: NoDocumentationNeeded, version-bump

#2804 Bump docker base images
  docker/registry/go/gradle.properties
  docker/registry/nltk-base/gradle.properties
  docker/registry/protoc-base/gradle.properties
  docker/registry/python-dev-base/gradle.properties
  docker/registry/pytorch-base/gradle.properties
  docker/registry/server-base/gradle.properties
  docker/registry/sklearn-base/gradle.properties
  docker/registry/slim-base/gradle.properties
  docker/registry/tensorflow-base/gradle.properties
  docker/server/src/main/server-nltk/requirements.txt
  docker/server/src/main/server-pytorch/requirements.txt
  docker/server/src/main/server-sklearn/requirements.txt
  docker/server/src/main/server-tensorflow/requirements.txt
  docker/server/src/main/server/requirements.txt
Labels: NoDocumentationNeeded, version-bump

#2807 Bump node and python images
  docker/registry/node/gradle.properties
  docker/registry/python/gradle.properties
Labels: NoDocumentationNeeded, version-bump

#2739 Update py/embedded-server setup for PyPi
  py/embedded-server/README_PyPi.md
  py/embedded-server/build.gradle
  py/embedded-server/setup.py
Labels: documentation, python, NoDocumentationNeeded, python-client

#2805 Allow multiple concurrent DynamicTableRow writers
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/DynamicTableWriter.java
Labels: bug, NoDocumentationNeeded

#2794 When an ExportObject runner throws StatusRuntimeException forward to client
  server/src/main/java/io/deephaven/server/session/SessionState.java
  server/src/main/java/io/deephaven/server/table/TableServiceGrpcImpl.java
  server/src/test/java/io/deephaven/server/session/SessionStateTest.java
Labels: bug, grpc, NoDocumentationNeeded

#2713 Arrow Flight Auth 1 and 2
  Util/src/main/java/io/deephaven/util/auth/AuthContext.java
  authentication/README.md
  authentication/build.gradle
  authentication/gradle.properties
  authentication/src/main/java/io/deephaven/auth/AnonymousAuthenticationHandler.java
  authentication/src/main/java/io/deephaven/auth/AuthContext.java
  authentication/src/main/java/io/deephaven/auth/AuthenticationException.java
  authentication/src/main/java/io/deephaven/auth/AuthenticationRequestHandler.java
  authentication/src/main/java/io/deephaven/auth/BasicAuthMarshaller.java
  engine/api/build.gradle
  engine/api/src/main/java/io/deephaven/engine/exceptions/TableAccessException.java
  engine/api/src/main/java/io/deephaven/engine/exceptions/UncheckedPermissionException.java
  go/internal/proto/session/session.pb.go
  go/pkg/client/client.go
  go/pkg/client/session_stub.go
  proto/proto-backplane-grpc/src/main/proto/deephaven/proto/session.proto
  py/client/pydeephaven/proto/session_pb2.py
  py/client/pydeephaven/session.py
  server/build.gradle
  server/jetty/build.gradle
  server/jetty/src/test/java/io/deephaven/server/jetty/JettyFlightRoundTripTest.java
  server/netty/build.gradle
  server/netty/src/test/java/io/deephaven/server/netty/NettyFlightRoundTripTest.java
  server/src/main/java/io/deephaven/server/arrow/FlightServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/auth/AuthContextModule.java
  server/src/main/java/io/deephaven/server/auth/AuthContextProvider.java
  server/src/main/java/io/deephaven/server/auth/TrivialAuthContextProvider.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServer.java
  server/src/main/java/io/deephaven/server/session/SessionService.java
  server/src/main/java/io/deephaven/server/session/SessionServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/session/SessionState.java
  server/src/test/java/io/deephaven/server/appmode/ApplicationServiceGrpcImplTest.java
  server/src/test/java/io/deephaven/server/runner/DeephavenApiServerSingleAuthenticatedBase.java
  server/src/test/java/io/deephaven/server/session/SessionServiceTest.java
  server/src/test/java/io/deephaven/server/session/SessionStateTest.java
  server/src/test/java/io/deephaven/server/table/ExportTableUpdateListenerTest.java
  server/test/build.gradle
  server/test/src/main/java/io/deephaven/server/test/AuthTestModule.java
  server/test/src/main/java/io/deephaven/server/test/FlightMessageRoundTripTest.java
  settings.gradle
Labels: barrage, DocumentationNeeded, arrow

#2811 Make DeephavenSessionTestBase use NoLanguageDeephavenSession
  engine/context/src/main/java/io/deephaven/engine/context/QueryLibrary.java
  py/embedded-server/java-runtime/src/main/java/io/deephaven/python/server/EmbeddedServer.java
  server/jetty/build.gradle
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyServerComponent.java
  server/jetty/src/test/java/io/deephaven/server/jetty/JettyFlightRoundTripTest.java
  server/netty/build.gradle
  server/netty/src/main/java/io/deephaven/server/netty/NettyServerComponent.java
  server/netty/src/test/java/io/deephaven/server/netty/NettyFlightRoundTripTest.java
  server/src/main/java/io/deephaven/server/console/NoConsoleSessionModule.java
  server/src/main/java/io/deephaven/server/console/SessionToExecutionStateModule.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServer.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServerInProcessGroovyComponent.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServerInProcessPythonComponent.java
  server/src/main/java/io/deephaven/server/session/SessionState.java
  server/src/test/java/io/deephaven/server/appmode/ApplicationServiceGrpcImplTest.java
  server/src/test/java/io/deephaven/server/runner/DeephavenApiServerTestBase.java
  server/src/test/java/io/deephaven/server/runner/ExecutionContextUnitTestModule.java
  server/src/test/java/io/deephaven/server/session/SessionServiceTest.java
  server/src/test/java/io/deephaven/server/session/SessionStateTest.java
  server/src/test/java/io/deephaven/server/table/ExportTableUpdateListenerTest.java
  server/test/src/main/java/io/deephaven/server/test/FlightMessageRoundTripTest.java
Labels: clean up, test, NoDocumentationNeeded, java-client

#2819 Use ugp ex-lock to control ticking table ticking
  py/server/tests/test_table.py
Labels: NoDocumentationNeeded, python-server-side

#2821 C++ client examples used in our demo videos
  cpp-examples/demos/CMakeLists.txt
  cpp-examples/demos/chapter1.cc
  cpp-examples/demos/chapter2.cc
Labels: NoDocumentationNeeded

#2820 Fix improper initial magic number placement in Parquet writing, thereby also "fixing" dictionary offset 0 issue
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ParquetFileWriter.java
Labels: bug, parquet, NoDocumentationNeeded

#2823 C++ client: fix documentation cross-references, fill in some more docs.
  cpp-client/deephaven/client/include/public/deephaven/client/client.h
  cpp-client/deephaven/client/include/public/deephaven/client/columns.h
  cpp-client/deephaven/client/include/public/deephaven/client/expressions.h
  cpp-client/deephaven/client/include/public/deephaven/client/types.h
  cpp-client/deephaven/client/include/public/deephaven/client/utility/utility.h
  cpp-client/deephaven/client/src/client.cc
  cpp-client/doc/fluent.rst
  cpp-client/doc/fluent_columns.rst
  cpp-client/doc/fluent_expressions.rst
  cpp-client/doc/main.rst
  cpp-client/doc/tablehandles.rst
  cpp-client/doc/types.rst
  cpp-client/doc/utility.rst
  cpp-examples/doc/create_table_with_arrow_flight.rst
  cpp-examples/doc/create_table_with_tablemaker.rst
  cpp-examples/doc/fluent.rst
  cpp-examples/doc/getting_started.rst
  cpp-examples/doc/index.rst
  cpp-examples/doc/read_data_with_arrow_flight.rst
Labels: NoDocumentationNeeded

#2813 Remove Python specific checks for parallel evaluation of formulas
  engine/api/src/main/java/io/deephaven/engine/table/ColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/NaturalJoinHelper.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/PrevColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/UnboxedDateTimeColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/partitioned/BiTableTransformationColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/partitioned/LongConstantColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/partitioned/TableTransformationColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/AbstractFormulaColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/DhFormulaColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/FunctionalColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/MultiSourceFunctionalColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/analyzers/SelectColumnLayer.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/python/FormulaColumnPython.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/BitMaskingColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/BitShiftingColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/BooleanAsByteColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/BoxedColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ByteAsBooleanColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/CrossJoinRightColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/DateTimeAsLongColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/DelegatingColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/LongAsDateTimeColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/RedirectedColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ReversedColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/SwitchColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/UngroupedByteArrayColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/UngroupedByteVectorColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/UngroupedCharArrayColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/UngroupedCharVectorColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/UngroupedDoubleArrayColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/UngroupedDoubleVectorColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/UngroupedFloatArrayColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/UngroupedFloatVectorColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/UngroupedIntArrayColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/UngroupedIntVectorColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/UngroupedLongArrayColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/UngroupedLongVectorColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/UngroupedShortArrayColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/UngroupedShortVectorColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/UnionColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ViewColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/BaseAggregateColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/ColumnsToRowsTransform.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/MergeSortedHelper.java
  engine/table/src/main/java/io/deephaven/engine/util/WindowCheck.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/TestPartitionAwareSourceTable.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/TestSimpleSourceTable.java
Labels: query engine, NoDocumentationNeeded

#2825 Write a unit test to verify that @FinalDefault is respected
  engine/base/src/main/java/io/deephaven/engine/table/impl/DefaultChunkSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/PrevColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/TableDefaults.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/DelegatingColumnSource.java
  extensions/classgraph/build.gradle
  server/build.gradle
  server/src/test/java/io/deephaven/util/annotations/TestFinalDefault.java
Labels: table api, test, NoDocumentationNeeded

#2826 Bump to slf4j 2.0.0 and logback 1.4.0
  buildSrc/src/main/groovy/Classpaths.groovy
Labels: logging, NoDocumentationNeeded, version-bump

#2827 Bump jetty to 11.0.11
  buildSrc/src/main/groovy/Classpaths.groovy
Labels: NoDocumentationNeeded, version-bump

#2810 Use double hashing for HashMapBase
  Util/src/main/java/io/deephaven/util/datastructures/hash/HashMapBase.java
  Util/src/main/java/io/deephaven/util/datastructures/hash/HashMapK1V1.java
  Util/src/main/java/io/deephaven/util/datastructures/hash/HashMapK2V2.java
  Util/src/main/java/io/deephaven/util/datastructures/hash/HashMapK4V4.java
  engine/table/build.gradle
  engine/table/src/jmh/README.md
  engine/table/src/jmh/java/io/deephaven/engine/bench/BlackholeListener.java
  engine/table/src/jmh/java/io/deephaven/engine/bench/Functions.java
  engine/table/src/jmh/java/io/deephaven/engine/bench/IncrementalSortCyclesBenchmark.java
  engine/table/src/jmh/java/io/deephaven/engine/bench/IncrementalSortCyclesBenchmarkBase.java
  engine/table/src/jmh/java/io/deephaven/engine/bench/IncrementalSortRedirectionBase.java
  engine/table/src/jmh/java/io/deephaven/engine/bench/IncrementalSortRedirectionDefaultCase.java
  engine/table/src/jmh/java/io/deephaven/engine/bench/IncrementalSortRedirectionEdgeCase.java
Labels: query engine, NoDocumentationNeeded

#2830 Remove deprecated uses of java.security
  Base/src/main/java/io/deephaven/base/system/AsyncSystem.java
  Configuration/src/main/java/io/deephaven/configuration/PropertyFile.java
  FishUtil/src/main/java/io/deephaven/util/PropertyRetriever.java
  FishUtil/src/main/java/io/deephaven/util/process/ShutdownManagerImpl.java
  IO/src/main/java/io/deephaven/io/NioUtil.java
  Util/src/main/java/io/deephaven/util/Utils.java
  engine/context/src/main/java/io/deephaven/engine/context/QueryCompiler.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/typed/TypedHasherFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/locations/local/PrivilegedFileAccessUtil.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/AbstractFormulaColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/DhFormulaColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/codegen/JavaKernelBuilder.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ViewColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/util/GroovyDeephavenSession.java
  engine/table/src/main/java/io/deephaven/engine/util/file/FileHandleAccessor.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/layout/DeephavenNestedPartitionLayout.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/layout/ParquetFlatPartitionedLayout.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/layout/ParquetSingleFileLayout.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/location/ParquetTableLocationFactory.java
Labels: clean up, core, NoDocumentationNeeded

#2834 Merge py integration tests into the main suite
  Integrations/build.gradle
  py/server/integration-tests/null_integers_test.py
  py/server/integration-tests/numbers_from_list_and_func_test.py
  py/server/integration-tests/perfmon_test.py
  py/server/integration-tests/pylong_conv_test.py
  py/server/integration-tests/pyobj_field_access_test.py
  py/server/integration-tests/run-tests.sh
  py/server/tests/test_column.py
  py/server/tests/test_constants.py
  py/server/tests/test_numba_vectorized_column.py
  py/server/tests/test_numba_vectorized_filter.py
  py/server/tests/test_perfmon.py
  py/server/tests/test_table.py
Labels: NoDocumentationNeeded, python-server-side

#2839 Support numpy.bool_ to Java Boolean in array()
  py/server/deephaven/dtypes.py
  py/server/deephaven/numpy.py
  py/server/tests/test_dtypes.py
Labels: NoDocumentationNeeded, python-server-side

#2842 Correctly base64 encode binary gRPC trailers to websocket frames
  grpc-java/grpc-servlet-websocket-jakarta/src/main/java/io/grpc/servlet/web/websocket/WebsocketStreamImpl.java
Labels: jsapi, grpc, NoDocumentationNeeded

#2726 Fixed C++ build instructions and some missing headers
  cpp-client/README.md
  cpp-client/deephaven/client/src/container/row_sequence.cc
  cpp-client/deephaven/client/src/subscription/space_mapper.cc
Labels: documentation, build, NoDocumentationNeeded, cpp api

#2837 If a TeeStream is gc'd, don't close underlying streams
  py/server/deephaven_internal/stream.py
Labels: NoDocumentationNeeded, python-server-side

#2844 Package proto files in the top level of the jar based on them
  proto/proto-backplane-grpc/build.gradle
Labels: build, grpc, NoDocumentationNeeded

#2845 TicketResolver: return failed export object instead of throwing
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/util/GrpcUtil.java
  server/src/main/java/io/deephaven/server/console/ScopeTicketResolver.java
  server/src/main/java/io/deephaven/server/session/SessionState.java
  server/src/test/java/io/deephaven/server/session/SessionStateTest.java
Labels: bug, grpc, NoDocumentationNeeded

#2861 Add __version__ in deephaven_server
  py/embedded-server/deephaven_server/__init__.py
Labels: NoDocumentationNeeded

#2852 Update `PartitionTable` to use `RowSetBuilder` instead of `RowSet.insert()`
  engine/table/src/main/java/io/deephaven/engine/table/impl/PrecomputedRowSetBuilderRandom.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/PartitionByChunkedOperator.java
Labels: NoDocumentationNeeded

#2877 Fix the table used for state manager sizing in ticking left + static right NJ when building from right
  engine/table/src/main/java/io/deephaven/engine/table/impl/NaturalJoinHelper.java
Labels: bug, query engine, NoDocumentationNeeded, user-reported

#2879 Netty enable SO_REUSEADDR to fix bind to port 8080 races
  server/netty/src/main/java/io/deephaven/server/netty/NettyServerModule.java
  server/netty/src/test/java/io/deephaven/server/netty/NettyFlightRoundTripTest.java
Labels: bug, grpc, NoDocumentationNeeded

#2878 Remove dependency on python-dev-base, follow up to #2583
  .github/workflows/build-ci.yml
  docker/registry/python-dev-base/build.gradle
  docker/registry/python-dev-base/gradle.properties
Labels: build, NoDocumentationNeeded

#2880 Bump images, add helper script
  docker/registry/go/gradle.properties
  docker/registry/nginx-base/gradle.properties
  docker/registry/nltk-base/gradle.properties
  docker/registry/node/gradle.properties
  docker/registry/protoc-base/gradle.properties
  docker/registry/python/gradle.properties
  docker/registry/pytorch-base/gradle.properties
  docker/registry/scripts/update-requirements.sh
  docker/registry/server-base/gradle.properties
  docker/registry/sklearn-base/gradle.properties
  docker/registry/slim-base/gradle.properties
  docker/registry/tensorflow-base/gradle.properties
  docker/server/src/main/server-nltk/requirements.txt
  docker/server/src/main/server-pytorch/requirements.txt
  docker/server/src/main/server-sklearn/requirements.txt
  docker/server/src/main/server-tensorflow/requirements.txt
  docker/server/src/main/server/requirements.txt
Labels: NoDocumentationNeeded, version-bump

#2871 Issue #2870: make gradleVersion consistent with checked in wrapper
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: NoDocumentationNeeded

#2872 Remove java execution logic during table.py module init
  engine/context/src/main/java/io/deephaven/engine/context/ExecutionContext.java
  engine/table/src/main/java/io/deephaven/engine/util/AbstractScriptSession.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/FuzzerTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/PartitionedTableTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/TestConcurrentInstantiation.java
  py/server/deephaven/_jpy.py
  py/server/deephaven/dherror.py
  py/server/deephaven/table.py
  py/server/test_helper/__init__.py
  py/server/tests/test_calendar.py
  py/server/tests/test_filters.py
  py/server/tests/test_numpy.py
  py/server/tests/test_pandas.py
  py/server/tests/test_partitioned_table.py
  py/server/tests/test_plot/test_color.py
  py/server/tests/test_plot/test_figure.py
  py/server/tests/test_plot/test_font.py
  py/server/tests/test_plot/test_linestyle.py
  py/server/tests/test_plot/test_plot.py
  py/server/tests/test_plot/test_selectable_dataset.py
  py/server/tests/test_pt_proxy.py
  py/server/tests/test_table.py
  py/server/tests/test_table_factory.py
  py/server/tests/test_table_listener.py
  py/server/tests/test_ugp.py
  py/server/tests/test_updateby.py
  py/server/tests/testbase.py
Labels: python, NoDocumentationNeeded

#2884 SessionState should tryManage as dependencies may no longer be live
  server/src/main/java/io/deephaven/server/session/SessionState.java
  server/src/test/java/io/deephaven/server/session/SessionStateTest.java
Labels: bug, grpc, NoDocumentationNeeded

#2885 Add query language functions to get data structure sizes.
  engine/function/src/templates/Basic.ftl
  engine/function/src/templates/TestBasic.ftl
  engine/table/src/main/java/io/deephaven/libs/GroovyStaticImports.java
Labels: feature request, DocumentationNeeded

#2882 Subscribe to all columns for stream tables
  web/client-api/src/main/java/io/deephaven/web/client/api/subscription/TableViewportSubscription.java
Labels: bug, jsapi, NoDocumentationNeeded

#2892 Fix test_auto_locking_partitioned_table
  py/server/tests/test_ugp.py
Labels: bug, test, NoDocumentationNeeded

#2891 Make io.deephaven.app.GcApplication#enabled public
  plugin/gc-app/src/main/java/io/deephaven/app/GcApplication.java
Labels: NoDocumentationNeeded

#2894 Fix improper call to "manage" for static snapshot tables in Table.snapshot implementation
  engine/table/src/main/java/io/deephaven/engine/table/impl/snapshot/SnapshotInternalListener.java
Labels: bug, query engine, NoDocumentationNeeded, user-reported

#2867 Wrap ExecutionContext in Python
  engine/context/src/main/java/io/deephaven/engine/context/PoisonedQueryCompiler.java
  engine/context/src/main/java/io/deephaven/engine/context/PoisonedQueryLibrary.java
  engine/context/src/main/java/io/deephaven/engine/context/PoisonedQueryScope.java
  py/server/deephaven/execution_context.py
  py/server/deephaven/table.py
  py/server/tests/test_exec_ctx.py
  py/server/tests/test_partitioned_table.py
  py/server/tests/test_pt_proxy.py
  py/server/tests/test_table.py
  py/server/tests/test_ugp.py
  py/server/tests/testbase.py
Labels: NoDocumentationNeeded, python-server-side

#2896 Fix eager formula initialization not seeing new columns
  engine/table/src/main/java/io/deephaven/engine/table/impl/DeferredViewTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/partitioned/PartitionedTableProxyImpl.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/analyzers/SelectAndViewAnalyzer.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/DeferredViewTableTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/PartitionedTableTest.java
Labels: bug, query engine, NoDocumentationNeeded

#2904 Wrap consumeToPartitionedTable in Python
  engine/table/src/main/java/io/deephaven/engine/table/impl/SourcePartitionedTable.java
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
  py/server/deephaven/stream/kafka/consumer.py
  py/server/tests/test_kafka_consumer.py
Labels: NoDocumentationNeeded, python-server-side, partitioned_tables

#2906 Address integer overflow in static NJ and AJ; clean up wider-than-necessary type usage and eliminate legacy chunked hashers in NJ and AJ
  engine/table/src/main/java/io/deephaven/engine/table/impl/AsOfJoinHelper.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/BucketingContext.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/IncrementalChunkedNaturalJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/IncrementalNaturalJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/JoinControl.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/NaturalJoinHelper.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/NaturalJoinModifiedSlotTracker.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/RightIncrementalAsOfJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/RightIncrementalChunkedAsOfJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/RightIncrementalChunkedNaturalJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SimpleUniqueStaticNaturalJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/StaticAsOfJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/StaticChunkedAsOfJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/StaticChunkedNaturalJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/StaticNaturalJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SymbolTableCombiner.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/BucketedChunkedAjMergedListener.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/ChunkedAjUtils.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/RightIncrementalAsOfJoinStateManagerTypedBase.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/RightIncrementalHashedAsOfJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/StaticAsOfJoinStateManagerTypedBase.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/StaticHashedAsOfJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/TypedAsOfJoinFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/ZeroKeyChunkedAjMergedListener.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/rightincopen/gen/RightIncrementalAsOfJoinHasherByte.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/rightincopen/gen/RightIncrementalAsOfJoinHasherChar.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/rightincopen/gen/RightIncrementalAsOfJoinHasherDouble.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/rightincopen/gen/RightIncrementalAsOfJoinHasherFloat.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/rightincopen/gen/RightIncrementalAsOfJoinHasherInt.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/rightincopen/gen/RightIncrementalAsOfJoinHasherLong.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/rightincopen/gen/RightIncrementalAsOfJoinHasherObject.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/rightincopen/gen/RightIncrementalAsOfJoinHasherShort.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/staticopen/gen/StaticAsOfJoinHasherByte.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/staticopen/gen/StaticAsOfJoinHasherChar.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/staticopen/gen/StaticAsOfJoinHasherDouble.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/staticopen/gen/StaticAsOfJoinHasherFloat.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/staticopen/gen/StaticAsOfJoinHasherInt.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/staticopen/gen/StaticAsOfJoinHasherLong.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/staticopen/gen/StaticAsOfJoinHasherObject.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/typed/staticopen/gen/StaticAsOfJoinHasherShort.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/typed/TypedHasherFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/naturaljoin/IncrementalNaturalJoinStateManagerTypedBase.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/naturaljoin/RightIncrementalNaturalJoinStateManagerTypedBase.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/naturaljoin/StaticHashedNaturalJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/naturaljoin/StaticNaturalJoinStateManagerTypedBase.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/naturaljoin/TypedNaturalJoinFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/naturaljoin/typed/staticopen/gen/StaticNaturalJoinHasherByte.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/naturaljoin/typed/staticopen/gen/StaticNaturalJoinHasherChar.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/naturaljoin/typed/staticopen/gen/StaticNaturalJoinHasherDouble.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/naturaljoin/typed/staticopen/gen/StaticNaturalJoinHasherFloat.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/naturaljoin/typed/staticopen/gen/StaticNaturalJoinHasherInt.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/naturaljoin/typed/staticopen/gen/StaticNaturalJoinHasherLong.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/naturaljoin/typed/staticopen/gen/StaticNaturalJoinHasherObject.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/naturaljoin/typed/staticopen/gen/StaticNaturalJoinHasherShort.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableAjTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableNaturalJoinTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableStaticNaturalJoinRandomTest.java
  replication/reflective/src/main/java/io/deephaven/replicators/ReplicateHashTable.java
Labels: bug, query engine, NoDocumentationNeeded

#2886 Use builders for `GroupBy` initialization and updates
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/AggregationContext.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/BitmapRandomBuilder.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ByteStreamSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/CharStreamSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ChunkedOperatorAggregationHelper.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/DoubleStreamSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/FloatStreamSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/FormulaChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/GroupByChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/IntStreamSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/IterativeChunkedAggregationOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/LongStreamSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ObjectStreamSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/PartitionByChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ShortStreamSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/StreamFirstChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/StreamLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/TDigestPercentileOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ssmcountdistinct/distinct/LongChunkedDistinctOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ssmcountdistinct/distinct/LongRollupDistinctOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ssmcountdistinct/unique/LongChunkedUniqueOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ssmcountdistinct/unique/LongRollupUniqueOperator.java
Labels: NoDocumentationNeeded

#2915 Bump node and protoc base images
  docker/registry/node/gradle.properties
  docker/registry/protoc-base/gradle.properties
  py/client/pydeephaven/proto/application_pb2.py
  py/client/pydeephaven/proto/console_pb2.py
  py/client/pydeephaven/proto/inputtable_pb2.py
  py/client/pydeephaven/proto/object_pb2.py
  py/client/pydeephaven/proto/partitionedtable_pb2.py
  py/client/pydeephaven/proto/session_pb2.py
  py/client/pydeephaven/proto/table_pb2.py
  py/client/pydeephaven/proto/ticket_pb2.py
Labels: NoDocumentationNeeded, version-bump

#2917 Interchange the `vec` and `array` names in the query library
  engine/function/src/templates/Basic.ftl
  engine/function/src/templates/TestBasic.ftl
  engine/table/src/main/java/io/deephaven/libs/GroovyStaticImports.java
Labels: clean up, query engine, DocumentationNeeded, breaking

#2922 Remove unused commons-<x> dependencies
  FishUtil/build.gradle
  FishUtil/src/main/java/io/deephaven/util/PropertyRetriever.java
  IO/build.gradle
  buildSrc/src/main/groovy/Classpaths.groovy
  buildSrc/src/main/groovy/io.deephaven.java-classpath-conventions.gradle
  extensions/barrage/build.gradle
  java-client/flight/build.gradle
  server/src/main/java/io/deephaven/server/console/ScopeTicketResolver.java
  server/src/main/java/io/deephaven/server/session/TicketResolverBase.java
Labels: clean up, security, NoDocumentationNeeded

#2918 Bump to jpy 0.12.0
  docker/registry/nltk-base/gradle.properties
  docker/registry/protoc-base/gradle.properties
  docker/registry/pytorch-base/gradle.properties
  docker/registry/server-base/gradle.properties
  docker/registry/sklearn-base/gradle.properties
  docker/registry/tensorflow-base/gradle.properties
  docker/server/src/main/server-nltk/requirements.txt
  docker/server/src/main/server-pytorch/requirements.txt
  docker/server/src/main/server-sklearn/requirements.txt
  docker/server/src/main/server-tensorflow/requirements.txt
  docker/server/src/main/server/requirements.txt
  py/embedded-server/setup.py
  py/jpy-ext/build.gradle
  py/server/setup.py
Labels: NoDocumentationNeeded, jpy, version-bump

#2907 Wrap the partitionedAggBy convenience mtd in py
  py/server/deephaven/table.py
  py/server/tests/test_table.py
Labels: DocumentationNeeded, python-server-side

#2921 Fix modified row set for QueryTable.snapshot when rows have been added, and correct row set cleanup when not notifying. Also port some DHE fixes.
  engine/api/src/main/java/io/deephaven/engine/table/ModifiedColumnSet.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/TableUpdateValidator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/DynamicWhereFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/snapshot/SnapshotInternalListener.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableTest.java
Labels: bug, query engine, NoDocumentationNeeded

#2924 Convert `array` to `vec` to fix failing tests
  engine/table/src/test/java/io/deephaven/engine/table/impl/TestAggBy.java
Labels: bug, NoDocumentationNeeded

#2928 Bring latest C++ client up to main
  cpp-client/deephaven/client/CMakeLists.txt
  cpp-client/deephaven/client/build-dependencies.sh
  cpp-client/deephaven/client/flatbuf/deephaven/flatbuf/Barrage_generated.h
  cpp-client/deephaven/client/include/private/deephaven/client/immerutil/abstract_flex_vector.h
  cpp-client/deephaven/client/include/private/deephaven/client/subscription/batch_parser.h
  cpp-client/deephaven/client/include/private/deephaven/client/subscription/immer_table_state.h
  cpp-client/deephaven/client/include/private/deephaven/client/subscription/space_mapper.h
  cpp-client/deephaven/client/include/public/deephaven/client/chunk/chunk.h
  cpp-client/deephaven/client/include/public/deephaven/client/utility/table_maker.h
  cpp-client/deephaven/client/src/subscription/batch_parser.cc
  cpp-client/deephaven/client/src/subscription/immer_table_state.cc
  cpp-client/deephaven/client/src/subscription/index_decoder.cc
  cpp-client/deephaven/client/src/subscription/space_mapper.cc
  cpp-client/deephaven/client/src/subscription/update_processor.cc
  cpp-client/deephaven/client/src/utility/table_maker.cc
  cpp-client/deephaven/client/third_party/roaring/include/roaring/roaring.c
  cpp-client/deephaven/client/third_party/roaring/include/roaring/roaring.h
  cpp-client/deephaven/client/third_party/roaring/include/roaring/roaring.hh
  cpp-client/tests/CMakeLists.txt
  cpp-client/tests/select_test.cc
  cpp-client/tests/test_util.cc
  cpp-client/tests/test_util.h
  cpp-client/tests/ticking_test.cc
Labels: NoDocumentationNeeded

#2926 Ensure python session execution context is used for python tests
  py/server/test_helper/__init__.py
  py/server/tests/test_exec_ctx.py
  py/server/tests/test_learn_gather.py
  py/server/tests/test_numba_vectorized_column.py
  py/server/tests/test_numba_vectorized_filter.py
  py/server/tests/testbase.py
Labels: bug, python, test, NoDocumentationNeeded

#2925 Compute targetUrl based on ServerConfig
  buildSrc/src/main/groovy/Classpaths.groovy
  server/build.gradle
  server/src/main/java/io/deephaven/server/config/ServerConfig.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServer.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServerInProcessGroovyComponent.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServerInProcessPythonComponent.java
  server/src/main/java/io/deephaven/server/runner/ServerBuilderInProcessModule.java
  server/src/test/java/io/deephaven/server/runner/DeephavenApiServerTestBase.java
  server/src/test/java/io/deephaven/server/runner/DeephavenApiServerTestConfig.java
Labels: configuration, NoDocumentationNeeded

#2933 Always create an empty array, in case the provided columns are null
  web/client-api/src/main/java/io/deephaven/web/client/api/subscription/TableViewportSubscription.java
Labels: jsapi, NoDocumentationNeeded

#2935 Remove anonymous authentication warning logging
  authentication/src/main/java/io/deephaven/auth/AnonymousAuthenticationHandler.java
Labels: logging, NoDocumentationNeeded

#2937 Set correct cache headers for js api/ui resources
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyBackedGrpcServer.java
Labels: web-client-ui, jsapi, NoDocumentationNeeded, jetty
