Repository deephaven/deephaven-core, pull requests merged in 2023-01, with the labels that each got.

#3252 Fix TableViewportSubscription race condition
  web/client-api/src/main/java/io/deephaven/web/client/api/subscription/TableViewportSubscription.java
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded

#3245 Bump to spotless 6.12.0
  buildSrc/build.gradle
Labels: NoDocumentationNeeded, version-bump, NoReleaseNotesNeeded

#3219 Fix default_groovy.env
  default_groovy.env
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded

#3159 Refactor dagger mains for better extensibility
  py/embedded-server/java-runtime/src/main/java/io/deephaven/python/server/EmbeddedServer.java
  server/jetty-app-custom/README.md
  server/jetty-app-custom/build.gradle
  server/jetty-app-custom/gradle.properties
  server/jetty-app-custom/src/main/java/io/deephaven/server/custom/CustomApplication1.java
  server/jetty-app-custom/src/main/java/io/deephaven/server/custom/CustomApplication2.java
  server/jetty-app-custom/src/main/java/io/deephaven/server/custom/CustomAuthorization.java
  server/jetty-app-custom/src/main/java/io/deephaven/server/custom/CustomComponentFactory.java
  server/jetty-app-custom/src/main/java/io/deephaven/server/custom/CustomMain.java
  server/jetty-app-custom/src/main/resources/logback.xml
  server/jetty-app/src/main/java/io/deephaven/server/jetty/JettyMain.java
  server/jetty/build.gradle
  server/jetty/src/main/java/io/deephaven/server/jetty/CommunityComponentFactory.java
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyMain.java
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyServerComponent.java
  server/netty-app/src/main/java/io/deephaven/server/netty/NettyMain.java
  server/netty/src/main/java/io/deephaven/server/netty/DeprecatedCommunityComponentFactory.java
  server/netty/src/main/java/io/deephaven/server/netty/NettyMain.java
  server/src/main/java/io/deephaven/server/auth/AllowAllAuthorizationProvider.java
  server/src/main/java/io/deephaven/server/auth/CommunityAuthorizationModule.java
  server/src/main/java/io/deephaven/server/auth/CommunityAuthorizationProvider.java
  server/src/main/java/io/deephaven/server/config/ServerConfig.java
  server/src/main/java/io/deephaven/server/runner/CommunityDefaultsModule.java
  server/src/main/java/io/deephaven/server/runner/ComponentFactoryBase.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServerComponent.java
  server/src/main/java/io/deephaven/server/runner/MainHelper.java
  settings.gradle
Labels: configuration, DocumentationNeeded, authorization, ReleaseNotesNeeded

#3265 Ensure the stamp key is nulled out if the trigger table is empty
  engine/table/src/main/java/io/deephaven/engine/table/impl/snapshot/SnapshotInternalListener.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/snapshot/SnapshotUtils.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ByteSingleValueSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/CharacterSingleValueSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/DoubleSingleValueSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/FloatSingleValueSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/IntegerSingleValueSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/LongSingleValueSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ObjectSingleValueSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ShortSingleValueSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/SingleValueColumnSource.java
Labels: bug, query engine, NoDocumentationNeeded, NoReleaseNotesNeeded

#3259 Wrap the rollup and tree Table operations
  py/server/deephaven/table.py
  py/server/tests/test_table.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#3274 Update web v0.25.0
  web/client-ui/Dockerfile
Labels: DocumentationNeeded, enhancement, ReleaseNotesNeeded

#3280 Fix typos to 'unreferenceable'
  java-client/session/src/main/java/io/deephaven/client/impl/ExportStates.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3278 Specialize our safelyExecute calls to avoid logs
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/util/GrpcUtil.java
  java-client/barrage/src/main/java/io/deephaven/client/impl/BarrageSubscriptionImpl.java
  server/src/main/java/io/deephaven/server/appmode/ApplicationServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/arrow/ArrowFlightUtil.java
  server/src/main/java/io/deephaven/server/arrow/FlightServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/barrage/BarrageMessageProducer.java
  server/src/main/java/io/deephaven/server/browserstreaming/BrowserStream.java
  server/src/main/java/io/deephaven/server/console/ConsoleServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/console/completer/JavaAutoCompleteObserver.java
  server/src/main/java/io/deephaven/server/console/completer/PythonAutoCompleteObserver.java
  server/src/main/java/io/deephaven/server/hierarchicaltable/HierarchicalTableServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/hierarchicaltable/HierarchicalTableViewSubscription.java
  server/src/main/java/io/deephaven/server/partitionedtable/PartitionedTableServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/session/SessionCloseableObserver.java
  server/src/main/java/io/deephaven/server/session/SessionService.java
  server/src/main/java/io/deephaven/server/session/SessionServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/session/SessionState.java
  server/src/main/java/io/deephaven/server/table/ExportedTableUpdateListener.java
  server/src/main/java/io/deephaven/server/table/inputtables/InputTableServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/table/ops/TableServiceGrpcImpl.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3216 Add arrow module in Py API
  docker/registry/all-ai-base/gradle.properties
  docker/registry/nltk-base/gradle.properties
  docker/registry/pytorch-base/gradle.properties
  docker/registry/server-base/gradle.properties
  docker/registry/sklearn-base/gradle.properties
  docker/registry/tensorflow-base/gradle.properties
  docker/server-jetty/src/main/server-jetty/requirements.txt
  docker/server/src/main/server-all-ai-netty/requirements.txt
  docker/server/src/main/server-netty/requirements.txt
  docker/server/src/main/server-nltk-netty/requirements.txt
  docker/server/src/main/server-pytorch-netty/requirements.txt
  docker/server/src/main/server-sklearn-netty/requirements.txt
  docker/server/src/main/server-tensorflow-netty/requirements.txt
  py/server/deephaven/arrow.py
  py/server/deephaven/pandas.py
  py/server/setup.py
  py/server/tests/test_arrow.py
Labels: python, DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#3287 Corrected generated JS bindings for aggregation protobufs
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/AggSpec.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/Aggregation.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/aggregation/TypeCase.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/aggspec/AggSpecNonUniqueSentinel.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/aggspec/TypeCase.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/aggspec/aggspecnonuniquesentinel/TypeCase.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3286 Add a new enum for hierarchical tables in DHC
  web/client-api/src/main/java/io/deephaven/web/client/api/console/JsVariableChanges.java
Labels: jsapi, NoDocumentationNeeded, NoReleaseNotesNeeded, hierarchical_tables

#3288 gRPC JS and GWT bindings for Hierarchical Table and UpdateBy
  proto/raw-js-openapi/src/index.js
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/Table_pb.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/FigureDescriptor.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/figuredescriptor/SourceTypeMap.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb/HierarchicalTableApplyRequest.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb/HierarchicalTableApplyResponse.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb/HierarchicalTableDescriptor.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb/HierarchicalTableSourceExportRequest.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb/HierarchicalTableViewKeyTableDescriptor.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb/HierarchicalTableViewRequest.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb/HierarchicalTableViewResponse.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb/RollupRequest.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb/RollupResponse.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb/TreeRequest.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb/TreeResponse.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb/hierarchicaltableviewrequest/TargetCase.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb_service/BidirectionalStream.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb_service/HierarchicalTableService.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb_service/HierarchicalTableServiceClient.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb_service/RequestStream.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb_service/ResponseStream.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/hierarchicaltable_pb_service/UnaryResponse.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/BadDataBehaviorMap.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/BatchTableRequest.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/MathContext.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/NullValueMap.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/UpdateByRequest.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/batchtablerequest/Operation.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/mathcontext/RoundingModeMap.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/updatebyrequest/UpdateByOperation.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/updatebyrequest/UpdateByOptions.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/updatebyrequest/updatebyoperation/TypeCase.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/updatebyrequest/updatebyoperation/UpdateByColumn.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/updatebyrequest/updatebyoperation/updatebycolumn/UpdateBySpec.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/updatebyrequest/updatebyoperation/updatebycolumn/updatebyspec/TypeCase.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/updatebyrequest/updatebyoperation/updatebycolumn/updatebyspec/UpdateByCumulativeMax.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/updatebyrequest/updatebyoperation/updatebycolumn/updatebyspec/UpdateByCumulativeMin.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/updatebyrequest/updatebyoperation/updatebycolumn/updatebyspec/UpdateByCumulativeProduct.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/updatebyrequest/updatebyoperation/updatebycolumn/updatebyspec/UpdateByCumulativeSum.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/updatebyrequest/updatebyoperation/updatebycolumn/updatebyspec/UpdateByEma.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/updatebyrequest/updatebyoperation/updatebycolumn/updatebyspec/UpdateByFill.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/updatebyrequest/updatebyoperation/updatebycolumn/updatebyspec/updatebyema/UpdateByEmaOptions.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/updatebyrequest/updatebyoperation/updatebycolumn/updatebyspec/updatebyema/UpdateByEmaTimescale.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/updatebyrequest/updatebyoperation/updatebycolumn/updatebyspec/updatebyema/updatebyematimescale/TypeCase.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/updatebyrequest/updatebyoperation/updatebycolumn/updatebyspec/updatebyema/updatebyematimescale/UpdateByEmaTicks.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/updatebyrequest/updatebyoperation/updatebycolumn/updatebyspec/updatebyema/updatebyematimescale/UpdateByEmaTime.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb_service/TableService.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb_service/TableServiceClient.java
Labels: jsapi, grpc, NoDocumentationNeeded, NoReleaseNotesNeeded

#3289 Add validation for rollup filters and rollup/tree sort restrictions to HierarchicalTableServiceGrpcImpl
  engine/table/src/main/java/io/deephaven/engine/table/impl/BaseGridAttributes.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/hierarchical/RollupTableImpl.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/util/HierarchicalTableSchemaUtil.java
  server/src/main/java/io/deephaven/server/hierarchicaltable/HierarchicalTableServiceGrpcImpl.java
Labels: query engine, core, NoDocumentationNeeded, NoReleaseNotesNeeded

#3040 Update to the most recent gradle unixStartScript.txt
  buildSrc/src/main/resources/unixStartScript.txt
Labels: build, NoDocumentationNeeded, version-bump, NoReleaseNotesNeeded

#3070 Provide default directory for js plugins
  server/jetty/src/main/java/io/deephaven/server/jetty/JsPlugins.java
Labels: configuration, DocumentationNeeded, ReleaseNotesNeeded

#3220 Add JAVA_OPTS and START_OPTS environment variable parsing for gradle
  buildSrc/src/main/groovy/io.deephaven.java-toolchain-conventions.gradle
Labels: build, configuration, NoDocumentationNeeded, NoReleaseNotesNeeded

#3292 Add input_table()
  py/server/deephaven/__init__.py
  py/server/deephaven/table_factory.py
  py/server/tests/test_table_factory.py
Labels: DocumentationNeeded, python-server-side, breaking, ReleaseNotesNeeded

#3242 Improve error message for empty ColumnAggregation(s)
  table-api/src/main/java/io/deephaven/api/agg/Aggregation.java
  table-api/src/main/java/io/deephaven/api/agg/Aggregations.java
  table-api/src/main/java/io/deephaven/api/agg/ColumnAggregations.java
Labels: logging, NoDocumentationNeeded, NoReleaseNotesNeeded

#3283 Upgrade to com.avast.gradle:gradle-docker-compose-plugin:0.16.11
  Integrations/build.gradle
  buildSrc/build.gradle
Labels: build, docker, ci, NoDocumentationNeeded, NoReleaseNotesNeeded

#3295 Rollup: fix off-by-one error preventing expansion of constituent level when row key is 0
  engine/table/src/main/java/io/deephaven/engine/table/impl/hierarchical/RollupTableImpl.java
Labels: bug, query engine, NoDocumentationNeeded, application mode, NoReleaseNotesNeeded

#3294 Port DH-11944: Add support for leftOuterJoin
  engine/function/src/test/java/io/deephaven/function/TestRandom.java
  engine/rowset/src/main/java/io/deephaven/engine/rowset/RowSet.java
  engine/rowset/src/main/java/io/deephaven/engine/rowset/RowSetShiftData.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/CrossJoinHelper.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/CrossJoinModifiedSlotTracker.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/CrossJoinShiftState.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/CrossJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/LeftOnlyIncrementalChunkedCrossJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/RightIncrementalChunkedCrossJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/StaticChunkedCrossJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SymbolTableCombiner.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/ZeroKeyCrossJoinShiftState.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/BucketedChunkedAjMergedListener.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/ByteSortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/radix/BooleanByteRadixSortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/ByteByteTimsortDescendingKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/ByteByteTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/CharByteTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/DoubleByteTimsortDescendingKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/DoubleByteTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/FloatByteTimsortDescendingKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/FloatByteTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/IntByteTimsortDescendingKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/IntByteTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/LongByteTimsortDescendingKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/LongByteTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/NullAwareCharByteTimsortDescendingKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/NullAwareCharByteTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/ObjectByteTimsortDescendingKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/ObjectByteTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/ShortByteTimsortDescendingKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/ShortByteTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/BitMaskingColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/BitShiftingColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/CrossJoinRightColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/ColumnsToRowsTransform.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/LongColumnSourceWritableRowRedirection.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/WritableRowRedirection.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/WritableRowRedirectionLockFree.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableCrossJoinTestBase.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableLeftOuterJoinSmallRightBitsTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableLeftOuterJoinTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableLeftOuterJoinTestBase.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/TestJoinControl.java
  replication/static/src/main/java/io/deephaven/replicators/ReplicateSortKernel.java
  replication/util/src/main/java/io/deephaven/replication/ReplicatePrimitiveCode.java
Labels: query engine, NoDocumentationNeeded, port, ReleaseNotesNeeded

#3301 Two rollup/tree fixes
  Base/src/main/java/io/deephaven/base/reference/SwappableDelegatingReference.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/hierarchical/HierarchicalTableImpl.java
Labels: bug, query engine, core, NoDocumentationNeeded, NoReleaseNotesNeeded

#3298 Fix potential NPE while writing StringSets to Parquet
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetTableWriter.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/ParquetTableReadWriteTest.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3299 SessionService#release - Quietly and Gracefully handle OutOfOrder/Premature Releases/Cancels
  server/src/main/java/io/deephaven/server/session/SessionServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/session/SessionState.java
  server/src/test/java/io/deephaven/server/session/SessionStateTest.java
Labels: grpc, clean up, NoDocumentationNeeded, ReleaseNotesNeeded

#3304 When DoExchange is closed by the client, don't respond with an error
  server/src/main/java/io/deephaven/server/arrow/ArrowFlightUtil.java
  server/src/main/java/io/deephaven/server/session/SessionState.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3307 Update web version to v0.26.0
  web/client-ui/Dockerfile
Labels: DocumentationNeeded, ReleaseNotesNeeded

#3309 Port DH-8170: OuterJoinTools including bugfix DH-12658
  engine/table/src/main/java/io/deephaven/engine/table/impl/StaticChunkedCrossJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/NullSelectColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/NullValueColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/util/OuterJoinTools.java
  engine/table/src/test/java/io/deephaven/engine/util/TestOuterJoinTools.java
Labels: query engine, DocumentationNeeded, port, ReleaseNotesNeeded

#3313 Port DH-11558: QueryTable#selectOrUpdate do not Redirect Flat Tables
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableSelectUpdateTest.java
Labels: bug, query engine, NoDocumentationNeeded, port, NoReleaseNotesNeeded

#3290 JS API for Hierarchical Tables
  web/client-api/src/main/java/io/deephaven/ide/shared/IdeSession.java
  web/client-api/src/main/java/io/deephaven/web/client/api/Column.java
  web/client-api/src/main/java/io/deephaven/web/client/api/JsTable.java
  web/client-api/src/main/java/io/deephaven/web/client/api/JsTotalsTableConfig.java
  web/client-api/src/main/java/io/deephaven/web/client/api/WorkerConnection.java
  web/client-api/src/main/java/io/deephaven/web/client/api/barrage/WebBarrageUtils.java
  web/client-api/src/main/java/io/deephaven/web/client/api/barrage/def/ColumnDefinition.java
  web/client-api/src/main/java/io/deephaven/web/client/api/barrage/def/InitialTableDefinition.java
  web/client-api/src/main/java/io/deephaven/web/client/api/barrage/def/TableAttributesDefinition.java
  web/client-api/src/main/java/io/deephaven/web/client/api/parse/JsDataHandler.java
  web/client-api/src/main/java/io/deephaven/web/client/api/tree/JsRollupConfig.java
  web/client-api/src/main/java/io/deephaven/web/client/api/tree/JsTreeTable.java
  web/client-api/src/main/java/io/deephaven/web/client/api/tree/enums/JsAggregationOperation.java
  web/client-api/src/main/java/io/deephaven/web/client/state/ClientTableState.java
  web/client-api/src/main/java/io/deephaven/web/public/index.html
  web/client-api/src/main/java/io/deephaven/web/public/rollup.html
  web/client-api/src/main/java/io/deephaven/web/public/treegrid.js
  web/client-api/src/main/java/io/deephaven/web/public/treetable.html
  web/shared-beans/src/main/java/io/deephaven/web/shared/data/FilterDescriptor.java
  web/shared-beans/src/main/java/io/deephaven/web/shared/data/HandleMapping.java
  web/shared-beans/src/main/java/io/deephaven/web/shared/data/HeadOrTailDescriptor.java
  web/shared-beans/src/main/java/io/deephaven/web/shared/data/RollupDefinition.java
  web/shared-beans/src/main/java/io/deephaven/web/shared/data/SortDescriptor.java
  web/shared-beans/src/main/java/io/deephaven/web/shared/data/TableHandle.java
  web/shared-beans/src/main/java/io/deephaven/web/shared/data/treetable/Key.java
  web/shared-beans/src/main/java/io/deephaven/web/shared/data/treetable/TableDetails.java
  web/shared-beans/src/main/java/io/deephaven/web/shared/data/treetable/TreeTableRequest.java
  web/shared-beans/src/main/java/io/deephaven/web/shared/data/treetable/TreeTableResult.java
  web/shared-beans/src/main/java/io/deephaven/web/shared/requests/RollupTableRequest.java
Labels: DocumentationNeeded, ReleaseNotesNeeded

#3312 Port DH-11580: Fix Incorrect JoinListener Descriptions
  engine/table/src/main/java/io/deephaven/engine/table/impl/join/JoinListenerRecorder.java
Labels: bug, query engine, NoDocumentationNeeded, port, NoReleaseNotesNeeded

#3319 Remove pyarrow<10 restriction.
  py/server/setup.py
Labels: python, NoDocumentationNeeded, dependencies, NoReleaseNotesNeeded

#3316 Port DH-11649: Improve Memory Usage of Sparse Static Table update()s
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/analyzers/SelectAndViewAnalyzer.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/InMemoryColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/RedirectedColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/InverseRowRedirectionImpl.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/WrappedRowSetWritableRowRedirection.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableSelectUpdateTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/TestSelectPreserveGrouping.java
Labels: query engine, NoDocumentationNeeded, port, ReleaseNotesNeeded

#3318 Port DH-11625: Improve Would Match Filtering
  engine/table/src/main/java/io/deephaven/engine/table/impl/WouldMatchOperation.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableWouldMatchTest.java
Labels: query engine, NoDocumentationNeeded, port, NoReleaseNotesNeeded

#3317 WritableSourceColumn's SinkFillers Have State and Should not be Singletons
  engine/api/src/main/java/io/deephaven/engine/table/WritableColumnSource.java
Labels: bug, query engine, NoDocumentationNeeded, NoReleaseNotesNeeded

#3321 Bump to 0.21.0
  authorization-codegen/protoc-gen-contextual-auth-wiring
  authorization-codegen/protoc-gen-service-auth-wiring
  buildSrc/src/main/groovy/io.deephaven.common-conventions.gradle
  py/client/README.md
  py/client/pydeephaven/__init__.py
  py/client/setup.py
  py/embedded-server/deephaven_server/__init__.py
  py/server/deephaven/__init__.py
  server/jetty-app/README.md
Labels: NoDocumentationNeeded, version-bump, NoReleaseNotesNeeded

#3320 Port DH-12807: WindowCheck Should not Allocate Queue Based on Table Size
  engine/table/src/main/java/io/deephaven/engine/util/WindowCheck.java
  engine/table/src/test/java/io/deephaven/engine/util/TestWindowCheck.java
Labels: query engine, NoDocumentationNeeded, port, ReleaseNotesNeeded

#3086 Add support for seek row through JS API
  ClientSupport/src/main/java/io/deephaven/clientsupport/gotorow/SeekRow.java
  go/internal/proto/table/table.pb.go
  go/internal/proto/table/table_grpc.pb.go
  proto/proto-backplane-grpc/src/main/proto/deephaven/proto/table.proto
  py/client/pydeephaven/proto/table_pb2.py
  py/client/pydeephaven/proto/table_pb2_grpc.py
  server/src/main/java/io/deephaven/server/table/ops/TableServiceGrpcImpl.java
  web/client-api/src/main/java/io/deephaven/web/client/api/JsTable.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/SeekRowRequest.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/SeekRowResponse.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb_service/TableService.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb_service/TableServiceClient.java
Labels: NoDocumentationNeeded, ReleaseNotesNeeded

#3331 Fix test code for Python 3.10
  py/server/tests/test_column.py
  py/server/tests/test_dtypes.py
Labels: NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#3333 Update proto-generated files for cpp-client
  cpp-client/deephaven/client/CMakeLists.txt
  cpp-client/deephaven/client/proto/deephaven/proto/application.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/application.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/config.grpc.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/config.grpc.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/config.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/config.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/console.grpc.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/console.grpc.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/console.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/console.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/hierarchicaltable.grpc.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/hierarchicaltable.grpc.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/hierarchicaltable.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/hierarchicaltable.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/inputtable.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/inputtable.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/object.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/object.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/partitionedtable.grpc.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/partitionedtable.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/partitionedtable.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/session.grpc.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/session.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/session.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/storage.grpc.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/storage.grpc.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/storage.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/storage.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/table.grpc.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/table.grpc.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/table.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/table.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/ticket.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/ticket.pb.h
Labels: grpc, NoDocumentationNeeded, cpp api, NoReleaseNotesNeeded

#3339 Support generating cpp proto files automatically, with compare checks
  cpp-client/build.gradle
  cpp-client/deephaven/client/proto/deephaven/proto/table.grpc.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/table.grpc.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/table.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/table.pb.h
  docker/registry/cpp-client-base/gradle.properties
  docker/registry/protoc-base/gradle.properties
  proto/proto-backplane-grpc/Dockerfile
  proto/proto-backplane-grpc/build.gradle
Labels: build, grpc, NoDocumentationNeeded, NoReleaseNotesNeeded

#3338 Session expiration should be known to clients
  props/configs/src/main/resources/dh-defaults.prop
  props/test-configs/src/main/resources/dh-tests.prop
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyConfig.java
  server/jetty/src/test/java/io/deephaven/server/jetty/JettyFlightRoundTripTest.java
  server/netty/src/main/java/io/deephaven/server/netty/NettyConfig.java
  server/netty/src/test/java/io/deephaven/server/netty/NettyFlightRoundTripTest.java
  server/src/main/java/io/deephaven/server/config/ServerConfig.java
Labels: configuration, grpc, NoDocumentationNeeded, NoReleaseNotesNeeded

#3332 Fix infinite loop caused by integer overflow in ParquetTools.writeTable()
  Base/src/main/java/io/deephaven/base/ArrayUtil.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/InMemoryColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/UnionRedirection.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/util/BarrageStreamReader.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainBinaryChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainDoubleChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainFloatChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainIntChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainLongChunkedWriter.java
  replication/static/src/main/java/io/deephaven/replicators/ReplicateParquetChunkedWriters.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3343 Update web version to v0.26.1
  web/client-ui/Dockerfile
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded

#3352 Port DH-11656: More efficiently null sparse array sources
  engine/table/src/main/java/io/deephaven/engine/table/impl/AsOfJoinHelper.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/NaturalJoinHelper.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/RightIncrementalChunkedCrossJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SparseSelect.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/TableUpdateValidator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/BucketedChunkedAjMergedListener.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/asofjoin/ZeroKeyChunkedAjMergedListener.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/AbstractLongArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/AbstractSparseLongArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/BooleanSingleValueSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/BooleanSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ByteSingleValueSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ByteSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/CharacterSingleValueSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/CharacterSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/DateTimeArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/DoubleSingleValueSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/DoubleSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/FloatSingleValueSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/FloatSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/IntegerSingleValueSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/IntegerSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/LongSingleValueSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ObjectSingleValueSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ObjectSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ShortSingleValueSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ShortSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/SingleValueColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/SparseArrayColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/IntColumnSourceWritableRowRedirection.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/LongColumnSourceWritableRowRedirection.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/WritableRowRedirection.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/WritableRowRedirectionLockFree.java
  replication/static/src/main/java/io/deephaven/replicators/ReplicateSourcesAndChunks.java
Labels: query engine, NoDocumentationNeeded, port, ReleaseNotesNeeded

#3342 Update C++ client to support Python ticking client
  cpp-client/deephaven/client/CMakeLists.txt
  cpp-client/deephaven/client/include/private/deephaven/client/arrowutil/arrow_flight.h
  cpp-client/deephaven/client/include/private/deephaven/client/impl/table_handle_impl.h
  cpp-client/deephaven/client/include/private/deephaven/client/subscription/subscription_handle.h
  cpp-client/deephaven/client/include/private/deephaven/client/subscription/update_processor.h
  cpp-client/deephaven/client/include/public/deephaven/client/chunk/chunk.h
  cpp-client/deephaven/client/include/public/deephaven/client/client.h
  cpp-client/deephaven/client/include/public/deephaven/client/column/column_source.h
  cpp-client/deephaven/client/include/public/deephaven/client/column/column_source_helpers.h
  cpp-client/deephaven/client/include/public/deephaven/client/flight.h
  cpp-client/deephaven/client/include/public/deephaven/client/table/schema.h
  cpp-client/deephaven/client/include/public/deephaven/client/table/table.h
  cpp-client/deephaven/client/include/public/deephaven/client/ticking.h
  cpp-client/deephaven/client/include/public/deephaven/client/utility/arrow_util.h
  cpp-client/deephaven/client/include/public/deephaven/client/utility/table_maker.h
  cpp-client/deephaven/client/include/public/deephaven/client/utility/utility.h
  cpp-client/deephaven/client/src/arrowutil/arrow_flight.cc
  cpp-client/deephaven/client/src/chunk/chunk_filler.cc
  cpp-client/deephaven/client/src/client.cc
  cpp-client/deephaven/client/src/column/column_source_helpers.cc
  cpp-client/deephaven/client/src/flight.cc
  cpp-client/deephaven/client/src/impl/datetime_expression_impl.cc
  cpp-client/deephaven/client/src/impl/numeric_expression_impl.cc
  cpp-client/deephaven/client/src/impl/table_handle_impl.cc
  cpp-client/deephaven/client/src/subscription/immer_table_state.cc
  cpp-client/deephaven/client/src/subscription/subscribe_thread.cc
  cpp-client/deephaven/client/src/subscription/update_processor.cc
  cpp-client/deephaven/client/src/table/schema.cc
  cpp-client/deephaven/client/src/table/table.cc
  cpp-client/deephaven/client/src/ticking.cc
  cpp-client/deephaven/client/src/utility/arrow_util.cc
  cpp-client/deephaven/client/src/utility/table_maker.cc
  cpp-client/deephaven/client/src/utility/utility.cc
  cpp-examples/create_table_with_arrow_flight/main.cc
  cpp-examples/demos/chapter1.cc
  cpp-examples/hello_world/main.cc
  cpp-examples/read_csv/main.cc
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3336 Update server-base and server-slim-base to production-like images
  docker/registry/server-base/gradle.properties
  docker/registry/slim-base/gradle.properties
  docker/server-jetty/src/main/docker/Dockerfile
  docker/server-jetty/src/main/server-jetty/requirements.txt
  docker/server-slim/src/main/docker/Dockerfile
  docker/server/src/main/docker/Dockerfile
  docker/server/src/main/server-netty/requirements.txt
  py/embedded-server/deephaven_server/start_jvm.py
  py/jpy-integration/build.gradle
  py/jpy-integration/src/javaToPython/build.gradle.template
  py/jpy-integration/src/pythonToJava/python/test/test_jpy.py
  py/server/test_helper/__init__.py
  sphinx/source/conf.py
  sphinx/sphinx.gradle
Labels: build, python, test, NoDocumentationNeeded, NoReleaseNotesNeeded

#3354 Re-write debug functionality around UGP lock to eliminate cascading failures and better detect improper shared lock use
  Util/src/main/java/io/deephaven/util/MultiException.java
  engine/updategraph/src/main/java/io/deephaven/engine/updategraph/UpdateGraphLock.java
  engine/updategraph/src/main/java/io/deephaven/engine/updategraph/UpdateGraphProcessor.java
  engine/updategraph/src/test/java/io/deephaven/engine/updategraph/TestUpdateGraphLock.java
Labels: bug, query engine, core, NoDocumentationNeeded, NoReleaseNotesNeeded

#3355 Add some extra clues to PartitionedTableTest and LivenessManager.manage to try to find our occasional bug
  Util/src/main/java/io/deephaven/util/referencecounting/ReferenceCounted.java
  engine/table/src/test/java/io/deephaven/engine/liveness/TestLiveness.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/PartitionedTableTest.java
  engine/updategraph/src/main/java/io/deephaven/engine/liveness/LivenessManager.java
Labels: bug, query engine, core, NoDocumentationNeeded, partitioned_tables, NoReleaseNotesNeeded

#3357 Fix array copy function for booleans
  web/client-api/src/main/java/io/deephaven/web/client/api/barrage/WebBarrageUtils.java
  web/client-api/src/main/java/io/deephaven/web/client/api/subscription/SubscriptionTableData.java
  web/client-api/src/main/java/io/deephaven/web/client/api/widget/plot/FigureSubscription.java
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded

#3365 HierarchicalTableImpl: Change key table extraction and linkage to ignore directives for children of later-encountered ancestors
  engine/table/src/main/java/io/deephaven/engine/table/impl/hierarchical/HierarchicalTableImpl.java
Labels: query engine, core, NoDocumentationNeeded, NoReleaseNotesNeeded, hierarchical_tables

#3349 Simplify js api build
  settings.gradle
  web/client-api/client-api.gradle
  web/client-api/src/main/java/io/deephaven/ide/IdeShared.gwt.xml
  web/client-api/src/main/java/io/deephaven/web/DeephavenApi.gwt.xml
  web/client-api/src/main/java/io/deephaven/web/DeephavenApiDev.gwt.xml
  web/client-api/src/main/java/io/deephaven/web/client/api/QueryConnectable.java
  web/client-api/src/main/java/io/deephaven/web/client/ide/CommandInfo.java
  web/client-api/src/main/java/io/deephaven/web/client/ide/IdeClient.java
  web/client-api/src/main/java/io/deephaven/web/client/ide/IdeConnection.java
  web/client-api/src/main/java/io/deephaven/web/client/ide/IdeConnectionOptions.java
  web/client-api/src/main/java/io/deephaven/web/client/ide/IdeSession.java
  web/client-api/src/main/java/io/deephaven/web/client/ide/LspTranslate.java
  web/client-ide/.gitignore
  web/client-ide/client-ide.gradle
  web/client-ide/gradle.properties
  web/client-ide/src/main/java/io/deephaven/ide/DeephavenIde.gwt.xml
  web/client-ide/src/main/java/io/deephaven/ide/DeephavenIdeDev.gwt.xml
  web/web.gradle
Labels: build, jsapi, NoDocumentationNeeded, NoReleaseNotesNeeded

#3308 Update start script to support extending the classpath
  buildSrc/src/main/resources/unixStartScript.txt
  docker/server-jetty/src/main/docker/Dockerfile
  docker/server-slim/src/main/docker/Dockerfile
  docker/server/src/main/docker/Dockerfile
Labels: DocumentationNeeded, NoReleaseNotesNeeded

#3372 Disable vectorization on arg count mismatch
  engine/table/src/main/java/io/deephaven/engine/table/impl/lang/QueryLanguageParser.java
  py/server/tests/test_vectorization.py
Labels: query engine, NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#3371 JS API authentication via Flight v2
  authentication/build.gradle
  authentication/src/main/java/io/deephaven/auth/AnonymousAuthenticationHandler.java
  props/configs/src/main/resources/dh-defaults.prop
  props/test-configs/src/main/resources/dh-tests.prop
  web/client-api/src/main/java/io/deephaven/web/client/api/CoreClient.java
  web/client-api/src/main/java/io/deephaven/web/client/api/JsRefreshToken.java
  web/client-api/src/main/java/io/deephaven/web/client/api/LoginCredentials.java
  web/client-api/src/main/java/io/deephaven/web/client/api/QueryConnectable.java
  web/client-api/src/main/java/io/deephaven/web/client/api/WorkerConnection.java
  web/client-api/src/main/java/io/deephaven/web/client/api/barrage/WebGrpcUtils.java
  web/client-api/src/main/java/io/deephaven/web/client/api/barrage/stream/BiDiStream.java
  web/client-api/src/main/java/io/deephaven/web/client/api/barrage/stream/HandshakeStreamFactory.java
  web/client-api/src/main/java/io/deephaven/web/client/api/barrage/stream/ResponseStreamWrapper.java
  web/client-api/src/main/java/io/deephaven/web/client/ide/IdeClient.java
  web/client-api/src/main/java/io/deephaven/web/client/ide/IdeConnection.java
  web/client-api/src/main/java/io/deephaven/web/public/console.html
  web/client-api/src/main/java/io/deephaven/web/public/input_table.html
  web/client-api/src/main/java/io/deephaven/web/public/rollup.html
  web/client-api/src/main/java/io/deephaven/web/public/simple.html
  web/client-api/src/main/java/io/deephaven/web/public/table_basic.html
  web/client-api/src/main/java/io/deephaven/web/public/table_filter.html
  web/client-api/src/main/java/io/deephaven/web/public/table_sort.html
  web/client-api/src/main/java/io/deephaven/web/public/table_viewport.html
  web/client-api/src/main/java/io/deephaven/web/public/treetable.html
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/grpcweb/grpc/Client.java
  web/shared-beans/src/main/java/io/deephaven/web/shared/data/ConnectToken.java
Labels: jsapi, NoDocumentationNeeded, authentication, ReleaseNotesNeeded

#3373 TreeTable.promoteOrphans: Drop sentinel column
  engine/api/src/main/java/io/deephaven/engine/table/hierarchical/TreeTable.java
Labels: bug, query engine, core, NoDocumentationNeeded, NoReleaseNotesNeeded, hierarchical_tables

#3375 Update web version to v0.27.0
  web/client-ui/Dockerfile
Labels: NoDocumentationNeeded, internal, NoReleaseNotesNeeded

#3374 Add a python code owners.
  .github/CODEOWNERS
Labels: python, NoDocumentationNeeded, NoReleaseNotesNeeded

#3381 JS API must send full validity buffers when there are non-null items
  web/client-api/src/main/java/io/deephaven/web/client/api/parse/JsDataHandler.java
Labels: bug, jsapi, barrage, NoDocumentationNeeded, ReleaseNotesNeeded

#3382 Add developer quickstart guide for starting a local server
  server/jetty-app/README.md
Labels: documentation, NoDocumentationNeeded, NoReleaseNotesNeeded

#3279 Relational data ingestion via ADBC/ODBC
  Integrations/build.gradle
  Integrations/docker-compose.yml
  docker/registry/server-base/gradle.properties
  docker/registry/slim-base/gradle.properties
  docker/server-jetty/src/main/server-jetty/requirements.txt
  docker/server/src/main/server-netty/requirements.txt
  postgres/docker-compose.yml
  postgres/src/Dockerfile
  postgres/src/crypto_trades.csv
  postgres/src/gen_test_data.sql
  py/server/deephaven/dbc/__init__.py
  py/server/deephaven/dbc/adbc.py
  py/server/deephaven/dbc/odbc.py
  py/server/tests/test_dbc.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#3386 FullOuterJoin Fix Missing Match Columns From Right
  engine/table/src/main/java/io/deephaven/engine/util/OuterJoinTools.java
  engine/table/src/test/java/io/deephaven/engine/util/TestOuterJoinTools.java
Labels: bug, query engine, NoDocumentationNeeded, NoReleaseNotesNeeded
