Repository deephaven/deephaven-core, pull requests merged in 2023-02, with the labels that each got.

#3390 Always set offset of null string in barrage/flight payloads
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/VarBinaryChunkInputStreamGenerator.java
  web/client-api/src/main/java/io/deephaven/web/client/api/parse/JsDataHandler.java
Labels: jsapi, barrage, NoDocumentationNeeded, ReleaseNotesNeeded

#3370 Wrap OuterJoinTools in Python
  py/server/deephaven/experimental/outer_joins.py
  py/server/deephaven/table.py
  py/server/tests/test_experiments.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#3387 Add java client example for ConsoleService#SubscribeToLogs
  java-client/session-examples/build.gradle
  java-client/session-examples/src/main/java/io/deephaven/client/examples/SubscribeToLogs.java
  java-client/session/src/main/java/io/deephaven/client/impl/SessionFactory.java
Labels: NoDocumentationNeeded, example, NoReleaseNotesNeeded

#3397 Update web version to v0.28.0
  web/client-ui/Dockerfile
Labels: DocumentationNeeded, ReleaseNotesNeeded

#3335 Remove the extra python base images
  .github/workflows/build-ci.yml
  docker/README.md
  docker/registry/all-ai-base/build.gradle
  docker/registry/all-ai-base/gradle.properties
  docker/registry/nltk-base/build.gradle
  docker/registry/nltk-base/gradle.properties
  docker/registry/pytorch-base/build.gradle
  docker/registry/pytorch-base/gradle.properties
  docker/registry/scripts/compare-amd64-arm64.sh
  docker/registry/scripts/update-requirements.sh
  docker/registry/sklearn-base/build.gradle
  docker/registry/sklearn-base/gradle.properties
  docker/registry/tensorflow-base/build.gradle
  docker/registry/tensorflow-base/gradle.properties
  docker/server-jetty/build.gradle
  docker/server-jetty/src/main/server-all-ai-jetty/requirements.txt
  docker/server/build.gradle
  docker/server/src/main/server-all-ai-netty/requirements.txt
  docker/server/src/main/server-nltk-netty/requirements.txt
  docker/server/src/main/server-pytorch-netty/requirements.txt
  docker/server/src/main/server-sklearn-netty/requirements.txt
  docker/server/src/main/server-tensorflow-netty/requirements.txt
Labels: build, docker, ci, NoDocumentationNeeded, NoReleaseNotesNeeded

#3401 Correct JS API handling of int64 and boolean columns
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/util/BarrageUtil.java
  web/client-api/src/main/java/io/deephaven/web/client/api/parse/JsDataHandler.java
Labels: NoDocumentationNeeded, ReleaseNotesNeeded

#3379 Move subscribeToLogs sending off-thread
  Base/src/main/java/io/deephaven/base/LockFreeArrayQueue.java
  Base/src/main/java/io/deephaven/base/RingBuffer.java
  IO/src/main/java/io/deephaven/io/logger/LogBuffer.java
  server/src/main/java/io/deephaven/server/console/ConsoleServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServerModule.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3404 Fix HierarchicalTableImpl bug when replacing an inputed linkage directive with a real one
  Util/src/main/java/io/deephaven/util/datastructures/intrusive/IntrusiveArraySet.java
  Util/src/test/java/io/deephaven/util/datastructures/intrusive/TestIntrusiveArraySet.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/hierarchical/HierarchicalTableImpl.java
Labels: bug, query engine, core, NoDocumentationNeeded, NoReleaseNotesNeeded, hierarchical_tables

#3399 Wrap rolling sum updateBy operation
  py/server/deephaven/updateby.py
  py/server/tests/test_ugp.py
  py/server/tests/test_updateby.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#3400 Fixes SubscribeToLogs example to work with authenticated channel
  java-client/session-dagger/src/main/java/io/deephaven/client/SessionImplModule.java
  java-client/session-examples/src/main/java/io/deephaven/client/examples/SubscribeToLogs.java
  java-client/session/src/main/java/io/deephaven/client/impl/Session.java
  java-client/session/src/main/java/io/deephaven/client/impl/SessionFactory.java
  java-client/session/src/main/java/io/deephaven/client/impl/SessionImpl.java
  java-client/session/src/test/java/io/deephaven/client/impl/ExportStatesTest.java
  proto/proto-backplane-grpc/src/main/java/io/deephaven/proto/DeephavenChannel.java
  proto/proto-backplane-grpc/src/main/java/io/deephaven/proto/DeephavenChannelImpl.java
  proto/proto-backplane-grpc/src/main/java/io/deephaven/proto/DeephavenChannelMixin.java
  server/src/test/java/io/deephaven/server/console/ConsoleServiceTest.java
  server/src/test/java/io/deephaven/server/runner/DeephavenApiServerSingleAuthenticatedBase.java
  server/src/test/java/io/deephaven/server/runner/DeephavenApiServerTestBase.java
Labels: bug, NoDocumentationNeeded, java-client, NoReleaseNotesNeeded

#3395 Use Classgraph to Import Unknown Packages Not Yet Loaded
  engine/table/build.gradle
  engine/table/src/main/java/io/deephaven/engine/util/GroovyDeephavenSession.java
  engine/table/src/test/java/io/deephaven/engine/util/scripts/TestGroovyDeephavenSession.java
  extensions/classgraph/build.gradle
Labels: bug, query engine, NoDocumentationNeeded, groovy, NoReleaseNotesNeeded

#3405 Update web version to v0.29.0
  web/client-ui/Dockerfile
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3075 Python debugging support
  Util/src/main/java/io/deephaven/util/ExpandingThreadPoolExecutorFactory.java
  Util/src/main/java/io/deephaven/util/thread/NamingThreadFactory.java
  Util/src/main/java/io/deephaven/util/thread/ThreadInitializationFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/OperationInitializationThreadPool.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SparseSelect.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/locations/util/ExecutorTableDataRefreshService.java
  engine/table/src/main/java/io/deephaven/engine/util/DaemonThreadFactory.java
  engine/updategraph/src/main/java/io/deephaven/engine/updategraph/UpdateGraphProcessor.java
  props/configs/src/main/resources/dh-defaults.prop
  props/test-configs/src/main/resources/dh-tests.prop
  py/server/deephaven_internal/java_threads.py
  server/src/main/java/io/deephaven/server/console/python/DebuggingInitializer.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServerModule.java
Labels: NoDocumentationNeeded, python-server-side, ReleaseNotesNeeded

#3406 Add extraHeaders support for java-client
  java-client/example-utilities/src/main/java/io/deephaven/client/examples/ConnectOptions.java
  java-client/session/src/main/java/io/deephaven/client/impl/ChannelHelper.java
  java-client/session/src/main/java/io/deephaven/client/impl/ClientConfig.java
Labels: NoDocumentationNeeded, java-client, NoReleaseNotesNeeded

#3407 Add ForwardedRequestCustomizer
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyBackedGrpcServer.java
Labels: bug, java, NoDocumentationNeeded, jetty, NoReleaseNotesNeeded

#3409 Bump to 0.22.0
  authorization-codegen/protoc-gen-contextual-auth-wiring
  authorization-codegen/protoc-gen-service-auth-wiring
  buildSrc/src/main/groovy/io.deephaven.common-conventions.gradle
  py/client/README.md
  py/client/pydeephaven/__init__.py
  py/client/setup.py
  py/embedded-server/deephaven_server/__init__.py
  py/server/deephaven/__init__.py
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3408 Compute `UpdateBy` results correctly for in-memory columns
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/UpdateBy.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/UpdateByBucketHelper.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/UpdateByWindow.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestUpdateByGeneral.java
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded

#3411 Python client: rename identifiers to be Python style-compliant
  py/client2/deephaven_client.pyx
  py/client2/demo_print_deltas.py
  py/client2/demo_print_ticking.py
  py/client2/demo_process_ticking.py
  py/client2/demo_read_chunk.py
  py/client2/demo_simple.py
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3415 Fixed `seekRow` Error on Char Column
  server/src/main/java/io/deephaven/server/table/ops/TableServiceGrpcImpl.java
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded

#3419 Authorization codegen for seekrow, follow up to #3086
  authorization/src/main/java/io/deephaven/auth/codegen/impl/TableServiceContextualAuthWiring.java
  server/src/main/java/io/deephaven/server/table/ops/TableServiceGrpcImpl.java
Labels: bug, NoDocumentationNeeded, authorization, NoReleaseNotesNeeded

#2733 Update DeepHavenJsApiLinker to allow exporting GWT JsTypes as ES6 module
  proto/raw-js-openapi/webpack.config.js
  web/client-api/src/main/java/io/deephaven/web/DeephavenJsApiLinker.java
  web/client-api/src/main/java/io/deephaven/web/DeephavenJsApiLinkerTemplate.js
  web/client-api/src/main/java/io/deephaven/web/public/console.html
  web/client-api/src/main/java/io/deephaven/web/public/format.html
  web/client-api/src/main/java/io/deephaven/web/public/freeze.html
  web/client-api/src/main/java/io/deephaven/web/public/grpc.html
  web/client-api/src/main/java/io/deephaven/web/public/index.html
  web/client-api/src/main/java/io/deephaven/web/public/input_table.html
  web/client-api/src/main/java/io/deephaven/web/public/linked/child.html
  web/client-api/src/main/java/io/deephaven/web/public/linked/index.html
  web/client-api/src/main/java/io/deephaven/web/public/persistentquery_figures.html
  web/client-api/src/main/java/io/deephaven/web/public/rollup.html
  web/client-api/src/main/java/io/deephaven/web/public/search.html
  web/client-api/src/main/java/io/deephaven/web/public/simple.html
  web/client-api/src/main/java/io/deephaven/web/public/snapshot.html
  web/client-api/src/main/java/io/deephaven/web/public/table_basic.html
  web/client-api/src/main/java/io/deephaven/web/public/table_batch.html
  web/client-api/src/main/java/io/deephaven/web/public/table_columns.html
  web/client-api/src/main/java/io/deephaven/web/public/table_filter.html
  web/client-api/src/main/java/io/deephaven/web/public/table_sort.html
  web/client-api/src/main/java/io/deephaven/web/public/table_subscription.html
  web/client-api/src/main/java/io/deephaven/web/public/table_viewport.html
  web/client-api/src/main/java/io/deephaven/web/public/tablemap.html
  web/client-api/src/main/java/io/deephaven/web/public/totals_tables.html
  web/client-api/src/main/java/io/deephaven/web/public/treegrid.js
  web/client-api/src/main/java/io/deephaven/web/public/treetable.html
  web/client-ui/Dockerfile
Labels: jsapi, DocumentationNeeded, javascript, ReleaseNotesNeeded

#3402 Fix cannot apply both size and shape to points in a plot-by series
  Generators/src/main/java/io/deephaven/plot/util/GeneratePyV2FigureAPI.java
  py/server/deephaven/plot/figure.py
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded

#3429 Explicitly set platform for amd64-only images
  buildSrc/src/main/groovy/Docker.groovy
  docker/registry/cpp-client-base/gradle.properties
  docker/registry/protoc-base/gradle.properties
Labels: docker, NoDocumentationNeeded, NoReleaseNotesNeeded

#3433 Update web version to v0.30.0
  web/client-ui/Dockerfile
Labels: web-client-ui, NoDocumentationNeeded, NoReleaseNotesNeeded

#3446 Support older pydevd_pycharm
  py/server/deephaven_internal/java_threads.py
Labels: NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#3447 Python lab code for generator-style API
  cpp-client/deephaven/client/CMakeLists.txt
  cpp-client/deephaven/client/include/public/deephaven/client/container/row_sequence.h
  cpp-client/deephaven/client/include/public/deephaven/client/table/schema.h
  cpp-client/deephaven/client/include/public/deephaven/client/table/table.h
  cpp-client/deephaven/client/include/public/deephaven/client/ticking.h
  cpp-client/deephaven/client/include/public/deephaven/client/utility/cython_support.h
  cpp-client/deephaven/client/src/container/row_sequence.cc
  cpp-client/deephaven/client/src/subscription/immer_table_state.cc
  cpp-client/deephaven/client/src/table/table.cc
  cpp-client/deephaven/client/src/ticking.cc
  cpp-client/deephaven/client/src/utility/cython_support.cc
  py/client2/cdeephaven_client.pxd
  py/client2/deephaven_client.pyx
  py/client2/deephaven_util.py
  py/client2/demo_process_ticking_generator.py
  py/client2/demo_read_chunk.py
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3450 Fix automcomplete suggestions overwriting existing text
  server/src/main/java/io/deephaven/server/console/completer/PythonAutoCompleteObserver.java
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded

#3444 JS API should enable setting headers on grpc-web calls
  web/client-api/src/main/java/io/deephaven/web/client/api/ConnectOptions.java
  web/client-api/src/main/java/io/deephaven/web/client/api/CoreClient.java
  web/client-api/src/main/java/io/deephaven/web/client/api/QueryConnectable.java
  web/client-api/src/main/java/io/deephaven/web/client/api/WorkerConnection.java
  web/client-api/src/main/java/io/deephaven/web/client/ide/IdeClient.java
  web/client-api/src/main/java/io/deephaven/web/client/ide/IdeConnection.java
  web/client-api/src/main/java/io/deephaven/web/client/ide/IdeConnectionOptions.java
Labels: NoDocumentationNeeded, ReleaseNotesNeeded

#3460 Provide a session listener callback interface
  server/src/main/java/io/deephaven/server/session/DelegatingSessionListener.java
  server/src/main/java/io/deephaven/server/session/SessionListener.java
  server/src/main/java/io/deephaven/server/session/SessionModule.java
  server/src/main/java/io/deephaven/server/session/SessionService.java
  server/src/main/java/io/deephaven/server/session/SessionState.java
  server/src/test/java/io/deephaven/server/appmode/ApplicationServiceGrpcImplTest.java
  server/src/test/java/io/deephaven/server/session/SessionServiceTest.java
Labels: DocumentationNeeded, session, ReleaseNotesNeeded

#3416 Wrap the withAttributes/getAttrbutes methods
  py/server/deephaven/jcompat.py
  py/server/deephaven/table.py
  py/server/tests/test_table.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#3423 Migrates the java client authentication to Flight Auth v2
  authentication/src/main/java/io/deephaven/auth/AnonymousAuthenticationHandler.java
  java-client/barrage-dagger/src/main/java/io/deephaven/client/impl/BarrageSessionModule.java
  java-client/barrage-dagger/src/main/java/io/deephaven/client/impl/BarrageSubcomponent.java
  java-client/barrage-examples/src/main/java/io/deephaven/client/examples/BarrageClientExampleBase.java
  java-client/barrage/src/main/java/io/deephaven/client/impl/BarrageSession.java
  java-client/barrage/src/main/java/io/deephaven/client/impl/BarrageSessionFactory.java
  java-client/barrage/src/main/java/io/deephaven/client/impl/BarrageSessionFactoryBuilder.java
  java-client/barrage/src/main/java/io/deephaven/client/impl/BarrageSnapshotImpl.java
  java-client/barrage/src/main/java/io/deephaven/client/impl/BarrageSubscriptionImpl.java
  java-client/example-utilities/src/main/java/io/deephaven/client/examples/AuthenticationOptions.java
  java-client/flight-dagger/src/main/java/io/deephaven/client/impl/FlightSessionModule.java
  java-client/flight-dagger/src/main/java/io/deephaven/client/impl/FlightSubcomponent.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/FlightExampleBase.java
  java-client/flight/src/main/java/io/deephaven/client/impl/AuthenticationMiddleware.java
  java-client/flight/src/main/java/io/deephaven/client/impl/BearerMiddlewear.java
  java-client/flight/src/main/java/io/deephaven/client/impl/FlightSession.java
  java-client/flight/src/main/java/io/deephaven/client/impl/FlightSessionFactory.java
  java-client/flight/src/main/java/io/deephaven/client/impl/SessionMiddleware.java
  java-client/session-dagger/src/main/java/io/deephaven/client/SessionImplModule.java
  java-client/session-dagger/src/main/java/io/deephaven/client/SessionSubcomponent.java
  java-client/session-examples/build.gradle
  java-client/session-examples/src/main/java/io/deephaven/client/examples/HammerSessions.java
  java-client/session-examples/src/main/java/io/deephaven/client/examples/SessionExampleBase.java
  java-client/session/src/main/java/io/deephaven/client/impl/Authentication.java
  java-client/session/src/main/java/io/deephaven/client/impl/AuthenticationCallCredentials.java
  java-client/session/src/main/java/io/deephaven/client/impl/BearerHandler.java
  java-client/session/src/main/java/io/deephaven/client/impl/SessionFactory.java
  java-client/session/src/main/java/io/deephaven/client/impl/SessionImpl.java
  java-client/session/src/main/java/io/deephaven/client/impl/SessionImplConfig.java
  proto/proto-backplane-grpc/src/main/java/io/deephaven/proto/DeephavenChannel.java
  proto/proto-backplane-grpc/src/main/java/io/deephaven/proto/DeephavenChannelImpl.java
  proto/proto-backplane-grpc/src/main/java/io/deephaven/proto/DeephavenChannelMixin.java
  proto/proto-backplane-grpc/src/main/java/io/deephaven/proto/DeephavenChannelWithCallCredentials.java
  proto/proto-backplane-grpc/src/main/java/io/deephaven/proto/DeephavenChannelWithClientInterceptors.java
  server/jetty/src/test/java/io/deephaven/server/jetty/JettyFlightRoundTripTest.java
  server/netty/src/test/java/io/deephaven/server/netty/NettyFlightRoundTripTest.java
  server/src/main/java/io/deephaven/server/session/SessionState.java
  server/src/main/java/io/deephaven/server/uri/BarrageTableResolver.java
  server/src/test/java/io/deephaven/server/runner/DeephavenApiServerSingleAuthenticatedBase.java
  server/test/src/main/java/io/deephaven/server/test/FlightMessageRoundTripTest.java
  server/test/src/main/java/io/deephaven/server/test/TestAuthModule.java
Labels: DocumentationNeeded, java-client, ReleaseNotesNeeded

#3462 Release documentation
  .github/CODEOWNERS
  RELEASE.md
  build.gradle
Labels: documentation, NoDocumentationNeeded, NoReleaseNotesNeeded
