Repository deephaven/deephaven-core, pull requests merged in 2023-04, with the labels that each got.

#3652 Make Go example tests robust to metadata order
  go/internal/test_tools/test_tools.go
  go/pkg/client/example_import_table_test.go
  go/pkg/client/example_input_table_test.go
  go/pkg/client/example_table_ops_test.go
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded, go-client

#3649 Add getMeta gRPC call and meta_table in py client
  authorization/src/main/java/io/deephaven/auth/codegen/impl/TableServiceContextualAuthWiring.java
  cpp-client/deephaven/client/proto/deephaven/proto/table.grpc.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/table.grpc.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/table.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/table.pb.h
  go/internal/proto/table/table.pb.go
  go/internal/proto/table/table_grpc.pb.go
  proto/proto-backplane-grpc/src/main/java/io/deephaven/proto/util/OperationHelper.java
  proto/proto-backplane-grpc/src/main/proto/deephaven/proto/table.proto
  py/client/pydeephaven/_table_ops.py
  py/client/pydeephaven/proto/table_pb2.py
  py/client/pydeephaven/proto/table_pb2_grpc.py
  py/client/pydeephaven/table.py
  py/client/tests/test_table.py
  server/src/main/java/io/deephaven/server/table/TableModule.java
  server/src/main/java/io/deephaven/server/table/ops/MetaTableGrpcImpl.java
  server/src/main/java/io/deephaven/server/table/ops/TableServiceGrpcImpl.java
Labels: grpc, DocumentationNeeded, python-client, ReleaseNotesNeeded

#3653 Correctly check Join result sizes in Go unit tests
  go/pkg/client/query_test.go
  go/pkg/client/tablehandle_test.go
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded, go-client

#3665 Bump images post release
  docker/registry/cpp-client-base/gradle.properties
  docker/registry/go/gradle.properties
  docker/registry/nginx-noroot-base/gradle.properties
  docker/registry/node/gradle.properties
  docker/registry/protoc-base/gradle.properties
  docker/registry/python/gradle.properties
Labels: NoDocumentationNeeded, version-bump, NoReleaseNotesNeeded

#3655 Ensure parquet compatible DECIMAL precision and scale
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/BigDecimalParquetBytesCodec.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/TypeInfos.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/BigDecimalParquetBytesCodecTest.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/ParquetTableReadWriteTest.java
Labels: bug, parquet, NoDocumentationNeeded, NoReleaseNotesNeeded

#3657 Adopt the new aj match condition expression
  py/server/deephaven/__init__.py
  py/server/deephaven/table.py
  py/server/tests/test_pt_proxy.py
  py/server/tests/test_table.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#3659 Improve query library performance by using vector iteration
  Base/build.gradle
  Base/src/main/java/io/deephaven/base/ringbuffer/AggregatingDoubleRingBuffer.java
  Base/src/main/java/io/deephaven/base/ringbuffer/AggregatingObjectRingBuffer.java
  codegen/src/main/java/io/deephaven/generator/primitivetemplate/PrimitiveType.java
  codegen/src/main/java/io/deephaven/generator/primitivetemplate/ValueType.java
  codegen/src/test/java/io/deephaven/generator/primitivetemplate/TestPrimitiveType.java
  engine/function/build.gradle
  engine/function/src/main/java/io/deephaven/function/Logic.java
  engine/function/src/templates/Basic.ftl
  engine/function/src/templates/BinSearch.ftl
  engine/function/src/templates/Cast.ftl
  engine/function/src/templates/Numeric.ftl
  engine/function/src/templates/Sort.ftl
  engine/function/src/templates/TestBasic.ftl
  engine/function/src/templates/TestBinSearch.ftl
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ssmcountdistinct/DateTimeSsmSourceWrapper.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/ssms/ByteSegmentedSortedMultiset.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/ssms/CharSegmentedSortedMultiset.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/ssms/DoubleSegmentedSortedMultiset.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/ssms/FloatSegmentedSortedMultiset.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/ssms/IntSegmentedSortedMultiset.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/ssms/LongSegmentedSortedMultiset.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/ssms/ObjectSegmentedSortedMultiset.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/ssms/ShortSegmentedSortedMultiset.java
  engine/vector/src/main/java/io/deephaven/vector/ByteVector.java
  engine/vector/src/main/java/io/deephaven/vector/ByteVectorDirect.java
  engine/vector/src/main/java/io/deephaven/vector/CharVector.java
  engine/vector/src/main/java/io/deephaven/vector/CharVectorDirect.java
  engine/vector/src/main/java/io/deephaven/vector/DoubleVector.java
  engine/vector/src/main/java/io/deephaven/vector/DoubleVectorDirect.java
  engine/vector/src/main/java/io/deephaven/vector/FloatVector.java
  engine/vector/src/main/java/io/deephaven/vector/FloatVectorDirect.java
  engine/vector/src/main/java/io/deephaven/vector/IntVector.java
  engine/vector/src/main/java/io/deephaven/vector/IntVectorDirect.java
  engine/vector/src/main/java/io/deephaven/vector/LongVector.java
  engine/vector/src/main/java/io/deephaven/vector/LongVectorDirect.java
  engine/vector/src/main/java/io/deephaven/vector/ObjectVector.java
  engine/vector/src/main/java/io/deephaven/vector/ObjectVectorDirect.java
  engine/vector/src/main/java/io/deephaven/vector/ShortVector.java
  engine/vector/src/main/java/io/deephaven/vector/ShortVectorDirect.java
  engine/vector/src/main/java/io/deephaven/vector/Vector.java
Labels: query engine, NoDocumentationNeeded, enhancement, ReleaseNotesNeeded

#3667 Bump parquet-hadoop to 1.13.0
  ParquetHadoop/build.gradle
  ParquetHadoop/src/main/java/io/deephaven/parquet/base/tempfix/ParquetMetadataConverter.java
Labels: parquet, NoDocumentationNeeded, version-bump, NoReleaseNotesNeeded

#3664 Bump to pick up pandas 2
  docker/registry/server-base/gradle.properties
  docker/registry/slim-base/gradle.properties
  docker/server-jetty/src/main/server-jetty/requirements.txt
  docker/server/src/main/server-netty/requirements.txt
  py/server/tests/test_parquet.py
Labels: python, NoDocumentationNeeded, version-bump, NoReleaseNotesNeeded

#3684 Fix #2517: reference count bug in SortedRanges.ixInsertWithShift
  engine/rowset/src/main/java/io/deephaven/engine/rowset/impl/sortedranges/SortedRanges.java
  engine/rowset/src/test/java/io/deephaven/engine/rowset/impl/rsp/RspBitmapTest.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3691 Fix layouthints TS for SearchDisplayMode
  web/client-api/src/main/java/io/deephaven/web/client/api/JsLayoutHints.java
  web/client-api/src/main/java/io/deephaven/web/client/api/JsTable.java
  web/client-api/src/main/java/io/deephaven/web/client/api/SearchDisplayMode.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3697 Fix TableAdapterImpl raj
  qst/src/main/java/io/deephaven/qst/TableAdapterImpl.java
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded

#3673 Check if DH Enterprise Python API is installed by mistake and if so produce a helpful message
  engine/table/src/main/java/io/deephaven/engine/util/jpy/JpyInit.java
  py/embedded-server/deephaven_server/__init__.py
  py/server/deephaven_internal/jvm/__init__.py
Labels: NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#3656 Added `Delta` to `UpdateBy` operators
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/UpdateByOperatorFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/BigDecimalDeltaOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/BigIntegerDeltaOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/ByteDeltaOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/CharDeltaOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/DoubleDeltaOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/FloatDeltaOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/IntDeltaOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/LongDeltaOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/ShortDeltaOperator.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestDelta.java
  java-client/session/src/main/java/io/deephaven/client/impl/UpdateByBuilder.java
  java-client/session/src/test/java/io/deephaven/client/impl/UpdateBySpecBuilderTest.java
  replication/static/src/main/java/io/deephaven/replicators/ReplicateUpdateBy.java
  table-api/src/main/java/io/deephaven/api/updateby/DeltaControl.java
  table-api/src/main/java/io/deephaven/api/updateby/NullBehavior.java
  table-api/src/main/java/io/deephaven/api/updateby/UpdateByOperation.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/DeltaSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/UpdateBySpec.java
Labels: DocumentationNeeded, ReleaseNotesNeeded

#3693 Create PatternFilter
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/PatternFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/RegexFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/StringContainsFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/WhereFilterFactory.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/select/WhereFilterFactoryTest.java
  py/server/deephaven/filters.py
  py/server/tests/test_filters.py
  server/src/main/java/io/deephaven/server/table/ops/filter/FilterFactory.java
Labels: query engine, DocumentationNeeded, NoReleaseNotesNeeded

#3671 Added `Exponential Moving Min`/`Exponential Moving Max` to `UpdateBy` operators
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/UpdateByOperatorFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/BaseBigNumberEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/BasePrimitiveEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/BigDecimalEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/BigIntegerEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/ByteEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/CharEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/DoubleEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/FloatEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/IntEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/LongEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/ShortEMOperator.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestEmMinMax.java
  java-client/session/src/main/java/io/deephaven/client/impl/UpdateByBuilder.java
  java-client/session/src/test/java/io/deephaven/client/impl/UpdateBySpecBuilderTest.java
  replication/static/src/main/java/io/deephaven/replicators/ReplicateUpdateBy.java
  table-api/src/main/java/io/deephaven/api/updateby/UpdateByOperation.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/EmMinMaxSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/UpdateBySpec.java
Labels: DocumentationNeeded, ReleaseNotesNeeded

#3708 Bump Jetty to 11.0.15
  buildSrc/src/main/groovy/Classpaths.groovy
Labels: NoDocumentationNeeded, ReleaseNotesNeeded

#3711 Use embedded pattern flags instead of exposing via python wrapper
  py/server/deephaven/filters.py
  py/server/tests/test_filters.py
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3598 Test to make sure JPY PyObject.getXXXValue() errors out immediately
  py/jpy-integration/src/javaToPython/java/io/deephaven/jpy/integration/ErrorOutTest.java
Labels: NoDocumentationNeeded, jpy, NoReleaseNotesNeeded

#3687 Accept both singular/multiple values in applicable functions in the Python client
  py/client/pydeephaven/_table_interface.py
  py/client/pydeephaven/_utils.py
  py/client/pydeephaven/agg.py
  py/client/pydeephaven/query.py
  py/client/pydeephaven/session.py
  py/client/pydeephaven/updateby.py
  py/client/tests/test_session.py
Labels: NoDocumentationNeeded, python-client, NoReleaseNotesNeeded

#3623 Add UpdateBy Rolling operators to GRPC proto files and tests.
  cpp-client/deephaven/client/proto/deephaven/proto/table.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/table.pb.h
  go/internal/proto/table/table.pb.go
  java-client/session/src/main/java/io/deephaven/client/impl/UpdateByBuilder.java
  java-client/session/src/test/java/io/deephaven/client/impl/UpdateBySpecBuilderTest.java
  proto/proto-backplane-grpc/src/main/proto/deephaven/proto/table.proto
  py/client/pydeephaven/proto/table_pb2.py
  py/client/pydeephaven/updateby.py
  server/src/main/java/io/deephaven/server/table/ops/UpdateByGrpcImpl.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/RollingAvgSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/RollingGroupSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/RollingMinMaxSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/RollingProductSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/RollingSumSpec.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3686 Add `RollingStd` to `UpdateBy` operators
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/UpdateByOperatorFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingstd/BigDecimalRollingStdOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingstd/BigIntegerRollingStdOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingstd/ByteRollingStdOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingstd/CharRollingStdOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingstd/DoubleRollingStdOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingstd/FloatRollingStdOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingstd/IntRollingStdOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingstd/LongRollingStdOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingstd/ShortRollingStdOperator.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestRollingStd.java
  java-client/session/src/main/java/io/deephaven/client/impl/UpdateByBuilder.java
  java-client/session/src/test/java/io/deephaven/client/impl/UpdateBySpecBuilderTest.java
  replication/static/src/main/java/io/deephaven/replicators/ReplicateUpdateBy.java
  table-api/src/main/java/io/deephaven/api/updateby/UpdateByOperation.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/RollingStdSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/UpdateBySpec.java
Labels: DocumentationNeeded, ReleaseNotesNeeded

#3679 Port DH-11185: Parallel Where
  engine/table/src/main/java/io/deephaven/engine/table/impl/AbstractFilterExecution.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/InitialFilterExecution.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/InstrumentedTableListenerBase.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/MergedListener.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/OperationInitializationThreadPool.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/ShiftObliviousInstrumentedListener.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SwapListener.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/WhereListener.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/replay/Replayer.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/AutoTuningIncrementalReleaseFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/BaseIncrementalReleaseFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/ComposedFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/ConditionFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/DownsampledWhereFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/RollingReleaseFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/SortedClockFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/UnsortedClockFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/WhereFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/UpdateBy.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/UpdateGraphProcessorJobScheduler.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableAggregationTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableWhereParallelTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableWhereSingleTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableWhereTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/util/TestIncrementalReleaseFilter.java
  engine/test-utils/src/main/java/io/deephaven/engine/testutil/TestNotification.java
  engine/updategraph/src/main/java/io/deephaven/engine/updategraph/EmptyNotification.java
  engine/updategraph/src/main/java/io/deephaven/engine/updategraph/NotificationAdapter.java
  engine/updategraph/src/main/java/io/deephaven/engine/updategraph/NotificationQueue.java
  engine/updategraph/src/main/java/io/deephaven/engine/updategraph/TerminalNotification.java
  engine/updategraph/src/main/java/io/deephaven/engine/updategraph/UpdateGraphProcessor.java
  engine/updategraph/src/main/java/io/deephaven/engine/updategraph/WaitNotification.java
  props/test-configs/src/main/resources/dh-tests.prop
Labels: query engine, NoDocumentationNeeded, port, ReleaseNotesNeeded

#3706 Take advantage of pandas 2.0 arrow support
  py/server/deephaven/arrow.py
  py/server/deephaven/numpy.py
  py/server/deephaven/pandas.py
  py/server/tests/test_pandas.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#3726 Make the Python client aggregation docstrings more helpful
  py/client/pydeephaven/_table_interface.py
  py/server/deephaven/table.py
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3728 Add TreeTable.isClosed property
  web/client-api/src/main/java/io/deephaven/web/client/api/tree/JsTreeTable.java
Labels: jsapi, NoDocumentationNeeded, ReleaseNotesNeeded

#3729 Correctly handle None input values for primitive type columns in new_table()
  py/server/deephaven/column.py
  py/server/deephaven/dtypes.py
  py/server/tests/test_table_factory.py
Labels: NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#3736 Add python filters is_null, is_not_null, and Filter.not_()
  py/server/deephaven/filters.py
  py/server/tests/test_filters.py
Labels: python, NoDocumentationNeeded, NoReleaseNotesNeeded

#3717 Generalize performance queries
  Plot/src/main/java/io/deephaven/engine/util/PerformanceScript.java
  engine/table/src/main/java/io/deephaven/engine/util/GroovyDeephavenSession.java
  extensions/performance/build.gradle
  extensions/performance/gradle.properties
  extensions/performance/src/main/java/io/deephaven/engine/table/impl/util/PerformanceQueries.java
  extensions/performance/src/main/java/io/deephaven/engine/table/impl/util/PerformanceQueriesGeneral.java
  extensions/performance/src/main/resources/groovy/1-performance.groovy
  server/build.gradle
  server/src/main/java/io/deephaven/server/console/groovy/InitScriptsModule.java
  settings.gradle
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3755 Allow java client to delegate to server for join reserve bits
  java-client/session/src/main/java/io/deephaven/client/impl/BatchTableRequestBuilder.java
  qst/src/main/java/io/deephaven/qst/TableAdapterImpl.java
  qst/src/main/java/io/deephaven/qst/table/JoinTable.java
Labels: table api, NoDocumentationNeeded, breaking, ReleaseNotesNeeded

#3731 Add python wrappers and tests for new `update_by` operators
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/BigDecimalDeltaOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/BigIntegerDeltaOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/ByteDeltaOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/CharDeltaOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/DoubleDeltaOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/FloatDeltaOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/IntDeltaOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/LongDeltaOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/delta/ShortDeltaOperator.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestDelta.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestEmMinMax.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestEma.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestEms.java
  java-client/session/src/main/java/io/deephaven/client/impl/UpdateByBuilder.java
  py/server/deephaven/updateby.py
  py/server/tests/test_updateby.py
  table-api/src/main/java/io/deephaven/api/updateby/DeltaControl.java
  table-api/src/main/java/io/deephaven/api/updateby/NullBehavior.java
  table-api/src/main/java/io/deephaven/api/updateby/UpdateByOperation.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/EmMinMaxSpec.java
Labels: query engine, python, DocumentationNeeded, ReleaseNotesNeeded

#3758 Make globally import names visible to Sphinx
  py/server/deephaven/__init__.py
Labels: NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#3745 UpdateBy EM operators to allow fractional tick decay parameters
  cpp-client/deephaven/client/proto/deephaven/proto/table.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/table.pb.h
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/UpdateByOperatorFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/BaseBigNumberEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/BasePrimitiveEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/BigDecimalEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/BigIntegerEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/ByteEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/CharEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/DoubleEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/FloatEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/IntEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/LongEMOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/em/ShortEMOperator.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestEma.java
  go/internal/proto/table/table.pb.go
  java-client/session/src/main/java/io/deephaven/client/impl/UpdateByBuilder.java
  proto/proto-backplane-grpc/src/main/proto/deephaven/proto/table.proto
  py/client/pydeephaven/proto/table_pb2.py
  py/server/deephaven/updateby.py
  table-api/src/main/java/io/deephaven/api/updateby/UpdateByOperation.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/EmMinMaxSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/EmaSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/EmsSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/RollingOpSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/WindowScale.java
Labels: DocumentationNeeded, ReleaseNotesNeeded
