Repository deephaven/deephaven-core, pull requests merged in 2023-03, with the labels that each got.

#3469 Bump deephaven-csv to 0.10.0
  extensions/csv/build.gradle
Labels: NoDocumentationNeeded, version-bump, NoReleaseNotesNeeded

#3410 Example Authentication providers
  authentication/example-providers/README.md
  authentication/example-providers/build.gradle
  authentication/example-providers/gradle.properties
  authentication/example-providers/mtls/README.md
  authentication/example-providers/mtls/build.gradle
  authentication/example-providers/mtls/src/main/java/io/deephaven/authentication/mtls/MTlsAuthenticationHandler.java
  authentication/example-providers/oidc/README.md
  authentication/example-providers/oidc/build.gradle
  authentication/example-providers/oidc/deephaven_realm.json
  authentication/example-providers/oidc/docker-compose.yml
  authentication/example-providers/oidc/init-keycloak.sql
  authentication/example-providers/oidc/src/main/java/io/deephaven/authentication/oidc/FlightTokenClient.java
  authentication/example-providers/oidc/src/main/java/io/deephaven/authentication/oidc/FlightTokenWebContext.java
  authentication/example-providers/oidc/src/main/java/io/deephaven/authentication/oidc/OidcAuthenticationHandler.java
  authentication/example-providers/psk/README.md
  authentication/example-providers/psk/build.gradle
  authentication/example-providers/psk/src/main/java/io/deephaven/authentication/psk/PskAuthenticationHandler.java
  authentication/example-providers/sql-username-password/README.md
  authentication/example-providers/sql-username-password/build.gradle
  authentication/example-providers/sql-username-password/docker-compose.yml
  authentication/example-providers/sql-username-password/init-users.sql
  authentication/example-providers/sql-username-password/src/main/java/io/deephaven/authentication/sql/BasicSqlAuthenticationHandler.java
  authentication/example-providers/sql-username-password/src/main/java/io/deephaven/authentication/sql/BasicSqlConfig.java
  authentication/src/main/java/io/deephaven/auth/BasicAuthMarshaller.java
  authorization-codegen/build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/groovy/io.deephaven.java-publishing-conventions.gradle
  buildSrc/src/main/groovy/io.deephaven.java-shadow-publishing-conventions.gradle
  buildSrc/src/main/groovy/io.deephaven.project.bom-public.gradle
  buildSrc/src/main/groovy/io.deephaven.project.java-public-shadow.gradle
  buildSrc/src/main/groovy/io/deephaven/project/ProjectType.groovy
  buildSrc/src/main/groovy/io/deephaven/project/util/CombinedJavadoc.groovy
  buildSrc/src/main/groovy/io/deephaven/project/util/PublishingTools.groovy
  props/configs/src/main/resources/dh-defaults.prop
  server/jetty-app/build.gradle
  server/src/main/java/io/deephaven/server/arrow/FlightServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/session/SessionService.java
  server/src/main/java/io/deephaven/server/session/SessionServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/session/SessionState.java
  settings.gradle
  web/client-api/src/main/java/io/deephaven/web/client/api/CoreClient.java
  web/client-api/src/main/java/io/deephaven/web/public/authentication/basic.html
  web/client-api/src/main/java/io/deephaven/web/public/authentication/index.html
  web/client-api/src/main/java/io/deephaven/web/public/authentication/mtls.html
  web/client-api/src/main/java/io/deephaven/web/public/authentication/oidc.html
  web/client-api/src/main/java/io/deephaven/web/public/authentication/psk.html
  web/client-api/src/main/java/io/deephaven/web/public/index.html
Labels: documentation, DocumentationNeeded, ReleaseNotesNeeded

#3414 Update docker-compose to use ${VERSION:-latest}
  containers/groovy-examples/docker-compose.yml
  containers/groovy/docker-compose.yml
  containers/python-examples-redpanda/docker-compose.yml
  containers/python-examples/All-AI/docker-compose.yml
  containers/python-examples/NLTK/docker-compose.yml
  containers/python-examples/PyTorch/docker-compose.yml
  containers/python-examples/SciKit-Learn/docker-compose.yml
  containers/python-examples/TensorFlow/docker-compose.yml
  containers/python-examples/base/docker-compose.yml
  containers/python/All-AI/docker-compose.yml
  containers/python/NLTK/docker-compose.yml
  containers/python/PyTorch/docker-compose.yml
  containers/python/SciKit-Learn/docker-compose.yml
  containers/python/TensorFlow/docker-compose.yml
  containers/python/base/docker-compose.yml
Labels: docker, NoDocumentationNeeded, NoReleaseNotesNeeded

#3449 Default to available processor count for initialization and update thread pool sizes
  engine/chunk/src/main/java/io/deephaven/chunk/util/pools/BooleanChunkPool.java
  engine/chunk/src/main/java/io/deephaven/chunk/util/pools/ByteChunkPool.java
  engine/chunk/src/main/java/io/deephaven/chunk/util/pools/CharChunkPool.java
  engine/chunk/src/main/java/io/deephaven/chunk/util/pools/DoubleChunkPool.java
  engine/chunk/src/main/java/io/deephaven/chunk/util/pools/FloatChunkPool.java
  engine/chunk/src/main/java/io/deephaven/chunk/util/pools/IntChunkPool.java
  engine/chunk/src/main/java/io/deephaven/chunk/util/pools/LongChunkPool.java
  engine/chunk/src/main/java/io/deephaven/chunk/util/pools/ObjectChunkPool.java
  engine/chunk/src/main/java/io/deephaven/chunk/util/pools/ShortChunkPool.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/OperationInitializationThreadPool.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SelectOrUpdateListener.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/analyzers/SelectAndViewAnalyzer.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/analyzers/SelectColumnLayer.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/AbstractSparseLongArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/BooleanSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ByteSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/CharacterSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/DoubleSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/FloatSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/IntegerSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ObjectSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ShortSparseArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/UpdateBy.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/JobScheduler.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableJoinTest.java
  engine/table/src/test/java/io/deephaven/engine/util/TestJobScheduler.java
  engine/updategraph/src/main/java/io/deephaven/engine/liveness/LivenessScopeStack.java
  engine/updategraph/src/main/java/io/deephaven/engine/liveness/RetainedReferenceTracker.java
  engine/updategraph/src/main/java/io/deephaven/engine/liveness/SingletonLivenessManager.java
  engine/updategraph/src/main/java/io/deephaven/engine/updategraph/UpdateGraphProcessor.java
  props/configs/src/main/resources/dh-defaults.prop
  replication/static/src/main/java/io/deephaven/replicators/ReplicateSourcesAndChunks.java
  server/src/test/java/io/deephaven/server/util/TestControlledScheduler.java
Labels: query engine, core, DocumentationNeeded, ReleaseNotesNeeded

#3478 When redirecting to Web UI, pass query string parameters
  server/jetty/src/main/java/io/deephaven/server/jetty/HomeFilter.java
Labels: NoDocumentationNeeded, jetty, ReleaseNotesNeeded

#3481 Update web version to v0.31.0
  web/client-ui/Dockerfile
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3458 Pass arrays from vector type columns unpacked to Python func
  engine/table/src/main/java/io/deephaven/engine/table/impl/lang/QueryLanguageParser.java
  py/server/tests/test_table.py
Labels: query engine, NoDocumentationNeeded, ReleaseNotesNeeded

#3468 Wrapping RollupTable and TreeTable (2)
  py/server/deephaven/jcompat.py
  py/server/deephaven/table.py
  py/server/tests/test_rollup_tree_table.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#3482 JS API should only show non-constituent columns in groupedColumns array
  web/client-api/src/main/java/io/deephaven/web/client/api/tree/JsTreeTable.java
Labels: jsapi, NoDocumentationNeeded, ReleaseNotesNeeded, rollup

#3486 Fix typoes in Authentication docs
  authentication/README.md
Labels: documentation, NoDocumentationNeeded, NoReleaseNotesNeeded

#3488 Update web version v0.31.1
  web/client-ui/Dockerfile
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3485 Remove 0.0.1 release number from client pydocs
  py/client/docs/source/conf.py
Labels: documentation, NoDocumentationNeeded, NoReleaseNotesNeeded

#3489 Bump to 0.23.0
  authorization-codegen/protoc-gen-contextual-auth-wiring
  authorization-codegen/protoc-gen-service-auth-wiring
  buildSrc/src/main/groovy/io.deephaven.common-conventions.gradle
  py/client/README.md
  py/client/pydeephaven/__init__.py
  py/client/setup.py
  py/embedded-server/deephaven_server/__init__.py
  py/server/deephaven/__init__.py
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3493 GitHub action to update the web version
  .github/workflows/update-web.yml
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3465 C++ client: new-style authentication with token refresh
  cpp-client/deephaven/client/CMakeLists.txt
  cpp-client/deephaven/client/include/private/deephaven/client/server/server.h
  cpp-client/deephaven/client/include/public/deephaven/client/flight.h
  cpp-client/deephaven/client/src/flight.cc
  cpp-client/deephaven/client/src/impl/client_impl.cc
  cpp-client/deephaven/client/src/impl/table_handle_impl.cc
  cpp-client/deephaven/client/src/server/server.cc
  cpp-client/deephaven/client/src/subscription/subscribe_thread.cc
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3497 Restore `CompositeTableDataService` Which Was Removed by #3385
  engine/table/src/main/java/io/deephaven/engine/table/impl/locations/impl/CompositeTableDataService.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/locations/impl/CompositeTableDataServiceConsistencyMonitor.java
Labels: bug, NoDocumentationNeeded, release blocker, NoReleaseNotesNeeded

#3499 Remove `DateTimeUtil` Methods With 'Ny' Suffixes
  engine/time/src/main/java/io/deephaven/time/DateTimeUtils.java
  engine/time/src/test/java/io/deephaven/time/TestDateTimeUtils.java
Labels: clean up, query engine, NoDocumentationNeeded, ReleaseNotesNeeded

#3500 If the server/proxy doesn't provide an error string, make one up
  web/client-api/src/main/java/io/deephaven/web/client/api/WorkerConnection.java
Labels: jsapi, NoDocumentationNeeded, ReleaseNotesNeeded

#3510 Update Python example docs and code so the tests and demos run.
  py/client/README.md
  py/client/examples/csv_downloader.py
  py/client/examples/demo_merge_tables.py
  py/client/examples/demo_query.py
  py/client/examples/demo_run_script.py
  py/client/examples/demo_table_ops.py
  py/client/examples/import_test_data.py
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3514 Stop UGP NotificationProcessor From Silently Swallowing Errors
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/UpdateGraphProcessorJobScheduler.java
  engine/updategraph/src/main/java/io/deephaven/engine/updategraph/UpdateGraphProcessor.java
Labels: bug, query engine, NoDocumentationNeeded, release blocker, ReleaseNotesNeeded

#3521 Fix Error Message When Using `i` on Large Table
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/DhFormulaColumn.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/select/FormulaSample.java
Labels: bug, query engine, NoDocumentationNeeded, NoReleaseNotesNeeded

#3522 Make Classes Final That Publish `this` to UGP in Constructor
  engine/table/src/main/java/io/deephaven/engine/table/impl/TimeTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/DynamicTableWriter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/FunctionGeneratedTableFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/HashSetBackedTableFactory.java
  engine/table/src/main/java/io/deephaven/stream/StreamToTableAdapter.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/table/BarrageTable.java
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
Labels: bug, query engine, NoDocumentationNeeded, NoReleaseNotesNeeded

#3346 Port DH-12148: Formula Array Access
  engine/api/src/main/java/io/deephaven/engine/table/Table.java
  engine/rowset/src/main/java/io/deephaven/engine/rowset/RowSetShiftData.java
  engine/rowset/src/main/java/io/deephaven/engine/rowset/impl/WritableRowSetImpl.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/AggAllByCopyAttributes.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/BaseTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/NaturalJoinHelper.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/ShiftedColumnOperation.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/ShiftedColumnsFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SliceLikeOperation.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/StreamTableTools.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/TableUpdateValidator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/TimeTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/lang/QueryLanguageParser.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/partitioned/BaseTableTransformationColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/partitioned/LongConstantColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/partitioned/PartitionedTableImpl.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/AbstractConditionFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/AbstractFormulaColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/DhFormulaColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/FormulaColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/FunctionalColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/MultiSourceFunctionalColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/NullSelectColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/ReinterpretedColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/SelectColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/SourceColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/SwitchColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/WhereFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/analyzers/BaseLayer.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/analyzers/DependencyLayerBase.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/analyzers/RedirectionLayer.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/analyzers/SelectAndViewAnalyzer.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/analyzers/SelectAndViewAnalyzerWrapper.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/analyzers/StaticFlattenLayer.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/InMemoryColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ShiftedColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/DynamicTableWriter.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/PartitionedTableTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableAggregationTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableAjTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableCrossJoinTestBase.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableLeftOuterJoinTestBase.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableSelectUpdateTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/ShiftedColumnOperationTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/TestFormulaArrayEvaluation.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/select/WhereFilterTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/util/TestIncrementalReleaseFilter.java
  engine/test-utils/src/main/java/io/deephaven/engine/testutil/TstUtils.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/table/BarrageTable.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/util/ArrowToTableConverter.java
  go/pkg/client/example_import_table_test.go
  go/pkg/client/example_table_ops_test.go
  java-client/barrage/src/main/java/io/deephaven/client/impl/BarrageSnapshotImpl.java
  java-client/barrage/src/main/java/io/deephaven/client/impl/BarrageSubscriptionImpl.java
  java-client/session-dagger/src/test/java/io/deephaven/client/UpdateOrSelectSessionTest.java
  java-client/session-dagger/src/test/java/io/deephaven/client/WhereSessionTest.java
  server/src/main/java/io/deephaven/server/arrow/ArrowFlightUtil.java
Labels: query engine, NoDocumentationNeeded, port, ReleaseNotesNeeded

#3467 Bump gradle to 7.6.1
  gradle/wrapper/gradle-wrapper.properties
Labels: NoDocumentationNeeded, version-bump, NoReleaseNotesNeeded

#3509 Support the use of Python callable's attributes in query strings
  engine/table/src/main/java/io/deephaven/engine/table/impl/lang/QueryLanguageParser.java
  engine/table/src/main/java/io/deephaven/engine/util/PyCallableWrapper.java
  py/server/tests/test_table.py
Labels: query engine, NoDocumentationNeeded, NoReleaseNotesNeeded

#3511 Move rpcWrapper to gRPC Interceptor; Open Session's ExecutionContext
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/util/ArrowToTableConverter.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/util/BarrageUtil.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/util/GrpcUtil.java
  server/src/main/java/io/deephaven/server/appmode/ApplicationFactory.java
  server/src/main/java/io/deephaven/server/appmode/ApplicationServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/appmode/ApplicationTicketResolver.java
  server/src/main/java/io/deephaven/server/arrow/ArrowFlightUtil.java
  server/src/main/java/io/deephaven/server/arrow/FlightServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/browserstreaming/BrowserStream.java
  server/src/main/java/io/deephaven/server/browserstreaming/BrowserStreamInterceptor.java
  server/src/main/java/io/deephaven/server/config/ConfigServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/console/ConsoleServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/console/ScopeTicketResolver.java
  server/src/main/java/io/deephaven/server/console/completer/JavaAutoCompleteObserver.java
  server/src/main/java/io/deephaven/server/console/completer/PythonAutoCompleteObserver.java
  server/src/main/java/io/deephaven/server/grpc/Common.java
  server/src/main/java/io/deephaven/server/grpc/GrpcErrorHelper.java
  server/src/main/java/io/deephaven/server/hierarchicaltable/HierarchicalTableServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/hierarchicaltable/HierarchicalTableViewSubscription.java
  server/src/main/java/io/deephaven/server/notebook/FilesystemStorageServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/object/ObjectServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/partitionedtable/PartitionedTableServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/session/ExportTicketResolver.java
  server/src/main/java/io/deephaven/server/session/SessionModule.java
  server/src/main/java/io/deephaven/server/session/SessionServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/session/SessionState.java
  server/src/main/java/io/deephaven/server/session/TicketRouter.java
  server/src/main/java/io/deephaven/server/table/ExportedTableUpdateListener.java
  server/src/main/java/io/deephaven/server/table/inputtables/InputTableServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/table/ops/AggSpecAdapter.java
  server/src/main/java/io/deephaven/server/table/ops/AggregationAdapter.java
  server/src/main/java/io/deephaven/server/table/ops/ComboAggregateGrpcImpl.java
  server/src/main/java/io/deephaven/server/table/ops/CreateInputTableGrpcImpl.java
  server/src/main/java/io/deephaven/server/table/ops/EmptyTableGrpcImpl.java
  server/src/main/java/io/deephaven/server/table/ops/HeadOrTailByGrpcImpl.java
  server/src/main/java/io/deephaven/server/table/ops/HeadOrTailGrpcImpl.java
  server/src/main/java/io/deephaven/server/table/ops/JoinTablesGrpcImpl.java
  server/src/main/java/io/deephaven/server/table/ops/MergeTablesGrpcImpl.java
  server/src/main/java/io/deephaven/server/table/ops/SelectDistinctGrpcImpl.java
  server/src/main/java/io/deephaven/server/table/ops/SnapshotWhenTableGrpcImpl.java
  server/src/main/java/io/deephaven/server/table/ops/SortTableGrpcImpl.java
  server/src/main/java/io/deephaven/server/table/ops/TableServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/table/ops/TimeTableGrpcImpl.java
  server/src/main/java/io/deephaven/server/table/ops/UpdateByGrpcImpl.java
  server/src/main/java/io/deephaven/server/util/GrpcServiceOverrideBuilder.java
Labels: grpc, clean up, NoDocumentationNeeded, NoReleaseNotesNeeded

#3530 gRPC UpdateBy: Open Shared Lock if Source is Refreshing
  server/src/main/java/io/deephaven/server/table/ops/UpdateByGrpcImpl.java
Labels: bug, grpc, NoDocumentationNeeded, NoReleaseNotesNeeded

#3536 Deephaven-in-docker gradle wiring support for env vars
  buildSrc/src/main/groovy/io/deephaven/tools/docker/DeephavenInDockerExtension.groovy
  cpp-client/build.gradle
  go/build.gradle
  py/client/build.gradle
Labels: test, docker, NoDocumentationNeeded, NoReleaseNotesNeeded

#3505 JS API serializes strings to bytes into a growing buffer
  web/client-api/src/main/java/io/deephaven/web/client/api/parse/JsDataHandler.java
Labels: jsapi, barrage, NoDocumentationNeeded, ReleaseNotesNeeded

#3537 QueryTable#renameColumns: Propagate Attributes
  engine/table/src/main/java/io/deephaven/engine/table/impl/BaseTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
Labels: bug, query engine, NoDocumentationNeeded, NoReleaseNotesNeeded

#3539 Fix an issue with cpp-client README about script permissions
  cpp-client/README.md
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3540 C++ client: add missing include
  cpp-client/deephaven/client/src/server/server.cc
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3526 QueryLanguageParser: Select Best Method by Cost
  engine/table/src/main/java/io/deephaven/engine/table/impl/lang/QueryLanguageFunctionGenerator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/lang/QueryLanguageFunctionUtils.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/lang/QueryLanguageParser.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/lang/TestQueryLanguageParser.java
Labels: query engine, NoDocumentationNeeded, ReleaseNotesNeeded

#3543 Allow cpp clients to specify server host:port via commandline argument.
  cpp-client/README.md
  cpp-examples/create_table_with_arrow_flight/main.cc
  cpp-examples/create_table_with_table_maker/main.cc
  cpp-examples/demos/chapter1.cc
  cpp-examples/demos/chapter2.cc
  cpp-examples/demos/chapter3.cc
  cpp-examples/hello_world/main.cc
  cpp-examples/read_csv/main.cc
  cpp-examples/read_table_with_arrow_flight/main.cc
  py/client2/README.md
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3544 Make it actually possible to change server port exported from docker with env change.
  docker-compose-common.yml
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3542 Send CORS headers for browser clients using gRPC-web
  server/jetty/build.gradle
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyBackedGrpcServer.java
  server/src/main/java/io/deephaven/server/browserstreaming/BrowserStreamInterceptor.java
  server/src/main/java/io/deephaven/server/session/SessionServiceGrpcImpl.java
Labels: jsapi, grpc, NoDocumentationNeeded, ReleaseNotesNeeded

#3532 Provide config service methods to java clients
  java-client/session/src/main/java/io/deephaven/client/impl/ConfigService.java
  java-client/session/src/main/java/io/deephaven/client/impl/Session.java
  java-client/session/src/main/java/io/deephaven/client/impl/SessionImpl.java
  java-client/session/src/main/java/io/deephaven/client/impl/UnaryGrpcFuture.java
Labels: configuration, grpc, NoDocumentationNeeded, java-client, ReleaseNotesNeeded

#3548 Allow using LivenessScope outside of the context of with: statement.
  py/server/deephaven/liveness_scope.py
  py/server/tests/test_liveness.py
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3557 Bump minimal Python ver to 3.8
  py/client/setup.py
  py/embedded-server/setup.py
  py/server/setup.py
Labels: python, DocumentationNeeded, ReleaseNotesNeeded

#3531 Add update_by operation in Python client
  py/client/pydeephaven/_table_interface.py
  py/client/pydeephaven/_table_ops.py
  py/client/pydeephaven/query.py
  py/client/pydeephaven/table.py
  py/client/pydeephaven/updateby.py
  py/client/requirements.txt
  py/client/tests/__init__.py
  py/client/tests/test_console.py
  py/client/tests/test_multi_session.py
  py/client/tests/test_query.py
  py/client/tests/test_session.py
  py/client/tests/test_table.py
  py/client/tests/test_updateby.py
Labels: NoDocumentationNeeded, python-client, ReleaseNotesNeeded

#3559 Bump jetty to 11.0.14
  buildSrc/src/main/groovy/Classpaths.groovy
Labels: NoDocumentationNeeded, jetty, version-bump, NoReleaseNotesNeeded

#3566 Use the config dir app.d for application mode if present
  application-mode/build.gradle
  application-mode/src/main/java/io/deephaven/appmode/ApplicationConfig.java
  application-mode/src/main/java/io/deephaven/appmode/ApplicationConfigImpl.java
Labels: configuration, DocumentationNeeded, application mode, ReleaseNotesNeeded

#3572 Fix a bug in EMA tests
  py/client/tests/test_updateby.py
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3552 Rename snapshot() to to_arrow and add the new snapshot/When ops in Python client
  py/client/README.md
  py/client/docs/source/examples.rst
  py/client/docs/source/index.rst
  py/client/examples/demo_asof_join.py
  py/client/examples/demo_merge_tables.py
  py/client/examples/demo_query.py
  py/client/examples/demo_run_script.py
  py/client/examples/demo_table_ops.py
  py/client/pydeephaven/__init__.py
  py/client/pydeephaven/_arrow_flight_service.py
  py/client/pydeephaven/_table_interface.py
  py/client/pydeephaven/_table_ops.py
  py/client/pydeephaven/query.py
  py/client/pydeephaven/table.py
  py/client/tests/test_console.py
  py/client/tests/test_query.py
  py/client/tests/test_session.py
  py/client/tests/test_table.py
Labels: NoDocumentationNeeded, python-client, ReleaseNotesNeeded

#3565 QueryLanguageParser: Explicitly Create VarArgs for Primitives and Boxed Primitives
  engine/table/src/main/java/io/deephaven/engine/table/impl/lang/QueryLanguageParser.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableSelectUpdateTest.java
Labels: bug, query engine, NoDocumentationNeeded, NoReleaseNotesNeeded

#3577 Fix issue with random Byte column generation in unit test
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableStaticNaturalJoinRandomTest.java
Labels: bug, query engine, core, NoDocumentationNeeded, NoReleaseNotesNeeded

#3502 JS API should attempt to reconnect to the gRPC server
  go/internal/proto/console/console.pb.go
  proto/proto-backplane-grpc/src/main/proto/deephaven/proto/console.proto
  server/src/main/java/io/deephaven/server/console/ConsoleServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/table/ExportedTableUpdateListener.java
  web/client-api/src/main/java/io/deephaven/web/client/api/QueryConnectable.java
  web/client-api/src/main/java/io/deephaven/web/client/api/WorkerConnection.java
  web/client-api/src/main/java/io/deephaven/web/client/api/grpc/MultiplexedWebsocketTransport.java
  web/client-api/src/main/java/io/deephaven/web/client/ide/IdeConnection.java
  web/client-api/src/main/java/io/deephaven/web/client/state/TableReviver.java
Labels: jsapi, NoDocumentationNeeded, ReleaseNotesNeeded

#3606 Ensures the avro `map` type maps to `java.util.Map` type.
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
Labels: kafka, NoDocumentationNeeded, NoReleaseNotesNeeded

#3599 Add dependency information to Listener javadoc.
  engine/api/src/main/java/io/deephaven/engine/table/ShiftObliviousListener.java
  engine/api/src/main/java/io/deephaven/engine/table/TableUpdateListener.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3592 Optimize RspBitmap.andNotEqualsImpl
  engine/rowset/src/main/java/io/deephaven/engine/rowset/impl/RowSetUtils.java
  engine/rowset/src/main/java/io/deephaven/engine/rowset/impl/rsp/RspArray.java
  engine/rowset/src/main/java/io/deephaven/engine/rowset/impl/rsp/RspBitmap.java
  engine/rowset/src/test/java/io/deephaven/engine/rowset/impl/rsp/RspBitmapTest.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3610 UnionSourceManager: Do Not Generate Shifts on Empty Constituents
  engine/table/src/main/java/io/deephaven/engine/table/impl/BaseTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/UnionSourceManager.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/TestStreamTableTools.java
Labels: bug, query engine, NoDocumentationNeeded, NoReleaseNotesNeeded

#3504 Add `RollingMin`/`RollingMax` feature to UpdateBy
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/UpdateByOperatorFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingminmax/ByteRollingMinMaxOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingminmax/CharRollingMinMaxOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingminmax/ComparableRollingMinMaxOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingminmax/DoubleRollingMinMaxOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingminmax/FloatRollingMinMaxOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingminmax/IntRollingMinMaxOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingminmax/LongRollingMinMaxOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingminmax/ShortRollingMinMaxOperator.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestRollingMinMax.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestUpdateByGeneral.java
  java-client/session/src/main/java/io/deephaven/client/impl/UpdateByBuilder.java
  java-client/session/src/test/java/io/deephaven/client/impl/UpdateBySpecBuilderTest.java
  replication/static/src/main/java/io/deephaven/replicators/ReplicateUpdateBy.java
  table-api/src/main/java/io/deephaven/api/updateby/UpdateByOperation.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/RollingAvgSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/RollingMinMaxSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/RollingOpSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/UpdateBySpec.java
Labels: query engine, DocumentationNeeded, ReleaseNotesNeeded

#3603 Wrap the table flatten op and isFlat property
  py/server/deephaven/table.py
  py/server/tests/test_table.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#3579 Replace ComboAgg with Aggregate/AggregateAll in the Python client
  py/client/README.md
  py/client/docs/source/examples.rst
  py/client/pydeephaven/__init__.py
  py/client/pydeephaven/_constants.py
  py/client/pydeephaven/_table_interface.py
  py/client/pydeephaven/_table_ops.py
  py/client/pydeephaven/agg.py
  py/client/pydeephaven/combo_agg.py
  py/client/pydeephaven/query.py
  py/client/pydeephaven/session.py
  py/client/pydeephaven/updateby.py
  py/client/tests/test_query.py
  py/client/tests/test_table.py
Labels: NoDocumentationNeeded, python-client, ReleaseNotesNeeded

#3619 Provide the ability to list available Kafka topics from the console
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
  py/server/deephaven/jcompat.py
  py/server/deephaven/stream/kafka/__init__.py
  py/server/deephaven/stream/kafka/producer.py
  py/server/tests/test_kafka_producer.py
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3628 Improve the level of detail logged for kafka ingestion rates
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
  extensions/kafka/src/main/java/io/deephaven/kafka/StreamPublisherImpl.java
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/ConsumerRecordToStreamPublisherAdapter.java
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/KafkaIngester.java
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/KafkaStreamConsumer.java
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/KafkaStreamPublisher.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3589 Migrate to flight auth
  py/client/pydeephaven/_app_service.py
  py/client/pydeephaven/_arrow_flight_service.py
  py/client/pydeephaven/_config_service.py
  py/client/pydeephaven/_session_service.py
  py/client/pydeephaven/session.py
  py/client/tests/test_session.py
Labels: DocumentationNeeded, python-client, ReleaseNotesNeeded

#3612 Add InputTable in the Python client API
  py/client/README.md
  py/client/docs/source/examples.rst
  py/client/pydeephaven/_arrow.py
  py/client/pydeephaven/_arrow_flight_service.py
  py/client/pydeephaven/_input_table_service.py
  py/client/pydeephaven/_table_ops.py
  py/client/pydeephaven/_table_service.py
  py/client/pydeephaven/session.py
  py/client/pydeephaven/table.py
  py/client/pydeephaven/utils.py
  py/client/tests/test_session.py
Labels: DocumentationNeeded, python-client, ReleaseNotesNeeded

#3636 Add proper double checked locking for EngineMetrics#getProcessInfo
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/EngineMetrics.java
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded

#3629 Go client 2 param auth
  go/internal/test_tools/test_tools.go
  go/pkg/client/client.go
  go/pkg/client/client_test.go
  go/pkg/client/console_test.go
  go/pkg/client/example_fetch_table_test.go
  go/pkg/client/example_import_table_test.go
  go/pkg/client/example_input_table_test.go
  go/pkg/client/example_run_script_test.go
  go/pkg/client/example_table_ops_test.go
  go/pkg/client/inputtable_test.go
  go/pkg/client/query_test.go
  go/pkg/client/tablehandle_test.go
  go/pkg/client/tokens.go
Labels: DocumentationNeeded, ReleaseNotesNeeded, go-client

#3637 Specify Use of Java NIO for extensions-arrow
  extensions/arrow/build.gradle
Labels: bug, build, NoDocumentationNeeded, NoReleaseNotesNeeded

#3607 Add signatureHelp and hover to Python autocomplete
  authorization/src/main/java/io/deephaven/auth/codegen/impl/ConsoleServiceAuthWiring.java
  cpp-client/deephaven/client/proto/deephaven/proto/console.grpc.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/console.grpc.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/console.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/console.pb.h
  go/internal/proto/console/console.pb.go
  go/internal/proto/console/console_grpc.pb.go
  proto/proto-backplane-grpc/src/main/proto/deephaven/proto/console.proto
  py/client/pydeephaven/proto/console_pb2.py
  py/client/pydeephaven/proto/console_pb2_grpc.py
  py/server/deephaven_internal/auto_completer/_completer.py
  server/src/main/java/io/deephaven/server/console/ConsoleServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/console/completer/JavaAutoCompleteObserver.java
  server/src/main/java/io/deephaven/server/console/completer/PythonAutoCompleteObserver.java
  web/client-api/src/main/java/io/deephaven/web/client/ide/IdeSession.java
  web/client-api/src/main/java/io/deephaven/web/client/ide/LspTranslate.java
  web/client-api/src/main/java/io/deephaven/web/shared/ide/lsp/CompletionItem.java
  web/client-api/src/main/java/io/deephaven/web/shared/ide/lsp/Hover.java
  web/client-api/src/main/java/io/deephaven/web/shared/ide/lsp/MarkupContent.java
  web/client-api/src/main/java/io/deephaven/web/shared/ide/lsp/ParameterInformation.java
  web/client-api/src/main/java/io/deephaven/web/shared/ide/lsp/SignatureInformation.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/AutoCompleteRequest.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/AutoCompleteResponse.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/CancelAutoCompleteRequest.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/CancelAutoCompleteResponse.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/CompletionItem.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/Diagnostic.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/GetCompletionItemsResponse.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/GetDiagnosticRequest.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/GetHoverRequest.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/GetHoverResponse.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/GetPublishDiagnosticResponse.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/GetPullDiagnosticResponse.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/GetSignatureHelpRequest.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/GetSignatureHelpResponse.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/MarkupContent.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/ParameterInformation.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/SignatureHelpContext.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/SignatureInformation.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/autocompleterequest/RequestCase.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/autocompleteresponse/ResponseCase.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/diagnostic/CodeDescription.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/diagnostic/DiagnosticSeverityMap.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb/diagnostic/DiagnosticTagMap.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb_service/ConsoleService.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/console_pb_service/ConsoleServiceClient.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/SeekRowRequest.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/table_pb/SeekRowResponse.java
Labels: py-autocomplete, NoDocumentationNeeded, enhancement, ReleaseNotesNeeded
