Repository deephaven/deephaven-core, pull requests merged in 2023-07, with the labels that each got.

#4116 Update Barrage performance tables to use blink tables
  engine/table/src/main/java/io/deephaven/engine/tablelogger/impl/memory/MemoryTableLogger.java
  engine/table/src/main/java/io/deephaven/stream/StreamToBlinkTableAdapter.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/BarragePerformanceLog.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/BarrageSnapshotPerformanceLogger.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/BarrageSnapshotPerformanceLoggerImpl.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/BarrageSnapshotPerformanceStreamPublisher.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/BarrageSubscriptionPerformanceLogger.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/BarrageSubscriptionPerformanceLoggerImpl.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/BarrageSubscriptionPerformanceStreamPublisher.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/table/BarrageTable.java
  server/src/main/java/io/deephaven/server/barrage/BarrageMessageProducer.java
  server/src/main/java/io/deephaven/server/hierarchicaltable/HierarchicalTableViewSubscription.java
Labels: barrage, DocumentationNeeded, ReleaseNotesNeeded

#4121 Include docstring of the constructors in html
  py/client/docs/source/conf.py
  sphinx/source/conf.py
Labels: python, NoDocumentationNeeded, NoReleaseNotesNeeded

#4124 C++ Client: support the "ColumnsAsList" Barrage format.
  cpp-client/deephaven/client/include/private/deephaven/client/arrowutil/arrow_column_source.h
  cpp-client/deephaven/client/src/subscription/subscribe_thread.cc
  cpp-client/deephaven/dhcore/flatbuf/deephaven/flatbuf/Barrage_generated.h
  cpp-client/deephaven/dhcore/src/ticking/barrage_processor.cc
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4117 Use blink table for AsyncErrorLogger
  engine/table/src/main/java/io/deephaven/engine/table/impl/InstrumentedTableListenerBase.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/InstrumentedTableUpdateListenerAdapter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/ShiftObliviousInstrumentedListenerAdapter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/AsyncErrorImpl.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/AsyncErrorLogger.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/AsyncErrorStreamPublisher.java
  engine/test-utils/src/main/java/io/deephaven/engine/testutil/testcase/RefreshingTableTestCase.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServer.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4129 Re-implement shadow's "component" method to correctly
  buildSrc/src/main/groovy/io.deephaven.java-shadow-publishing-conventions.gradle
Labels: build, NoDocumentationNeeded, release blocker, ReleaseNotesNeeded

#4101 Create gRPC SessionService#publishFromTicket
  authorization/src/main/java/io/deephaven/auth/codegen/impl/SessionServiceAuthWiring.java
  cpp-client/deephaven/client/proto/deephaven/proto/session.grpc.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/session.grpc.pb.h
  cpp-client/deephaven/client/proto/deephaven/proto/session.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/session.pb.h
  go/internal/proto/session/session.pb.go
  go/internal/proto/session/session_grpc.pb.go
  java-client/example-utilities/src/main/java/io/deephaven/client/examples/Ticket.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/DoPutTable.java
  java-client/session-examples/build.gradle
  java-client/session-examples/src/main/java/io/deephaven/client/examples/Publish.java
  java-client/session/src/main/java/io/deephaven/client/impl/Session.java
  java-client/session/src/main/java/io/deephaven/client/impl/SessionImpl.java
  proto/proto-backplane-grpc/src/main/proto/deephaven/proto/session.proto
  py/client/pydeephaven/proto/session_pb2.py
  py/client/pydeephaven/proto/session_pb2_grpc.py
  server/src/main/java/io/deephaven/server/appmode/ApplicationTicketResolver.java
  server/src/main/java/io/deephaven/server/arrow/ArrowFlightUtil.java
  server/src/main/java/io/deephaven/server/auth/AllowAllAuthorizationProvider.java
  server/src/main/java/io/deephaven/server/auth/AuthorizationProvider.java
  server/src/main/java/io/deephaven/server/console/ScopeTicketResolver.java
  server/src/main/java/io/deephaven/server/hierarchicaltable/HierarchicalTableServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/partitionedtable/PartitionedTableServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/session/ExportTicketResolver.java
  server/src/main/java/io/deephaven/server/session/NoopTicketResolverAuthorization.java
  server/src/main/java/io/deephaven/server/session/SessionServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/session/TicketResolver.java
  server/src/main/java/io/deephaven/server/session/TicketResolverBase.java
  server/src/main/java/io/deephaven/server/session/TicketRouter.java
  server/test/src/main/java/io/deephaven/server/test/FlightMessageRoundTripTest.java
  server/test/src/main/java/io/deephaven/server/test/TestAuthorizationProvider.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/session_pb/PublishRequest.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/session_pb/PublishResponse.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/session_pb_service/SessionService.java
  web/client-backplane/src/main/java/io/deephaven/javascript/proto/dhinternal/io/deephaven/proto/session_pb_service/SessionServiceClient.java
Labels: grpc, NoDocumentationNeeded, ReleaseNotesNeeded

#4138 Update logo
  docs/images/Deephaven_GH_Logo.svg
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4142 KafkaTools refactor to allow for alternative StreamConsumers
  engine/table/src/main/java/io/deephaven/engine/table/impl/perf/UpdatePerformanceStreamPublisher.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/AsyncErrorStreamPublisher.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/QueryOperationPerformanceStreamPublisher.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/QueryPerformanceStreamPublisher.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/ServerStateStreamPublisher.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/StatsStreamPublisher.java
  engine/table/src/main/java/io/deephaven/stream/StreamChunkUtils.java
  engine/table/src/main/java/io/deephaven/stream/StreamConsumer.java
  engine/table/src/main/java/io/deephaven/stream/StreamFailureConsumer.java
  engine/table/src/main/java/io/deephaven/stream/StreamPublisher.java
  engine/table/src/main/java/io/deephaven/stream/StreamToBlinkTableAdapter.java
  engine/table/src/test/java/io/deephaven/stream/TestStreamToBlinkTableAdapter.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/BarrageSnapshotPerformanceStreamPublisher.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/BarrageSubscriptionPerformanceStreamPublisher.java
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
  extensions/kafka/src/main/java/io/deephaven/kafka/StreamPublisherBase.java
  extensions/kafka/src/main/java/io/deephaven/kafka/StreamPublisherImpl.java
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/ConsumerRecordToStreamPublisherAdapter.java
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/FieldCopier.java
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/KafkaIngester.java
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/KafkaRecordConsumer.java
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/KafkaStreamPublisher.java
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/KeyOrValueProcessor.java
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/MultiFieldChunkAdapter.java
  plugin/gc-app/src/main/java/io/deephaven/app/GcNotificationPublisher.java
  plugin/gc-app/src/main/java/io/deephaven/app/GcPoolsPublisher.java
Labels: feature request, query engine, core, kafka, DocumentationNeeded, ReleaseNotesNeeded

#4139 Kafka raw spec
  extensions/kafka/build.gradle
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
Labels: DocumentationNeeded, ReleaseNotesNeeded

#4144 Proposed fix for scope snapshot diff gaps
  Integrations/src/main/java/io/deephaven/integrations/python/PythonDeephavenSession.java
  engine/table/src/main/java/io/deephaven/engine/util/AbstractScriptSession.java
  engine/table/src/main/java/io/deephaven/engine/util/DelegatingScriptSession.java
  engine/table/src/main/java/io/deephaven/engine/util/GroovyDeephavenSession.java
  engine/table/src/main/java/io/deephaven/engine/util/NoLanguageDeephavenSession.java
  engine/table/src/main/java/io/deephaven/engine/util/ScriptSession.java
  py/embedded-server/java-runtime/src/main/java/io/deephaven/python/server/EmbeddedServer.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServer.java
Labels: bug, core, NoDocumentationNeeded, session, user-reported, ReleaseNotesNeeded

#4153 Allow building the C++ client with clang.
  cpp-client/.clang-format
  cpp-client/deephaven/dhcore/include/private/deephaven/dhcore/immerutil/immer_column_source.h
  cpp-client/deephaven/dhcore/include/private/deephaven/dhcore/ticking/index_decoder.h
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/types.h
  cpp-client/deephaven/dhcore/src/ticking/space_mapper.cc
  cpp-client/deephaven/dhcore/src/types.cc
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4154 C++ Client: tear everything down at the time of Client's destruction
  cpp-client/deephaven/client/include/private/deephaven/client/impl/client_impl.h
  cpp-client/deephaven/client/include/private/deephaven/client/impl/table_handle_impl.h
  cpp-client/deephaven/client/include/private/deephaven/client/impl/table_handle_manager_impl.h
  cpp-client/deephaven/client/include/private/deephaven/client/server/server.h
  cpp-client/deephaven/client/include/private/deephaven/client/subscription/subscription_handle.h
  cpp-client/deephaven/client/include/private/deephaven/client/utility/executor.h
  cpp-client/deephaven/client/src/client.cc
  cpp-client/deephaven/client/src/impl/table_handle_impl.cc
  cpp-client/deephaven/client/src/impl/table_handle_manager_impl.cc
  cpp-client/deephaven/client/src/server/server.cc
  cpp-client/deephaven/client/src/subscription/subscribe_thread.cc
  cpp-client/deephaven/client/src/utility/executor.cc
  cpp-client/deephaven/dhcore/include/private/deephaven/dhcore/ticking/subscription_handle.h
  cpp-client/tests/CMakeLists.txt
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4155 Error notifications need to participate in the satisfaction state machine for their listeners in the same way as regular TableUpdate notifications
  engine/table/src/main/java/io/deephaven/engine/table/impl/InstrumentedTableListenerBase.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableTest.java
  engine/test-utils/src/main/java/io/deephaven/engine/testutil/testcase/RefreshingTableTestCase.java
Labels: bug, query engine, core, kafka, NoDocumentationNeeded, ReleaseNotesNeeded

#4152 Post release bump to 0.27.0
  authorization-codegen/protoc-gen-contextual-auth-wiring
  authorization-codegen/protoc-gen-service-auth-wiring
  buildSrc/src/main/groovy/io.deephaven.common-conventions.gradle
  py/client-ticking/README.md
  py/client-ticking/setup.py
  py/client/README.md
  py/client/pydeephaven/__init__.py
  py/client/setup.py
  py/embedded-server/deephaven_server/__init__.py
  py/server/deephaven/__init__.py
Labels: NoDocumentationNeeded, version-bump, NoReleaseNotesNeeded

#4136 Added support for head() and tail() for blink tables
  engine/table/src/main/java/io/deephaven/engine/table/impl/BlinkTableTools.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SliceLikeOperation.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/BlinkTableSemanticsTest.java
Labels: feature request, query engine, core, DocumentationNeeded, NoReleaseNotesNeeded

#4164 Add ObjectMapper to KafkaTools.Consume.KeyOrValueSpec.Json Configuration
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/JsonNodeUtil.java
Labels: kafka, DocumentationNeeded, json, ReleaseNotesNeeded

#4169 Improve R client instructions to include details about installing R itself
  R/rdeephaven/DESCRIPTION
  R/rdeephaven/README.md
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4151 Add optional debug logging to cpp client.
  cpp-client/deephaven/client/include/private/deephaven/client/impl/table_handle_manager_impl.h
  cpp-client/deephaven/client/include/private/deephaven/client/server/server.h
  cpp-client/deephaven/client/src/client.cc
  cpp-client/deephaven/client/src/impl/client_impl.cc
  cpp-client/deephaven/client/src/impl/table_handle_manager_impl.cc
  cpp-client/deephaven/client/src/server/server.cc
  cpp-client/deephaven/client/src/subscription/subscribe_thread.cc
  cpp-client/deephaven/client/src/utility/executor.cc
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/utility/utility.h
  cpp-client/deephaven/dhcore/src/utility/utility.cc
  cpp-client/tests/utility_test.cc
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4174 Java-Client: Use Arrow's `VarCharVector#setSafe` as the Inner Vector's Size is Unknown
  java-client/flight/src/main/java/io/deephaven/client/impl/VectorHelper.java
Labels: bug, NoDocumentationNeeded, java-client, ReleaseNotesNeeded

#4176 C++ Client: add Client::close() for callers to shut things down on demand
  cpp-client/deephaven/client/include/public/deephaven/client/client.h
  cpp-client/deephaven/client/src/client.cc
  cpp-client/tests/CMakeLists.txt
  cpp-client/tests/basic_test.cc
  cpp-client/tests/test_util.h
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4076 Added support for (start<0 & stop>0) in slice
  engine/api/src/main/java/io/deephaven/engine/table/Table.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SliceLikeOperation.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableSliceTest.java
Labels: feature request, query engine, core, DocumentationNeeded, NoReleaseNotesNeeded

#4156 Remove unused APIs for removal to clarify responsibility/intent
  Integrations/src/main/java/io/deephaven/integrations/python/PythonDeephavenSession.java
  engine/table/groovy/groovy/0-base.groovy
  engine/table/src/main/java/io/deephaven/engine/util/DelegatingScriptSession.java
  engine/table/src/main/java/io/deephaven/engine/util/GroovyDeephavenSession.java
  engine/table/src/main/java/io/deephaven/engine/util/NoLanguageDeephavenSession.java
  engine/table/src/main/java/io/deephaven/engine/util/ScriptSession.java
  engine/table/src/main/java/io/deephaven/engine/util/SourceClosure.java
  engine/table/src/main/java/io/deephaven/engine/util/scripts/ClasspathScriptPathLoader.java
  engine/table/src/main/java/io/deephaven/engine/util/scripts/ConsoleScriptPathLoader.java
  engine/table/src/main/java/io/deephaven/engine/util/scripts/MultiScriptPathLoader.java
  engine/table/src/main/java/io/deephaven/engine/util/scripts/ScriptExtensionsMap.java
  engine/table/src/main/java/io/deephaven/engine/util/scripts/ScriptPathLoader.java
  engine/table/src/main/java/io/deephaven/engine/util/scripts/ScriptPathLoaderState.java
  engine/table/src/main/java/io/deephaven/engine/util/scripts/StateOverrideScriptPathLoader.java
Labels: NoDocumentationNeeded, groovy, ReleaseNotesNeeded

#4179 Improve SortedRanges.insert for append case
  engine/rowset/src/main/java/io/deephaven/engine/rowset/impl/sortedranges/SortedRanges.java
  engine/rowset/src/test/java/io/deephaven/engine/rowset/impl/sortedranges/SortedRangesTest.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4186 float_col should internally use float type
  py/server/deephaven/column.py
  py/server/tests/test_column.py
Labels: bug, NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#4180 Remove ClientWrapper factory, reduce definitely/indirectly lost bytes under Valgrind to 0
  R/rdeephaven/src/client.cpp
  R/rdeephaven/tests/testthat/test_client_wrapper.R
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded

#4135 Added support to slice a table using percentages
  engine/api/src/main/java/io/deephaven/engine/table/Table.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SliceLikeOperation.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/TableAdapter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/UncoalescedTable.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/BlinkTableSemanticsTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableSliceTest.java
  py/server/deephaven/table.py
  py/server/tests/test_table.py
Labels: feature request, query engine, core, DocumentationNeeded, NoReleaseNotesNeeded

#4183 Improve the error check/message in array()
  py/server/deephaven/dtypes.py
  py/server/tests/test_dtypes.py
Labels: NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#4140 Bump groovy to 3.0.18
  buildSrc/src/main/groovy/Classpaths.groovy
Labels: NoDocumentationNeeded, groovy, version-bump, NoReleaseNotesNeeded

#4187 Stop using temp dir for GWT compile
  buildSrc/src/main/groovy/GwtTools.groovy
Labels: build, NoDocumentationNeeded, NoReleaseNotesNeeded

#4193 Bump all base images
  docker/registry/cpp-client-base/gradle.properties
  docker/registry/go/gradle.properties
  docker/registry/protoc-base/gradle.properties
  docker/registry/python/gradle.properties
  docker/registry/server-base/gradle.properties
  docker/registry/slim-base/gradle.properties
  docker/server-jetty/src/main/server-jetty/requirements.txt
  docker/server/src/main/server-netty/requirements.txt
Labels: NoDocumentationNeeded, version-bump, NoReleaseNotesNeeded

#4188 Suppress Unpredictable Client-Behavior gRPC related Exceptions
  grpc-java/grpc-servlet-jakarta/src/main/java/io/grpc/servlet/jakarta/ServletServerStream.java
  grpc-java/grpc-servlet-websocket-jakarta/src/main/java/io/grpc/servlet/web/websocket/MultiplexedWebSocketServerStream.java
  grpc-java/grpc-servlet-websocket-jakarta/src/main/java/io/grpc/servlet/web/websocket/MultiplexedWebsocketStreamImpl.java
  server/src/main/java/io/deephaven/server/session/SessionService.java
Labels: grpc, clean up, NoDocumentationNeeded, NoReleaseNotesNeeded

#4134 Add blink time table support for QST and RPC
  cpp-client/deephaven/client/proto/deephaven/proto/table.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/table.pb.h
  engine/table/src/main/java/io/deephaven/engine/table/impl/TableCreatorImpl.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/TimeTable.java
  go/internal/proto/table/table.pb.go
  java-client/session/src/main/java/io/deephaven/client/impl/BatchTableRequestBuilder.java
  proto/proto-backplane-grpc/src/main/proto/deephaven/proto/table.proto
  py/client/pydeephaven/proto/table_pb2.py
  qst/src/main/java/io/deephaven/qst/table/TimeTable.java
  qst/src/test/java/io/deephaven/qst/table/TimeTableTest.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4199 Don't use ExecutionContext to read constants
  extensions/arrow/src/main/java/io/deephaven/extensions/arrow/ArrowWrapperTools.java
Labels: NoDocumentationNeeded, ReleaseNotesNeeded

#4203 Add SingletonStyle and update relevant classes
  Util/util-immutables/src/main/java/io/deephaven/annotations/SingletonStyle.java
  Util/util-immutables/src/main/java/io/deephaven/annotations/TupleStyle.java
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
  qst/src/main/java/io/deephaven/qst/type/BooleanType.java
  qst/src/main/java/io/deephaven/qst/type/ByteType.java
  qst/src/main/java/io/deephaven/qst/type/CharType.java
  qst/src/main/java/io/deephaven/qst/type/DoubleType.java
  qst/src/main/java/io/deephaven/qst/type/FloatType.java
  qst/src/main/java/io/deephaven/qst/type/InstantType.java
  qst/src/main/java/io/deephaven/qst/type/IntType.java
  qst/src/main/java/io/deephaven/qst/type/LongType.java
  qst/src/main/java/io/deephaven/qst/type/ShortType.java
  qst/src/main/java/io/deephaven/qst/type/StringType.java
  ssl/config/src/main/java/io/deephaven/ssl/config/CiphersIntermediate.java
  ssl/config/src/main/java/io/deephaven/ssl/config/CiphersJdk.java
  ssl/config/src/main/java/io/deephaven/ssl/config/CiphersModern.java
  ssl/config/src/main/java/io/deephaven/ssl/config/CiphersProperties.java
  ssl/config/src/main/java/io/deephaven/ssl/config/IdentityProperties.java
  ssl/config/src/main/java/io/deephaven/ssl/config/ProtocolsIntermediate.java
  ssl/config/src/main/java/io/deephaven/ssl/config/ProtocolsJdk.java
  ssl/config/src/main/java/io/deephaven/ssl/config/ProtocolsModern.java
  ssl/config/src/main/java/io/deephaven/ssl/config/ProtocolsProperties.java
  ssl/config/src/main/java/io/deephaven/ssl/config/TrustAll.java
  ssl/config/src/main/java/io/deephaven/ssl/config/TrustJdk.java
  ssl/config/src/main/java/io/deephaven/ssl/config/TrustProperties.java
  ssl/config/src/main/java/io/deephaven/ssl/config/TrustSystem.java
  table-api/src/main/java/io/deephaven/api/agg/spec/AggSpecAbsSum.java
  table-api/src/main/java/io/deephaven/api/agg/spec/AggSpecAvg.java
  table-api/src/main/java/io/deephaven/api/agg/spec/AggSpecFirst.java
  table-api/src/main/java/io/deephaven/api/agg/spec/AggSpecFreeze.java
  table-api/src/main/java/io/deephaven/api/agg/spec/AggSpecGroup.java
  table-api/src/main/java/io/deephaven/api/agg/spec/AggSpecLast.java
  table-api/src/main/java/io/deephaven/api/agg/spec/AggSpecMax.java
  table-api/src/main/java/io/deephaven/api/agg/spec/AggSpecMin.java
  table-api/src/main/java/io/deephaven/api/agg/spec/AggSpecPercentile.java
  table-api/src/main/java/io/deephaven/api/agg/spec/AggSpecStd.java
  table-api/src/main/java/io/deephaven/api/agg/spec/AggSpecSum.java
  table-api/src/main/java/io/deephaven/api/agg/spec/AggSpecVar.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/CumProdSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/CumSumSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/FillBySpec.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4141 Add BoxedType GenericType
  engine/api/src/main/java/io/deephaven/engine/table/ColumnDefinition.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ArrayBackedColumnSource.java
  engine/vector/src/main/java/io/deephaven/vector/ByteVector.java
  engine/vector/src/main/java/io/deephaven/vector/CharVector.java
  engine/vector/src/main/java/io/deephaven/vector/DoubleVector.java
  engine/vector/src/main/java/io/deephaven/vector/FloatVector.java
  engine/vector/src/main/java/io/deephaven/vector/IntVector.java
  engine/vector/src/main/java/io/deephaven/vector/LongVector.java
  engine/vector/src/main/java/io/deephaven/vector/ShortVector.java
  engine/vector/src/test/java/io/deephaven/vector/ObjectVectorTest.java
  java-client/flight/src/main/java/io/deephaven/client/impl/FieldAdapter.java
  java-client/flight/src/main/java/io/deephaven/client/impl/FieldVectorAdapter.java
  java-client/flight/src/main/java/io/deephaven/client/impl/VectorHelper.java
  qst/src/main/java/io/deephaven/qst/array/BooleanArray.java
  qst/src/main/java/io/deephaven/qst/array/ByteArray.java
  qst/src/main/java/io/deephaven/qst/array/CharArray.java
  qst/src/main/java/io/deephaven/qst/array/DoubleArray.java
  qst/src/main/java/io/deephaven/qst/array/FloatArray.java
  qst/src/main/java/io/deephaven/qst/array/IntArray.java
  qst/src/main/java/io/deephaven/qst/array/LongArray.java
  qst/src/main/java/io/deephaven/qst/array/ShortArray.java
  qst/src/main/java/io/deephaven/qst/array/TypeToArrayBuilder.java
  qst/src/main/java/io/deephaven/qst/type/BooleanType.java
  qst/src/main/java/io/deephaven/qst/type/BoxedBooleanType.java
  qst/src/main/java/io/deephaven/qst/type/BoxedByteType.java
  qst/src/main/java/io/deephaven/qst/type/BoxedCharType.java
  qst/src/main/java/io/deephaven/qst/type/BoxedDoubleType.java
  qst/src/main/java/io/deephaven/qst/type/BoxedFloatType.java
  qst/src/main/java/io/deephaven/qst/type/BoxedIntType.java
  qst/src/main/java/io/deephaven/qst/type/BoxedLongType.java
  qst/src/main/java/io/deephaven/qst/type/BoxedShortType.java
  qst/src/main/java/io/deephaven/qst/type/BoxedType.java
  qst/src/main/java/io/deephaven/qst/type/BoxedTypeBase.java
  qst/src/main/java/io/deephaven/qst/type/ByteType.java
  qst/src/main/java/io/deephaven/qst/type/CharType.java
  qst/src/main/java/io/deephaven/qst/type/DoubleType.java
  qst/src/main/java/io/deephaven/qst/type/FloatType.java
  qst/src/main/java/io/deephaven/qst/type/GenericType.java
  qst/src/main/java/io/deephaven/qst/type/GenericTypeBase.java
  qst/src/main/java/io/deephaven/qst/type/InstantType.java
  qst/src/main/java/io/deephaven/qst/type/IntType.java
  qst/src/main/java/io/deephaven/qst/type/LongType.java
  qst/src/main/java/io/deephaven/qst/type/NativeArrayType.java
  qst/src/main/java/io/deephaven/qst/type/PrimitiveType.java
  qst/src/main/java/io/deephaven/qst/type/ShortType.java
  qst/src/main/java/io/deephaven/qst/type/StringType.java
  qst/src/main/java/io/deephaven/qst/type/Type.java
  qst/src/main/java/io/deephaven/qst/type/TypeHelper.java
  qst/src/test/java/io/deephaven/qst/column/header/ColumnHeadersTest.java
  qst/src/test/java/io/deephaven/qst/type/TypeTest.java
  sql/src/main/java/io/deephaven/sql/TypeAdapter.java
Labels: NoDocumentationNeeded, qst, NoReleaseNotesNeeded

#4205 Add concurrency control to relevant jobs
  .github/workflows/build-ci.yml
  .github/workflows/check-ci.yml
  .github/workflows/docs-ci.yml
  .github/workflows/nightly-check-ci.yml
  .github/workflows/publish-ci.yml
  .github/workflows/quick-ci.yml
  .github/workflows/tag-base-images.yml
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4202 feat: Handle CategoryErrorBarDataSeriesPartitionedTable
  Plot/src/main/java/io/deephaven/plot/datasets/categoryerrorbar/CategoryErrorBarDataSeriesPartitionedTable.java
  plugin/figure/src/main/java/io/deephaven/figure/FigureWidgetTranslator.java
Labels: DocumentationNeeded, NoReleaseNotesNeeded

#4213 Remove QueryTable#maybeTransformToPrimitive
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SortOperation.java
Labels: clean up, NoDocumentationNeeded, NoReleaseNotesNeeded

#4217 AbstractScriptSession.evaluateScript diff result fix
  engine/table/src/main/java/io/deephaven/engine/util/AbstractScriptSession.java
Labels: bug, core, NoDocumentationNeeded, ReleaseNotesNeeded

#4211 Temporarily disable updating generated go code from proto files
  go/build.gradle
Labels: build, grpc, NoDocumentationNeeded, NoReleaseNotesNeeded, go-client

#4223 Fix kafka consume value_spec docs
  py/server/deephaven/stream/kafka/consumer.py
Labels: documentation, clean up, NoDocumentationNeeded, NoReleaseNotesNeeded

#4225 Clean up context usage in NanosBaseTime*ArraySource
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/NanosBasedTimeArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/NanosBasedTimeSparseArraySource.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/select/TestReinterpretedColumn.java
Labels: bug, query engine, core, NoDocumentationNeeded, user-reported, ReleaseNotesNeeded

#4215 Add Bessel correction to weighted variance
  engine/function/src/templates/Numeric.ftl
  engine/function/src/templates/TestNumeric.ftl
Labels: bug, query engine, DocumentationNeeded, data science, ReleaseNotesNeeded, devrel-watch

#4191 [WIP] Improved handling of writing NULLs in parquet
  engine/table/src/main/java/io/deephaven/engine/table/impl/CodecLookup.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ColumnWriterImpl.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainIntChunkedWriter.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetTableWriter.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/ParquetTableReadWriteTest.java
  py/server/deephaven/pandas.py
  py/server/tests/test_pandas.py
  py/server/tests/test_parquet.py
Labels: parquet, NoDocumentationNeeded, NoReleaseNotesNeeded

#4228 Cleanup ConstructSnapshot and add multiple UpdateGraph awareness and optimize static cases
  engine/table/src/main/java/io/deephaven/engine/table/impl/BaseTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SwapListener.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SwapListenerEx.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/remote/ConstructSnapshot.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/remote/TestConstructSnapshot.java
  engine/updategraph/src/main/java/io/deephaven/engine/updategraph/LogicalClock.java
  engine/updategraph/src/main/java/io/deephaven/engine/updategraph/LogicalClockImpl.java
  server/src/main/java/io/deephaven/server/barrage/BarrageMessageProducer.java
Labels: query engine, core, NoDocumentationNeeded, ReleaseNotesNeeded

#4232 Make KeyOrValueSpec public (closes #4231).
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
Labels: feature request, core, kafka, NoDocumentationNeeded, ReleaseNotesNeeded

#4234 Use Java library in error and trace reporting
  IO/src/main/java/io/deephaven/io/log/impl/LogOutputCsvImpl.java
Labels: feature request, core, NoDocumentationNeeded, ReleaseNotesNeeded

#4235 Port of DH-13185: fix FunctionalColumn
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/FunctionalColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/MultiSourceFunctionalColumn.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/remote/TestConstructSnapshot.java
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded

#4220 Add TablePublisher
  Util/src/main/java/io/deephaven/util/SafeCloseable.java
  Util/src/main/java/io/deephaven/util/SafeCloseableArray.java
  engine/api/src/main/java/io/deephaven/engine/table/ColumnSource.java
  engine/api/src/main/java/io/deephaven/engine/table/Table.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/TableDefaults.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/remote/ConstructSnapshot.java
  engine/table/src/main/java/io/deephaven/stream/StreamConsumer.java
  engine/table/src/main/java/io/deephaven/stream/StreamToBlinkTableAdapter.java
  engine/table/src/main/java/io/deephaven/stream/TablePublisher.java
  engine/table/src/main/java/io/deephaven/stream/TableStreamPublisherImpl.java
  engine/table/src/test/java/io/deephaven/stream/TablePublisherTest.java
Labels: DocumentationNeeded, table-publisher, ReleaseNotesNeeded

#4241 Refactor KeyOrValueSpecs into impl classes
  extensions/kafka/src/main/java/io/deephaven/kafka/AvroImpl.java
  extensions/kafka/src/main/java/io/deephaven/kafka/IgnoreImpl.java
  extensions/kafka/src/main/java/io/deephaven/kafka/JsonImpl.java
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
  extensions/kafka/src/main/java/io/deephaven/kafka/RawImpl.java
  extensions/kafka/src/main/java/io/deephaven/kafka/SimpleImpl.java
Labels: clean up, kafka, NoDocumentationNeeded, NoReleaseNotesNeeded

#4247 Fix Kafka failure propagation on poll error
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/KafkaIngester.java
Labels: bug, core, kafka, NoDocumentationNeeded, ReleaseNotesNeeded

#4221 Add sort_descending in the Python client Table class
  py/client/pydeephaven/table.py
  py/client/tests/test_table.py
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4249 Apply Tidyverse styleguide
  R/rdeephaven/R/client_options_wrapper.R
  R/rdeephaven/R/client_wrapper.R
  R/rdeephaven/R/exports.R
  R/rdeephaven/R/helper_functions.R
  R/rdeephaven/R/table_handle_wrapper.R
  R/rdeephaven/README.md
  R/rdeephaven/tests/testthat.R
  R/rdeephaven/tests/testthat/test_client_options_wrapper.R
  R/rdeephaven/tests/testthat/test_client_wrapper.R
  R/rdeephaven/tests/testthat/test_table_handle_wrapper.R
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded, r-client
