Repository deephaven/deephaven-core, pull requests merged in 2023-08, with the labels that each got.

#4252 Ensure the output of a docker run (eg, tests) is copied even if the run (tests) fail.
  buildSrc/src/main/groovy/io/deephaven/tools/docker/CombinedDockerRunTask.groovy
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4257 Fix exception message to refer to correct weight column type
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/UpdateByOperatorFactory.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4256 Python client: fix small typos
  py/client/pydeephaven/updateby.py
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4085 Allow string duration/period parameters for GRPC time table creation
  cpp-client/deephaven/client/proto/deephaven/proto/table.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/table.pb.h
  proto/proto-backplane-grpc/src/main/proto/deephaven/proto/table.proto
  py/client/pydeephaven/_table_ops.py
  py/client/pydeephaven/proto/table_pb2.py
  py/client/pydeephaven/session.py
  py/client/tests/test_table.py
  server/src/main/java/io/deephaven/server/table/ops/TimeTableGrpcImpl.java
Labels: grpc, core, python, NoDocumentationNeeded, python-client, NoReleaseNotesNeeded

#4242 Add callbacks to KafkaIngester consumer loop.
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/KafkaIngester.java
Labels: feature request, core, kafka, DocumentationNeeded, ReleaseNotesNeeded

#4263 Bump base images to include jpy 0.14.0, update setup.py
  docker/registry/cpp-client-base/gradle.properties
  docker/registry/go/gradle.properties
  docker/registry/protoc-base/gradle.properties
  docker/registry/python/gradle.properties
  docker/registry/server-base/gradle.properties
  docker/registry/slim-base/gradle.properties
  docker/server-jetty/src/main/server-jetty/requirements.txt
  docker/server/src/main/server-netty/requirements.txt
  py/embedded-server/setup.py
  py/jpy-ext/build.gradle
  py/server/setup.py
Labels: NoDocumentationNeeded, jpy, version-bump, NoReleaseNotesNeeded

#4248 KafkaTools implementation refactor
  extensions/kafka/src/main/java/io/deephaven/kafka/AvroImpl.java
  extensions/kafka/src/main/java/io/deephaven/kafka/CdcTools.java
  extensions/kafka/src/main/java/io/deephaven/kafka/IgnoreImpl.java
  extensions/kafka/src/main/java/io/deephaven/kafka/JsonImpl.java
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
  extensions/kafka/src/main/java/io/deephaven/kafka/RawImpl.java
  extensions/kafka/src/main/java/io/deephaven/kafka/SimpleImpl.java
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/KafkaIngester.java
  extensions/kafka/src/main/java/io/deephaven/kafka/publish/PublishToKafka.java
  extensions/kafka/src/test/java/io/deephaven/kafka/SimpleImplTest.java
Labels: kafka, NoDocumentationNeeded, breaking, NoReleaseNotesNeeded

#4237 Add conv_null option in to_pandas() to convert DH nulls to pd.NA
  py/server/deephaven/numpy.py
  py/server/deephaven/pandas.py
  py/server/tests/test_learn_gather.py
  py/server/tests/test_pandas.py
  py/server/tests/test_parquet.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#4123 Test PyDictWrapper.values()
  py/jpy-integration/src/javaToPython/java/io/deephaven/jpy/integration/ErrorOutTest.java
  py/jpy-integration/src/javaToPython/java/io/deephaven/jpy/integration/PyDictTest.java
Labels: NoDocumentationNeeded, jpy, NoReleaseNotesNeeded

#4254 For docker runs (tests) ensure we get results even when the run (test) fails.
  buildSrc/src/main/groovy/Docker.groovy
  buildSrc/src/main/groovy/io/deephaven/tools/docker/CombinedDockerRunTask.groovy
  cpp-client/build.gradle
  go/build.gradle
  py/client/build.gradle
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4255 C++ Client: Add UpdateBy Support
  cpp-client/deephaven/client/CMakeLists.txt
  cpp-client/deephaven/client/include/private/deephaven/client/impl/table_handle_impl.h
  cpp-client/deephaven/client/include/private/deephaven/client/impl/update_by_operation_impl.h
  cpp-client/deephaven/client/include/private/deephaven/client/impl/util.h
  cpp-client/deephaven/client/include/private/deephaven/client/server/server.h
  cpp-client/deephaven/client/include/public/deephaven/client/client.h
  cpp-client/deephaven/client/include/public/deephaven/client/update_by.h
  cpp-client/deephaven/client/src/client.cc
  cpp-client/deephaven/client/src/impl/table_handle_impl.cc
  cpp-client/deephaven/client/src/impl/update_by_operation_impl.cc
  cpp-client/deephaven/client/src/server/server.cc
  cpp-client/deephaven/client/src/update_by.cc
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/clienttable/schema.h
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/types.h
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/utility/cbfuture.h
  cpp-client/tests/CMakeLists.txt
  cpp-client/tests/update_by_test.cc
  cpp-client/tests/utility_test.cc
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4192 UpdatePerformanceTracker is now per-PeriodicUpdateGraph, with a shared destination table on the default UpdateGraph
  engine/api/src/main/java/io/deephaven/engine/table/TableListener.java
  engine/context/src/main/java/io/deephaven/engine/context/PoisonedUpdateGraph.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/InstrumentedTableListenerBase.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/InstrumentedUpdateSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/ListenerRecorder.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/MergedListener.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SelectOrUpdateListener.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SourcePartitionedTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SourceTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/TimeTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/perf/PerformanceEntry.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/perf/UpdatePerformanceStreamPublisher.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/perf/UpdatePerformanceTracker.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/UpdateBy.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/AsyncErrorImpl.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/AsyncErrorLogger.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/TableLoggers.java
  engine/table/src/main/java/io/deephaven/engine/updategraph/impl/PeriodicUpdateGraph.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/SelectOverheadLimiter.java
  engine/test-utils/src/main/java/io/deephaven/engine/testutil/testcase/RefreshingTableTestCase.java
  engine/updategraph/src/main/java/io/deephaven/engine/updategraph/UpdateGraph.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/table/BarrageTable.java
  extensions/source-support/src/test/java/io/deephaven/generic/region/AppendOnlyFixedSizePageRegionTest.java
  py/server/test_helper/__init__.py
  server/src/main/java/io/deephaven/server/barrage/BarrageMessageProducer.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServer.java
  server/src/test/java/io/deephaven/server/runner/ExecutionContextUnitTestModule.java
Labels: logging, query engine, DocumentationNeeded, ReleaseNotesNeeded

#4170 Add `Multijoin` feature to community
  engine/api/src/main/java/io/deephaven/engine/table/MultiJoinFactory.java
  engine/api/src/main/java/io/deephaven/engine/table/MultiJoinInput.java
  engine/api/src/main/java/io/deephaven/engine/table/MultiJoinTable.java
  engine/table/build.gradle
  engine/table/src/main/java/io/deephaven/engine/table/impl/MultiJoinModifiedSlotTracker.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/MultiJoinStateManager.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/MultiJoinTableCreatorImpl.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/MultiJoinTableImpl.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/typed/HasherConfig.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/typed/TypedHasherFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/IncrementalMultiJoinStateManagerTypedBase.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/StaticMultiJoinStateManagerTypedBase.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/TypedMultiJoinFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/incopen/gen/IncrementalMultiJoinHasherByte.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/incopen/gen/IncrementalMultiJoinHasherChar.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/incopen/gen/IncrementalMultiJoinHasherDouble.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/incopen/gen/IncrementalMultiJoinHasherFloat.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/incopen/gen/IncrementalMultiJoinHasherInt.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/incopen/gen/IncrementalMultiJoinHasherLong.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/incopen/gen/IncrementalMultiJoinHasherObject.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/incopen/gen/IncrementalMultiJoinHasherShort.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/incopen/gen/TypedHashDispatcher.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/staticopen/gen/StaticMultiJoinHasherByte.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/staticopen/gen/StaticMultiJoinHasherChar.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/staticopen/gen/StaticMultiJoinHasherDouble.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/staticopen/gen/StaticMultiJoinHasherFloat.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/staticopen/gen/StaticMultiJoinHasherInt.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/staticopen/gen/StaticMultiJoinHasherLong.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/staticopen/gen/StaticMultiJoinHasherObject.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/staticopen/gen/StaticMultiJoinHasherShort.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/multijoin/typed/staticopen/gen/TypedHashDispatcher.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/BooleanArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ByteArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/CharacterArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/DoubleArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/FloatArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/IntegerArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/LongArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ObjectArraySource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ShortArraySource.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableMultiJoinTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/TestBooleanArraySource.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/TestByteArraySource.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/TestCharacterArraySource.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/TestDoubleArraySource.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/TestFloatArraySource.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/TestIntegerArraySource.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/TestLongArraySource.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/TestObjectArraySource.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/TestShortArraySource.java
  replication/reflective/src/main/java/io/deephaven/replicators/ReplicateTypedHashers.java
  replication/static/src/main/java/io/deephaven/replicators/ReplicateSourceAndChunkTests.java
  table-api/src/main/java/io/deephaven/api/JoinAddition.java
Labels: feature request, java, DocumentationNeeded, ReleaseNotesNeeded

#4269 Add python wrapper for TablePublisher
  Integrations/src/main/java/io/deephaven/integrations/python/PythonRunnable.java
  engine/table/src/main/java/io/deephaven/stream/TablePublisher.java
  engine/table/src/test/java/io/deephaven/stream/TablePublisherTest.java
  py/server/deephaven/jcompat.py
  py/server/deephaven/stream/table_publisher.py
  py/server/tests/test_table_publisher.py
Labels: DocumentationNeeded, python-server-side, table-publisher, ReleaseNotesNeeded

#4275 Fix for failure in reading lists in parquet files
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ColumnPageReaderImpl.java
  py/server/tests/test_parquet.py
Labels: bug, parquet, NoDocumentationNeeded, NoReleaseNotesNeeded

#4278 Help speed up package compilations in R/rdeephaven/README.md instructions.
  R/rdeephaven/README.md
  R/rdeephaven/src/.gitignore
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4279 MultiJoin - correct bug when multiple columns are supplied
  engine/api/src/main/java/io/deephaven/engine/table/MultiJoinInput.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableMultiJoinTest.java
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded

#4197 Benchmark Improvements Per Pushdown Predicate Port
  BenchmarkSupport/BenchmarkSupport.gradle
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/BenchmarkTools.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/CsvResultWriter.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/AbstractColumnGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/AbstractNumColumnGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/AbstractStringColumnGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/CharColumnGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/ColumnGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/DataGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/EnumStringGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/FuzzyNumColumnGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/FuzzyNumberGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/InstantColumnGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/InstantGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/NumGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/NumberColumnGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/NumberGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/ObjectColumnGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/ObjectGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/RandomNumberGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/RandomStringColumnGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/RandomStringGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/SequentialNumberGenerator.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/random/ExtendedRandom.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/random/NormalExtendedRandom.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/generator/random/ThreadLocalExtendedRandom.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/impl/AbstractBenchmarkTable.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/runner/BenchmarkRunner.java
  BenchmarkSupport/src/main/java/io/deephaven/benchmarking/runner/TableBenchmarkState.java
  engine/benchmark/build.gradle
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/AjBenchmark.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/GroupByBenchmark.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/LastByBenchmark.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/NaturalJoinBenchmark.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/PercentileByBenchmark.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/ResultHashProfiler.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/SortBenchmark.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/SortMultiBenchmark.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/SumByBenchmark.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/UpdateBenchmark.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/WhereBenchmark.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/util/RowSetBuilderBenchmark.java
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/util/UnionBenchmark.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/MultiColumnSortTest.java
Labels: NoDocumentationNeeded, port, bencher, NoReleaseNotesNeeded

#4282 Simplify kafka SimpleImpl w/ Serdes
  extensions/kafka/src/main/java/io/deephaven/kafka/SimpleImpl.java
Labels: clean up, kafka, NoDocumentationNeeded, NoReleaseNotesNeeded

#4290 Fix some typos in the commands to configure R in ubuntu.
  R/rdeephaven/README.md
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4292 Remove nightly benchmark badge from README.md
  README.md
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4285 Wrap withoutAttributes in Table
  py/server/deephaven/table.py
  py/server/tests/test_table.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#4286 Add onFlushCallback to TablePublisher
  engine/table/src/main/java/io/deephaven/stream/StreamToBlinkTableAdapter.java
  engine/table/src/main/java/io/deephaven/stream/TablePublisher.java
  engine/table/src/main/java/io/deephaven/stream/TableStreamPublisherImpl.java
  engine/table/src/test/java/io/deephaven/stream/TablePublisherTest.java
  py/server/deephaven/stream/table_publisher.py
  py/server/tests/test_table_publisher.py
Labels: NoDocumentationNeeded, table-publisher, NoReleaseNotesNeeded

#4293 Apply google styleguide to R Client C++
  R/rdeephaven/src/client.cpp
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded

#4295 Only fill DH null on copies of original pd array
  py/server/deephaven/pandas.py
  py/server/tests/test_pandas.py
Labels: NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#4297 Add better javadocs for simpleSpec, and improve error message.
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
  extensions/kafka/src/main/java/io/deephaven/kafka/SimpleImpl.java
  extensions/kafka/src/test/java/io/deephaven/kafka/SimpleImplTest.java
Labels: kafka, DocumentationNeeded, ReleaseNotesNeeded

#4298 Bump base images pre deephaven-plugin
  docker/registry/cpp-client-base/gradle.properties
  docker/registry/go/gradle.properties
  docker/registry/protoc-base/gradle.properties
  docker/registry/python/gradle.properties
  docker/registry/server-base/gradle.properties
  docker/registry/slim-base/gradle.properties
Labels: NoDocumentationNeeded, version-bump, NoReleaseNotesNeeded

#4299 Change SessionImplConfig#delegateToBatch to delegate to true by default
  java-client/session/src/main/java/io/deephaven/client/impl/SessionImplConfig.java
Labels: NoDocumentationNeeded, java-client, ReleaseNotesNeeded

#4300 Python ticking client: update to match C++ style changes
  py/client-ticking/src/pydeephaven_ticking/_core.pxd
  py/client-ticking/src/pydeephaven_ticking/_core.pyx
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4303 Bump to deephaven-csv 0.12.0
  extensions/csv/build.gradle
Labels: NoDocumentationNeeded, csv, version-bump, ReleaseNotesNeeded

#4305 Wrap hasColumns
  py/server/deephaven/table.py
  py/server/tests/test_table.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#4301 Catch ISE When `ServletServerStream` Writer is Flushed
  grpc-java/grpc-servlet-jakarta/src/main/java/io/grpc/servlet/jakarta/ServletServerStream.java
Labels: bug, logging, grpc, NoDocumentationNeeded, NoReleaseNotesNeeded

#4306 Post release bump to 0.28.0
  authorization-codegen/protoc-gen-contextual-auth-wiring
  authorization-codegen/protoc-gen-service-auth-wiring
  buildSrc/src/main/groovy/io.deephaven.common-conventions.gradle
  py/client-ticking/README.md
  py/client-ticking/setup.py
  py/client/README.md
  py/client/pydeephaven/__init__.py
  py/client/setup.py
  py/embedded-server/deephaven_server/__init__.py
  py/server/deephaven/__init__.py
Labels: NoDocumentationNeeded, version-bump, NoReleaseNotesNeeded

#4308 Provide BrowserStream wiring for ObjectService.MessageStream
  server/src/main/java/io/deephaven/server/object/ObjectServiceGrpcBinding.java
  server/src/main/java/io/deephaven/server/object/ObjectServiceModule.java
Labels: NoDocumentationNeeded, ReleaseNotesNeeded

#4313 Allow multiple invocations of KeyValuePartitionLayout.findKeys(...), by allocating LocationTableBuilders per call
  engine/table/src/main/java/io/deephaven/engine/table/impl/locations/local/KeyValuePartitionLayout.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/locations/impl/TestKeyValuePartitionLayout.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/layout/ParquetKeyValuePartitionedLayout.java
Labels: bug, core, parquet, NoDocumentationNeeded, ReleaseNotesNeeded

#4240 R Client 2.0 - Table Ops
  R/rdeephaven/.gitignore
  R/rdeephaven/DESCRIPTION
  R/rdeephaven/NAMESPACE
  R/rdeephaven/R/aggregate_wrapper.R
  R/rdeephaven/R/client_options_wrapper.R
  R/rdeephaven/R/client_wrapper.R
  R/rdeephaven/R/exports.R
  R/rdeephaven/R/helper_functions.R
  R/rdeephaven/R/table_handle_wrapper.R
  R/rdeephaven/R/table_ops.R
  R/rdeephaven/README.md
  R/rdeephaven/inst/tests/testthat.R
  R/rdeephaven/inst/tests/testthat/test_agg_by.R
  R/rdeephaven/inst/tests/testthat/test_aggregate_wrapper.R
  R/rdeephaven/inst/tests/testthat/test_client_wrapper.R
  R/rdeephaven/inst/tests/testthat/test_table_handle_wrapper.R
  R/rdeephaven/inst/tests/testthat/test_table_ops.R
  R/rdeephaven/man/Client.Rd
  R/rdeephaven/man/ClientOptions.Rd
  R/rdeephaven/man/TableHandle.Rd
  R/rdeephaven/src/client.cpp
  R/rdeephaven/tests/testthat/test_client_options_wrapper.R
  R/rdeephaven/tests/testthat/test_client_wrapper.R
  R/rdeephaven/tests/testthat/test_table_handle_wrapper.R
Labels: NoDocumentationNeeded, ReleaseNotesNeeded, r-client

#4329 C++ client: fix typo in proto build instructions
  cpp-client/README.md
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4335 C++ client: Fix docs build by locking sphinx to version 7.1.2 for now
  sphinx/sphinx.gradle
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4330 Change TimeTable API to support strings, int64, or std::chrono values.
  cpp-client/deephaven/client/CMakeLists.txt
  cpp-client/deephaven/client/include/private/deephaven/client/impl/table_handle_manager_impl.h
  cpp-client/deephaven/client/include/private/deephaven/client/server/server.h
  cpp-client/deephaven/client/include/public/deephaven/client/client.h
  cpp-client/deephaven/client/include/public/deephaven/client/update_by.h
  cpp-client/deephaven/client/include/public/deephaven/client/utility/misc_types.h
  cpp-client/deephaven/client/src/client.cc
  cpp-client/deephaven/client/src/impl/table_handle_manager_impl.cc
  cpp-client/deephaven/client/src/server/server.cc
  cpp-client/deephaven/client/src/update_by.cc
  cpp-client/tests/attributes_test.cc
  cpp-client/tests/ticking_test.cc
  cpp-client/tests/update_by_test.cc
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4352 Option to ingest Kafka String columns in Avro Utf8 format
  extensions/kafka/src/main/java/io/deephaven/kafka/AvroImpl.java
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
  extensions/kafka/src/test/java/io/deephaven/kafka/KafkaToolsTest.java
Labels: feature request, NoDocumentationNeeded, NoReleaseNotesNeeded

#4310 Fix a bug in to_sequence() with falsy input and minor code format issues
  py/client/pydeephaven/_utils.py
  py/server/deephaven/jcompat.py
  py/server/tests/test_partitioned_table.py
Labels: NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#4353 R6 rewrite
  R/rdeephaven/DESCRIPTION
  R/rdeephaven/NAMESPACE
  R/rdeephaven/R/aggregate_wrapper.R
  R/rdeephaven/R/client_wrapper.R
  R/rdeephaven/R/exports.R
  R/rdeephaven/R/helper_functions.R
  R/rdeephaven/R/table_handle_wrapper.R
  R/rdeephaven/R/table_ops.R
  R/rdeephaven/inst/tests/testthat/test_agg_by.R
  R/rdeephaven/inst/tests/testthat/test_client_wrapper.R
  R/rdeephaven/inst/tests/testthat/test_table_handle_wrapper.R
  R/rdeephaven/inst/tests/testthat/test_table_ops.R
  R/rdeephaven/src/client.cpp
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded, r-client

#4361 Update R README.md
  R/rdeephaven/README.md
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded, r-client

#4362 Add additional methods to the `MultiJoinFactory` and `MultiJoinInput` Java/Groovy interface for simple construction.
  engine/api/src/main/java/io/deephaven/engine/table/MultiJoinFactory.java
  engine/api/src/main/java/io/deephaven/engine/table/MultiJoinInput.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableMultiJoinTest.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4368 Update cpp-client README.md to refer to the right version of build-dependencies.sh.
  cpp-client/README.md
  docker/registry/cpp-client-base/gradle.properties
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4376 Fix an issue in R/rdeephaven/src/Makevars regarding pkg-config
  R/rdeephaven/README.md
  R/rdeephaven/etc/generate-dotRenviron-lines.sh
  R/rdeephaven/etc/generate-rserverdotconf-lines.sh
  R/rdeephaven/src/Makevars
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4367 Binary search kernel for pushdown predicates
  engine/table/build.gradle
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/ByteTimsortDescendingKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/ByteTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/CharTimsortDescendingKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/CharTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/DoubleTimsortDescendingKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/DoubleTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/FloatTimsortDescendingKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/FloatTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/IntTimsortDescendingKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/IntTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/LongTimsortDescendingKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/LongTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/NullAwareCharTimsortDescendingKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/NullAwareCharTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/ObjectTimsortDescendingKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/ObjectTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/ShortTimsortDescendingKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sort/timsort/ShortTimsortKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/regioned/kernel/ByteRegionBinarySearchKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/regioned/kernel/CharRegionBinarySearchKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/regioned/kernel/DoubleRegionBinarySearchKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/regioned/kernel/FloatRegionBinarySearchKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/regioned/kernel/IntRegionBinarySearchKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/regioned/kernel/LongRegionBinarySearchKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/regioned/kernel/ObjectRegionBinarySearchKernel.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/regioned/kernel/ShortRegionBinarySearchKernel.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/regioned/kernel/ByteRegionBinarySearchKernelTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/regioned/kernel/CharRegionBinarySearchKernelTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/regioned/kernel/DoubleRegionBinarySearchKernelTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/regioned/kernel/FloatRegionBinarySearchKernelTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/regioned/kernel/IntRegionBinarySearchKernelTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/regioned/kernel/LongRegionBinarySearchKernelTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/regioned/kernel/ShortRegionBinarySearchKernelTest.java
  replication/static/src/main/java/io/deephaven/replicators/ReplicateRegionAndRegionedSourceTests.java
  replication/static/src/main/java/io/deephaven/replicators/ReplicateRegionsAndRegionedSources.java
  replication/util/src/main/java/io/deephaven/replication/ReplicatePrimitiveCode.java
  replication/util/src/main/java/io/deephaven/replication/ReplicationUtils.java
Labels: core, NoDocumentationNeeded, port, NoReleaseNotesNeeded

#4339 Added statistics tracking to DH parquet table writing.
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/AbstractBulkValuesWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/BulkWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ColumnWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ColumnWriterImpl.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/NullStatistics.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainBinaryChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainBooleanChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainDoubleChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainFloatChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainIntChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/PlainLongChunkedWriter.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/RleIntChunkedWriter.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetTableWriter.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/ParquetTableReadWriteTest.java
  extensions/parquet/table/src/test/resources/e0/pyarrow_stats.parquet
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4378 Support and test "psk" in client connection
  R/rdeephaven/R/client_wrapper.R
  R/rdeephaven/inst/tests/testthat/test_client_wrapper.R
Labels: feature request, NoDocumentationNeeded, NoReleaseNotesNeeded, r-client

#4394 Kafka Publisher: allow null values in Instant columns
  extensions/kafka/src/main/java/io/deephaven/kafka/publish/GenericRecordKeyOrValueSerializer.java
Labels: bug, NoDocumentationNeeded, kafka-exhaust, ReleaseNotesNeeded

#4390 If SessionExport is Cancelled, use gRPC Cancel msg
  server/src/main/java/io/deephaven/server/session/SessionState.java
Labels: grpc, NoDocumentationNeeded, NoReleaseNotesNeeded

#4399 Correct initialization for Float/Double RollingMinMax feature.
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingminmax/DoubleRollingMinMaxOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingminmax/FloatRollingMinMaxOperator.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestRollingMinMax.java
  replication/static/src/main/java/io/deephaven/replicators/ReplicateUpdateBy.java
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded

#4404 C++ Client: Add more GRPC entry points: Aj, Raj, LazyUpdate, WhereIn, etc
  cpp-client/deephaven/dhclient/include/private/deephaven/client/impl/table_handle_impl.h
  cpp-client/deephaven/dhclient/include/private/deephaven/client/server/server.h
  cpp-client/deephaven/dhclient/include/public/deephaven/client/client.h
  cpp-client/deephaven/dhclient/include/public/deephaven/client/utility/table_maker.h
  cpp-client/deephaven/dhclient/src/client.cc
  cpp-client/deephaven/dhclient/src/impl/table_handle_impl.cc
  cpp-client/deephaven/dhclient/src/server/server.cc
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/types.h
  cpp-client/deephaven/dhcore/src/types.cc
  cpp-client/deephaven/tests/CMakeLists.txt
  cpp-client/deephaven/tests/date_time_test.cc
  cpp-client/deephaven/tests/join_test.cc
  cpp-client/deephaven/tests/select_test.cc
  cpp-client/deephaven/tests/test_util.h
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4403 Remove jackson from the public API of extensions-parquet-table
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetSchemaReader.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/metadata/TableInfo.java
Labels: bug, clean up, NoDocumentationNeeded, NoReleaseNotesNeeded

#4408 Fix thread safety for gRPC websocket transports
  grpc-java/grpc-servlet-jakarta/src/main/java/io/grpc/servlet/jakarta/ServletAdapter.java
  grpc-java/grpc-servlet-websocket-jakarta/src/main/java/io/grpc/servlet/web/websocket/AbstractWebsocketStreamImpl.java
  grpc-java/grpc-servlet-websocket-jakarta/src/main/java/io/grpc/servlet/web/websocket/MultiplexedWebSocketServerStream.java
  grpc-java/grpc-servlet-websocket-jakarta/src/main/java/io/grpc/servlet/web/websocket/WebSocketServerStream.java
Labels: NoDocumentationNeeded, ReleaseNotesNeeded

#4387 Run Python tests under liveness scopes
  py/server/tests/test_liveness.py
  py/server/tests/test_parquet.py
  py/server/tests/test_perfmon.py
  py/server/tests/test_updateby.py
  py/server/tests/testbase.py
Labels: NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#4380 Close session when it is GCed.
  py/client/pydeephaven/session.py
  py/client/tests/test_session.py
Labels: NoDocumentationNeeded, python-client, NoReleaseNotesNeeded

#4415 Rename some C++ error handling macros for user friendliness.
  cpp-client/deephaven/dhclient/include/private/deephaven/client/server/server.h
  cpp-client/deephaven/dhclient/include/public/deephaven/client/utility/arrow_util.h
  cpp-client/deephaven/dhclient/include/public/deephaven/client/utility/table_maker.h
  cpp-client/deephaven/dhclient/src/client.cc
  cpp-client/deephaven/dhclient/src/flight.cc
  cpp-client/deephaven/dhclient/src/impl/table_handle_impl.cc
  cpp-client/deephaven/dhclient/src/impl/table_handle_manager_impl.cc
  cpp-client/deephaven/dhclient/src/server/server.cc
  cpp-client/deephaven/dhclient/src/subscription/subscribe_thread.cc
  cpp-client/deephaven/dhclient/src/update_by.cc
  cpp-client/deephaven/dhclient/src/utility/arrow_util.cc
  cpp-client/deephaven/dhclient/src/utility/executor.cc
  cpp-client/deephaven/dhclient/src/utility/table_maker.cc
  cpp-client/deephaven/dhcore/include/private/deephaven/dhcore/immerutil/abstract_flex_vector.h
  cpp-client/deephaven/dhcore/include/private/deephaven/dhcore/immerutil/immer_column_source.h
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/column/column_source_utils.h
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/utility/utility.h
  cpp-client/deephaven/dhcore/src/clienttable/client_table.cc
  cpp-client/deephaven/dhcore/src/clienttable/schema.cc
  cpp-client/deephaven/dhcore/src/container/row_sequence.cc
  cpp-client/deephaven/dhcore/src/ticking/barrage_processor.cc
  cpp-client/deephaven/dhcore/src/ticking/immer_table_state.cc
  cpp-client/deephaven/dhcore/src/ticking/index_decoder.cc
  cpp-client/deephaven/dhcore/src/ticking/shift_processor.cc
  cpp-client/deephaven/dhcore/src/ticking/space_mapper.cc
  cpp-client/deephaven/examples/create_table_with_arrow_flight/main.cc
  cpp-client/deephaven/examples/demos/chapter1.cc
  cpp-client/deephaven/examples/demos/chapter2.cc
  cpp-client/deephaven/examples/demos/chapter3.cc
  cpp-client/deephaven/examples/read_csv/main.cc
  cpp-client/deephaven/examples/read_table_with_arrow_flight/main.cc
  cpp-client/deephaven/tests/test_util.cc
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4417 Support on close callbacks for C++ client
  cpp-client/deephaven/CMakeLists.txt
  cpp-client/deephaven/dhclient/include/private/deephaven/client/impl/client_impl.h
  cpp-client/deephaven/dhclient/include/public/deephaven/client/client.h
  cpp-client/deephaven/dhclient/include/public/deephaven/client/utility/misc_types.h
  cpp-client/deephaven/dhclient/src/client.cc
  cpp-client/deephaven/dhclient/src/impl/client_impl.cc
  cpp-client/deephaven/tests/CMakeLists.txt
  cpp-client/deephaven/tests/on_close_cb_test.cc
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#4413 Fix styling typo in readme
  R/rdeephaven/README.md
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded, r-client

#3157 Modify the abstract syntax tree in language parser
  Util/src/main/java/io/deephaven/DeephavenException.java
  engine/function/src/main/java/io/deephaven/function/Logic.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/lang/QueryLanguageFunctionGenerator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/lang/QueryLanguageFunctionUtils.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/lang/QueryLanguageParser.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/AbstractConditionFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/DhFormulaColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/python/DeephavenCompatibleFunction.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/python/FillContextPython.java
  engine/table/src/main/java/io/deephaven/engine/util/PyCallableWrapper.java
  engine/table/src/main/java/io/deephaven/engine/util/PyCallableWrapperJpyImpl.java
  engine/table/src/main/java/io/deephaven/engine/util/PythonScopeJpyImpl.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/lang/LanguageParserDummyClass.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/lang/PyCallableWrapperDummyImpl.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/lang/TestQueryLanguageParser.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/select/FilterKernelSample.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/select/FormulaKernelSample.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/select/FormulaSample.java
Labels: query engine, NoDocumentationNeeded, ReleaseNotesNeeded

#4409 BarrageMessageRoundTripTest#testCoalescingLargeUpdates: Reduce Memory Usage
  server/src/test/java/io/deephaven/server/barrage/BarrageMessageRoundTripTest.java
Labels: core, test, NoDocumentationNeeded, NoReleaseNotesNeeded

#4334 Introduce a limit on maximum dictionary size for a parquet file
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetInstructions.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetTableWriter.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/ParquetTableReadWriteTest.java
  py/server/deephaven/parquet.py
  py/server/tests/test_parquet.py
Labels: bug, parquet, NoDocumentationNeeded, NoReleaseNotesNeeded

#4423 Rename weight column parameter for `update_by` weighted avg.
  py/client/pydeephaven/updateby.py
  py/client/tests/test_updateby.py
  py/server/deephaven/updateby.py
  py/server/tests/test_updateby.py
Labels: table api, DocumentationNeeded, python-server-side, breaking, ReleaseNotesNeeded

#4414 Fix kafka json byte and char types
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/JsonNodeUtil.java
  extensions/kafka/src/main/java/io/deephaven/kafka/publish/JsonKeyOrValueSerializer.java
Labels: kafka, NoDocumentationNeeded, kafka-exhaust, NoReleaseNotesNeeded

#4320 Support parsing all duration formats in all duration methods
  engine/time/src/main/java/io/deephaven/time/DateTimeUtils.java
  engine/time/src/main/java/io/deephaven/time/TimeLiteralReplacedExpression.java
  engine/time/src/test/java/io/deephaven/time/TestDateTimeUtils.java
  engine/time/src/test/java/io/deephaven/time/TestTimeLiteralReplacedExpression.java
Labels: DocumentationNeeded, enhancement, NoReleaseNotesNeeded
