Repository deephaven/deephaven-core, pull requests merged in 2023-05, with the labels that each got.

#3762 Trim any trailing / from grpc server url
  web/client-api/src/main/java/io/deephaven/web/client/ide/IdeConnection.java
Labels: jsapi, grpc, NoDocumentationNeeded, ReleaseNotesNeeded

#3763 Don't coalesce tables to get size or to build preview columns
  engine/table/src/main/java/io/deephaven/engine/table/impl/preview/ColumnPreviewManager.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/util/BarrageUtil.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/util/ExportUtil.java
  go/internal/proto/table/table.pb.go
  go/pkg/client/example_import_table_test.go
  go/pkg/client/example_input_table_test.go
  go/pkg/client/example_table_ops_test.go
  proto/proto-backplane-grpc/src/main/proto/deephaven/proto/table.proto
  server/src/main/java/io/deephaven/server/table/ExportedTableUpdateListener.java
  web/client-api/src/main/java/io/deephaven/web/client/api/barrage/WebBarrageUtils.java
Labels: grpc, NoDocumentationNeeded, ReleaseNotesNeeded

#3765 Wrap ring table
  py/server/deephaven/__init__.py
  py/server/deephaven/table.py
  py/server/deephaven/table_factory.py
  py/server/tests/test_table_factory.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#3713 Authorization: Introduce Abstract DelegateAll ContextualAuthWiring to Funnel All Requests to one Method
  authorization-codegen/src/main/java/io/deephaven/auth/codegen/GenerateContextualAuthWiring.java
  authorization/src/main/java/io/deephaven/auth/codegen/impl/HierarchicalTableServiceContextualAuthWiring.java
  authorization/src/main/java/io/deephaven/auth/codegen/impl/InputTableServiceContextualAuthWiring.java
  authorization/src/main/java/io/deephaven/auth/codegen/impl/PartitionedTableServiceContextualAuthWiring.java
  authorization/src/main/java/io/deephaven/auth/codegen/impl/TableServiceContextualAuthWiring.java
Labels: grpc, NoDocumentationNeeded, authorization, NoReleaseNotesNeeded

#3773 Attempt to reconnect after a failed login with new credentials
  web/client-api/src/main/java/io/deephaven/web/client/api/CoreClient.java
Labels: jsapi, NoDocumentationNeeded, ReleaseNotesNeeded

#3742 Disable idle stream timeout, allow it to be configured downstream
  grpc-java/grpc-servlet-jakarta/src/main/java/io/grpc/servlet/jakarta/ServletAdapter.java
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyBackedGrpcServer.java
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyConfig.java
Labels: configuration, grpc, NoDocumentationNeeded, release blocker, jetty, ReleaseNotesNeeded

#3767 Don't print stack trace when autocomplete errors are suppressed
  server/src/main/java/io/deephaven/server/console/completer/PythonAutoCompleteObserver.java
Labels: py-autocomplete, NoDocumentationNeeded, ReleaseNotesNeeded

#3698 Fix array index error on stale hover request
  py/server/deephaven_internal/auto_completer/_completer.py
  server/src/main/java/io/deephaven/server/console/completer/PythonAutoCompleteObserver.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3774 Wrap Table's awaitUpdate method
  py/server/deephaven/table.py
  py/server/tests/test_table.py
  py/server/tests/testbase.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#3783 ParallelWhere: Prevent Race Between Interrupt and Child Running
  engine/table/src/main/java/io/deephaven/engine/table/impl/AbstractFilterExecution.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/InitialFilterExecution.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableWhereTest.java
Labels: bug, query engine, NoDocumentationNeeded, NoReleaseNotesNeeded

#3782 Correctly set custom headers when looking up auth constants
  web/client-api/src/main/java/io/deephaven/web/client/api/CoreClient.java
Labels: NoDocumentationNeeded, ReleaseNotesNeeded

#3780 To allow Dtype.qst_type to be None for some types (in particular Java ObjectVector)
  py/server/deephaven/dtypes.py
  py/server/tests/test_column.py
Labels: NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#3796 Add Expression, Filter, Literal Strings.of tests
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/WhereFilterAdapter.java
  table-api/src/main/java/io/deephaven/api/Strings.java
  table-api/src/test/java/io/deephaven/api/expression/ExpressionTest.java
  table-api/src/test/java/io/deephaven/api/filter/FilterTest.java
  table-api/src/test/java/io/deephaven/api/literal/LiteralTest.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3797 Add Numba to 3.11 requirements and other fixes.
  py/server/deephaven/pandas.py
  py/server/setup.py
Labels: NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#3798 Bump base images
  docker/registry/cpp-client-base/gradle.properties
  docker/registry/go/gradle.properties
  docker/registry/nginx-noroot-base/gradle.properties
  docker/registry/node/gradle.properties
  docker/registry/protoc-base/gradle.properties
  docker/registry/python/gradle.properties
  docker/registry/server-base/gradle.properties
  docker/registry/slim-base/gradle.properties
  docker/server-jetty/src/main/server-jetty/requirements.txt
  docker/server/src/main/server-netty/requirements.txt
Labels: NoDocumentationNeeded, version-bump, NoReleaseNotesNeeded

#3802 Custom autocomplete API
  open-api/lang-tools/src/main/java/io/deephaven/lang/completion/ChunkerCompleter.java
  open-api/lang-tools/src/main/java/io/deephaven/lang/completion/CompletionLookups.java
  open-api/lang-tools/src/main/java/io/deephaven/lang/completion/CustomCompletion.java
  open-api/lang-tools/src/main/java/io/deephaven/lang/completion/DelegatingCustomCompletion.java
  server/build.gradle
  server/src/main/java/io/deephaven/server/console/ConsoleModule.java
  server/src/main/java/io/deephaven/server/console/ConsoleServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/console/completer/JavaAutoCompleteObserver.java
Labels: autocomplete, NoDocumentationNeeded, ReleaseNotesNeeded

#3803 Custom autocomplete api follow-up
  open-api/lang-tools/src/main/java/io/deephaven/lang/completion/ChunkerCompleter.java
  open-api/lang-tools/src/main/java/io/deephaven/lang/completion/CustomCompletion.java
  open-api/lang-tools/src/main/java/io/deephaven/lang/completion/DelegatingCustomCompletion.java
Labels: autocomplete, NoDocumentationNeeded, NoReleaseNotesNeeded

#3759 Wrap rangeJoin
  py/server/deephaven/table.py
  py/server/tests/test_table.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#3806 Fix for SelectColumnLayer.prepareSourcesForParallelPopulation with flattenedResult
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/analyzers/SelectColumnLayer.java
Labels: bug, query engine, core, NoDocumentationNeeded, NoReleaseNotesNeeded

#3808 Handle datetime64 related breaking changes in in pandas 2.0 API
  py/server/deephaven/dtypes.py
  py/server/tests/test_pandas.py
Labels: NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#3813 Consolidate NULL_X paths
  engine/query-constants/src/main/java/io/deephaven/util/BooleanUtils.java
  qst/build.gradle
  qst/src/main/java/io/deephaven/qst/array/Util.java
  qst/src/test/java/io/deephaven/qst/array/BooleanArrayTest.java
  qst/src/test/java/io/deephaven/qst/array/ByteArrayTest.java
  qst/src/test/java/io/deephaven/qst/array/CharArrayTest.java
  qst/src/test/java/io/deephaven/qst/array/DoubleArrayTest.java
  qst/src/test/java/io/deephaven/qst/array/FloatArrayTest.java
  qst/src/test/java/io/deephaven/qst/array/IntArrayTest.java
  qst/src/test/java/io/deephaven/qst/array/LongArrayTest.java
  qst/src/test/java/io/deephaven/qst/array/ShortArrayTest.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3815 Only test for true values in barrage column attributes
  web/client-api/src/main/java/io/deephaven/web/client/api/barrage/WebBarrageUtils.java
Labels: bug, jsapi, plotting, NoDocumentationNeeded, partitioned_tables, ReleaseNotesNeeded

#3816 Enhancements to static rangeJoin unit tests
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableRangeJoinTest.java
  engine/test-utils/src/main/java/io/deephaven/engine/testutil/TstUtils.java
Labels: query engine, core, NoDocumentationNeeded, NoReleaseNotesNeeded

#3812 JavaClient: Encode Packed Booleans Instead of Reinterpretted Bytes
  engine/updategraph/src/main/java/io/deephaven/engine/updategraph/UpdateGraphProcessor.java
  java-client/flight-dagger/build.gradle
  java-client/flight-dagger/src/test/java/io/deephaven/client/DeephavenFlightSessionTest.java
  java-client/flight-dagger/src/test/java/io/deephaven/client/DeephavenFlightSessionTestBase.java
  java-client/flight/src/main/java/io/deephaven/client/impl/FieldAdapter.java
  java-client/flight/src/main/java/io/deephaven/client/impl/FieldVectorAdapter.java
  java-client/flight/src/main/java/io/deephaven/client/impl/VectorHelper.java
  qst/src/main/java/io/deephaven/qst/array/BooleanArray.java
  qst/src/main/java/io/deephaven/qst/array/ByteArray.java
  qst/src/main/java/io/deephaven/qst/array/CharArray.java
  qst/src/main/java/io/deephaven/qst/array/DoubleArray.java
  qst/src/main/java/io/deephaven/qst/array/FloatArray.java
  qst/src/main/java/io/deephaven/qst/array/IntArray.java
  qst/src/main/java/io/deephaven/qst/array/LongArray.java
  qst/src/main/java/io/deephaven/qst/array/PrimitiveArray.java
  qst/src/main/java/io/deephaven/qst/array/ShortArray.java
  server/src/test/java/io/deephaven/server/runner/DeephavenApiServerTestBase.java
Labels: bug, barrage, NoDocumentationNeeded, java-client, release blocker, ReleaseNotesNeeded

#3822 Update Web UI to v0.38.1
  web/client-ui/Dockerfile
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3825 Update setup.py classifiers
  py/client/setup.py
  py/embedded-server/setup.py
  py/server/setup.py
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3820 Use Jetty image for client integration tests, docs
  Integrations/build.gradle
  buildSrc/src/main/groovy/io/deephaven/tools/docker/DeephavenInDockerExtension.groovy
  cpp-client/build.gradle
  go/build.gradle
  py/client/build.gradle
  sphinx/sphinx.gradle
Labels: build, test, NoDocumentationNeeded, NoReleaseNotesNeeded

#3831 Add HTTP compression support
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyBackedGrpcServer.java
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyConfig.java
Labels: NoDocumentationNeeded, jetty, ReleaseNotesNeeded

#3839 Check for overflows when calling jpy getIntValue
  Integrations/src/main/java/io/deephaven/integrations/python/PythonValueGetter.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3843 Make Jetty SNI host check configurable.
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyBackedGrpcServer.java
  server/jetty/src/main/java/io/deephaven/server/jetty/JettyConfig.java
Labels: configuration, NoDocumentationNeeded, jetty, NoReleaseNotesNeeded

#3846 Use gradle property to control signing.required
  .github/workflows/publish-ci.yml
  buildSrc/src/main/groovy/io/deephaven/project/util/PublishingTools.groovy
Labels: build, ci, NoDocumentationNeeded, release, NoReleaseNotesNeeded

#3845 Add methods to get underlying data array from writable chunks.
  engine/chunk/src/main/java/io/deephaven/chunk/WritableBooleanChunk.java
  engine/chunk/src/main/java/io/deephaven/chunk/WritableByteChunk.java
  engine/chunk/src/main/java/io/deephaven/chunk/WritableCharChunk.java
  engine/chunk/src/main/java/io/deephaven/chunk/WritableDoubleChunk.java
  engine/chunk/src/main/java/io/deephaven/chunk/WritableFloatChunk.java
  engine/chunk/src/main/java/io/deephaven/chunk/WritableIntChunk.java
  engine/chunk/src/main/java/io/deephaven/chunk/WritableLongChunk.java
  engine/chunk/src/main/java/io/deephaven/chunk/WritableObjectChunk.java
  engine/chunk/src/main/java/io/deephaven/chunk/WritableShortChunk.java
  engine/chunk/src/test/java/io/deephaven/chunk/TestBooleanChunk.java
  engine/chunk/src/test/java/io/deephaven/chunk/TestByteChunk.java
  engine/chunk/src/test/java/io/deephaven/chunk/TestCharChunk.java
  engine/chunk/src/test/java/io/deephaven/chunk/TestDoubleChunk.java
  engine/chunk/src/test/java/io/deephaven/chunk/TestFloatChunk.java
  engine/chunk/src/test/java/io/deephaven/chunk/TestIntChunk.java
  engine/chunk/src/test/java/io/deephaven/chunk/TestLongChunk.java
  engine/chunk/src/test/java/io/deephaven/chunk/TestObjectChunk.java
  engine/chunk/src/test/java/io/deephaven/chunk/TestShortChunk.java
  replication/static/src/main/java/io/deephaven/replicators/ReplicateSourceAndChunkTests.java
Labels: feature request, query engine, core, NoDocumentationNeeded, NoReleaseNotesNeeded

#3850 Remove shift-restrictions for non-stream tables in PublishToKafa.PublishListener
  extensions/kafka/src/main/java/io/deephaven/kafka/publish/PublishToKafka.java
  py/server/tests/test_kafka_producer.py
Labels: query engine, core, kafka, NoDocumentationNeeded, kafka-exhaust, ReleaseNotesNeeded

#3854 Rename stream tables to blink tables
  engine/api/src/main/java/io/deephaven/engine/table/Table.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/BaseTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/BlinkTableTools.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SortOperation.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/TableAdapter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/TimeTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/AggregationProcessor.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/BaseBlinkFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/BlinkFirstChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/BlinkLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ByteBlinkSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/CharBlinkSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ChunkedOperatorAggregationHelper.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/CopyingPermutedBlinkFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/DoubleBlinkSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/FloatBlinkSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/IntBlinkSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/LongBlinkSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ObjectBlinkSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/ShortBlinkSortedFirstOrLastChunkedOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ring/RingTableTools.java
  engine/table/src/main/java/io/deephaven/stream/StreamToBlinkTableAdapter.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/BlinkTableAggregationTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/BlinkTableOperationsTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/TestBlinkTableTools.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/ring/RingTableToolsTest.java
  engine/table/src/test/java/io/deephaven/engine/util/TimeTableTest.java
  engine/table/src/test/java/io/deephaven/stream/TestStreamToBlinkTableAdapter.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/table/BarrageBlinkTable.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/table/BarrageTable.java
  extensions/kafka/src/main/java/io/deephaven/kafka/CdcTools.java
  extensions/kafka/src/main/java/io/deephaven/kafka/KafkaTools.java
  extensions/kafka/src/main/java/io/deephaven/kafka/ingest/FieldCopier.java
  extensions/kafka/src/main/java/io/deephaven/kafka/publish/PublishToKafka.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetTableWriter.java
  plugin/gc-app/src/main/java/io/deephaven/app/GcApplication.java
  plugin/gc-app/src/main/java/io/deephaven/app/GcNotificationPublisher.java
  plugin/gc-app/src/main/java/io/deephaven/app/GcPoolsPublisher.java
  py/server/deephaven/stream/__init__.py
  py/server/deephaven/stream/kafka/consumer.py
  py/server/deephaven/table_factory.py
  py/server/tests/test_kafka_consumer.py
  replication/static/src/main/java/io/deephaven/replicators/ReplicateOperators.java
  server/src/main/java/io/deephaven/server/barrage/BarrageMessageProducer.java
  server/src/test/java/io/deephaven/server/barrage/BarrageBlinkTableTest.java
  web/client-api/src/main/java/io/deephaven/web/client/api/JsTable.java
  web/client-api/src/main/java/io/deephaven/web/client/api/WorkerConnection.java
  web/client-api/src/main/java/io/deephaven/web/client/api/barrage/def/TableAttributesDefinition.java
  web/client-api/src/main/java/io/deephaven/web/client/api/subscription/TableViewportSubscription.java
  web/client-api/src/main/java/io/deephaven/web/client/state/ClientTableState.java
Labels: query engine, core, kafka, DocumentationNeeded, ReleaseNotesNeeded

#3849 Improve docker-in-gradle performance and usability
  buildSrc/src/main/groovy/Docker.groovy
  buildSrc/src/main/groovy/io/deephaven/tools/docker/CombinedDockerRunTask.groovy
  buildSrc/src/main/groovy/io/deephaven/tools/docker/DeephavenInDockerExtension.groovy
  cpp-client/build.gradle
  go/build.gradle
  py/client/build.gradle
Labels: build, docker, NoDocumentationNeeded, NoReleaseNotesNeeded

#3857 BarrageMessageProducer: Do Not Always Record Stream Table Rows
  server/src/main/java/io/deephaven/server/barrage/BarrageMessageProducer.java
Labels: barrage, core, NoDocumentationNeeded, enhancement, ReleaseNotesNeeded

#3860 Add `UpdateBy` helper classes to groovy default imports.
  engine/table/src/main/java/io/deephaven/engine/util/GroovyDeephavenSession.java
Labels: DocumentationNeeded, NoReleaseNotesNeeded

#3870 Bump reference to deephaven-csv to 0.11.0
  extensions/csv/build.gradle
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3869 Barrage: Fix BMP Failing OutOfBand BarrageBlinkTable Test by Respecting pre/post Snapshot Update Boundary
  server/src/main/java/io/deephaven/server/barrage/BarrageMessageProducer.java
Labels: bug, barrage, NoDocumentationNeeded, NoReleaseNotesNeeded

#3828 Add pandas version requirement 1.5.0 or later
  py/server/setup.py
Labels: NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#3871 If a command fails to complete, ensure logs are written
  buildSrc/src/main/groovy/io/deephaven/tools/docker/CombinedDockerRunTask.groovy
Labels: build, NoDocumentationNeeded, NoReleaseNotesNeeded

#3866 Do not break snapshots into multiple record batches (yet)
  engine/table/src/main/java/io/deephaven/engine/table/impl/remote/ConstructSnapshot.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/BarrageStreamGeneratorImpl.java
Labels: bug, barrage, NoDocumentationNeeded, NoReleaseNotesNeeded

#3877 Correctly pass errors from executed commands to gRPC clients
  engine/table/src/main/java/io/deephaven/engine/util/AbstractScriptSession.java
  engine/table/src/main/java/io/deephaven/engine/util/GroovyDeephavenSession.java
  engine/table/src/main/java/io/deephaven/engine/util/ScriptSession.java
  engine/table/src/main/java/io/deephaven/engine/util/SourceClosure.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/FuzzerTest.java
  engine/table/src/test/java/io/deephaven/engine/util/scripts/TestGroovyDeephavenSession.java
  server/src/main/java/io/deephaven/server/appmode/ApplicationFactory.java
  server/src/main/java/io/deephaven/server/console/ConsoleServiceGrpcImpl.java
  web/client-api/src/main/java/io/deephaven/web/client/api/console/JsCommandResult.java
  web/client-api/src/main/java/io/deephaven/web/client/ide/IdeSession.java
  web/client-api/src/main/java/io/deephaven/web/public/console.html
Labels: bug, jsapi, grpc, console, NoDocumentationNeeded, ReleaseNotesNeeded

#3878 cpp-client: Support other authentication styles and also provide the ability to execute scripts.
  cpp-client/deephaven/client/include/private/deephaven/client/impl/client_impl.h
  cpp-client/deephaven/client/include/private/deephaven/client/impl/table_handle_manager_impl.h
  cpp-client/deephaven/client/include/private/deephaven/client/server/server.h
  cpp-client/deephaven/client/include/public/deephaven/client/client.h
  cpp-client/deephaven/client/src/client.cc
  cpp-client/deephaven/client/src/impl/client_impl.cc
  cpp-client/deephaven/client/src/impl/table_handle_impl.cc
  cpp-client/deephaven/client/src/impl/table_handle_manager_impl.cc
  cpp-client/deephaven/client/src/server/server.cc
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/utility/utility.h
  cpp-client/deephaven/dhcore/src/utility/utility.cc
  cpp-client/tests/CMakeLists.txt
  cpp-client/tests/script_test.cc
  cpp-client/tests/test_util.cc
  cpp-client/tests/test_util.h
  cpp-client/tests/utility_test.cc
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3881 C++ support for Python ticking client
  cpp-client/deephaven/client/CMakeLists.txt
  cpp-client/deephaven/client/include/private/deephaven/client/arrowutil/arrow_column_source.h
  cpp-client/deephaven/client/include/private/deephaven/client/impl/table_handle_impl.h
  cpp-client/deephaven/client/include/public/deephaven/client/utility/cython_support.h
  cpp-client/deephaven/client/src/impl/table_handle_impl.cc
  cpp-client/deephaven/client/src/subscription/subscribe_thread.cc
  cpp-client/deephaven/client/src/utility/cython_support.cc
  cpp-client/deephaven/dhcore/CMakeLists.txt
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/chunk/chunk.h
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/column/array_column_source.h
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/column/buffer_column_source.h
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/column/column_source_helpers.h
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/column/column_source_utils.h
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/table/schema.h
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/table/table.h
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/ticking/barrage_processor.h
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/ticking/barrage_update_processor.h
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/types.h
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/utility/cython_support.h
  cpp-client/deephaven/dhcore/src/column/array_column_source.cc
  cpp-client/deephaven/dhcore/src/column/column_source_helpers.cc
  cpp-client/deephaven/dhcore/src/column/column_source_utils.cc
  cpp-client/deephaven/dhcore/src/container/row_sequence.cc
  cpp-client/deephaven/dhcore/src/table/schema.cc
  cpp-client/deephaven/dhcore/src/table/table.cc
  cpp-client/deephaven/dhcore/src/ticking/barrage_processor.cc
  cpp-client/deephaven/dhcore/src/ticking/barrage_update_processor.cc
  cpp-client/deephaven/dhcore/src/ticking/immer_table_state.cc
  cpp-client/deephaven/dhcore/src/utility/cython_support.cc
  cpp-client/tests/CMakeLists.txt
  cpp-client/tests/buffer_column_source_test.cc
  cpp-client/tests/cython_support_test.cc
  cpp-examples/demos/chapter2.cc
  cpp-examples/demos/chapter3.cc
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#3865 Wrap `update_by` Exponential Moving Standard Deviation (`emstd`) for python server.
  py/server/deephaven/updateby.py
  py/server/tests/test_updateby.py
  table-api/src/main/java/io/deephaven/api/updateby/UpdateByOperation.java
Labels: DocumentationNeeded, ReleaseNotesNeeded

#3861 `UpdateBy` operator GRPC plumbing and tests.
  cpp-client/deephaven/client/proto/deephaven/proto/table.pb.cc
  cpp-client/deephaven/client/proto/deephaven/proto/table.pb.h
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/UpdateByOperatorFactory.java
  go/internal/proto/table/table.pb.go
  java-client/session/src/main/java/io/deephaven/client/impl/UpdateByBuilder.java
  java-client/session/src/test/java/io/deephaven/client/impl/UpdateBySpecBuilderTest.java
  proto/proto-backplane-grpc/src/main/proto/deephaven/proto/table.proto
  py/client/pydeephaven/proto/table_pb2.py
  py/client/pydeephaven/updateby.py
  py/client/tests/test_query.py
  py/client/tests/test_updateby.py
  py/server/deephaven/updateby.py
  py/server/tests/test_updateby.py
  server/src/main/java/io/deephaven/server/table/ops/UpdateByGrpcImpl.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/DeltaSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/EmMinMaxSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/EmStdSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/EmaSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/EmsSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/RollingCountSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/RollingStdSpec.java
  table-api/src/main/java/io/deephaven/api/updateby/spec/RollingWAvgSpec.java
Labels: DocumentationNeeded, breaking, ReleaseNotesNeeded

#3883 Input table and await improvements
  engine/api/src/main/java/io/deephaven/engine/table/Table.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/UpdatableTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/AppendOnlyArrayBackedMutableTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/BaseArrayBackedMutableTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/KeyedArrayBackedMutableTable.java
  engine/table/src/main/java/io/deephaven/engine/util/config/MutableInputTable.java
  engine/updategraph/src/main/java/io/deephaven/engine/updategraph/UpdateGraphLock.java
  py/client/tests/test_session.py
Labels: bug, query engine, core, DocumentationNeeded, input-tables, ReleaseNotesNeeded

#3888 Fix issue with shift propagation from Table.reverse() on blink tables
  engine/table/src/main/java/io/deephaven/engine/table/impl/ReverseOperation.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableTest.java
Labels: bug, query engine, core, NoDocumentationNeeded, ReleaseNotesNeeded

#3894 Bump images
  docker/registry/cpp-client-base/gradle.properties
  docker/registry/go/gradle.properties
  docker/registry/nginx-noroot-base/gradle.properties
  docker/registry/protoc-base/gradle.properties
  docker/registry/python/gradle.properties
  docker/registry/server-base/gradle.properties
  docker/registry/slim-base/gradle.properties
  docker/server-jetty/src/main/server-jetty/requirements.txt
  docker/server/src/main/server-netty/requirements.txt
Labels: NoDocumentationNeeded, version-bump, NoReleaseNotesNeeded

#3833 Add additional options for percentile, median, unique, count_distinct and wrap distinct in the Python server API
  py/server/deephaven/agg.py
  py/server/deephaven/table.py
  py/server/tests/test_table.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#3874 Correctly map the Pandas CategoricalDtype
  py/server/deephaven/pandas.py
  py/server/tests/test_pandas.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded
