Repository deephaven/deephaven-core, pull requests merged in 2024-05, with the labels that each got.

#5430 Improve FileUtils.deleteRecursively diagnostics.
  Base/src/main/java/io/deephaven/base/FileUtils.java
Labels: core, NoDocumentationNeeded, ReleaseNotesNeeded

#5442 Added S3 test tools to help with directory uploading
  extensions/s3/build.gradle
  extensions/s3/src/test/java/io/deephaven/extensions/s3/S3SeekableChannelLocalStackTest.java
  extensions/s3/src/test/java/io/deephaven/extensions/s3/S3SeekableChannelMinIOTest.java
  extensions/s3/src/test/java/io/deephaven/extensions/s3/S3SeekableChannelTestBase.java
  extensions/s3/src/test/java/io/deephaven/extensions/s3/testlib/S3Helper.java
  extensions/s3/src/test/java/io/deephaven/extensions/s3/testlib/SingletonContainers.java
  extensions/s3/src/test/resources/io/deephaven/extensions/s3/readSimpleFiles/empty.txt
  extensions/s3/src/test/resources/io/deephaven/extensions/s3/readSimpleFiles/hello/world.txt
Labels: test, NoDocumentationNeeded, NoReleaseNotesNeeded

#5444 Collect all pydeephaven-ticking wheels into single directory
  py/client-ticking/build.gradle
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded, point_release_candidate

#5437 JS API should return nulls rather than undefined when reading table data
  web/client-api/src/main/java/io/deephaven/web/client/api/barrage/WebBarrageUtils.java
  web/client-api/src/test/java/io/deephaven/web/client/api/NullValueTestGwt.java
Labels: jsapi, NoDocumentationNeeded, ReleaseNotesNeeded

#5445 Fix SQL ArrayType / CustomType failure mode
  sql/src/main/java/io/deephaven/sql/TypeAdapter.java
  sql/src/test/java/io/deephaven/sql/SqlAdapterTest.java
  sql/src/test/resources/io/deephaven/sql/qst-36.dot
  sql/src/test/resources/io/deephaven/sql/qst-37.dot
  sql/src/test/resources/io/deephaven/sql/qst-38.dot
  sql/src/test/resources/io/deephaven/sql/query-36.sql
  sql/src/test/resources/io/deephaven/sql/query-37.sql
  sql/src/test/resources/io/deephaven/sql/query-38.sql
  sql/src/test/resources/io/deephaven/sql/query-39.sql
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded, sql

#5449 Test for null result in DataIndexer.getOptimalPartialIndex
  engine/table/src/main/java/io/deephaven/engine/table/impl/indexer/DataIndexer.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableWhereTest.java
Labels: bug, query engine, core, NoDocumentationNeeded, ReleaseNotesNeeded

#5454 Add logging when a ReplayTableBase has an error during refresh
  engine/table/src/main/java/io/deephaven/engine/table/impl/replay/ReplayTableBase.java
Labels: query engine, core, NoDocumentationNeeded, ReleaseNotesNeeded

#5446 Arrow Encoding for LocalDate and LocalTime
  extensions/barrage/build.gradle
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/ByteChunkInputStreamGenerator.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/CharChunkInputStreamGenerator.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/ChunkInputStreamGenerator.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/DoubleChunkInputStreamGenerator.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/FloatChunkInputStreamGenerator.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/IntChunkInputStreamGenerator.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/LongChunkInputStreamGenerator.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/ShortChunkInputStreamGenerator.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/util/BarrageUtil.java
  extensions/barrage/src/test/java/io/deephaven/extensions/barrage/chunk/BarrageColumnRoundTripTest.java
  py/server/deephaven/arrow.py
  py/server/tests/test_arrow.py
  server/test/src/main/java/io/deephaven/server/test/FlightMessageRoundTripTest.java
Labels: barrage, core, NoDocumentationNeeded, barrage-wrkr2wrkr, ReleaseNotesNeeded

#5368 Fix inconsistencies in aggregations and query library functions.
  engine/function/src/templates/Numeric.ftl
  engine/function/src/templates/TestNumeric.ftl
  engine/table/src/main/java/io/deephaven/libs/GroovyStaticImports.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestCumProd.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestCumSum.java
Labels: query engine, DocumentationNeeded, breaking, ReleaseNotesNeeded, devrel-watch

#5457 Make DataIndex accumulation and transformation parallelizable
  engine/table/src/main/java/io/deephaven/engine/table/impl/dataindex/TransformedDataIndex.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/SelectColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/StatelessSelectColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/regioned/MergedDataIndex.java
Labels: query engine, core, NoDocumentationNeeded, ReleaseNotesNeeded, point_release_candidate

#5461 Make Numeric.sum return null when there are no inputs or all null inputs
  engine/function/src/templates/Numeric.ftl
  engine/function/src/templates/TestNumeric.ftl
Labels: bug, query engine, DocumentationNeeded, ReleaseNotesNeeded

#5464 Fixed bug in cumsum and cumprod when there are multiple initial null values
  engine/function/src/templates/Numeric.ftl
  engine/function/src/templates/TestNumeric.ftl
Labels: bug, query engine, NoDocumentationNeeded, ReleaseNotesNeeded

#5371 Widen returned types for `UpdateBy` floating point operations.
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/prod/DoubleCumProdOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/prod/FloatCumProdOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingsum/DoubleRollingSumOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/rollingsum/FloatRollingSumOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/sum/DoubleCumSumOperator.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/updateby/sum/FloatCumSumOperator.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/BaseUpdateByTest.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestCumMinMax.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestCumProd.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestCumSum.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/updateby/TestRollingSum.java
Labels: bug, query engine, DocumentationNeeded, ReleaseNotesNeeded, devrel-watch

#5451 Improved threading capabilities of S3+parquet
  Base/src/main/java/io/deephaven/base/FileUtils.java
  Util/channel/src/main/java/io/deephaven/util/channel/CachedChannelProvider.java
  Util/channel/src/main/java/io/deephaven/util/channel/SeekableChannelsProviderLoader.java
  Util/channel/src/test/java/io/deephaven/util/channel/CachedChannelProviderTest.java
  Util/src/main/java/io/deephaven/util/thread/ThreadHelpers.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/OperationInitializationThreadPool.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableAggregationTest.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ParquetFileReader.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetInstructions.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetSchemaReader.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetTools.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/layout/DeephavenNestedPartitionLayout.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/layout/ParquetFlatPartitionedLayout.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/layout/ParquetKeyValuePartitionedLayout.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/layout/ParquetMetadataFileLayout.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/layout/ParquetSingleFileLayout.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/location/ParquetTableLocation.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/location/ParquetTableLocationKey.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/ParquetTableReadWriteTest.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/TestParquetTools.java
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3AsyncClientFactory.java
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3SeekableByteChannel.java
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3SeekableChannelProvider.java
  extensions/s3/src/test/java/io/deephaven/extensions/s3/S3SeekableChannelTestBase.java
Labels: parquet, DocumentationNeeded, NoReleaseNotesNeeded, s3

#5466 Fix a numpy/seq incompatibility bug in 3.8
  py/server/deephaven/_udf.py
Labels: NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#5475 Provide Gradle toolchain resolver implementation
  buildSrc/settings.gradle
  server/src/main/java/io/deephaven/server/runner/SafetyChecks.java
  settings.gradle
Labels: build, NoDocumentationNeeded, NoReleaseNotesNeeded

#5356 UPDATE: Fix formatting of a hyperlink in pydoc
  py/client/docs/source/examples.rst
Labels: community, python, NoDocumentationNeeded, NoReleaseNotesNeeded

#5354 UPDATE: fix misspelling
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/ColumnHolder.java
Labels: documentation, community, java, NoDocumentationNeeded, NoReleaseNotesNeeded

#5481 Bump base images
  docker/registry/fedora/gradle.properties
  docker/registry/go/gradle.properties
  docker/registry/manylinux2014_x86_64/gradle.properties
  docker/registry/python/gradle.properties
  docker/registry/server-base/gradle.properties
  docker/registry/slim-base/gradle.properties
  docker/server-jetty/src/main/server-jetty/requirements.txt
  docker/server/src/main/server-netty/requirements.txt
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5405 Deprecate implicit String-to-UTF8-bytes ticket methods
  engine/api/src/main/java/io/deephaven/engine/table/TableFactory.java
  engine/sql/src/main/java/io/deephaven/engine/sql/Sql.java
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/DoPutSpray.java
  qst/src/main/java/io/deephaven/qst/TableCreator.java
  qst/src/main/java/io/deephaven/qst/table/TableSpec.java
  qst/src/main/java/io/deephaven/qst/table/TicketTable.java
  sql/src/test/java/io/deephaven/sql/SqlAdapterTest.java
Labels: NoDocumentationNeeded, java-client, user-reported, NoReleaseNotesNeeded

#5465 Fix Local Smoke Tests by Allowing ScriptSessionCacheInit's mkdir to Race in Parallel Tests
  engine/table/src/main/java/io/deephaven/engine/util/AbstractScriptSession.java
  engine/table/src/main/java/io/deephaven/engine/util/GroovyDeephavenSession.java
  server/src/test/java/io/deephaven/server/runner/DeephavenApiServerTestBase.java
  server/src/test/java/io/deephaven/server/table/ops/GrpcTableOperationTestBase.java
Labels: core, NoDocumentationNeeded, NoReleaseNotesNeeded

#5357 Added a thread-safe shared cache for S3 reads
  Util/src/main/java/io/deephaven/util/reference/CleanupReferenceProcessor.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
  engine/updategraph/src/main/java/io/deephaven/engine/util/reference/CleanupReferenceProcessorInstance.java
  extensions/arrow/src/main/java/io/deephaven/extensions/arrow/ArrowWrapperTools.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ParquetFileReader.java
  extensions/parquet/compression/src/main/java/io/deephaven/parquet/compress/DeephavenCompressorAdapterFactory.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/ParquetTableReadWriteTest.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/TestParquetS3.java
  extensions/s3/src/main/java/io/deephaven/extensions/s3/BufferPool.java
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3ChannelContext.java
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3Instructions.java
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3Request.java
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3RequestCache.java
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3SeekableChannelProvider.java
  extensions/s3/src/test/java/io/deephaven/extensions/s3/S3InstructionsTest.java
  py/server/deephaven/experimental/s3.py
Labels: parquet, DocumentationNeeded, NoReleaseNotesNeeded, s3

#5488 Barrage Ingestion: Support TimeUnit Conversion on Instant and ZonedDateTime Columns
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/ChunkInputStreamGenerator.java
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/util/BarrageUtil.java
  server/src/main/java/io/deephaven/server/arrow/ArrowFlightUtil.java
  server/test/src/main/java/io/deephaven/server/test/FlightMessageRoundTripTest.java
Labels: bug, barrage, core, NoDocumentationNeeded, barrage-wrkr2wrkr, ReleaseNotesNeeded, point_release_candidate

#5490 Add a C++ client concurrent test/example
  cpp-client/deephaven/dhclient/src/server/server.cc
  cpp-client/deephaven/examples/CMakeLists.txt
  cpp-client/deephaven/examples/concurrent_client/CMakeLists.txt
  cpp-client/deephaven/examples/concurrent_client/main.cc
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5433 Cancel subscribeToLogs and messageStream RPCs when the Session closes
  server/src/main/java/io/deephaven/server/console/ConsoleServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/object/ObjectServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/session/SessionServiceGrpcImpl.java
  server/src/test/java/io/deephaven/server/session/SessionServiceCloseTest.java
  server/test-utils/src/main/java/io/deephaven/server/runner/DeephavenApiServerSingleAuthenticatedBase.java
  server/test-utils/src/main/java/io/deephaven/server/runner/DeephavenApiServerTestBase.java
  server/test-utils/src/main/java/io/deephaven/server/runner/RpcServerStateInterceptor.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5478 Don't close long-lived RowSets in Downsampler BucketState
  ClientSupport/src/main/java/io/deephaven/clientsupport/plotdownsampling/BucketState.java
  ClientSupport/src/main/java/io/deephaven/clientsupport/plotdownsampling/RunChartDownsample.java
Labels: plotting, NoDocumentationNeeded, ReleaseNotesNeeded, point_release_candidate

#5281 Implement DisplayWrapper#hashCode to fix SelectDistinct Behavior of Previewed Columns
  engine/table/src/main/java/io/deephaven/engine/table/impl/preview/DisplayWrapper.java
Labels: bug, core, NoDocumentationNeeded, NoReleaseNotesNeeded, point_release_candidate

#5480 Free performance data when ExportObject is released
  server/src/main/java/io/deephaven/server/session/SessionState.java
Labels: grpc, NoDocumentationNeeded, ReleaseNotesNeeded

#5493 Bugfix in URI conversion when working with directories
  Base/src/main/java/io/deephaven/base/FileUtils.java
  Base/src/test/java/io/deephaven/base/FileUtilsTest.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ParquetFileWriter.java
  extensions/trackedfile/src/main/java/io/deephaven/extensions/trackedfile/TrackedSeekableChannelsProvider.java
  extensions/trackedfile/src/main/java/io/deephaven/extensions/trackedfile/TrackedSeekableChannelsProviderPlugin.java
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded, s3

#5489 Move away from ClientMiddleware and ClientAuthHandler in pydeephaven
  py/client/pydeephaven/_app_service.py
  py/client/pydeephaven/_arrow_flight_service.py
  py/client/pydeephaven/_config_service.py
  py/client/pydeephaven/_console_service.py
  py/client/pydeephaven/_input_table_service.py
  py/client/pydeephaven/_plugin_obj_service.py
  py/client/pydeephaven/_session_service.py
  py/client/pydeephaven/_table_service.py
  py/client/pydeephaven/session.py
  py/client/tests/test_session.py
  py/client/tests/testbase.py
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5441 Unit tests for S3 + parquet
  extensions/parquet/table/build.gradle
  extensions/parquet/table/gradle.properties
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetInstructions.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetTools.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/ParquetTableReadWriteTest.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/S3ParquetLocalStackTest.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/S3ParquetMinIOTest.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/S3ParquetRemoteTest.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/S3ParquetTestBase.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/TestParquetS3.java
  extensions/s3/src/test/java/io/deephaven/extensions/s3/S3SeekableChannelSimpleLocalStackTest.java
  extensions/s3/src/test/java/io/deephaven/extensions/s3/S3SeekableChannelSimpleMinIOTest.java
  extensions/s3/src/test/java/io/deephaven/extensions/s3/S3SeekableChannelSimpleTestBase.java
  extensions/s3/src/test/java/io/deephaven/extensions/s3/testlib/S3Helper.java
  extensions/s3/src/test/java/io/deephaven/extensions/s3/testlib/S3SeekableChannelTestSetup.java
  py/server/tests/test_parquet.py
Labels: bug, test, parquet, NoDocumentationNeeded, NoReleaseNotesNeeded

#5503 Barrage Ingestion: Fix ClassCastExceptions on Empty Primitive Arrays
  extensions/barrage/src/main/java/io/deephaven/extensions/barrage/chunk/array/ObjectArrayExpansionKernel.java
  server/test-utils/src/main/java/io/deephaven/server/test/FlightMessageRoundTripTest.java
Labels: barrage, core, NoDocumentationNeeded, barrage-wrkr2wrkr, ReleaseNotesNeeded, point_release_candidate

#5502 Small ring chunk source cleanup
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ring/AbstractRingChunkSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ring/ByteRingChunkSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ring/CharacterRingChunkSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ring/DoubleRingChunkSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ring/FloatRingChunkSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ring/IntegerRingChunkSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ring/LongRingChunkSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ring/ObjectRingChunkSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/ring/ShortRingChunkSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/ColumnHolder.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/ring/RingTableToolsTest.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5495 Fixed the parquet uint32 reading failure
  Base/src/main/java/io/deephaven/base/FileUtils.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/location/ParquetColumnLocation.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/pagestore/topage/ToLongPageFromUnsignedInt.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/ParquetTableReadWriteTest.java
  extensions/parquet/table/src/test/resources/ReferenceUintParquetData.parquet
  py/server/tests/test_parquet.py
Labels: bug, parquet, NoDocumentationNeeded, NoReleaseNotesNeeded

#5485 Force PartitionAwareSourceTable to coalesce whenever a partition filter is applied via where
  engine/table/src/main/java/io/deephaven/engine/table/impl/DeferredViewTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/PartitionAwareSourceTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SimpleSourceTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SourceTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/hierarchical/TreeTableImpl.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/ConjunctiveFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/DisjunctiveFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/MatchFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/WhereFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/WhereFilterFactory.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/BaseArrayBackedInputTable.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/DeferredViewTableTest.java
Labels: query engine, core, NoDocumentationNeeded, ReleaseNotesNeeded, point_release_candidate

#5505 Migrate properties to netty-app from jetty-app and update proj status
  py/client/tests/testbase.py
  server/netty-app/README.md
  server/netty-app/build.gradle
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5501 5414 reconnect subscriptions
  web/client-api/src/main/java/io/deephaven/web/client/api/WorkerConnection.java
  web/client-api/src/main/java/io/deephaven/web/client/state/ClientTableState.java
Labels: jsapi, NoDocumentationNeeded, ReleaseNotesNeeded

#5504 FlightMessageRoundTripTest: Inner List Type Should not Have Deephaven Type Metadata
  server/test-utils/src/main/java/io/deephaven/server/test/FlightMessageRoundTripTest.java
Labels: core, test, NoDocumentationNeeded, NoReleaseNotesNeeded

#5336 Generate grpc/pb with commonjs_strict
  proto/proto-backplane-grpc/Dockerfile
  proto/raw-js-openapi/src/index.js
  proto/raw-js-openapi/src/shim/BrowserFlight_pb.js
  proto/raw-js-openapi/src/shim/Flight_pb.js
  proto/raw-js-openapi/src/shim/application_pb.js
  proto/raw-js-openapi/src/shim/config_pb.js
  proto/raw-js-openapi/src/shim/console_pb.js
  proto/raw-js-openapi/src/shim/hierarchicaltable_pb.js
  proto/raw-js-openapi/src/shim/inputtable_pb.js
  proto/raw-js-openapi/src/shim/object_pb.js
  proto/raw-js-openapi/src/shim/partitionedtable_pb.js
  proto/raw-js-openapi/src/shim/session_pb.js
  proto/raw-js-openapi/src/shim/storage_pb.js
  proto/raw-js-openapi/src/shim/table_pb.js
  proto/raw-js-openapi/src/shim/ticket_pb.js
  proto/raw-js-openapi/webpack.config.js
Labels: jsapi, grpc, NoDocumentationNeeded, ReleaseNotesNeeded

#5492 Use concurrent queue for InputTableService
  server/src/main/java/io/deephaven/server/table/inputtables/InputTableServiceGrpcImpl.java
Labels: grpc, NoDocumentationNeeded, input-tables, NoReleaseNotesNeeded

#5506 Factory for Vectors over entire columns from a Table
  engine/api/build.gradle
  engine/api/src/main/java/io/deephaven/engine/table/vectors/ByteVectorColumnWrapper.java
  engine/api/src/main/java/io/deephaven/engine/table/vectors/CharVectorColumnWrapper.java
  engine/api/src/main/java/io/deephaven/engine/table/vectors/ColumnVectors.java
  engine/api/src/main/java/io/deephaven/engine/table/vectors/DoubleVectorColumnWrapper.java
  engine/api/src/main/java/io/deephaven/engine/table/vectors/FloatVectorColumnWrapper.java
  engine/api/src/main/java/io/deephaven/engine/table/vectors/IntVectorColumnWrapper.java
  engine/api/src/main/java/io/deephaven/engine/table/vectors/LongVectorColumnWrapper.java
  engine/api/src/main/java/io/deephaven/engine/table/vectors/ObjectVectorColumnWrapper.java
  engine/api/src/main/java/io/deephaven/engine/table/vectors/ShortVectorColumnWrapper.java
  engine/api/src/main/java/io/deephaven/engine/table/vectors/VectorColumnWrapperConstants.java
  engine/api/src/test/java/io/deephaven/engine/table/vectors/ByteVectorColumnWrapperTest.java
  engine/api/src/test/java/io/deephaven/engine/table/vectors/CharVectorColumnWrapperTest.java
  engine/api/src/test/java/io/deephaven/engine/table/vectors/DoubleVectorColumnWrapperTest.java
  engine/api/src/test/java/io/deephaven/engine/table/vectors/FloatVectorColumnWrapperTest.java
  engine/api/src/test/java/io/deephaven/engine/table/vectors/IntVectorColumnWrapperTest.java
  engine/api/src/test/java/io/deephaven/engine/table/vectors/LongVectorColumnWrapperTest.java
  engine/api/src/test/java/io/deephaven/engine/table/vectors/ObjectVectorColumnWrapperTest.java
  engine/api/src/test/java/io/deephaven/engine/table/vectors/ShortVectorColumnWrapperTest.java
  engine/api/src/test/java/io/deephaven/engine/table/vectors/TestColumnVectors.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/by/AggregationContext.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/AbstractFormulaColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/ConditionFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/DhFormulaColumn.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/ByteAggregateColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/CharAggregateColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/DoubleAggregateColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/FloatAggregateColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/IntAggregateColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/LongAggregateColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/ObjectAggregateColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/RangeAggregateColumnSourceByte.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/RangeAggregateColumnSourceChar.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/RangeAggregateColumnSourceDouble.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/RangeAggregateColumnSourceFloat.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/RangeAggregateColumnSourceInt.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/RangeAggregateColumnSourceLong.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/RangeAggregateColumnSourceObject.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/RangeAggregateColumnSourceShort.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/ShortAggregateColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/SlicedByteAggregateColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/SlicedCharAggregateColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/SlicedDoubleAggregateColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/SlicedFloatAggregateColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/SlicedIntAggregateColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/SlicedLongAggregateColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/SlicedObjectAggregateColumnSource.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/sources/aggregate/SlicedShortAggregateColumnSource.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/select/FilterKernelArraySample.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/select/FormulaSample.java
  replication/static/src/main/java/io/deephaven/replicators/ReplicateVectorColumnWrappers.java
  server/src/test/java/io/deephaven/server/table/stats/ChunkedStatsKernelTest.java
Labels: query engine, core, DocumentationNeeded, ReleaseNotesNeeded

#5494 Add java-client support for primitive array types
  java-client/flight-examples/build.gradle
  java-client/flight-examples/src/main/java/io/deephaven/client/examples/AddToBlinkTable.java
  java-client/flight/src/main/java/io/deephaven/client/impl/FieldAdapter.java
  java-client/flight/src/main/java/io/deephaven/client/impl/FieldVectorAdapter.java
Labels: NoDocumentationNeeded, java-client, ReleaseNotesNeeded

#5511 Updated guava dependency version from 32.0.1 to 33.2.0
  buildSrc/src/main/groovy/Classpaths.groovy
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5367 Add All-AI deployments
  containers/python-examples/All-AI/README.md
  containers/python-examples/All-AI/docker-compose.yml
  containers/python/All-AI/README.md
  containers/python/All-AI/docker-compose.yml
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5508 Added support for reading Parquet V2 pages
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ColumnChunkReader.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ColumnChunkReaderImpl.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ColumnPageReaderImpl.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/RowGroupReader.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/RowGroupReaderImpl.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/location/ParquetTableLocation.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/pagestore/OffsetIndexBasedColumnChunkPageStore.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/pagestore/VariablePageSizeColumnChunkPageStore.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/ParquetTableReadWriteTest.java
  extensions/parquet/table/src/test/resources/ReferenceParquetV1PageData.parquet
  extensions/parquet/table/src/test/resources/ReferenceParquetV2PageData.parquet
  py/server/tests/test_parquet.py
Labels: parquet, NoDocumentationNeeded, NoReleaseNotesNeeded

#5507 Add release note about patch release quick check
  RELEASE.md
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5514 Added fix for NPE when reading from S3
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3Request.java
Labels: bug, core, parquet, NoDocumentationNeeded, ReleaseNotesNeeded, s3

#5516 Added fix for excessive memory usage when reading parquet
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/pagestore/OffsetIndexBasedColumnChunkPageStore.java
Labels: bug, parquet, NoDocumentationNeeded, ReleaseNotesNeeded

#5469 Upgraded version for parquet-hadoop
  buildSrc/src/main/groovy/Classpaths.groovy
Labels: parquet, NoDocumentationNeeded, NoReleaseNotesNeeded

#5520 Mitigate risks of SoftReference cache OOM
  buildSrc/src/main/groovy/io.deephaven.java-toolchain-conventions.gradle
Labels: DocumentationNeeded, ReleaseNotesNeeded

#5527 Bump base server image, pick up jpy==0.17.0
  docker/registry/server-base/gradle.properties
  docker/server-jetty/src/main/server-jetty/requirements.txt
  docker/server/src/main/server-netty/requirements.txt
  py/embedded-server/setup.py
  py/jpy-ext/build.gradle
  py/server/setup.py
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5544 fix: PyPi README should indicate we require 3.8 or newer
  py/embedded-server/README_PyPi.md
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5541 Barrage: Coalesce UncoalescedTables Prior to Subscribing/Fetching Data
  server/src/main/java/io/deephaven/server/arrow/ArrowFlightUtil.java
Labels: bug, barrage, NoDocumentationNeeded, barrage-wrkr2wrkr, ReleaseNotesNeeded

#5545 Cache size of files fetched from S3
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3ChannelContext.java
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3SeekableChannelProvider.java
Labels: parquet, NoDocumentationNeeded, ReleaseNotesNeeded, s3

#5549 Temporary fix for broken US cran mirror for R packages
  R/build.gradle
Labels: build, NoDocumentationNeeded, NoReleaseNotesNeeded, r-client

#5536 Ensure that ConsoleService.getHeapInfo is authenticated
  server/src/main/java/io/deephaven/server/console/ConsoleServiceGrpcImpl.java
Labels: security, NoDocumentationNeeded, NoReleaseNotesNeeded

#5548 Fix publication details for shadowed jars
  authentication/example-providers/build.gradle
  authentication/example-providers/mtls/gradle.properties
  authentication/example-providers/oidc/gradle.properties
  authentication/example-providers/psk/gradle.properties
  authentication/example-providers/sql-username-password/gradle.properties
  buildSrc/src/main/groovy/io.deephaven.java-shadow-publishing-conventions.gradle
Labels: build, DocumentationNeeded, ReleaseNotesNeeded
