Repository deephaven/deephaven-core, pull requests merged in 2024-04, with the labels that each got.

#5307 Bump base images
  docker/registry/go/gradle.properties
  docker/registry/manylinux2014_x86_64/gradle.properties
  docker/registry/protoc-base/gradle.properties
  docker/registry/python/gradle.properties
  docker/registry/server-base/gradle.properties
  docker/registry/slim-base/gradle.properties
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5312 Support numpy_nullable in to_pandas() by only checking Pandas version when 'pyarrow' is used
  py/server/deephaven/pandas.py
Labels: NoDocumentationNeeded, python-server-side, ReleaseNotesNeeded

#5313 Add java 22 nightly testing
  .github/workflows/nightly-check-ci.yml
  Configuration/src/test/java/io/deephaven/configuration/TestConfiguration.java
  buildSrc/src/main/groovy/Classpaths.groovy
Labels: test, ci, NoDocumentationNeeded, version-bump, NoReleaseNotesNeeded

#5305 fix: Use correct schema when opening transformed partitioned tables
  web/client-api/src/main/java/io/deephaven/web/client/api/JsPartitionedTable.java
  web/client-api/src/main/java/io/deephaven/web/client/ide/IdeSession.java
  web/client-api/src/test/java/io/deephaven/web/ClientIntegrationTestSuite.java
  web/client-api/src/test/java/io/deephaven/web/client/api/AbstractAsyncGwtTestCase.java
  web/client-api/src/test/java/io/deephaven/web/client/api/PartitionedTableTestGwt.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5314 Disable frequently timing-out test
  web/client-api/src/test/java/io/deephaven/web/client/api/HierarchicalTableTestGwt.java
Labels: jsapi, test, NoDocumentationNeeded, NoReleaseNotesNeeded

#5306 Wrap the new data indexing feature in Python
  py/server/deephaven/experimental/data_index.py
  py/server/deephaven/liveness_scope.py
  py/server/tests/test_data_index.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#5319 Introduce TableUpdateImpl copy that takes an MCS
  engine/table/src/main/java/io/deephaven/engine/table/impl/AsOfJoinHelper.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/BaseTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/NaturalJoinHelper.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/ShiftedColumnOperation.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/SparseSelect.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/TableUpdateImpl.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/TableUpdateValidator.java
  engine/table/src/main/java/io/deephaven/engine/util/TickSuppressor.java
  engine/table/src/main/java/io/deephaven/engine/util/WindowCheck.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/SelectOverheadLimiter.java
Labels: query engine, NoDocumentationNeeded, NoReleaseNotesNeeded

#5322 Upgrade to docker compose v2
  Integrations/build.gradle
  Integrations/docker-compose.yml
  authentication/example-providers/oidc/README.md
  authentication/example-providers/oidc/docker-compose.yml
  authentication/example-providers/sql-username-password/README.md
  authentication/example-providers/sql-username-password/docker-compose.yml
  build.gradle
  buildSrc/build.gradle
  containers/groovy-examples-redpanda/docker-compose.yml
  containers/groovy-examples/docker-compose.yml
  containers/groovy-redpanda/docker-compose.yml
  containers/groovy/docker-compose.yml
  containers/python-examples-redpanda/docker-compose.yml
  containers/python-examples/NLTK/docker-compose.yml
  containers/python-examples/PyTorch/docker-compose.yml
  containers/python-examples/SciKit-Learn/docker-compose.yml
  containers/python-examples/TensorFlow/docker-compose.yml
  containers/python-examples/base/docker-compose.yml
  containers/python-redpanda/docker-compose.yml
  containers/python/NLTK/docker-compose.yml
  containers/python/PyTorch/docker-compose.yml
  containers/python/SciKit-Learn/docker-compose.yml
  containers/python/TensorFlow/docker-compose.yml
  containers/python/base/docker-compose.yml
  debezium/demo/README.md
  debezium/demo/docker-compose.yml
  debezium/docker-compose-debezium-common.yml
  debezium/perf/README.md
  debezium/perf/docker-compose.yml
  debezium/perf/mz_run_demo.sh
  debezium/perf/mz_sample_dt.sh
  debezium/perf/start_perf_run.sh
  debezium/perf/stop_all.sh
  docker-compose-common.yml
  docker-compose.yml
  docker/server-slim/src/main/docker/Dockerfile
  docker/web-plugin-packager/README.md
  postgres/docker-compose.yml
  redpanda-apicurio/docker-compose.yml
  redpanda-apicurio/examples/python/kafka-produce-avro.py
  redpanda-standalone/docker-compose.yml
  redpanda/docker-compose.yml
  redpanda/examples/python/kafka-produce-avro.py
  redpanda/examples/python/kafka-produce.py
Labels: build, DocumentationNeeded, ReleaseNotesNeeded

#5294 Add deephaven.javaOpts and deephaven.startOpts gradle property sourcing
  buildSrc/src/main/groovy/io.deephaven.java-toolchain-conventions.gradle
  server/jetty-app/README.md
Labels: build, NoDocumentationNeeded, NoReleaseNotesNeeded

#5333 Remove unnecessary (and duplicate) headers from do_exchange calls
  py/client/pydeephaven/_arrow_flight_service.py
Labels: NoDocumentationNeeded, ReleaseNotesNeeded

#5295 Remove DisableIntrinsic for currentThread
  buildSrc/src/main/groovy/io.deephaven.java-toolchain-conventions.gradle
  py/embedded-server/deephaven_server/start_jvm.py
  server/src/main/java/io/deephaven/server/runner/MainHelper.java
  server/src/main/java/io/deephaven/server/runner/SafetyChecks.java
Labels: build, DocumentationNeeded, ReleaseNotesNeeded

#5324 Fix deephaven.dtypes.array handling of Instant strings.
  Integrations/src/main/java/io/deephaven/integrations/common/PrimitiveArrayConversionUtility.java
  engine/time/src/main/java/io/deephaven/time/DateTimeUtils.java
  py/server/deephaven/dtypes.py
  py/server/tests/test_dtypes.py
Labels: bug, python, NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#5337 C++ Client: ensure all types are supported for static and ticking.
  R/rdeephaven/src/client.cpp
  cpp-client/deephaven/dhclient/CMakeLists.txt
  cpp-client/deephaven/dhclient/include/private/deephaven/client/arrowutil/arrow_client_table.h
  cpp-client/deephaven/dhclient/include/private/deephaven/client/arrowutil/arrow_column_source.h
  cpp-client/deephaven/dhclient/include/public/deephaven/client/client.h
  cpp-client/deephaven/dhclient/include/public/deephaven/client/client_options.h
  cpp-client/deephaven/dhclient/include/public/deephaven/client/utility/arrow_util.h
  cpp-client/deephaven/dhclient/include/public/deephaven/client/utility/table_maker.h
  cpp-client/deephaven/dhclient/src/arrowutil/arrow_client_table.cc
  cpp-client/deephaven/dhclient/src/client.cc
  cpp-client/deephaven/dhclient/src/client_options.cc
  cpp-client/deephaven/dhclient/src/impl/table_handle_impl.cc
  cpp-client/deephaven/dhclient/src/subscription/subscribe_thread.cc
  cpp-client/deephaven/dhclient/src/utility/arrow_util.cc
  cpp-client/deephaven/dhclient/src/utility/table_maker.cc
  cpp-client/deephaven/dhcore/include/private/deephaven/dhcore/immerutil/abstract_flex_vector.h
  cpp-client/deephaven/dhcore/include/private/deephaven/dhcore/immerutil/immer_column_source.h
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/types.h
  cpp-client/deephaven/dhcore/include/public/deephaven/dhcore/utility/utility.h
  cpp-client/deephaven/dhcore/src/ticking/immer_table_state.cc
  cpp-client/deephaven/dhcore/src/utility/utility.cc
  cpp-client/deephaven/examples/create_table_with_arrow_flight/main.cc
  cpp-client/deephaven/examples/read_csv/main.cc
  cpp-client/deephaven/tests/CMakeLists.txt
  cpp-client/deephaven/tests/table_test.cc
  cpp-client/deephaven/tests/test_util.h
  cpp-client/deephaven/tests/ticking_test.cc
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5317 Add blink_table option to input table factory method in pydeeephaven
  py/client/pydeephaven/_table_ops.py
  py/client/pydeephaven/session.py
  py/client/tests/test_session.py
Labels: NoDocumentationNeeded, python-client, ReleaseNotesNeeded

#5328 Update ticking Python client readme
  py/client-ticking/README.md
Labels: documentation, NoDocumentationNeeded, NoReleaseNotesNeeded

#5342 Added fix for failing nightly job
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/ParquetTableReadWriteTest.java
Labels: bug, parquet, NoDocumentationNeeded, NoReleaseNotesNeeded

#5290 Build and publish pydeephaven-ticking wheels
  .github/workflows/publish-ci.yml
  RELEASE.md
  py/client-ticking/build.gradle
  py/client-ticking/pyClientTickingWheel/entrypoint.sh
  py/client-ticking/testPyClientTicking/entrypoint.sh
Labels: ci, NoDocumentationNeeded, NoReleaseNotesNeeded

#5238 fix: seek row for sorted columns
  ClientSupport/ClientSupport.gradle
  ClientSupport/src/main/java/io/deephaven/clientsupport/gotorow/SeekRow.java
  ClientSupport/src/test/java/io/deephaven/clientsupport/gotorow/SeekRowTest.java
  server/src/main/java/io/deephaven/server/table/ops/TableServiceGrpcImpl.java
Labels: bug, NoDocumentationNeeded, NoReleaseNotesNeeded

#5004 fix: Fix LazyPromise behaviour
  web/client-api/src/main/java/io/deephaven/web/client/fu/LazyPromise.java
  web/client-api/src/test/java/io/deephaven/web/ClientIntegrationTestSuite.java
  web/client-api/src/test/java/io/deephaven/web/client/fu/LazyPromiseTestGwt.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5275 feat: Add console scripts to start Deephaven from the command line
  authentication/example-providers/psk/src/main/java/io/deephaven/authentication/psk/PskAuthenticationHandler.java
  authentication/src/main/java/io/deephaven/auth/AnonymousAuthenticationHandler.java
  authentication/src/main/java/io/deephaven/auth/AuthenticationRequestHandler.java
  py/embedded-server/deephaven_server/__init__.py
  py/embedded-server/deephaven_server/cli.py
  py/embedded-server/deephaven_server/server.py
  py/embedded-server/java-runtime/src/main/java/io/deephaven/python/server/EmbeddedServer.java
  py/embedded-server/setup.py
Labels: DocumentationNeeded, ReleaseNotesNeeded

#5291 Use predetermined type converters for UDF arguments
  engine/table/src/main/java/io/deephaven/engine/util/PyCallableWrapperJpyImpl.java
  py/server/deephaven/_udf.py
  py/server/deephaven/dtypes.py
  py/server/deephaven/jcompat.py
  py/server/tests/test_numba_guvectorize.py
  py/server/tests/test_udf_args.py
  py/server/tests/test_udf_array_args.py
  py/server/tests/test_udf_return.py
  py/server/tests/test_udf_scalar_args.py
  py/server/tests/test_vectorization.py
Labels: DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#5349 Allow only one thread to do the recursive import to load all JObjectWrapper implementers.
  py/server/deephaven/_wrapper.py
Labels: NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#5344 Added simple_date_format to python
  py/server/deephaven/time.py
  py/server/tests/test_time.py
Labels: python, DocumentationNeeded, python-server-side, ReleaseNotesNeeded

#5355 fix: Update copyright on sphinx generated docs
  sphinx/source/conf.py
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5206 Added support to read partitioned parquet files from S3
  Base/src/main/java/io/deephaven/base/FileUtils.java
  Util/channel/src/main/java/io/deephaven/util/channel/CachedChannelProvider.java
  Util/channel/src/main/java/io/deephaven/util/channel/LocalFSChannelProvider.java
  Util/channel/src/main/java/io/deephaven/util/channel/SeekableChannelsProvider.java
  Util/channel/src/test/java/io/deephaven/util/channel/CachedChannelProviderTest.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/locations/local/FileKeyValuePartitionLayout.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/locations/local/KeyValuePartitionLayout.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/locations/local/URIStreamKeyValuePartitionLayout.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/locations/impl/TestFileKeyValuePartitionLayout.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ParquetUtils.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetTools.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/layout/LocationTableBuilderCsv.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/layout/ParquetFlatPartitionedLayout.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/layout/ParquetKeyValuePartitionedLayout.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/ParquetTableReadWriteTest.java
  extensions/s3/build.gradle
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3ChannelContext.java
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3Instructions.java
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3SeekableByteChannel.java
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3SeekableChannelProvider.java
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3SeekableChannelProviderPlugin.java
  extensions/trackedfile/src/main/java/io/deephaven/extensions/trackedfile/TrackedSeekableChannelsProvider.java
  extensions/trackedfile/src/main/java/io/deephaven/extensions/trackedfile/TrackedSeekableChannelsProviderPlugin.java
  py/server/deephaven/parquet.py
Labels: parquet, DocumentationNeeded, breaking, ReleaseNotesNeeded, s3

#5360 Add ServerConfig option to specify shutdown timeout.
  server/src/main/java/io/deephaven/server/config/ServerConfig.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServer.java
Labels: DocumentationNeeded, ReleaseNotesNeeded

#5340 Implement Shared Ticket Resolver to Share Tickets Between Clients
  java-client/example-utilities/src/main/java/io/deephaven/client/examples/SharedField.java
  java-client/example-utilities/src/main/java/io/deephaven/client/examples/Ticket.java
  java-client/session-dagger/src/test/java/io/deephaven/client/DeephavenSessionTestBase.java
  java-client/session-dagger/src/test/java/io/deephaven/client/SessionPublishTest.java
  java-client/session-examples/build.gradle
  java-client/session-examples/src/main/java/io/deephaven/client/examples/CreateSharedId.java
  java-client/session-examples/src/main/java/io/deephaven/client/examples/SessionExampleBase.java
  java-client/session-examples/src/main/java/io/deephaven/client/examples/SingleSessionExampleBase.java
  java-client/session/src/main/java/io/deephaven/client/impl/SessionImpl.java
  java-client/session/src/main/java/io/deephaven/client/impl/SharedId.java
  proto/proto-backplane-grpc/src/main/java/io/deephaven/proto/util/SharedTicketHelper.java
  server/src/main/java/io/deephaven/server/console/ScopeTicketResolver.java
  server/src/main/java/io/deephaven/server/session/ExportTicketResolver.java
  server/src/main/java/io/deephaven/server/session/SessionModule.java
  server/src/main/java/io/deephaven/server/session/SessionServiceGrpcImpl.java
  server/src/main/java/io/deephaven/server/session/SessionState.java
  server/src/main/java/io/deephaven/server/session/SharedTicketResolver.java
  server/src/main/java/io/deephaven/server/session/TicketResolver.java
  server/src/main/java/io/deephaven/server/session/TicketRouter.java
  server/src/test/java/io/deephaven/server/session/SessionStateTest.java
Labels: grpc, core, DocumentationNeeded, ReleaseNotesNeeded

#5370 Make start_console thread-safe and remove unnecessary locking for already thread-safe ops
  py/client/pydeephaven/_console_service.py
  py/client/pydeephaven/session.py
Labels: NoDocumentationNeeded, python-client, NoReleaseNotesNeeded

#5375 Remove histogram power2, make type tag conversion public.
  Base/src/main/java/io/deephaven/base/stats/Counter.java
  Base/src/main/java/io/deephaven/base/stats/HistogramPower2.java
  Base/src/main/java/io/deephaven/base/stats/HistogramState.java
  Base/src/main/java/io/deephaven/base/stats/State.java
  Base/src/test/java/io/deephaven/base/stats/HistogramPower2Test.java
  Stats/src/main/java/io/deephaven/stats/StatsDriver.java
  Stats/src/main/java/io/deephaven/stats/StatsIntradayLogger.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/util/StatsImpl.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5380 C++ Client: fix some build warnings
  cpp-client/deephaven/dhcore/src/ticking/barrage_processor.cc
  cpp-client/deephaven/examples/read_csv/main.cc
  cpp-client/deephaven/tests/ticking_test.cc
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5382 R client: fix warning caused by not checking return value of function
  R/rdeephaven/src/client.cpp
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5364 fix: Listen to same key table as underlying table
  web/client-api/src/main/java/io/deephaven/web/client/api/JsPartitionedTable.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5351 Improvements to Parquet compressors/decompressors logic
  Util/channel/src/main/java/io/deephaven/util/channel/BaseSeekableChannelContext.java
  Util/channel/src/main/java/io/deephaven/util/channel/SeekableChannelContext.java
  Util/channel/src/main/java/io/deephaven/util/channel/SeekableChannelContextNull.java
  Util/channel/src/test/java/io/deephaven/util/channel/CachedChannelProviderTest.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ColumnChunkReaderImpl.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ColumnPageReaderImpl.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ColumnWriterImpl.java
  extensions/parquet/compression/build.gradle
  extensions/parquet/compression/src/main/java/io/deephaven/parquet/compress/CompressorAdapter.java
  extensions/parquet/compression/src/main/java/io/deephaven/parquet/compress/DecompressorHolder.java
  extensions/parquet/compression/src/main/java/io/deephaven/parquet/compress/DeephavenCompressorAdapterFactory.java
  extensions/parquet/compression/src/main/java/io/deephaven/parquet/compress/LZ4WithLZ4RawBackupCompressorAdapter.java
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3ChannelContext.java
  extensions/trackedfile/src/main/java/io/deephaven/extensions/trackedfile/TrackedSeekableChannelsProvider.java
  server/jetty-app/src/main/resources/logback.xml
Labels: parquet, NoDocumentationNeeded, NoReleaseNotesNeeded

#5363 Correct JS API docs and join type constants to match DHE
  web/client-api/src/main/java/io/deephaven/web/client/api/JoinableTable.java
  web/client-api/src/main/java/io/deephaven/web/client/api/JsTable.java
  web/client-api/src/main/java/io/deephaven/web/client/api/JsTotalsTable.java
Labels: jsapi, NoDocumentationNeeded, ReleaseNotesNeeded

#5390 S3 context should not call close on reset
  Util/channel/src/main/java/io/deephaven/util/channel/BaseSeekableChannelContext.java
  extensions/parquet/compression/src/main/java/io/deephaven/parquet/compress/DecompressorHolder.java
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3ChannelContext.java
Labels: parquet, NoDocumentationNeeded, NoReleaseNotesNeeded, s3

#5392 C++ client: fix Windows build warning
  cpp-client/deephaven/tests/src/table_test.cc
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5393 C++ client: process the envp argument to main instead of calling getenv()
  cpp-client/deephaven/tests/include/private/deephaven/tests/test_util.h
  cpp-client/deephaven/tests/src/main.cc
  cpp-client/deephaven/tests/src/test_util.cc
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5358 Refactoring the ParquetTools read/write APIs
  Base/src/main/java/io/deephaven/base/FileUtils.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/indexer/DataIndexer.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/locations/local/URIStreamKeyValuePartitionLayout.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/sources/regioned/TestChunkedRegionedOperations.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ParquetFileReader.java
  extensions/parquet/base/src/main/java/io/deephaven/parquet/base/ParquetUtils.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetInstructions.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetSchemaReader.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetTableWriter.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetTools.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/layout/ParquetMetadataFileLayout.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/location/ParquetTableLocation.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/location/ParquetTableLocationKey.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/ParquetTableReadWriteTest.java
  extensions/s3/src/main/java/io/deephaven/extensions/s3/S3SeekableChannelProvider.java
  py/server/deephaven/parquet.py
  py/server/tests/test_parquet.py
Labels: parquet, DocumentationNeeded, NoReleaseNotesNeeded

#5399 C++ Client: Make it work on Windows
  cpp-client/.gitignore
  cpp-client/README.md
  cpp-client/deephaven/CMakeLists.txt
  cpp-client/deephaven/CMakePresets.json
  cpp-client/deephaven/dhclient/CMakeLists.txt
  cpp-client/deephaven/dhcore/CMakeLists.txt
  cpp-client/deephaven/tests/CMakeLists.txt
  cpp-client/deephaven/vcpkg-configuration.json
  cpp-client/deephaven/vcpkg.json
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5391 Optimize UDF return value conversion
  py/server/deephaven/_udf.py
  py/server/tests/test_udf_array_args.py
  py/server/tests/test_udf_return.py
  py/server/tests/test_udf_scalar_args.py
  py/server/tests/test_vectorization.py
Labels: NoDocumentationNeeded, python-server-side, NoReleaseNotesNeeded

#5408 Fix WhereFilterAdapter for String literals
  engine/benchmark/src/benchmark/java/io/deephaven/benchmark/engine/MatchFilterBenchmark.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/partitioned/PartitionedTableImpl.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/partitioned/PartitionedTableProxyImpl.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/MatchFilter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/WhereFilterAdapter.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/select/WhereFilterFactory.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/TestPartitionBy.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/TestPartitioningColumns.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/select/WhereFilterTest.java
Labels: bug, NoDocumentationNeeded, qst, partitioned_tables, ReleaseNotesNeeded

#5374 Support publishing/sharing anonymous tables between different sessions in Python client/server APIs
  Integrations/build.gradle
  java-client/barrage/src/main/java/io/deephaven/client/impl/BarrageSession.java
  py/client/pydeephaven/_session_service.py
  py/client/pydeephaven/session.py
  py/client/tests/test_session.py
  py/server/deephaven/barrage.py
  py/server/tests/test_barrage.py
Labels: DocumentationNeeded, python-client, ReleaseNotesNeeded

#5409 Expose table downsample on JS API
  web/client-api/src/main/java/io/deephaven/web/client/api/JsTable.java
  web/client-api/src/main/java/io/deephaven/web/client/api/widget/plot/Downsample.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5421 Fixed NPE in ungroup
  engine/table/src/main/java/io/deephaven/engine/table/impl/QueryTable.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/QueryTableTest.java
Labels: bug, query engine, core, NoDocumentationNeeded, ReleaseNotesNeeded

#5402 Update versions for external parquet dependencies
  buildSrc/src/main/groovy/Classpaths.groovy
  extensions/parquet/compression/build.gradle
Labels: parquet, NoDocumentationNeeded, NoReleaseNotesNeeded

#5418 BarrageSubscription/Snapshot Throw TableDataException Instead of Incoming gRPC StatusRuntimeException
  java-client/barrage/src/main/java/io/deephaven/client/impl/BarrageSnapshot.java
  java-client/barrage/src/main/java/io/deephaven/client/impl/BarrageSnapshotImpl.java
  java-client/barrage/src/main/java/io/deephaven/client/impl/BarrageSubscriptionImpl.java
  java-client/session/src/main/java/io/deephaven/client/impl/ExportStates.java
  java-client/session/src/main/java/io/deephaven/client/impl/SharedId.java
  proto/proto-backplane-grpc/src/main/java/io/deephaven/proto/util/ApplicationTicketHelper.java
  proto/proto-backplane-grpc/src/main/java/io/deephaven/proto/util/ScopeTicketHelper.java
  proto/proto-backplane-grpc/src/main/java/io/deephaven/proto/util/SharedTicketHelper.java
  server/src/main/java/io/deephaven/server/session/SharedTicketResolver.java
Labels: grpc, core, NoDocumentationNeeded, NoReleaseNotesNeeded

#5423 Address sorting for Parquet metadata and persistent data indexes
  engine/table/src/main/java/io/deephaven/engine/table/impl/SortedColumnsAttribute.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetTableWriter.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/ParquetTools.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/location/ParquetTableLocation.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/metadata/SortColumnInfo.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/metadata/TableInfo.java
  extensions/parquet/table/src/test/java/io/deephaven/parquet/table/ParquetTableReadWriteTest.java
Labels: core, parquet, NoDocumentationNeeded, NoReleaseNotesNeeded

#5424 Post release bump to 0.35.0-SNAPSHOT
  R/rdeephaven/DESCRIPTION
  gradle.properties
Labels: NoDocumentationNeeded, version-bump, NoReleaseNotesNeeded

#5428 Update README_PyPi.md
  py/embedded-server/README_PyPi.md
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5435 fix: Could not re-open application created variables
  web/client-api/src/main/java/io/deephaven/web/client/api/console/JsVariableDefinition.java
Labels: NoDocumentationNeeded, NoReleaseNotesNeeded

#5432 Allow parallel TableLocation factory invocation in AbstractTableLocationProvider
  engine/table/src/main/java/io/deephaven/engine/table/impl/SourceTable.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/locations/ColumnLocation.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/locations/impl/AbstractTableLocation.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/locations/impl/AbstractTableLocationProvider.java
  engine/table/src/main/java/io/deephaven/engine/table/impl/locations/impl/NonexistentTableLocation.java
  engine/table/src/test/java/io/deephaven/engine/table/impl/TestPartitioningColumns.java
  engine/test-utils/src/main/java/io/deephaven/engine/testutil/locations/TableBackedColumnLocation.java
  engine/test-utils/src/main/java/io/deephaven/engine/testutil/locations/TableBackedTableLocation.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/location/ParquetColumnLocation.java
  extensions/parquet/table/src/main/java/io/deephaven/parquet/table/location/ParquetTableLocation.java
Labels: feature request, core, parquet, NoDocumentationNeeded, ReleaseNotesNeeded, point_release_candidate

#5436 Move Script Cache Clearing to Dagger
  engine/table/src/main/java/io/deephaven/engine/context/QueryCompilerImpl.java
  server/src/main/java/io/deephaven/server/console/ConsoleModule.java
  server/src/main/java/io/deephaven/server/console/NoConsoleSessionModule.java
  server/src/main/java/io/deephaven/server/console/ScriptSessionCacheInit.java
  server/src/main/java/io/deephaven/server/console/groovy/GroovyConsoleSessionModule.java
  server/src/main/java/io/deephaven/server/console/python/PythonConsoleSessionModule.java
  server/src/main/java/io/deephaven/server/runner/DeephavenApiServer.java
Labels: core, python, NoDocumentationNeeded, release blocker, python-server-side, ReleaseNotesNeeded
